// --- Helpers ---
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/mixins/section-mixins";
@import "helpers/mixins/typography-mixins";
@import "helpers/media";

// --- Common ---
@import "common/grid/grid";
@import "common/normalize";
@import "common/fonts";
@import "common/base";

// --- Vendor ---
@import "vendor/slick";

// --- Modules ---
@import "modules/header";
@import "modules/footer";
@import "modules/filter";
@import "modules/view-instagram";
@import "modules/catalog-entrance";
@import "modules/catalog-interior";
@import "modules/entrance-item";
@import "modules/factoid";
@import "modules/action";
@import "modules/entrance-full";
@import "modules/pagination";
@import "modules/breadcrumbs";
@import "modules/material-nav";
@import "modules/recently-view";
@import "modules/main-filter";
@import "modules/filter-mobile";
@import "modules/interior-item";
@import "modules/interior-bivalve";
@import "modules/collection";
@import "modules/invisible-item";
@import "modules/block-separator";
@import "modules/index-navigation";
@import "modules/tabs";

// --- Components ---
@import "components/buttons";
@import "components/terms";
@import "components/promo";
@import "components/form-data";
@import "components/steps";
@import "components/additional-discount";
@import "components/company-salons";
@import "components/application-form";
@import "components/result-tabs";
@import "components/doors-mini";
@import "components/modal";
@import "components/comments";

// --- Pages ---
@import "pages/cart";
@import "pages/sample";
@import "pages/stocks";
@import "pages/salons";
@import "pages/store";
@import "pages/payment";
@import "pages/about";
@import "pages/delivery";
@import "pages/complex";
@import "pages/main";