.callback
    .container.callback__container
        .row.callback__row
            .col-xl-5.col-lg-4
                h2.callback__title Менеджер ответит на&nbsp;вопросы

            .col-xl-5.col-lg-7
                p.callback__descr Оставьте свой номер телефона, я&nbsp;перезвоню и&nbsp;проконсультирую вас по&nbsp;графику работы, местоположению и&nbsp;ассортименту салона.
                form.callback__form
                    input(type='text', placeholder='Номер телефона').callback__input.js-phone-mask
                    button.callback__btn.js-callback-submit.disabled Отправить

            .col-xl-6.col-lg-5
                .callback__img
                    img(src='static/images/content/salons/callback-manager.png', alt='')

                .callback__about
                    .callback__name Евгения,
                    .callback__manager консультант в&nbsp;салоне.






