.modal(data-modal='1')
    .modal__close
        include ../../static/images/icons/modal-close-i.svg
    .modal__body
        .modal__slider
            .modal__item
                img(src='static/images/content/complex/jumbo.jpg', alt='').modal__img
            .modal__item
                img(src='static/images/content/complex/jumbo.jpg', alt='').modal__img
            .modal__item
                img(src='static/images/content/complex/jumbo.jpg', alt='').modal__img
            .modal__item
                img(src='static/images/content/complex/jumbo.jpg', alt='').modal__img
            .modal__item
                img(src='static/images/content/complex/jumbo.jpg', alt='').modal__img