section.action
    .col-16.action__wrap
        img(src='static/images/rome.png', alt="").action__img
        .action-left
            h2.action__title Купите дверь и&nbsp;выиграйте путешествие в&nbsp;Италию
            a(href="#").action__link узнать условия
        .action-right
            p.action__text Акция действует с&nbsp;13&nbsp;мая по&nbsp;14&nbsp;июня включительно. Выбрать можно любую дверь из&nbsp;каталога на&nbsp;сайте. Розыгрыш призов состоится 19&nbsp;июня в&nbsp;15:00&nbsp;с помощью закрытого лототрона.


