.additional-discount
    h3.additional-discount__title Вы&nbsp;можете получить дополнительную социальную или комплексную скидку от&nbsp;3&nbsp;до&nbsp;20%
    a(href="#").additional-discount__view Политика скидок