.chpt__page {
	/*max-width: 100vw;*/
	overflow: hidden;

}
.chpt__page * {
	font-size: inherit;
	line-height: inherit;
	block-size: 100%;
}
.chpt__wrap {
	box-sizing: border-box;
	width: 1390px;
	margin-left: auto;
	margin-right: auto;
}
.chpt__wrap * {
	box-sizing: border-box;
	font-family: "MinionPro";
}
.chpt__label {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 3px;
	margin-bottom: 18px;
	text-transform: uppercase;
	font-family: "RFTone";
}
.chpt__accent {
	color: #CBA576;
}
.chpt__title-big {
	font-family: 'MinionProDisplay';
	font-size: 61px;
	line-height: 63px;
	margin-bottom: 18px;
}
.chpt__title {
	font-family: 'MinionProDisplay';
	font-size: 42px;
	line-height: 54px;
	margin-bottom: 27px;
}
.chpt__text {
	font-size: 18px;
	line-height: 28px;
}
.chpt__link {
	border-bottom: 1px solid;
	text-decoration: none;
	font-family: 'MinionProDisplay';
	color: #000000;
	transition: .25s;
}
.chpt__link:hover {
	color: #CBA576;
}
.chpt__factoid {
	color:  #CBA576;
	font-family: 'MinionProDisplay';
	font-size: 76px;
	line-height: 60px;
}

.chptOnline__descr p {
	font-size: 25px;
	line-height: 36px;
}

/*banner*/
.chptBanner__wrap {
	margin-bottom: 54px;
	margin-top: 54px;
}
.chptBanner {
	background-color: #1B1919;
	display: flex;
	justify-content: space-between;
	padding: 73px 96px 0 95px;
}
.chptBanner * {
	color: #fff;
}
.chptBanner__text {
	flex: 0 0 500px;
	margin-top: 20px;
}

.chptBanner__img {
	flex: 0 0 362px;
}
.chptBanner__img img {
	display: block;
}
.chptBanner__title {
	font-family: 'Typ Sans med', sans-serif;
	font-size: 65px;
	line-height: 62px;
	margin-bottom: 28px;
}
/*end banner*/

/*time*/
.chptTime {
	margin-bottom: 110px;
}
.chptTime__salons {
	display: flex;
}
.chptTime__salon:not(:last-child) {
	margin-right: 99px;
}
.chptTime__salonName {
	font-family: 'Typ Sans bold', sans-serif;
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 18px;
}
.chptTime__salonTime {
	font-size: 23px;
	line-height: 36px;
}
/*end time*/

/*terms*/
.chptTerms__wrap{
	margin-bottom: 112px;
}
.chptTerms {
	/*display: flex;*/
}
.chptTerms__descr {
	font-size: 20px;
	line-height: 31px;
	margin-bottom: 35px;
	width: 70%;
}
.chptTerms__main {
	display: flex;
}
.chptTerms .chpt__title {
	margin-bottom: 44px;
}
.chptTerms__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 46px 10px 50px 55px;
}
.chptTerms__list-m {
	background: linear-gradient(114.12deg, #F8F8F8 13.54%, #EDEDED 86.46%);
	border-radius: 20px;
	margin-right: 87px;
	padding-left: 70px;
	padding-right: 70px;
	flex: 0 0 682px;
	max-width: 682px;
}
.chptTerms__listTitle {
	font-family: 'MinionProDisplay';
	font-size: 42px;
	line-height: 54px;
	flex: 0 0 100%;
	margin-bottom: 27px;
}
.chptTerms__item {
	display: flex;
	flex-direction: column;
	flex: 0 0 220px;
	max-width: 220px;
	margin-right: 80px;
}
.chptTerms__item:last-child {
	margin-right: 0;
}
.chptTerms__itemcontent {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.chptTerms__itemcontent > * {
	width: 220px;
}

.chptTerms__itemTitle {
	margin-bottom: 18px;
	white-space: nowrap;
	font-family: 'MinionProDisplay';
}
.chptTerms__itemTitle span {
	font-family: 'Typ Sans';
	font-size: 40px;
	font-weight: 600;
	line-height: 0.5;
}
.chptTerms__itemText {
	margin-bottom: 20px;
	flex-grow: 1;
}
.chptTerms__itemSubtitle {
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 9px;
	font-family: 'MinionProDisplay';
}
.chptTerms__itemDescr{
	font-size: 18px;
	line-height: 28px;
}
.chpt__btn.button {
	font-size: 13px;
	line-height: 18px;
	padding: 0;
	padding-bottom: 3px;
	text-align: left;
	color: #000;
	letter-spacing: 3px;
	transition: .25s;
	text-decoration: none;
	font-family: "RFTone";
	position: relative;
	display: inline-flex;
}

.chpt__btn.button:before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #000;
	position: absolute;
	bottom: -3px;
	left: 0;
	transition: .25s;
}

.chpt__btn.button:hover:before {
	background-color: #CBA576;
}

.chpt__btn.button:hover {
	color: #CBA576;
}


	/*end terms*/

/*complex*/
.chptComplex{
	display: flex;
	margin-bottom: 110px;
}
.chptComplex__main {
	flex: 0 0 770px;
	max-width: 770px;
	padding-bottom: 3px;
}
.chptComplex .chpt__title {
	width: 102%;
	margin-bottom: 28px;
}
.chptComplex__descr {
	font-size: 20px;
	line-height: 31px;
	margin-bottom: 36px;
}
.chptComplex__descr > p {
	font-size: 25px;
	line-height: 36px;
}
.chptComplex__side {
	position: relative;
}
.chptComplex__side > svg {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(12px,-35%);
	z-index: -1;
}
/*end complex*/

/*online*/
.chptOnline{
	margin-bottom: 117px;
}
.chptOnline__section {
	display: flex;
	justify-content: space-between;
}
.chptOnline__section:not(:last-child) {
	margin-bottom: 32px;
}
.chptOnline__main {
	flex: 0 0 767px;
	max-width: 767px;
}
.chptOnline__main:not(:last-child) {
	margin-right: 60px;
}
.chptOnline__descr {
	font-size: 20px;
	line-height: 31px;
	margin-bottom: 50px;
}
.chptSalon .chptOnline__descr {
	width: 70%;
}

/*.chptOnline__list{
	padding-top: 18px;
}*/
.chptOnline__item {
	display: flex;
	align-items: flex-start;
}
.chptOnline__item:not(:last-child) {
	margin-bottom: 42px;
}
.chptOnline__item .chpt__factoid {
	flex: 0 0 42px;
	margin-right: 12px;
}
.chptOnline__itemText {
	font-size: 20px;
	line-height: 26px;
}
.chptOnline__section:nth-child(3) .chptOnline__list {
	margin-top: -12px;
}
.chptOnline__side {

}
.chptOnline__side-mt {
	margin-top: 40px;
}
.chptOnline__screens img {
	width: 100%;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
}
.chptOnline__info {
	background: linear-gradient(114.12deg, #F8F8F8 13.54%, #EDEDED 86.46%);
	border-radius: 20px;
	padding: 27px 45px 45px 36px;
	width: 330px;
	margin-top: 54px;
	margin-left: 54px;
}


.chptOnline__info .chpt__title {
	margin-bottom: 2px;
}
.chptOnline__info .chpt__text {
	margin-bottom: 9px;
	font-size: 20px;
	line-height: 27px;
}
/*end online*/

/*salons*/
.chptSalon__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.chptSalon__top .chpt__title {
	margin-bottom: 0;
}
.chptSalon__topFactoid {
	background: linear-gradient(180deg, #0A8951 0%, #36BB90 100%);
	color: #fff;
	display: flex;
	justify-content: space-between;
	margin-top: 7px;
	padding: 15px 17px 15px 8px;
	width: 248px;
}
.chptSalon__topFactoidImg {
	flex: 0 0 62px;
	position: relative;
	height: 36px;
}
.chptSalon__topFactoidImg img {
	position: absolute;
	bottom: -8px;
	height: 81px;
	width: 64px;
}
.chptSalon__topFactoidText {
	flex: 0 0 153px;
	font-family: 'museo500', sans-serif;
	font-size: 14px;
	line-height: 18px;
}
.chptSalon__list .footer__head,
.chptSalon__list .footer__store-phones {
	display: none;
}
.chptSalon__list .footer__body {
	padding-bottom: 0;
	border-bottom: none;
}
.chptSalon .chptTime__salon {
	flex: 0 0 565px;
}
.chptSalon .chptTime__salons{
    padding-bottom: 100px;
}
/*end salons*/


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .chptBanner__text {
	flex: 0 0 510px;
  }
  .chptComplex__side > svg {
    transform: translate(44px, -35%) rotate(8deg);
  }
  .chptOnline__side {
  	flex: 0 0 350px;
  }
  .chptTerms__list:not(.chptTerms__list-m) {
  	flex: 0 0 305px;
  }
}
@font-face {
	font-family: 'pribamas';
	src: url('./fonts/Pribambas-Regular.eot');
	src: url('./fonts/Pribambas-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/Pribambas-Regular.woff') format('woff'), url('./fonts/Pribambas-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}


.chptTerms__side{
	position: absolute;
	left: 555px;
	bottom: 65px;
	height: 255px;
}
.chptTerms__note {
	position: relative;
	top: -6px;
}
.chptTerms__noteText {
	color: rgba(0,0,0,.7);
	font-family: 'pribamas', sans-serif;
	font-size: 22px;
	line-height: 31px;
	position: absolute;
	top: 56px;
	left: 61px;
	text-transform: uppercase;
	width: 160px;
	transform: rotate(7deg);
}
.chptTerms__noteText strong {
	color: rgba(0,0,0,1);
}
/* костыль */
.footer__store-banner-chpt {
  margin-bottom: 20px;
}
.footer__store-banner-chpt img {
  height: 235px;
  width: 370px;
}
.footer__store-phones-chpt {
  margin: 10px 0;
}
.footer__store-phones-chpt p {
  font-size: 20px;
  margin-bottom: 5px;
}
.footer__store-time-chpt {
  font-size: 17px;
  margin-top: 10px;
  padding-bottom: 100px;
}
.footer__store-link-chpt {
  font-family: 'Typ Sans med', sans-serif;
  font-size: 21px;
  line-height: 30px;
}

.disabled {
	pointer-events: none;
	cursor: default;
	color: #343a40;
	text-decoration: none;
	border-bottom: none !important;
}
.chptTerms__descr p {
	font-size: 25px;
	line-height: 36px;
	font-family: 'MinionPro';
}

.chptTerms__itemDescr p {
	font-size: 20px;
	line-height: 27px;
	font-family: 'MinionPro';
}
.chptComplex__side .chptOnline__itemText a {
	font-size: 13px;
	line-height: 18px;
	padding: 0;
	text-align: left;
	color: #000;
	letter-spacing: 3px;
	transition: .25s;
	text-decoration: none;
	font-family: "RFTone";
	position: relative;
	display: inline-flex;
}

.chptComplex__side .chptOnline__itemText a:hover {
	color: #CBA576;
}

.chptBanner__text .chptBanner__details.chpt__text p {
	font-size: 25px;
	line-height: 36px;
}
.chptComplex__main .chpt__btn.button {
	font-size: 13px;
}