.comments
    .comments__header
        h2.comments__title Отзывы о&nbsp;дверях и&nbsp;сервисе
        .comments__nav
            .comments__left
               include ../../static/images/comments-left.svg
            .comments__right
                include ../../static/images/comments-right.svg
    ul.comments__list
        li.comments__item
            .comments__name минская область, юлия
            p.comments__text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в&nbsp;ТЦ&nbsp;&laquo;Трюм&raquo; просто умницы. Уточнили и&nbsp;про наличники и&nbsp;про доборы, посоветовали, что делать с&nbsp;дверью во&nbsp;время строительства. Прошел год, на&nbsp;двери ни&nbsp;царапинки. Делали теплый монтаж и&nbsp;поэтому зимой не&nbsp;было промерзания или конденсата. Очень довольны дверью и&nbsp;всем знакомым теперь советуем!
        li.comments__item
            .comments__name минская область, юлия
            p.comments__text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в&nbsp;ТЦ&nbsp;&laquo;Трюм&raquo; просто умницы. Уточнили и&nbsp;про наличники и&nbsp;про доборы, посоветовали, что делать с&nbsp;дверью во&nbsp;время строительства. Прошел год, на&nbsp;двери ни&nbsp;царапинки. Делали теплый монтаж и&nbsp;поэтому зимой не&nbsp;было промерзания или конденсата. Очень довольны дверью и&nbsp;всем знакомым теперь советуем!

        li.comments__item
            .comments__name минская область, юлия
            p.comments__text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в&nbsp;ТЦ&nbsp;&laquo;Трюм&raquo; просто умницы. Уточнили и&nbsp;про наличники и&nbsp;про доборы, посоветовали, что делать с&nbsp;дверью во&nbsp;время строительства. Прошел год, на&nbsp;двери ни&nbsp;царапинки. Делали теплый монтаж и&nbsp;поэтому зимой не&nbsp;было промерзания или конденсата. Очень довольны дверью и&nbsp;всем знакомым теперь советуем!


        li.comments__item
            .comments__name минская область, юлия
            p.comments__text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в&nbsp;ТЦ&nbsp;&laquo;Трюм&raquo; просто умницы. Уточнили и&nbsp;про наличники и&nbsp;про доборы, посоветовали, что делать с&nbsp;дверью во&nbsp;время строительства. Прошел год, на&nbsp;двери ни&nbsp;царапинки. Делали теплый монтаж и&nbsp;поэтому зимой не&nbsp;было промерзания или конденсата. Очень довольны дверью и&nbsp;всем знакомым теперь советуем!



















