section.company-salons
    .container
        .row
            .col-xl-16
                h2.company-salons__title Фирменные салоны в Минске
                .company-salons__list
                    .company-salons__item.company-salons__item--long
                        a(href="#").company-salons__link
                            img(src="static/images/content/company-salons/kalvariyskaya.jpg", alt="").company-salons__img
                            .company-salons__block
                                .company-salons__address
                                    span ул. Кальварийская, 7б,
                                    span ТЦ «Трюм»
                        .company-salons__descr
                            a(href="").company-salons__phone +375 44 546-36-09
                            a(href="").company-salons__phone +375 29 587-92-09
                            p.company-salons__time с 11 до 20, в воскресенье до 18

                    .company-salons__item.company-salons__item--change
                        a(href="#").company-salons__link
                            img(src="static/images/content/company-salons/derschinskogo.jpg", alt="").company-salons__img
                            .company-salons__block
                                .company-salons__address пр-т Дзержинского, 122
                        .company-salons__descr
                            a(href="").company-salons__phone +375 44 599-02-68
                            a(href="").company-salons__phone +375 29 847-87-82
                            p.company-salons__time с 10 до 20, в воскресенье до 18

                    .company-salons__item
                        a(href="#").company-salons__link
                            img(src="static/images/content/company-salons/olyshego.jpg", alt="").company-salons__img
                            .company-salons__block
                                .company-salons__address ул. Олешева, 1
                        .company-salons__descr
                            a(href="").company-salons__phone +375 44 737-26-20
                            a(href="").company-salons__phone +375 29 305-99-62
                            p.company-salons__time с 10 до 20, в воскресенье до 18






