.other-salons
    .container
        .row
            .col-16
                h2.other-salons__title Другие фирменные салоны в Минске
                .other-salons__list
                    .other-salons__item
                        a(href="#").other-salons__img
                            img(src='static/images/content/salons/other.jpg', alt='')

                        .other-salons__block
                            .other-salons__left
                                a(href="#").other-salons__link ул. Олешева, 1
                                .other-salons__bottom
                                    .other-salons__contacts
                                        a(href="tel:+375291384931").other-salons__phone +375 29 138-49-31
                                        a(href="tel:+375291384963").other-salons__phone +375 29 138-49-63

                                    .other-salons__time с&nbsp;10&nbsp;до&nbsp;20, в&nbsp;вс&nbsp;до&nbsp;18

                            .other-salons__right
                                .other-salons__fact
                                    .other-salons__number 22
                                    .other-salons__descr образца<br/> межкомнатных

                                .other-salons__fact
                                    .other-salons__number 32
                                    .other-salons__descr образца входных<br/> дверей в салоне


                    .other-salons__item
                        a(href="#").other-salons__img
                            img(src='static/images/content/salons/other-2.jpg', alt='')

                        .other-salons__block
                            .other-salons__left
                                a(href="#").other-salons__link пр-т Дзержинского, 122
                                .other-salons__bottom
                                    .other-salons__contacts
                                        a(href="tel:+375445990268").other-salons__phone +375 44 599-02-68
                                        a(href="tel:+375298478782").other-salons__phone +375 29 847-87-82

                                    .other-salons__time с&nbsp;10&nbsp;до&nbsp;20, в&nbsp;вс&nbsp;до&nbsp;18

                            .other-salons__right

                                .other-salons__fact
                                    .other-salons__number 73
                                    .other-salons__descr образца межкомнатных<br/> дверей в салоне