section.pagination.section-margin
    a(href='#').pagination__link.pagination__link--big
        span назад
        include ../../static/images/icons/arrow-left.svg
    a(href='#').pagination__link.pagination__link--active 1
    a(href='#').pagination__link 2
    a(href='#').pagination__link 3
    a(href='#').pagination__link 4
    a(href='#').pagination__link.pagination__link--big
        span далее
        include ../../static/images/icons/arrow-right.svg
    a(href='#').pagination__link.pagination__link--big.pagination__link--download Загрузить ещё 30 дверей





