.steps
    h2.steps__title 4 шага после оформления заказа
    .steps__list
        .steps__item
            img(src='static/images/icons/step-1.svg', alt='шаги').steps__img
            h3.steps__subtitle
                a(href="#") Бесплатный замер
            p.steps__descr Специалист измерит высоту и&nbsp;ширину проёма, определит его особенности и&nbsp;поможет выбрать правильную сторону открывания двери.
        .steps__item
            img(src='static/images/icons/step-2.svg', alt='шаги').steps__img
            h3.steps__subtitle
                a(href="#") Оплата
            p.steps__descr При заключении договора понадобится предоплата&nbsp;&mdash; от&nbsp;30% от&nbsp;стоимости двери. Остаток вносится до&nbsp;доставки и&nbsp;установки.
        .steps__item
            img(src='static/images/icons/step-3.svg', alt='шаги').steps__img
            h3.steps__subtitle
                a(href="#") Доставка и установка
            p.steps__descr Когда двери будут готовы, доставим их&nbsp;в&nbsp;Минск или за&nbsp;МКАД и&nbsp;установим. Правильный монтаж продлит срок службы двери.
        .steps__item
            img(src='static/images/icons/step-4.svg', alt='шаги').steps__img
            h3.steps__subtitle
                a(href="#") Гарантия
            p.steps__descr Действует 2&nbsp;года на&nbsp;дверь с&nbsp;повреждениями из-за процесса производства, фурнитуру и&nbsp;монтаж наших мастеров.


