.terms.terms--mobile
    .terms__icon
        include ../../static/images/icons/terms-accept-icon.svg
    .terms__text
        span Принимаю условия
        a(href="#").terms__link пользовательского соглашения