.action {
  background-color: #232323;
  width: 100%;
  margin-bottom: 200px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 135px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 72px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 45px;
  }
  &:hover {
    .action__link {
      color: $gold;
      &:before {
        background-color: $gold;
      }
    }
  }

  &__img {
    position: absolute;
    right: 114px;
    bottom: 0;
    @include media-breakpoint-down(lg) {
      right: 28px;
    }
    @include media-breakpoint-down(md) {
      font-size: 10px;
      width: 217px;
      height: 233px;
      bottom: -69px;
      right: -14px;
    }
    @include media-breakpoint-down(sm) {
      width: 275px;
      height: 295px;
      bottom: 0;
      right: -93px;
    }
  }

  &__wrap {
    display: flex;
    position: relative;
    padding-left: 72px;
    padding-top: 34px;
    padding-bottom: 51px;
    @include media-breakpoint-down(lg) {
      padding-left: 64px;
      padding-bottom: 46px;
    }
    @include media-breakpoint-down(md) {
      padding-left: 54px;
      padding-bottom: 20px;
      padding-top: 16px;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      padding-top: 25px;
      padding-left: 27px;
      padding-bottom: 116px;
    }
  }

  &__title {
    color: $white;
    max-width: 456px;
    margin-bottom: 69px;
    @include media-breakpoint-down(lg) {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 66px;
    }
    @include media-breakpoint-down(md) {
      font-size: 27px;
      line-height: 36px;
      max-width: 280px;
      margin-bottom: 55px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 243px;
      margin-bottom: 17px;
    }
  }

  &__text {
    color: $white;
    max-width: 342px;
    padding-left: 96px;
    padding-top: 11px;
    @include media-breakpoint-down(lg) {
      font-size: 18px;
      line-height: 24px;
      max-width: 280px;
      padding-left: 26px;
    }
    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 22px;
      max-width: 283px;
      padding-left: 66px;
      padding-top: 2px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 186px;
      padding-left: 0;

    }
  }

  &__link {
    @include upperlink-underline($white, $white);
    font-size: 13px;
    @include media-breakpoint-down(md) {
      font-size: 10px;
    }
    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 45px;
      left: 27px;
    }
  }
}
