.breadcrumbs {
  width: 100%;
  padding-top: 49px;
  padding-bottom: 27px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 27px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 27px;
    padding-bottom: 6px;
  }

  &__link {
    font-size: 18px;
    font-style: italic;
    display: inline-flex;
    position: relative;
    color: $black;
    transition: $animation-default-time;
    &:not(.breadcrumbs__link--active):hover {
      color: $gold;
    }
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
    &--active {
      color: $gray-2;
      pointer-events: none;
    }
    &:not(:last-child)::after {
      content: '';
      width: 3px;
      height: 3px;
      background-color: $gray-2;
      border-radius: 50%;
      display: inline-flex;
      margin-left: 9px;
      margin-right: 9px;
      position: relative;
      top: 9px;
      @include media-breakpoint-down(md) {
        top: 7px;
      }
    }
  }
}