.catalog-entrance {
  padding-top: 63px;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    padding-top: 36px;
  }

  &--empty {
    padding-top: 0;
  }

  &__row {
    justify-content: space-between;
  }

  .entrance-item .entrance-item__name {
    position: static;
    font-style: normal;
    transform: rotate(0);
    font-size: 27px;
    line-height: 36px;
    letter-spacing: .05px;
    @include media-breakpoint-down(lg) {
      font-size: 24px;
      line-height: 34px;
    }
    @include media-breakpoint-down(md) {
      font-size: 27px;
      line-height: 27px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }

  .entrance-item {

    &:hover {
      .entrance-item__mask ~ .entrance-item__link .entrance-item__name {
        color: $gold;
      }
    }

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }

  .entrance-item__view {
    margin-bottom: 11px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 18px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }

  .entrance-item__price {
    margin-bottom: 0;
    font-style: normal;
    letter-spacing: 0;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .entrance-item__descr-top {
    margin-bottom: 0;
  }

  .entrance-item__info {
    margin-bottom: 0;
    letter-spacing: .8px;
    @include media-breakpoint-down(md) {
      margin-bottom: 11px;
    }
  }

  .entrance-item__descr-bottom .entrance-item__colors {
    @include media-breakpoint-down(md) {
      margin-bottom: 21px;
    }
  }

  .entrance-item__color:not(:last-child) {
    margin-right: 22px;
  }

  .entrance-item__descr {
    padding-bottom: 16px;
  }

  .entrance-item__link:not(:last-child)::after {
    display: none;
  }

  .entrance-item__descr {
    border-bottom: none;
    padding-bottom: 0;
    @include media-breakpoint-down(lg) {
      padding-bottom: 9px;
    }
    @include media-breakpoint-down(md) {
      padding-bottom: 5px;
    }
  }

  .entrance-item__descr-bottom {
    border-bottom: 1px solid $gray-1;
    padding-bottom: 21px;
    @include media-breakpoint-down(lg) {
      padding-left: 5px;
    }
    @include media-breakpoint-down(md) {
      padding-left: 0;
      width: 100%;
    }
  }

  .entrance-item__link {
    display: inline-block;
    height: auto;
  }

  .entrance-item .entrance-item__img {
    @include media-breakpoint-down(lg) {
      width: 220px;
    }
    @include media-breakpoint-down(md) {
      width: 156px;
      height: 340px;
      margin-left: unset;
    }

    @include media-breakpoint-down(md) {
      width: calc(50% - 9px);
      max-width: inherit;
      height: auto;
    }

  }

  .factoid {
    @include section-indent;
    margin-right: 9px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }

  }


  .entrance-item__mask {
    width: calc(100% + 74px);
    left: -35px;

    & ~ .entrance-item__link {
      .entrance-item__name, .entrance-item__price-actual {
        color: $white;
      }
    }

    & ~ .entrance-item__descr-bottom {
      border-bottom: none;

      .entrance-item__price-old {
        color: $white;
        &:before {
          background-color: $white;
        }
      }

      .entrance-item__info-item {
        color: $white;
        &:after {
          background-color: $white;
        }
      }
      .btn-color:after {
        border-color: $white;
      }
    }
  }

  .catalog-entrance--empty{
    padding-top: 0;
  }


  &__empty {
    &-title {
      margin: 0 auto;
      width: 766px;
      padding-top: 180px;
      @include section-indent;
      text-align: center;

      @include media-breakpoint-down(lg) {
        padding-top: 135px;
        width: 663px;
      }

      @include media-breakpoint-down(md) {
        padding-top: 72px;
        width: 374px;
        font-size: 27px;
        line-height: 37px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 45px;
        width: 100%;
      }
    }

    &-link {
      color: $gold;
    }

  }




}
