.entrance-item {
  position: relative;
  margin-bottom: 200px;

  @include media-breakpoint-down(md) {
    margin-bottom: 91px;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
  }

  // -- Context
  $entrance-item: '.entrance-item';

  &__img {
    @include media-breakpoint-down(lg) {
      width: 220px;
      height: 479px;
    }
    @include media-breakpoint-down(md) {
      width: 156px;
      height: 340px;
    }
    @include media-breakpoint-down(sm) {
      width: calc(50% - 9px);
      max-width: 50%;
      height: auto;
    }
    @include mobile {
      width: 144px;
      height: 314px;
    }
    &:first-child {
      @include mobile-between {
        margin-right: 9px;
      }
      @include mobile {
        margin-right: 0;
      }
    }
  }

  &__mask {
    position: absolute;
    bottom: 0;
    left: -44px;
    width: calc(100% + 88px);
    height: 562px;
    background-color: $gray-4;
    z-index: -1;

    @include media-breakpoint-down(lg) {
      left: -18px;
      width: calc(100% + 36px);
      height: 494px;
    }
    @include media-breakpoint-down(md) {
      height: 408px;
    }
    @include media-breakpoint-down(sm) {
      height: 264px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    @include media-breakpoint-down(sm) {
      width: 100%;
      position: relative;
    }

    // -- Item With a Mask
    #{$entrance-item}__mask ~ #{$entrance-item}__descr {
      border-bottom: none;

      #{$entrance-item}__name  {
        color: $white;
      }

      #{$entrance-item}__price-actual {
         color: $white;
       }

      #{$entrance-item}__price-old {
        color: $white;
        &:before {
          background-color: $white;
        }
      }

      #{$entrance-item}__info-item {
        color: $white;
        &:after {
          background-color: $white;
        }
      }

      #{$entrance-item}__info-item {
        color: $white;
      }

      #{$entrance-item}__color:after {
        border-color: $white;
      }


    }

    &:hover {
      #{$entrance-item}__name {
        color: $gold;
      }

      #{$entrance-item}__mask ~ #{$entrance-item}__descr {

        #{$entrance-item}__name {
          color: $gold;
        }

      }

    }
  }

  &__new {
    position: absolute;
    top: -21px;
    right: -13px;
    width: 112px;
    height: 112px;
    background-image: url('../../static/images/icons/new-label.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    @include media-breakpoint-down(md) {
      width: 75px;
      height: 75px;
      background-size: cover;
    }
    @include media-breakpoint-down(sm) {
      top: -23px;
      right: -15px;
    }
  }

  &__discount {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 283px;
    background-image: url('../../static/images/icons/discount.svg');
    background-repeat: no-repeat;
    background-position: center;
    @include media-breakpoint-down(lg) {
      height: 211px;
    }
    @include media-breakpoint-down(md) {
      height: 234px;
      background-size: cover;
      background-image: url('../../static/images/icons/discount-mobile.svg');
    }
    @include media-breakpoint-down(sm) {
      height: 67vw;
    }
    @include mobile {
      height: 88vw;
    }

  }

  &__favorite {
    position: absolute;
    left: 1px;
    top: -18px;
    z-index: 1;
    @include media-breakpoint-down(sm) {
      left: -12px;
      top: -19px;
    }
  }

  &__view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    position: relative;
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(lg) {
      margin-bottom: 15px;
    }
  }
  &__descr {
    border-bottom: 1px solid $gray-1;
    padding-bottom: 21px;
    @include media-breakpoint-down(md) {
      padding-left: 3px;
      padding-bottom: 17px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 13px;
      @include media-breakpoint-down(md) {
        margin-bottom: 7px;
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
    }
  }

  &__name {
    font-size: 27px;
    font-family: $minion-display;
    color: $black;
    transition: $animation-default-time;
    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
  }

  &__price {
    font-family: $minion-display;
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    @include media-breakpoint-down(md) {
      display: none;
    }
    &-mobile {
      display: none;
      width: 100%;
      align-items: center;
      @include media-breakpoint-down(md) {
        display: flex;
      }
    }

    &-actual {
      font-size: 27px;
      color: $black;
      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }

    &-old {
      color: $gray-3;
      font-size: 20px;
      position: relative;
      margin-right: 24px;
      letter-spacing: 0.4px;
      @include media-breakpoint-down(md) {
        margin-right: 9px;
        font-size: 16px;
      }
      // -- Context
      $entrance-item: '.entrance-item__price';

      & + #{$entrance-item}-actual {
        color: $red;
      }

      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $gray-3;
      }
    }

  }

  &__info {
    display: flex;
    align-items: center;
    pointer-events: none;
    @include media-breakpoint-down(md) {
      width: 100%;
      margin-bottom: 10px;
    }
    &-item {
      font-size: 18px;
      color: $gray-2;
      font-style: italic;
      position: relative;
      @include media-breakpoint-down(md) {
        font-size: 14px;
        color: $gray;
      }
      &:not(:last-child) {
        margin-right: 20px;
        &:after {
          content: '';
          position: absolute;
          right: -13px;
          top: 10px;
          width: 2px;
          height: 2px;
          background-color: $gray-2;
          @include media-breakpoint-down(md) {
            top: 7px;
            right: -11px;
          }
        }
      }
    }
  }

  &__colors {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
      margin-bottom: 23px;
      width: 100%;
    }
  }

  &__color {
    background-color: $black;
    position: relative;

    &:not(:last-child) {
      margin-right: 22px;
    }

    &-tip {
      position: absolute;
      min-width: 234px;
      height: 35px;
      padding-bottom: 7px;
      padding-top: 7px;
      left: -258px;
      top: -8px;
      background-color: $white;
      border-radius: 3px;
      font-size: 18px;
      font-style: italic;
      display: none;
      justify-content: center;
      align-items: center;
      color: $black;
      box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
      transition: .2s;
      &:after {
        content: '';
        position: absolute;
        width: 26px;
        height: 35px;
        right: -20px;
        top: 0;
      }
      &:before {
        content: '';
        position: absolute;
        right: -11px;
        top: 6px;
        width: 0;
        height: 0;
        z-index: 100;
        border-style: solid;
        border-width: 12px 0 12px 20px;
        border-color: transparent transparent transparent $white;
      }
    }
  }






}