.factoid {
  background-image: linear-gradient(106.94deg, #F8F8F8 13.54%, #EDEDED 86.46%);
  padding-top: 55px;
  padding-left: 51px;
  padding-bottom: 62px;
  height: auto;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    padding-left: 34px;
    padding-top: 36px;
    padding-bottom: 42px;
    margin-bottom: 200px;
  }

  @include media-breakpoint-down(md) {
    padding-left: 18px;
    padding-top:25px;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin: 0 auto 45px;
  }
  @include mobile {
    width: 306px;
  }


  &:hover .factoid__link {
    color: $gold;
    &:before {
      background-color: $gold;
    }
  }

  &__title {
    max-width: 456px;
    color: $black;
    margin-bottom: 22px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 19px;
    }

    @include media-breakpoint-down(md) {
      font-size: 27px;
      line-height: 36px;
    }

    &--salon {

      @include media-breakpoint-down(md) {
        max-width: 287px;
      }
    }

  }

  &__text {
    color: $black;
    max-width: 289px;
    margin-bottom: 249px;

    @include media-breakpoint-down(lg) {
      max-width: 223px;
      margin-bottom: 92px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 22px;
      max-width: 226px;
      margin-bottom: 154px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 173px;
    }

    &--salon {
      max-width: 239px;
      margin-bottom: 166px;
      @include media-breakpoint-down(lg) {
        max-width: 280px;
        margin-bottom: 64px;
      }

      @include media-breakpoint-down(md) {
        max-width: 200px;
        margin-bottom: 96px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 200px;
        margin-bottom: 70px;
      }
    }

  }

  &__link {
    @include upperlink-underline;
    transition: $animation-default-time;
    font-size: 13px;
    @include media-breakpoint-down(md) {
      font-size: 10px;
    }
  }

  &__img {
    position: absolute;

    &--classic {
      bottom: 38px;
      right: 0;
      @include media-breakpoint-down(lg) {
        width: 382px;
        height: 344px;
        display: block;
        right: -119px;
      }
      @include media-breakpoint-down(md) {
        width: 351px;
        height: 316px;
        right: -151px;
        bottom: 29px;
      }
      @include media-breakpoint-down(sm) {
        right: -185px;
        bottom: 39px;
      }
    }

    &--salon {
      right: 10px;
      bottom: 36px;
      @include media-breakpoint-down(lg) {
        width: 304px;
        height: 264px;
        right: -44px;
        bottom: 78px;
      }
      @include media-breakpoint-down(md) {
        width: 218px;
        height: 189px;
        right: -42px;
        bottom: 164px;
      }
      @include media-breakpoint-down(sm) {
        width: 218px;
        height: 189px;
        right: -68px;
        bottom: 132px;
      }

    }

  }

  &-get {
    width: 405px;
    height: 865px;
    background: linear-gradient(99.86deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    padding-left: 28px;
    padding-top: 46px;

    position: relative;
    @include media-breakpoint-down(lg) {
      width: 325.04px;
      height: 624px;
      padding-top: 22px;
    }
    @include media-breakpoint-down(md) {
      width: 211px;
      height: 593px;
      padding-top: 32px;
      padding-left: 19px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: auto;
      padding-left: 0;
    }
    @include mobile {
      width: 306px;
      padding-top: 24px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 487.54px;
      background-image: url('../../static/images/factiod-get-door.svg');
      background-repeat: no-repeat;
      background-position: center;
      @include media-breakpoint-down(lg) {
        height: 435px;
        background-image: url('../../static/images/factiod-get-door-note.svg');
        background-position: bottom;
      }
      @include media-breakpoint-down(md) {
        height: 211px;
        background-size: contain;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
      @include mobile {
        background-image: url('../../static/images/factiod-get-door-mobile.svg');
        height: 279px;
      }
    }

    &__img {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
        margin-top: 27px;
        width: 100%;
        height: auto;
      }
    }

    &__title {
      color: $black;
      max-width: 330.65px;
      margin-bottom: 14px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 21px;
      }
      @include media-breakpoint-down(md) {
        max-width: 164px;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 18px;
      }
      @include mobile {
        max-width: 211px;
        margin-bottom: 11px;
      }
    }
    &__text {
      max-width: 309.48px;
      color: $black;
      @include media-breakpoint-down(lg) {
        font-size: 18px;
        line-height: 24px;
        max-width: 248.65px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 22px;
        max-width: 181px;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 18px;
      }
      @include mobile {
        max-width: 250px;
      }
    }
    &__link {
      width: 100%;
      height: 100%;
      display: block;
      @include media-breakpoint-down(sm) {
        height: auto;
        margin-bottom: 0;
      }
    }
  }

  &-choose {
    width: 100%;
    height: 729px;
    background: linear-gradient(106.94deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    position: relative;
    @include media-breakpoint-down(lg) {
      height: 584px;
    }
    @include media-breakpoint-down(sm) {
      height: 510px;
    }




    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      background-image: url('../../static/images/factoid-choose.svg');
      background-repeat: no-repeat;
      background-position: right;
      width: 484px;
      height: 452px;
      @include media-breakpoint-down(lg) {
        width: 370px;
        height: 346px;
        background-size: contain;
      }
      @include media-breakpoint-down(md) {
        width: 331px;
        height: 254px;
        background-size: contain;
      }
    }


    &:hover {
      cursor: pointer;
      .factoid-choose__link {
        color: $gold;
        &:before {
          background-color: $gold;
        }
      }
    }

    &__title {
      max-width: 521px;
      padding-top: 55px;
      padding-left: 43px;
      margin-bottom: 22px;
      @include media-breakpoint-down(lg) {
        max-width: 428px;
        padding-top: 43px;
        padding-left: 27px;
      }
      @include media-breakpoint-down(md) {
        max-width: 309px;
        padding-top: 25px;
        padding-left: 18px;
        margin-bottom: 24px;
      }
      @include mobile {
        max-width: 283px;
      }
    }

    &__text {
      max-width: 265px;
      padding-left: 43px;
      @include media-breakpoint-down(lg) {
        padding-left: 26px;
        font-size: 18px;
        line-height: 24px;
        max-width: 308px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 22px;
        padding-left: 18px;
        max-width: 265px;
      }
    }

    &__link {
      @include upperlink-underline;
      transition: $animation-default-time;
      position: absolute;
      font-size: 13px;
      bottom: 65px;
      left: 43px;
      @include media-breakpoint-down(lg) {
        bottom: 38px;
        left: 27px;
        &:before {
          bottom: -4px;
        }
      }
      @include media-breakpoint-down(md) {
        bottom: 30px;
        left: 18px;
      }
    }

  }

  &-free {
    width: 405px;
    height: 865px;
    position: relative;
    background: linear-gradient(99.86deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    padding-top: 45px;
    padding-left: 29px;
    @include media-breakpoint-down(lg) {
      width: 325px;
      height: 614px;
      padding-top: 23px;
    }
    @include media-breakpoint-down(md) {
      width: 211px;
      height: 586px;
      padding-top: 26px;
      padding-left: 20px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    @include mobile {
      width: 306px;
      height: 507px;
    }

    &__link {
      display: block;
      width: 100%;
      height: 100%;
    }

    &__img {
      position: absolute;
      bottom: 0;
      right: 0;
      @include media-breakpoint-down(lg) {
        width: 249px;
        height: 354px;
      }
      @include media-breakpoint-down(md) {
        width: 188px;
        height: 269px;
      }
      @include mobile-between {
        width: 300px;
        height: 366px;
        object-fit: contain;
      }
      @include mobile {
        width: 198px;
        height: 283px;
      }
    }

    &__title {
      max-width: 331px;
      color: $black;
      margin-bottom: 15px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 21px;
      }
      @include mobile {
        margin-bottom: 12px;
      }
    }

    &__text {
      max-width: 310px;
      color: $black;
      @include media-breakpoint-down(lg) {
        max-width: 250px;
      }
    }

    &__caption {
      position: absolute;
      bottom: 31px;
      left: 30px;
      font-style: italic;
      width: 110px;
      color: $black;
      @include media-breakpoint-down(md) {
        position: static;
        margin-top: 11px;
      }
      @include mobile {
        position: absolute;
        bottom: 36px;
        left: 20px;
      }
    }

    &__name {
      font-size: 22px;
      line-height: 27px;
      display: block;
      margin-bottom: 6px;
      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }

    &__manager {
      font-size: 18px;
      line-height: 18px;
      @include media-breakpoint-down(md) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  &-invisible {
    width: 598px;
    height: 729px;
    background-image: url('../../static/images/factoid-invisible-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 41px;
    padding-top: 55px;

    @include media-breakpoint-down(lg) {
      width: 458px;
      height: 612px;
      padding-left: 35px;
      padding-top: 41px;
    }

    @include media-breakpoint-down(md) {
      width: 330px;
      height: 497px;
      padding-left: 19px;
      padding-top: 27px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      background-size: cover;
    }

    &:hover {
      .factoid-invisible__link {
        color: $gold;
        &:before {
          background-color: $gold;
        }
      }
    }

    &__title {
      max-width: 503px;
      margin-bottom: 22px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 19px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 11px;
        max-width: 273px;
      }
    }

    &__text {
      max-width: 229px;
      margin-bottom: 86px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 143px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 113px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 129px;
      }
    }

    &__link {
      @include upperlink-underline;
      @include media-breakpoint-down(sm) {

      }
    }

  }
}