.filter-mobile {
  border-top: 1px solid $gray-5;
  border-bottom: 1px solid $gray-5;
  margin-top: 11px;
  background-color: $white;
  position: relative;
  z-index: 1000;
  display: none;
  @include media-breakpoint-down(md) {
    display: flex;
  }

  &__form {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__popup {
    width: 100%;
    min-height: 100vh;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;

    &-all {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    &-back {
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      padding: 24px 24px 19px 26px;
      &:hover {
        svg path {
          stroke: $gold;
        }
      }
    }

    &-list {
      flex-grow: 1;
    }

    &-sort {
      display: none;
    }
    &-title {
      @include upperlink-title;
      font-size: 13px;
      width: 100%;
      text-align: center;
    }

    &-footer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin-top: auto;
    }

    &-view {
      width: calc(100% - 55px);
      height: 72px;
      border: 1px solid $gray;
      text-align: center;
      font-size: 13px;
      @include upperlink;
      outline: none;
      background-color: $white;
      margin-bottom: 27px;
      @include xs {
        height: 45px;
        margin-bottom: 18px;
      }
    }

    &-clear {
      display: flex;
      height: 59px;
      text-align: center;
      border: none;
      font-size: 13px;
      @include upperlink;
      outline: none;
      background-color: transparent;
      color: $gray-2;
      @include xs {
        height: 27px;
      }
    }

    &-list {

    }

    &-item {
      font-size: 20px;
      cursor: pointer;
      transition: $animation-default-time;
      padding-top: 8px;
      padding-bottom: 12px;
      padding-left: 27px;
      border-bottom: 1px solid $gray-5;
      &:hover {
        color: $gold;
      }
    }

    &-radio {
      display: none;

      &:checked + .filter-mobile__popup-text {
        &:after {
          display: block;
          visibility: visible;
          opacity: 1;
        }
        &:before {
          border: 1px solid #CBA576;
        }
      }

      & + .filter-mobile__popup-text {
        &:before {
          content: '';
          position: absolute;
          right: 26px;
          top: 5px;
          border: 1px solid $gray-1;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          display: inline-flex;
          transition: $animation-default-time;
        }
        &:after {
          content: '';
          width: 7px;
          height: 7px;
          position: absolute;
          border-radius: 50%;
          background-color: $gold;
          visibility: hidden;
          opacity: 0;
          transition: $animation-default-time;
          right: 31px;
          top: 10px;
        }
      }
    }


    &-checkbox {
      display: none;
      &:checked {
        & + .filter-mobile__popup-text:after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &-text {
      position: relative;
      display: block;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        right: 24px;
        top: 5px;
        border: 1px solid $gray-1;
        width: 17px;
        height: 17px;
        border-radius: 3px;
        display: inline-flex;
        transition: $animation-default-time;
      }
      &:after {
        background-image: url('../../static/images/icons/checked.svg');
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        width: 19px;
        height: 19px;
        position: absolute;
        right: 19px;
        top: 1px;
        opacity: 0;
        visibility: hidden;
      }
    }

    &-close {
      cursor: pointer;
      position: absolute;
      right: 37px;
      top: 25px;
      &:hover {
        svg path {
          stroke: $gold;
        }
      }
      svg {
        width: 13px;
        height: 13px;
      }
    }
    &-header {
      position: relative;
      padding-top: 25px;
      padding-bottom: 24px;
      background: linear-gradient(168.78deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      border-bottom: 1px solid $gray-5;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__options {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-counter {
      font-size: 15px;
      line-height: 1;
      width: 19px;
      height: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      background-color: $gray-2;
      border-radius: 50%;
      font-family: $minion-display;
      margin-right: 9px;
    }

    &:hover {
      .filter-mobile__options-text {
        color: $gold;
      }

      svg path {
        stroke: $gold;
      }
    }
    &-text {
      font-size: 16px;
      margin-right: 9px;
    }

    svg {
       width: 3px;
       height: 6px;
     }
  }



  &__material {
    display: flex;
    align-items: center;

    &.opened {
      & > .filter-mobile__material-text {
        color: $gold;
      }
      & > svg {
        transform: rotate(180deg);
        path {
          stroke: $gold;
        }
      }
    }
    &:hover {
      & > svg path {
        stroke: $gold;
      }
      & > .filter-mobile__material-text {
        color: $gold;
      }
    }

    &-text {
      @include upperlink;
      font-size: 13px;
      padding-top: 14px;
      padding-bottom: 14px;
    }

    &-dropdown {
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      width: 100%;
      display: none;
      background-color: $white;
      z-index: 1003;
    }

    &__row {
      &:not(:last-child) {
        border-bottom: 1px solid $gray-5;
      }
    }

    &-link {
      display: block;
      width: 100%;
      padding-top: 14px;
      padding-bottom: 14px;
      &:not(:last-child){
        border-bottom: 1px solid $gray-5;
      }
      &:not(:first-child){

      }
    }

  }

}