.interior-item {
  position: relative;
  padding-right: 9px;
  padding-left: 9px;
  width: 390px;
  @include media-breakpoint-down(lg) {
    width: 312px;
  }

  @include media-breakpoint-down(md) {
    width: 228px;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    height: auto;
  }
  @include mobile-between {
    margin-bottom: 45px;
  }
  @include mobile {
    width: 100%;
    height: auto;
  }

  &__block {
    @include media-breakpoint-down(sm) {
      width: 306px;
      margin: 0 auto;
      position: relative;
    }
    @include xs {
      width: 100%;
    }
  }

  .entrance-item__discount {
    @include mobile-between {
      height: 220px;
      bottom: 6px;
    }
  }

  .entrance-item__favorite {
    left: -8px;
    top: 69px;
    @include media-breakpoint-down(lg) {
      left: -8px;
      top: 33px;
    }
    @include media-breakpoint-down(sm) {
      top: 33px;
      left: -9px;
    }
  }

  .entrance-item__new {
    top: -36px;
    right: -36px;
    @include media-breakpoint-down(lg) {
      top: -36px;
      right: -36px;
    }
    @include media-breakpoint-down(md) {
      top: -18px;
      right: -18px;
    }
    @include media-breakpoint-down(sm) {
      width: 82px;
      height: 82px;
      top: 0;
      right: 0;
    }
    @include mobile {
      width: 82px;
      height: 82px;
      top: -17px;
      right: -8px;
    }
  }

  .entrance-item__color:not(:last-child) {
    @include media-breakpoint-down(lg) {
      margin-right: 16px;
    }
  }

  &__view {
    margin-bottom: 14px;
    position: relative;
    padding-top: 85px;
    @include media-breakpoint-down(lg) {
      padding-top: 51px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 60px;
    }
  }

  &__img {
    width: 283.56px;
    height: 670px;
    &-wrap {
      display: inline-flex;
      position: relative;
    }
    @include media-breakpoint-down(lg) {
      width: 199.77px;
      height: 467.31px;
    }
    @include media-breakpoint-down(md) {
      width: 159.77px;
      height: 385.31px;
    }
    @include media-breakpoint-down(sm) {
      width: 211px;
      height: 500px;
    }
  }

  &__mask {
    width: 300px;
    height: 755px;
    background-color: $green;
    position: absolute;
    bottom: 5px;
    right: -2px;
    z-index: -1;
    @include media-breakpoint-down(lg) {
      width: 207.42px;
      height: 518px;
      bottom: 5px;
      right: 4px;
    }
    @include media-breakpoint-down(md) {
      width: 175.39px;
      height: 430px;
      bottom: 5px;
      right: -1px;
    }
    @include media-breakpoint-down(sm) {
      width: 260px;
      height: 560px;
      bottom: 5px;
      right: 0;
    }
    @include mobile {
      width: 220px;
      height: 560px;
      bottom: 5px;
      top: auto;
      left: 11.602vw;
    }
  }
}