.interior-item {
  position: relative;
  padding-right: 9px;
  padding-left: 9px;
  width: 390px;
  @include media-breakpoint-down(lg) {
    width: 312px;
  }

  @include media-breakpoint-down(md) {
    width: 228px;
  }
  @include media-breakpoint-down(sm) {
    width: 45.029vw;
    height: auto;
  }
  @include mobile-between {
    margin-right: 10vw;
    margin-bottom: 13.450vw;
  }
  @include mobile {
    width: 100%;
    height: auto;
  }

  .entrance-item__discount {
    @include mobile-between {
      height: 45vw;
    }
  }

  .entrance-item__favorite {
    left: -8px;
    top: 69px;
    @include media-breakpoint-down(lg) {
      left: -8px;
      top: 33px;
    }
    @include media-breakpoint-down(sm) {
      left: -1px;
      bottom: 0;
    }
    @include mobile-between {
      top: 3.860vw;
    }
    @include mobile {
      left: -1px;
      bottom: auto;
      top: 41px;
    }
  }

  .entrance-item__new {
    top: -36px;
    right: -36px;
    @include media-breakpoint-down(lg) {
      top: -36px;
      right: -36px;
    }
    @include media-breakpoint-down(md) {
      top: -18px;
      right: -18px;
    }
    @include media-breakpoint-down(sm) {
      width: 9.591vw;
      height: 9.591vw;
      top: -2.105vw;
      right: -18px;
    }
    @include mobile {
      width: 82px;
      height: 82px;
      top: -17px;
      right: -8px;
    }
  }

  .entrance-item__color:not(:last-child) {
    @include media-breakpoint-down(lg) {
      margin-right: 16px;
    }
  }

  &__view {
    margin-bottom: 14px;
    position: relative;
    padding-top: 85px;
    @include media-breakpoint-down(lg) {
      padding-top: 51px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 6.550vw;
    }
    @include mobile {
      padding-top: 60px;
    }
  }

  &__img {
    width: 283.56px;
    height: 670px;
    &-wrap {
      display: inline-flex;
      position: relative;
    }
    @include media-breakpoint-down(lg) {
      width: 199.77px;
      height: 467.31px;
    }
    @include media-breakpoint-down(md) {
      width: 159.77px;
      height: 385.31px;
    }
    @include media-breakpoint-down(sm) {
      width: 33vw;
      height: 80vw;
    }
    @include mobile {
      width: 58.611vw;
      height: 138.889vw;
    }
  }

  &__mask {
    width: 300px;
    height: 755px;
    background-color: $green;
    position: absolute;
    bottom: 5px;
    right: -2px;
    z-index: -1;
    @include media-breakpoint-down(lg) {
      width: 207.42px;
      height: 518px;
      bottom: 5px;
      right: 4px;
    }
    @include media-breakpoint-down(md) {
      width: 175.39px;
      height: 430px;
      bottom: 5px;
      right: -1px;
    }
    @include media-breakpoint-down(sm) {
      width: 35.222vw;
      height: 86.556vw;
      bottom: 5px;
      left: 7.602vw;
    }
    @include mobile {
      width: 72.222vw;
      height: 155.556vw;
      bottom: 5px;
      top: auto;
      left: 11.602vw;
    }
  }
}