.view-instagram {
  background-color: $black-1;
  overflow: hidden;

  .row {
    flex-wrap: nowrap;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }

  &__right {
    display: flex;
    background-color: $white;
    @include media-breakpoint-down(sm) {
      margin-left: -27px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    &-link {
      width: 236px;
      height: 232px;
      &:not(:first-child) {
        margin-left: 2px;
      }
      @include media-breakpoint-down(md) {
        width: 145px;
        height: 145px;
      }
      @media (min-width: 361px) and (max-width: 855px) {
        width: 30vw;
        height: 30vw;
      }

    }
  }

  &__long-arrow {
    width: 107px;
    height: 16px;
    fill: $white;
    margin-left: 116px;
    @include media-breakpoint-down(lg) {
      width: 70px;
      margin-left: 59px;
    }
    @include media-breakpoint-down(md) {
      width: 35px;
      margin-left: 18px;
    }
    @include media-breakpoint-down(sm) {
      margin-left: 26%;
    }
  }

  &__link {
    @include upperlink;
    @include links-hover-to-icon($gold);
    color: $white;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    user-select: none;
    @include media-breakpoint-down(md) {
      font-size: 13px;
    }
  }

  &__left {
    padding-top: 26px;
    background-color: $black-1;
    color: $white;
    padding-bottom: 36px;
    @include media-breakpoint-down(md) {
      padding-top: 16px;
      padding-bottom: 26px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 19px;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 33px;
    }
  }

  &__title {
    width: 273px;
    padding-bottom: 45px;
    user-select: none;
    @include media-breakpoint-down(md) {
      font-size: 27px;
      line-height: 36px;
      padding-bottom: 14px;
    }
  }

}