body {
  color: $black;
  font-size: $fz-base;
  font-family: $minion-font;
  font-weight: $regular;
  &.fixed {
    overflow: hidden;
  }
}

figure {
  margin: 0;
}

.mobile-only {
  display: none!important;
  @include media-breakpoint-down(sm) {
    display: flex!important;
  }
}

.mobile-hidden {
  @include media-breakpoint-down(sm) {
    display: none!important;
  }
}

.main-container {
  padding-top: 9px;

  &--white {
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 278px;
      background-color: $white-1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      @include media-breakpoint-down(lg) {
        height: 227px;
      }
      @include media-breakpoint-down(md) {
        height: 161px;
      }
    }
  }

  &--gray {
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 278px;
      background-image: linear-gradient(180deg, #DEE2E3 0%, rgba(222, 226, 227, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      @include media-breakpoint-down(lg) {
        height: 227px;
      }
      @include media-breakpoint-down(md) {
        height: 161px;
      }
    }
  }
  &--big {

    &:before {
      height: 1213px;
      background-image: linear-gradient(180deg, #DEE2E3 0%, rgba(222, 226, 227, 0) 100%);
    }
  }

  &--entrance-concept {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 1116px;
      background-image: url(#{$img-url}/content/entrance/concept-bg.jpg);
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      @include media-breakpoint-down(lg) {
         height: 957px;
      }
      @include media-breakpoint-down(md) {
        content: '';
        width: 100%;
        background-image: linear-gradient(180deg, #DEE2E3 0%, rgba(222, 226, 227, 0) 100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 161px;
      }
    }
  }
}



h1 {
  font-size: 61px;
  line-height: 63px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $minion-display;
  font-weight: 300;
  @include media-breakpoint-down(lg) {
    font-size: 45px;
    line-height: 54px;
  }
  @include media-breakpoint-down(md) {
    font-size: 42px;
    line-height: 45px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 42px;
    line-height: 54px;
  }
}

h2 {
  font-family: $minion-display;
  font-size: 42px;
  line-height: 54px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  @include media-breakpoint-down(lg) {
    font-size: 32px;
    line-height: 40px;
  }
  @include media-breakpoint-down(md) {
    font-size: 27px;
    line-height: 36px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 27px;
    line-height: 36px;
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 27px;
  line-height: 36px;
  font-family: $minion-display;
  @include media-breakpoint-down(lg) {
    font-size: 24px;
    line-height: 34px;
  }
  @include media-breakpoint-down(md) {
    font-size: 22px;
    line-height: 26px;
  }
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  //font-size: 20px;
  //line-height: 27px;
  li {
    //margin-bottom: 8px;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 27px;
  @include media-breakpoint-down(lg) {
    font-size: 18px;
    line-height: 24px;
  }
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 22px;
  }

}
.h2 {
  font-size: 42px;
  line-height: 54px;
  @include media-breakpoint-down(md) {
    font-size: 27px;
    line-height: 27px;
  }


}

.container {
  padding-left: 0;
  padding-right: 0;
  @include media-breakpoint-down(sm) {
    padding-left: 27px;
    padding-right: 27px;
  }
}

.section-margin {
  margin-bottom: 200px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 135px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 72px;
  }
  @include media-breakpoint-down(sm ) {
    margin-bottom: 45px;
  }
}

.base-fz-18 {
  font-size: 18px;
  line-height: 27px;
}

.base-fz-20 {
  font-size: 20px;
  line-height: 27px;
}

// Script Classes
body {
  &.js-modal-open {
    overflow: hidden;

  }
}
