extends template/main

block variables
    - var title = 'Входная и межкомнатные двери в одном стиле';
    - var headerGrayBackground = true;

block content
    section.article-blog(style='background-color: #FFF8DC')
        .container.article-container.top-article-container
            .row.article-blog__row
            .article-blog__left
            .article-blog__breadcrumb
            ul.breadcrumbs__list(itemscope='' itemtype='http://schema.org/BreadcrumbList')
                li.breadcrumbs__item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                    a.breadcrumbs__link(href='/' title='Главная' itemprop='item') Главная
                    meta(itemprop='position' content='1')
                    meta(itemprop='name' content='Главная')
                li.breadcrumbs__item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                    a.breadcrumbs__link(href='/blog/' title='Блог' itemprop='item') Блог
                    meta(itemprop='position' content='2')
                    meta(itemprop='name' content='Блог')
                li.breadcrumbs__item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                    span.breadcrumbs__link(href='javascript:void(0)' itemprop='item') Стиль прованс в интерьере и дизайне дверей
            h1.article-blog__title
                | Двери в стиле Прованс
            p.article-blog__text
                | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает.
            .article-blog__tags
                .article-blog__tag
                    | #межкомнатные двери
                .article-blog__tag
                    | #входные двери
        .article-blog__right

    section.article-about
        .container.article-container
            .row
                h2.article-about__title
                    | Межкомнатные двери Порте Ричи
                .article-about__content
                    .article-about__text
                        p
                            | Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер:
                        p
                            | Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер:

                        p
                            | Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер:
                        p
                            | Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер:


    section.article-big-picture
        .article-about__img
            img(src='./static/images/fullscreen-provance.png' alt='')
        .article-about__descr.container.article-container
            | Готовое решение для современного интерьера: входная дверь «Монтана» и межкомнатная Ш161

    section.article-video
        a.container.article-container(href='https://www.youtube.com/watch?v=J4_JJ_Hht9U&ab_channel=PorteRichi ' target='_blank')
            .article-video__wrap
                .article-video__top
                    h2.article-video__title
                        | Заголовок про видео про видео
                    p.article-video__text
                        | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает.
                .article-video__link  СМОТРЕТЬ ВИДЕО
                .article-video__img
                    img(src='/upload/iblock/5fb/5fb1ec13a4d1c4dac8835278edfdfa05.jpg' alt='')
                    svg.article-video__play(width='36' height='42' viewBox='0 0 36 42' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M36 21L1.8571e-06 41.7846L3.67415e-06 0.21539L36 21Z' fill='white' fill-opacity='0.65')

    section.article-youtube
        .container.article-container
            .article-youtube__over
                iframe(height='100%' width='100%' src='https://www.youtube.com/watch?v=-452p_9ESbM')

    section.article-about
        .container.article-container
            .row
                .article-step__number
                    | 1
                .article-about__content
                    h2.article-about__title Межкомнатные двери Порте Ричи
                    .article-about__text
                        b Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер
                    .article-about__content__pictures
                        img(src='./static/images/provance-in-article.png')
                        img(src='./static/images/provance-in-article.png')
    .article-step
        .container.article-container
            .article-step__comment
                p
                    | Мы не просто продаём двери, а помогаем сделать правильный выбор. Никогда не посоветуем установить дорогую дверь, если это нецелесообразно. Мы не просто продаём двери, а помогаем сделать правильный выбор. Никогда не посоветуем установить дорогую дверь, если это нецелесообразно.
                .article-step__company
                    span Команда «Порте Ричи»

    section.article-about
        .container.article-container
            .row
                .article-step__number
                    | 2
                .article-about__content
                    h2.article-about__title
                        | Межкомнатные двери Порте Ричи
                    .article-about__text
                        p
                            | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер:
                        ul
                            li электронными деньгами в Webmoney, EasyPay и других системах оплаты;
                            li банковской картой в мобильном и интернет-банке, банкоматах и кассах банка.
                        p
                        p
                            | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер:
                        ol
                            li электронными деньгами в Webmoney, EasyPay и других системах оплаты;
                            li банковской картой в мобильном и интернет-банке, банкоматах и кассах банка.
                        p
                    .article-about__content__pictures
                        img(src='./static/images/provance-in-article.png')
                        img(src='./static/images/provance-in-article.png')
                        img(src='./static/images/provance-in-article.png')
                        img(src='./static/images/provance-in-article.png')


    section.article-about
        .container.article-container
            .row
                .article-step__number
                    | 3
                .article-about__content
                    h2.article-about__title
                        | Межкомнатные двери Порте Ричи
                    .article-about__text
                        b Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает это и осуществляет, входную дверь сложно транспортировать, потому что она имеет большой вес и размер
                    img.on-full-width(src='./static/images/fullscreen-provance.png' alt='' )
                    .article-about__descr.container.article-container
                        | Готовое решение для современного интерьера: входная дверь «Монтана» и межкомнатная Ш161
    .article__slider
        .container.article-container
            .article__slider-wrap.owl-carousel.owl-loaded.owl-drag
                .owl-stage-outer
                    .owl-stage(style='transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 6327px;')
                        .owl-item.active(style='width: 703px;')
                            .article__slider-item
                                img.article__slider-img(src='/upload/iblock/1f8/1f8a6ad014a5784449254c4089563254.jpg' alt='')
                                .article__slider-descr
                                    | Входная дверь с зеркалом визуально расширит пространство
                        .owl-item(style='width: 703px;')
                            .article__slider-item
                                img.article__slider-img(src='/upload/iblock/83d/83d6946196c8dd0fc926541db734e95b.jpg' alt='')
                                .article__slider-descr
                                    | Вертикальные вставки из лакобеля сделают потолки визуально выше
                        .owl-item(style='width: 703px;')
                            .article__slider-item
                                img.article__slider-img(src='/upload/iblock/d0b/d0bc2a3d5edea60165350c399cf236c3.jpg' alt='')
                                .article__slider-descr
                                    | Одинаковые щиты входной и межкомнатной двери подчеркнут целостность интерьера
                        .owl-item(style='width: 703px;')
                            .article__slider-item
                                img.article__slider-img(src='/upload/iblock/bda/bda364a7471c1f68de4140a61bcce360.jpg' alt='')
                                .article__slider-descr
                                    | Входная дверь с зеркалом визуально расширит пространство
                        .owl-item(style='width: 703px;')
                            .article__slider-item
                                img.article__slider-img(src='/upload/iblock/1d4/1d4b160ec26d566d3dea55e94f8a22a1.jpg' alt='')
                                .article__slider-descr
                                    | Вертикальные вставки из лакобеля сделают потолки визуально выше
                        .owl-item(style='width: 703px;')
                            .article__slider-item
                                img.article__slider-img(src='/upload/iblock/be7/be72c880b6ec062bcd94a965ca257e41.jpg' alt='')
                                .article__slider-descr
                                    | Одинаковые щиты входной и межкомнатной двери подчеркнут целостность интерьера
                        .owl-item(style='width: 703px;')
                            .article__slider-item
                                img.article__slider-img(src='/upload/iblock/49b/49b3b2273f1ca109ad1e5c5297299549.jpg' alt='')
                                .article__slider-descr
                                    | Входная дверь с зеркалом визуально расширит пространство
                        .owl-item(style='width: 703px;')
                            .article__slider-item
                                img.article__slider-img(src='/upload/iblock/f1b/f1baf5f6c3b2e2c05211dcbfa85b7ad4.jpg' alt='')
                                .article__slider-descr
                                    | Вертикальные вставки из лакобеля сделают потолки визуально выше
                        .owl-item(style='width: 703px;')
                            .article__slider-item
                                img.article__slider-img(src='/upload/iblock/613/613f690a7b33c19b9c0d96e7e428388e.jpg' alt='')
                                .article__slider-descr
                                    | Одинаковые щиты входной и межкомнатной двери подчеркнут целостность интерьера
                .owl-nav
                    button.owl-prev.disabled(type='button' role='presentation')
                        svg(width='38' height='74' viewBox='0 0 38 74' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M37 73L0.999998 37L37 1' stroke='#868686' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    button.owl-next(type='button' role='presentation')
                        svg(width='38' height='74' viewBox='0 0 38 74' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M1 73L37 37L1 1' stroke='#868686' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                .owl-dots
                    button.owl-dot.active(role='button')
                        span
                    button.owl-dot(role='button')
                        span
                    button.owl-dot(role='button')
                        span
                    button.owl-dot(role='button')
                        span
                    button.owl-dot(role='button')
                        span
                    button.owl-dot(role='button')
                        span
                    button.owl-dot(role='button')
                        span
                    button.owl-dot(role='button')
                        span
                    button.owl-dot(role='button')
                        span


