doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link( rel='shortcut icon' type="image/x-icon" href="static/images/icons/favicon.png")
        link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")
    body
      .container
        .blog__title
            h1.h1 Блог

        section.blog
            .blog__left
                .blog__item.blog__item--big
                    a.blog__link(href='/blog/stil-provans-v-interere-i-dizayne-dverey/')
                        h2.blog__subtitle Двери в стиле Прованс
                        p.blog__text
                            | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте Ричи» понимает.
                    .blog__row
                        .blog__tag #межкомнатные двери
                        .blog__tag #входные двери
                        .blog__tag #дизайн
                        .blog__tag #стили интерьера
                .blog__item.blog__item--small
                    a.blog__controll(href='/blog/dveri-v-stile-provans-9/')
                        .blog__img(style='background-image: url(static/images/small_provance.png); background-size: cover;')
                            .blog__row
                                .blog__tag #межкомнатные двери
                                .blog__tag #дизайн
                                .blog__tag #монтаж
                        .blog__info
                            h3.blog__min Двери в стиле Прованс 9
                            p.blog__subtext
                                | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания
                                | «Порте Ричи» понимает это и осуществляет быструю доставку.
                .blog__item.blog__item--small
                    a.blog__controll(href='/blog/dveri-v-stile-provans-8/')
                        .blog__img(style='background-image: url(static/images/small_provance.png); background-size: cover;')
                            .blog__row
                                .blog__tag #дизайн
                        .blog__info
                            h3.blog__min Двери в стиле Прованс 8
                            p.blog__subtext
                                | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания
                                | «Порте Ричи» понимает это и осуществляет быструю доставку.
                .blog__item.blog__item--small
                    a.blog__controll(href='/blog/stil-provans-interer-dizayn-dverey_1/')
                        .blog__img(style='background-image: url(static/images/small_provance.png); background-size: cover;')
                            .blog__row
                                .blog__tag #межкомнатные двери
                                .blog__tag #входные двери
                                .blog__tag #стили интерьера
                                .blog__tag #дизайн
                        .blog__info
                            h3.blog__min Стиль прованс в интерьере и дизайне дверей
                            p.blog__subtext
                                | Разбираемся в особенностях стиля прованс и советуем входные и межкомнатные двери
                                | для французского интерьера.
                .blog__item.blog__item--big(style='background-image: url(static/images/small_provance.png); background-size: cover;')
                    a.blog__link(href='/blog/dveri-v-stile-provans-6/')
                        h2.blog__subtitle Двери в стиле Прованс 6
                        p.blog__text
                            | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания «Порте
                            | Ричи» понимает это и осуществляет быструю доставку.
                    .blog__row
                        .blog__tag #монтаж
                        .blog__tag #межкомнатные двери
                .blog__item.blog__item--small
                    a.blog__controll(href='/blog/dveri-v-stile-provans-5/')
                        .blog__img(style='background-image: url(static/images/small_provance.png); background-size: cover;')
                            .blog__row
                                .blog__tag #дизайн
                                .blog__tag #монтаж
                        .blog__info
                            h3.blog__min Двери в стиле Прованс 5
                            p.blog__subtext
                                | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания
                                | «Порте Ричи» понимает это и осуществляет быструю доставку.
                .blog__item.blog__item--small
                    a.blog__controll(href='/blog/dveri-v-stile-provans-4/')
                        .blog__img(style='background-image: url(static/images/small_provance.png); background-size: cover;')
                            .blog__row
                                .blog__tag #межкомнатные двери
                                .blog__tag #услуги
                        .blog__info
                            h3.blog__min Двери в стиле Прованс 4
                            p.blog__subtext
                                | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания
                                | «Порте Ричи» понимает это и осуществляет быструю доставку.
                .blog__item.blog__item--small
                    a.blog__controll(href='/blog/dveri-v-stile-provans-3/')
                        .blog__img(style='background-image: url(static/images/small_provance.png); background-size: cover;')
                            .blog__row
                                .blog__tag #межкомнатные двери
                                .blog__tag #дизайн
                        .blog__info
                            h3.blog__min Двери в стиле Прованс 3
                            p.blog__subtext
                                | Входную дверь сложно транспортировать, потому что она имеет большой вес и размер. Компания
                                | «Порте Ричи» понимает это и осуществляет быструю доставку.
            .blog__right
                .blog__name ТЕГИ
                .blog__scroll(data-groups-count='4')
                    .blog__scroll-block
                        .blog__scroll-main.blog__scroll-text Важные
                        .blog__scroll-all.blog__scroll-text Все
                    .blog__plugin
                        input.blog__range(type='range' min='1' max='5' value='5' style='position: absolute; width: 1px; height: 1px; overflow: hidden; opacity: 0;')
                        #js-rangeslider-0.rangeslider.rangeslider--horizontal
                            .rangeslider__fill(style='width: 279.5px;')
                            .rangeslider__handle(style='left: 271px;')
                        .range-output 5
                    .blog__cloud
                        a.blog__hash(href='?tag=дизайн' data-group='1' data-code='дизайн' data-weight='0') #дизайн
                        a.blog__hash(href='?tag=межкомнатные двери' data-group='2' data-code='межкомнатные двери' data-weight='1') #межкомнатные двери
                        a.blog__hash(href='?tag=монтаж' data-group='3' data-code='монтаж' data-weight='2') #монтаж
                        a.blog__hash(href='?tag=входные двери' data-group='3' data-code='входные двери' data-weight='3') #входные двери
                        a.blog__hash(href='?tag=стили интерьера' data-group='4' data-code='стили интерьера' data-weight='4') #стили интерьера
                        a.blog__hash(href='?tag=услуги' data-group='4' data-code='услуги' data-weight='5') #услуги
        section.blog
            .pagination
                a.pagination__number.pagination__number--active(href='javascript:void(0);') 1
                a.pagination__number(href='/blog/?PAGEN_1=2') 2
                a.pagination__next(href='/blog/?PAGEN_1=2') далее

block script
script(src="static/js/jquery-3.3.1.min.js")
script(src="static/js/rangeslider.min.js")
script(src="static/js/blog.js")
