extends template/main

block variables
    - var title = 'Главная страница'

block content
    .filter-mobile__popup
        form
            .filter-mobile__popup-all
                header.filter-mobile__popup-header
                    .filter-mobile__popup-title фильтры
                    .filter-mobile__popup-close
                        include ../static/images/icons/close.svg
                .filter-mobile__popup-list
                    .filter-mobile__popup-item.js-filter-inner
                        span Сортировать
                    .filter-mobile__popup-item.js-filter-inner
                        span Стиль
                    .filter-mobile__popup-item.js-filter-inner
                        span Фрезеровка
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Двупольные
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Акции и скидки
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Интересные решения
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Образцы в салоне
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Со стеклом
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Новинки



                footer.filter-mobile__popup-footer
                    button.filter-mobile__popup-view показать 10 дверей
                    button.filter-mobile__popup-clear Сбросить фильтры
            .filter-mobile__popup-sort
                header.filter-mobile__popup-header
                    .filter-mobile__popup-title сортировать
                    .filter-mobile__popup-close
                        include ../static/images/icons/close.svg
                    .filter-mobile__popup-back
                        include ../static/images/icons/arrow-left-mobile.svg
                .filter-mobile__popup-list
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='radio' name="1").filter-mobile__popup-radio
                            span.filter-mobile__popup-text по возрастанию цены
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='radio' name="1").filter-mobile__popup-radio
                            span.filter-mobile__popup-text по убыванию цены
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='radio' name="1").filter-mobile__popup-radio
                            span.filter-mobile__popup-text по популярности
                footer.filter-mobile__popup-footer
                    button.filter-mobile__popup-view сортировать
                    button.filter-mobile__popup-clear по умолчанию










    section.filter
        .breadcrumbs.breadcrumbs--catalog
            .container
                include modules/breadcrumbs
        .container
            h1.filter__title Входные двериb
        .material-nav__wrap
            .container
                .material-nav
                    a(href="#").material-nav__link все модели
                    a(href="#").material-nav__link.material-nav__link--active для квартиры
                    a(href="#").material-nav__link для дома
                .filter-sort
                    .filter-sort__wrap
                        a(href="#").filter-sort__active по возрастанию цены
                        include ../static/images/svg/arrow-dropdown.svg
                        .filter-sort__dropown
                            form.filter-sort__dropown-form
                                a(href="#").filter-sort__dropown-link по убыванию цены
                                a(href="#").filter-sort__dropown-link по популярности
        .filter-mobile
            .container.filter-mobile__container
                .filter-mobile__material
                    a(href="#").filter-mobile__material-text все модели
                    include ../static/images/svg/arrow-dropdown.svg
                    .filter-mobile__material-dropdown
                        a(href="#").filter-mobile__material-text.filter-mobile__material-link для квартиры
                        a(href="#").filter-mobile__material-text.filter-mobile__material-link для дома
                .filter-mobile__options
                    span.filter-mobile__options-text.js-mobile-filter Фильтры
                    include ../static/images/icons/arrow-right-mobile.svg






    .container.main-filter__container
            .main-filter
                .main-filter__list-wrap
                    .main-filter__list
                        .main-filter__item.main-filter__tab
                            span.main-filter__counter 2
                            span Фрезеровка
                            include ../static/images/svg/arrow-dropdown.svg
                            .main-filter__dropdown.main-filter__dropdown--long
                                form
                                   .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                   .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                   .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                   .main-filter__dropdown-img
                                        img(src='static/images/door3.png', alt='pic').entrance-item__img

                        a(href="#").main-filter__link.main-filter__tab Стиль
                        .main-filter__item.main-filter__tab
                            span Стиль
                            include ../static/images/svg/arrow-dropdown.svg
                            .main-filter__dropdown
                                form
                                    label.main-filter__dropdown-label
                                        input(type='checkbox').main-filter__dropdown-checkbox
                                        span.main-filter__dropdown-text современный
                                    label.main-filter__dropdown-label
                                        input(type='checkbox').main-filter__dropdown-checkbox
                                        span.main-filter__dropdown-text классический
                                    label.main-filter__dropdown-label
                                        input(type='checkbox').main-filter__dropdown-checkbox
                                        span.main-filter__dropdown-text с дизайнерский

                        .main-filter__item.main-filter__tab
                            span Система
                            include ../static/images/svg/arrow-dropdown.svg
                            .main-filter__dropdown
                                form
                                    label.main-filter__dropdown-label
                                        input(type='radio', name="drop", value="1").main-filter__dropdown-radio
                                        span.main-filter__dropdown-text двери-купе
                                    label.main-filter__dropdown-label
                                        input(type='radio', name="drop", value="2").main-filter__dropdown-radio
                                        span.main-filter__dropdown-text внутрипроёмные
                                    label.main-filter__dropdown-label
                                        input(type='radio', name="drop", value="3").main-filter__dropdown-radio
                                        span.main-filter__dropdown-text с двери-пеналы


                        a(href="#").main-filter__link.main-filter__tab.main-filter__tab--active Образцы в салоне
                        a(href="#").main-filter__link.main-filter__tab Акции и скидки
                        a(href="#").main-filter__link.main-filter__tab Акции и скидки
                .main-filter__clear
                    include ../static/images/icons/trash.svg


    section.catalog-entrance
        .container
            .row.catalog-entrance__row

                .entrance-item.col-xl-7.col-lg-7.col-md-7.col-16
                    a(href='#').entrance-item__link
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .entrance-item__view
                            img(src='static/images/entr-1.jpg', alt='pic').entrance-item__img
                            img(src='static/images/entr-2.jpg', alt='pic').entrance-item__img
                            .entrance-item__discount
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name Горизонт Модерн K05
                                .entrance-item__price
                                    .entrance-item__price-actual 883 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                    .entrance-item__info-item Под заказ
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.


                .entrance-item.col-xl-7.col-lg-7.col-md-7.col-16
                    a(href='#').entrance-item__link
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__view
                            img(src='static/images/entr-1.jpg', alt='pic').entrance-item__img
                            img(src='static/images/entr-2.jpg', alt='pic').entrance-item__img
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name Горизонт Модерн K05
                                .entrance-item__price
                                    .entrance-item__price-actual 883 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                    .entrance-item__info-item Под заказ
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.



                .entrance-item.col-xl-7.col-lg-7.col-md-7.col-16
                    a(href='#').entrance-item__link
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__view
                            img(src='static/images/entr-1.jpg', alt='pic').entrance-item__img
                            img(src='static/images/entr-2.jpg', alt='pic').entrance-item__img
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name Горизонт Модерн K05
                                .entrance-item__price
                                    .entrance-item__price-actual 883 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                    .entrance-item__info-item Под заказ
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.


                .col-xl-7.col-lg-7.col-md-7.col-.factoid
                    a(href="#", target="_blank").factoid__overflow
                        h2.factoid__title Двери в&nbsp;классическом стиле&nbsp;&mdash; благородное дополнение интерьера
                        p.factoid__text Модели с&nbsp;отделками в&nbsp;древесных цветах с&nbsp;фурнитурой в&nbsp;традиционных оттенках будут органично смотреться в&nbsp;интерьере викторианского стиля, стиля барокко и&nbsp;ампир.
                        span.factoid__link перейти в каталог
                        img(src="static/images/icons/factoid-classic.svg", alt='pic').factoid__img.factoid__img--classic


                .col-xl-7.col-lg-7.col-md-7.col-.entrance-item
                    a(href='#').entrance-item__link
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__view
                            img(src='static/images/entr-5.jpg', alt='pic').entrance-item__img
                            img(src='static/images/entr-6.jpg', alt='pic').entrance-item__img
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name Геометрия Модерн K28
                                .entrance-item__price
                                    .entrance-item__price-actual от 1 606 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                    .entrance-item__info-item Под заказ
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб.
                                    .entrance-item__price-actual 885 руб.

                .col-xl-7.col-lg-7.col-md-7.col-.factoid
                    a(href="#", target="_blank").factoid__overflow
                        h2.factoid__title.factoid__title--salon  Входные двери &laquo;Порте Ричи&raquo; представлены в&nbsp;двух фирменных салонах
                        p.factoid__text.factoid__text--salon  Вживую удобнее рассматривать фрезеровки и&nbsp;цвет отделок, проверять плавность хода двери, работу замков и&nbsp;удобство дверных ручек. И&nbsp;всегда можно обратиться за&nbsp;консультацией к&nbsp;менеджеру.
                        span.factoid__link посмотреть на карте
                        img(src="static/images/icons/factoid-salon.svg", alt='pic').factoid__img.factoid__img--salon


                .col-xl-7.col-lg-7.col-md-7.col-.entrance-item
                    a(href='#').entrance-item__link
                        .entrance-item__mask
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__view
                            img(src='static/images/entr-5.jpg', alt='pic').entrance-item__img
                            img(src='static/images/entr-6.jpg', alt='pic').entrance-item__img
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name Геометрия Модерн K28
                                .entrance-item__price
                                    .entrance-item__price-actual от 1 606 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                    .entrance-item__info-item Под заказ
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.


                include modules/action

                .entrance-full.section-margin
                    a(href="#").entrance-full__link
                        .row
                            .offset-xl-1.col-xl-6.offset-lg-1.col-lg-6.col-md-6.entrance-full__descr
                                h2.entrance-full__title.h2 Горизонт Модерн G01
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                    .entrance-item__info-item Под заказ
                                    .entrance-item__info-item Хит
                                .entrance-item__price
                                    .entrance-item__price-actual 1 606 руб.
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip Ещё 25 цветов в карточке
                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                            .col-xl-9.col-lg-9.col-md-10.entrance-full__gallery
                                .entrance-item__favorite.btn-favorite.entrance-item__favorite--right
                                img(src='static/images/entrance-full-1.jpg', alt='pic').entrance-full__img
                                img(src='static/images/entrance-full-2.jpg', alt='pic').entrance-full__img



                .entrance-full.section-margin
                    a(href="#").entrance-full__link
                        .row
                            .col-xl-9.col-lg-9.col-md-10.entrance-full__gallery
                                .entrance-item__favorite.btn-favorite
                                img(src='static/images/entrance-full-1.jpg', alt='pic').entrance-full__img
                                img(src='static/images/entrance-full-2.jpg', alt='pic').entrance-full__img
                            .offset-xl-1.col-xl-6.offset-lg-1.col-lg-6.offset-md-1.col-md-5.entrance-full__descr
                                h2.entrance-full__title.h2 Горизонт Модерн G01
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                    .entrance-item__info-item Под заказ
                                    .entrance-item__info-item Хит
                                .entrance-item__price
                                    .entrance-item__price-actual 1 606 руб.
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip Ещё 25 цветов в карточке
                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                include modules/pagination

                section.recently-view.section-margin
                    h2.recently-view__title Вы недавно просматривали
                    .container
                        .recently-view__wrap
                            a(href="#").recently-view__item.recently-view__item--invisible
                                h2 Дверь-невидимка
                                span 4 323 руб.

                            a(href="#").recently-view__item.recently-view__item--single
                                .recently-view__item-img
                                    .recently-view__collection
                                    img(src='static/images/rec-7.jpg', alt='pic').recently-view__img
                                .recently-view__item-descr
                                    .entrance-item__descr-top
                                        .entrance-item__name Геометрия
                                        .entrance-item__price
                                            .entrance-item__price-actual 1 606 руб.
                                    .entrance-item__descr-bottom
                                        .entrance-item__info
                                            .entrance-item__info-item Для квартиры
                                        .entrance-item__colors
                                            .entrance-item__color.btn-color.active
                                            .entrance-item__color.btn-color
                                    .entrance-item__price-mobile
                                        .entrance-item__price-old 887 руб
                                        .entrance-item__price-actual 885 руб.


                            a(href="#").recently-view__item.recently-view__item--mask.recently-view__item--entrance.recently-view__item--between
                                .recently-view__item-mask
                                .recently-view__item-img
                                    img(src='static/images/rec-1.jpg', alt='pic').recently-view__img
                                    img(src='static/images/rec-2.png', alt='pic').recently-view__img
                                .recently-view__item-descr
                                    .entrance-item__descr-top
                                        .entrance-item__name Геометрия Модерн K28
                                        .entrance-item__price
                                            .entrance-item__price-actual 1 606 руб.
                                    .entrance-item__descr-bottom
                                        .entrance-item__info
                                            .entrance-item__info-item Для квартиры
                                            .entrance-item__info-item Под заказ
                                        .entrance-item__colors
                                            .entrance-item__color.btn-color.active
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.btn-color
                                    .entrance-item__price-mobile
                                        .entrance-item__price-old 887 руб
                                        .entrance-item__price-actual 885 руб.

                            a(href="#").recently-view__item.recently-view__item--entrance.recently-view__item--between
                                .recently-view__item-img
                                    img(src='static/images/rec-1.jpg', alt='pic').recently-view__img
                                    img(src='static/images/rec-2.png', alt='pic').recently-view__img
                                .recently-view__item-descr
                                    .entrance-item__descr-top
                                        .entrance-item__name Геометрия Модерн K28
                                        .entrance-item__price
                                            .entrance-item__price-actual 1 606 руб.
                                    .entrance-item__descr-bottom
                                        .entrance-item__info
                                            .entrance-item__info-item Для квартиры
                                            .entrance-item__info-item Под заказ
                                        .entrance-item__colors
                                            .entrance-item__color.btn-color.active
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.btn-color
                                    .entrance-item__price-mobile
                                        .entrance-item__price-old 887 руб
                                        .entrance-item__price-actual 885 руб.


                            a(href="#").recently-view__item.recently-view__item--big.recently-view__item--between
                                .recently-view__item-img
                                    img(src='static/images/rec-3.jpg', alt='pic').recently-view__img
                                    img(src='static/images/rec-4.jpg', alt='pic').recently-view__img
                                .recently-view__item-descr
                                    .entrance-item__descr-top
                                        .entrance-item__name Геометрия Модерн K28
                                        .entrance-item__price
                                            .entrance-item__price-actual 1 606 руб.
                                    .entrance-item__descr-bottom
                                        .entrance-item__info
                                            .entrance-item__info-item Для квартиры
                                            .entrance-item__info-item Под заказ
                                        .entrance-item__colors
                                            .entrance-item__color.btn-color.active
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.btn-color
                                    .entrance-item__price-mobile
                                        .entrance-item__price-old 887 руб
                                        .entrance-item__price-actual 885 руб.





