extends template/main

block variables
    - var title = 'Главная страница';
    - var headerGrayBackground = true;
    - var headerGrayBackgroundBig = false;

block content
    .filter-mobile__popup
        form.filter-mobile__form
            .filter-mobile__popup-all
                header.filter-mobile__popup-header
                    .filter-mobile__popup-title фильтры
                    .filter-mobile__popup-close
                        include ../static/images/icons/close.svg
                .filter-mobile__popup-list
                    .filter-mobile__popup-item.js-filter-inner
                        span Сортировать
                    .filter-mobile__popup-item.js-filter-inner
                        span Стиль
                    .filter-mobile__popup-item.js-filter-inner
                        span Фрезеровка
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Двупольные
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Акции и скидки
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Интересные решения
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Образцы в салоне
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Со стеклом
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='checkbox').filter-mobile__popup-checkbox
                            span.filter-mobile__popup-text Новинки



                footer.filter-mobile__popup-footer
                    button.filter-mobile__popup-view показать 10 дверей
                    button.filter-mobile__popup-clear Сбросить фильтры
            .filter-mobile__popup-sort
                header.filter-mobile__popup-header
                    .filter-mobile__popup-title сортировать
                    .filter-mobile__popup-close
                        include ../static/images/icons/close.svg
                    .filter-mobile__popup-back
                        include ../static/images/icons/arrow-left-mobile.svg
                .filter-mobile__popup-list
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='radio' name="1").filter-mobile__popup-radio
                            span.filter-mobile__popup-text по возрастанию цены
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='radio' name="1").filter-mobile__popup-radio
                            span.filter-mobile__popup-text по убыванию цены
                    .filter-mobile__popup-item
                        label.filter-mobile__popup-label
                            input(type='radio' name="1").filter-mobile__popup-radio
                            span.filter-mobile__popup-text по популярности
                footer.filter-mobile__popup-footer
                    button.filter-mobile__popup-view сортировать
                    button.filter-mobile__popup-clear по умолчанию


    section.filter
        .breadcrumbs.breadcrumbs--catalog
            .container
                include modules/breadcrumbs
        .container
            h1.filter__title Межкомнатные двери
        .material-nav__wrap
            .container
                .material-nav
                    a(href="#").material-nav__link все модели
                    a(href="#").material-nav__link.material-nav__link--active для квартиры
                    a(href="#").material-nav__link для дома
                .filter-sort
                    .filter-sort__wrap
                        a(href="#").filter-sort__active по возрастанию цены
                        include ../static/images/svg/arrow-dropdown.svg
                        .filter-sort__dropown
                            form.filter-sort__dropown-form
                                a(href="#").filter-sort__dropown-link по убыванию цены
                                a(href="#").filter-sort__dropown-link по популярности
        .filter-mobile
            .container.filter-mobile__container
                .filter-mobile__material
                    a(href="#").filter-mobile__material-text все модели
                    include ../static/images/svg/arrow-dropdown.svg
                    .filter-mobile__material-dropdown
                        .filter-mobile__material__row
                            .container
                                .row
                                    .col-16
                                        a(href="#").filter-mobile__material-text.filter-mobile__material-link для квартиры

                        .filter-mobile__material__row
                            .container
                                .row
                                    .col-16
                                        a(href="#").filter-mobile__material-text.filter-mobile__material-link для дома
                .filter-mobile__options
                    span.filter-mobile__options-text.js-mobile-filter Фильтры
                    span.filter-mobile__options-counter 1
                    include ../static/images/icons/arrow-right-mobile.svg






    .container.main-filter__container
        .main-filter
            .main-filter__list-wrap
                .main-filter__list
                    .main-filter__row
                        .main-filter__item.main-filter__tab
                            span.main-filter__counter 2
                            span Стиль
                            include ../static/images/svg/arrow-dropdown.svg
                            .main-filter__dropdown.main-filter__dropdown--long
                                form
                                    .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                    .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                    .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                    .main-filter__dropdown-img
                                        img(src='static/images/door3.png', alt='pic').entrance-item__img

                        .main-filter__item.main-filter__tab
                            span.main-filter__counter
                            span Фрезеровка
                            include ../static/images/svg/arrow-dropdown.svg
                            .main-filter__dropdown.main-filter__dropdown--long
                                form
                                    .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                    .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                    .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                    .main-filter__dropdown-img
                                        img(src='static/images/door3.png', alt='pic').entrance-item__img

                        .main-filter__item.main-filter__tab
                            span.main-filter__counter
                            span Образцы в салоне
                            include ../static/images/svg/arrow-dropdown.svg
                            .main-filter__dropdown.main-filter__dropdown--long
                                form
                                    .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                    .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                    .main-filter__dropdown-block
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                        label.main-filter__dropdown-label
                                            input(type='checkbox').main-filter__dropdown-checkbox
                                            span.main-filter__dropdown-text Авангард
                                    .main-filter__dropdown-img
                                        img(src='static/images/door3.png', alt='pic').entrance-item__img


                        a(href="#").main-filter__link.main-filter__tab С зеркалом
                        a(href="#").main-filter__link.main-filter__tab Интересное решение

                    .main-filter__row
                        a(href="#").main-filter__link.main-filter__tab.main-filter__tab--active Со стеклом
                        a(href="#").main-filter__link.main-filter__tab Акции и скидки
                        a(href="#").main-filter__link.main-filter__tab.main-filter__tab--active Новинка
                        a(href="#").main-filter__link.main-filter__tab Двупольные


                    //.main-filter__item.main-filter__tab
                        span Стиль
                        include ../static/images/svg/arrow-dropdown.svg
                        .main-filter__dropdown
                            form
                                label.main-filter__dropdown-label
                                    input(type='checkbox').main-filter__dropdown-checkbox
                                    span.main-filter__dropdown-text современный
                                label.main-filter__dropdown-label
                                    input(type='checkbox').main-filter__dropdown-checkbox
                                    span.main-filter__dropdown-text классический
                                label.main-filter__dropdown-label
                                    input(type='checkbox').main-filter__dropdown-checkbox
                                    span.main-filter__dropdown-text с дизайнерский


            .main-filter__clear.main-filter__clear--active
                include ../static/images/icons/trash.svg


    section.catalog-scheme
        .container
            .row.catalog-scheme__row
                .offset-xl-1.col-xl-5.offset-lg-0.col-lg-6.catalog-scheme__left
                    .catalog-scheme__mobile
                        h2.catalog-scheme__title Дверь-пенал освободит место рядом с&nbsp;проёмом
                        p.catalog-scheme__descr При открывании полотна сдвигаются в&nbsp;специальные ниши в&nbsp;стене. Двери перемещаются по&nbsp;горизонтали в&nbsp;одной плоскости с&nbsp;коробом. До&nbsp;установки модели необходимо выполнить монтаж пенала.
                    img(src='static/images/icons/free.jpg', alt='pic').catalog-scheme__img
                    .catalog-scheme__block
                        span.catalog-scheme__text Одностворчатая дверь
                        img(src='static/images/icons/scheme-1.svg', alt='pic').catalog-scheme__figure
                .offset-xl-1.col-xl-8.offset-lg-1.col-lg-9.catalog-scheme__right
                    .catalog-scheme__simple
                        h2.catalog-scheme__title Дверь-пенал освободит место рядом с&nbsp;проёмом
                        p.catalog-scheme__descr При открывании полотна сдвигаются в&nbsp;специальные ниши в&nbsp;стене. Двери перемещаются по&nbsp;горизонтали в&nbsp;одной плоскости с&nbsp;коробом. До&nbsp;установки модели необходимо выполнить монтаж пенала.
                    img(src='static/images/icons/free-2.jpg', alt='pic').catalog-scheme__img
                    .catalog-scheme__block
                        span.catalog-scheme__text Двустворчатая дверь
                        img(src='static/images/icons/scheme-2.svg', alt='pic').catalog-scheme__figure


    section.catalog-scheme
        .container
            .row.catalog-scheme__row
                .col-xl-9.offset-lg-0.col-lg-9.catalog-scheme__right
                    .catalog-scheme__mobile
                        h2.catalog-scheme__title Внутрипроёмная дверь разделит большую комнату на&nbsp;зоны
                        p.catalog-scheme__descr Два полотна движутся в&nbsp;одной плоскости со&nbsp;стеной навстречу друг другу, оставляя свободным только половину проёма. Створки двигаются по&nbsp;отдельным направляющим.
                    img(src='static/images/icons/free-4.jpg', alt='pic').catalog-scheme__img
                    .catalog-scheme__block
                        span.catalog-scheme__text Двустворчатая дверь
                        img(src='static/images/icons/scheme-3.svg', alt='pic').catalog-scheme__figure
                .offset-xl-1.col-xl-6.offset-lg-1.col-lg-6.catalog-scheme__left
                    .catalog-scheme__simple
                        h2.catalog-scheme__title Внутрипроёмная дверь разделит большую комнату на&nbsp;зоны
                        p.catalog-scheme__descr Два полотна движутся в&nbsp;одной плоскости со&nbsp;стеной навстречу друг другу, оставляя свободным только половину проёма. Створки двигаются по&nbsp;отдельным направляющим.


    section.catalog-interior
        .container
            .row.catalog-interior__row



                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.


                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                .factoid-get.section-margin
                    a(href="#").factoid-get__link.section-margin
                        h2.factoid-get__title Доборы завершат образ двери
                        p.factoid-get__text Доборы скрывают зазоры между наличниками и&nbsp;стеной. Мастер подбирает их&nbsp;под цвет отделки и&nbsp;стиль двери.
                        img(src='static/images/factiod-get-door-note.svg', alt='pic').factoid-get__img






                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                include modules/action

                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.


                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                .interior-bivalve__container.section-margin
                    .col-xl-7.col-lg-7.col-md-7.col-16
                        .interior-bivalve
                            a(href="#").interior-bivalve__link
                                .entrance-item__favorite.btn-favorite
                                .entrance-item__new
                                .interior-bivalve__view
                                    img(src='static/images/biv-1.png', alt='pic').interior-bivalve__img
                                    .entrance-item__discount
                                .entrance-item__descr
                                    .entrance-item__descr-top
                                        .entrance-item__name НК256В2
                                        .entrance-item__price
                                            .entrance-item__price-actual 4 323 руб.
                                    .entrance-item__descr-bottom
                                        .entrance-item__info
                                            .entrance-item__info-item Для квартиры
                                        .entrance-item__colors
                                            .entrance-item__color.btn-color.active
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                        .entrance-item__price-mobile
                                            .entrance-item__price-old 887 руб
                                            .entrance-item__price-actual 885 руб.



                    .col-xl-7.col-lg-7.col-md-7.col-16
                        .factoid-choose
                            h2.factoid-choose__title Выбирайте двустворчатые двери для широкого проёма
                            p.factoid-choose__text Для дверных проёмов шириной от&nbsp;1200&nbsp;мм идеально подойдут двустворчатые двери. Любую дверь из&nbsp;каталога на&nbsp;заказ выполним в&nbsp;виде двустворчатой модели.
                            a(href="#").factoid-choose__link узнать условия


                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.



                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                .factoid-free.section-margin
                    a(href="#").factoid-free__link
                        h2.factoid-free__title Бесплатный замер дверного проёма
                        p.factoid-free__text Замер от&nbsp;специалиста&nbsp;&mdash; гарантия того, что дверь подойдёт идеально. Замерщик учтёт все нюансы, важные для дальнейших этапов использования двери.
                        img(src='static/images/manager.png', alt='').factoid-free__img
                        .factoid-free__caption
                            span.factoid-free__name Анастасия,
                            span.factoid-free__manager менеджер по&nbsp;продажам



                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                .collection.section-margin
                    .offset-xl-1.col-xl-9.col-lg-10.col-md-10.col-16
                        .collection__wrap
                            img(src='static/images/collection-1.png', alt='pic').collection__img
                    .offset-xl-1.col-xl-4.offset-lg-1.col-lg-5.offset-md-1.col-md-5.col-16
                        .collection__descr
                            .collection__sup коллекция дверей
                            h2.collection__title Классицизм
                            p.collection__text Двери в&nbsp;сдержанном классическом дизайне. Модели украшены патиной, дополнены стеклянными вставками и&nbsp;рисунками. Отделаны эмалью от&nbsp;итальянского производителя.
                            a(href="#").collection__link Все двери коллекции




                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.


                a(href="#").interior-item.section-margin
                    .interior-item__block
                        .entrance-item__favorite.btn-favorite
                        .entrance-item__new
                        .interior-item__view
                            .interior-item__img-wrap
                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                .entrance-item__discount
                            .interior-item__mask
                        .entrance-item__descr
                            .entrance-item__descr-top
                                .entrance-item__name НК256В2
                                .entrance-item__price
                                    .entrance-item__price-actual 4 323 руб.
                            .entrance-item__descr-bottom
                                .entrance-item__info
                                    .entrance-item__info-item Для квартиры
                                .entrance-item__colors
                                    .entrance-item__color.btn-color.active
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.btn-color
                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                .entrance-item__price-mobile
                                    .entrance-item__price-old 887 руб
                                    .entrance-item__price-actual 885 руб.

                .invisible-item__container.section-margin
                    .col-xl-7.col-lg-7.col-md-8.col-16
                        a(href="#").invisible-item
                            .entrance-item__favorite.btn-favorite
                            .entrance-item__new
                            .entrance-item__discount
                            .invisible-item__name Дверь-невидимка НВ1
                            .invisible-item__price
                                .invisible-item__price-old 4 323
                                .invisible-item__price-actual 4 323 руб.
                    .offset-xl-2.col-xl-7.offset-lg-2.col-lg-7.offset-md-1.col-md-7
                        .factoid-invisible
                            h2.factoid-invisible__title Дверь-невидимка&nbsp;&mdash; продолжение интерьера
                            p.factoid-invisible__text У&nbsp;скрытой двери нет наличников и&nbsp;традиционной коробки. Такая конструкция не&nbsp;занимает место на&nbsp;стенах и&nbsp;визуально расширяет пространство помещения. Дверь-невидимка сливается с&nbsp;обстановкой и&nbsp;становится незаметной, но&nbsp;при этом функциональной частью интерьера.
                            a(href="#").factoid-invisible__link узнать больше


                .block-separator.section-margin
                    .block-separator__title Все межкомнатные двери
                    h3.block-separator__text из нашего каталога можно выполнить в виде двустворчатой модели

                .col-xl-7.col-lg-7.col-md-7.col-16.section-margin
                    .interior-bivalve
                        a(href="#").interior-bivalve__link
                            .entrance-item__favorite.btn-favorite
                            .entrance-item__new
                            .interior-bivalve__view
                                img(src='static/images/biv-1.png', alt='pic').interior-bivalve__img
                                .entrance-item__discount
                            .entrance-item__descr
                                .entrance-item__descr-top
                                    .entrance-item__name НК256В2
                                    .entrance-item__price
                                        .entrance-item__price-actual 4 323 руб.
                                .entrance-item__descr-bottom
                                    .entrance-item__info
                                        .entrance-item__info-item Для квартиры
                                    .entrance-item__colors
                                        .entrance-item__color.btn-color.active
                                        .entrance-item__color.btn-color
                                        .entrance-item__color.btn-color
                                        .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                            .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                    .entrance-item__price-mobile
                                        .entrance-item__price-old 887 руб
                                        .entrance-item__price-actual 885 руб.

                .col-xl-7.col-lg-7.col-md-7.col-16.section-margin
                    .interior-bivalve
                        a(href="#").interior-bivalve__link
                            .entrance-item__favorite.btn-favorite
                            .entrance-item__new
                            .interior-bivalve__view
                                img(src='static/images/biv-1.png', alt='pic').interior-bivalve__img
                                .entrance-item__discount
                            .entrance-item__descr
                                .entrance-item__descr-top
                                    .entrance-item__name НК256В2
                                    .entrance-item__price
                                        .entrance-item__price-actual 4 323 руб.
                                .entrance-item__descr-bottom
                                    .entrance-item__info
                                        .entrance-item__info-item Для квартиры
                                    .entrance-item__colors
                                        .entrance-item__color.btn-color.active
                                        .entrance-item__color.btn-color
                                        .entrance-item__color.btn-color
                                        .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                            .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                    .entrance-item__price-mobile
                                        .entrance-item__price-old 887 руб
                                        .entrance-item__price-actual 885 руб.


                include modules/pagination

                section.recently-view.section-margin
                    h2.col-xl-16.col-lg-16.col-md-16.col-sm-16.recently-view__title Вы недавно просматривали
                    .container
                        .recently-view__wrap
                            a(href="#").recently-view__item.recently-view__item--invisible
                                h2 Дверь-невидимка
                                span 4 323 руб.

                            a(href="#").recently-view__item.recently-view__item--single
                                .recently-view__item-img
                                    .recently-view__collection
                                    img(src='static/images/rec-7.jpg', alt='pic').recently-view__img
                                .recently-view__item-descr
                                    .entrance-item__descr-top
                                        .entrance-item__name Геометрия
                                        .entrance-item__price
                                            .entrance-item__price-actual 1 606 руб.
                                    .entrance-item__descr-bottom
                                        .entrance-item__info
                                            .entrance-item__info-item Для квартиры
                                        .entrance-item__colors
                                            .entrance-item__color.btn-color.active
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                .entrance-item__color-tip.ui-tip  Ещё 25 цветов в карточке
                                    .entrance-item__price-mobile
                                        .entrance-item__price-old 887 руб
                                        .entrance-item__price-actual 885 руб.


                            a(href="#").recently-view__item.recently-view__item--mask.recently-view__item--mask.recently-view__item--entrance.recently-view__item--between
                                .recently-view__item-mask
                                .recently-view__item-img
                                    img(src='static/images/rec-1.jpg', alt='pic').recently-view__img
                                    img(src='static/images/rec-2.png', alt='pic').recently-view__img
                                .recently-view__item-descr
                                    .entrance-item__descr-top
                                        .entrance-item__name Геометрия Модерн K28
                                        .entrance-item__price
                                            .entrance-item__price-actual 1 606 руб.
                                    .entrance-item__descr-bottom
                                        .entrance-item__info
                                            .entrance-item__info-item Для квартиры
                                            .entrance-item__info-item Под заказ
                                        .entrance-item__colors
                                            .entrance-item__color.btn-color.active
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                .entrance-item__color-tip.ui-tip  Ещё 25 цветов в карточке
                                    .entrance-item__price-mobile
                                        .entrance-item__price-old 887 руб
                                        .entrance-item__price-actual 885 руб.

                            a(href="#").recently-view__item--simple.recently-view__item.recently-view__item--entrance.recently-view__item--between
                                .recently-view__item-img
                                    img(src='static/images/rec-1.jpg', alt='pic').recently-view__img
                                    img(src='static/images/rec-2.png', alt='pic').recently-view__img
                                .recently-view__item-descr
                                    .entrance-item__descr-top
                                        .entrance-item__name Геометрия Модерн K28
                                        .entrance-item__price
                                            .entrance-item__price-actual 1 606 руб.
                                    .entrance-item__descr-bottom
                                        .entrance-item__info
                                            .entrance-item__info-item Для квартиры
                                            .entrance-item__info-item Под заказ
                                        .entrance-item__colors
                                            .entrance-item__color.btn-color.active
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                .entrance-item__color-tip.ui-tip  Ещё 25 цветов в карточке
                                    .entrance-item__price-mobile
                                        .entrance-item__price-old 888 руб
                                        .entrance-item__price-actual 885 руб.


                            a(href="#").recently-view__item.recently-view__item--big.recently-view__item--between
                                .recently-view__item-img
                                    img(src='static/images/rec-3.jpg', alt='pic').recently-view__img
                                    img(src='static/images/rec-4.jpg', alt='pic').recently-view__img
                                .recently-view__item-descr
                                    .entrance-item__descr-top
                                        .entrance-item__name Геометрия Модерн K28
                                        .entrance-item__price
                                            .entrance-item__price-actual 1 606 руб.
                                    .entrance-item__descr-bottom
                                        .entrance-item__info
                                            .entrance-item__info-item Для квартиры
                                            .entrance-item__info-item Под заказ
                                        .entrance-item__colors
                                            .entrance-item__color.btn-color.active
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.btn-color
                                            .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                .entrance-item__color-tip.ui-tip  Ещё 25 цветов в карточке
                                    .entrance-item__price-mobile
                                        .entrance-item__price-old 887 руб
                                        .entrance-item__price-actual 885 руб.