extends template/main

block variables
	- var title = 'Главная страница'

block content
	section.filter
	section.catalog-entrance
		.container
			.row.catalog-entrance__row

				.entrance-item.col-xl-7.col-lg-7.col-md-7.col-16
					a(href='#').entrance-item__link
						.entrance-item__mask
						.entrance-item__favorite.btn-favorite
						.entrance-item__new
						.entrance-item__view
							img(src='static/images/entr-1.jpg', alt='pic').entrance-item__img
							img(src='static/images/entr-2.jpg', alt='pic').entrance-item__img
							.entrance-item__discount
						.entrance-item__descr
							.entrance-item__descr-top
								.entrance-item__name Горизонт Модерн K05
								.entrance-item__price
									.entrance-item__price-actual 883 руб.
							.entrance-item__descr-bottom
								.entrance-item__info
									.entrance-item__info-item Для квартиры
									.entrance-item__info-item Под заказ
								.entrance-item__colors
									.entrance-item__color.btn-color.active
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color

								.entrance-item__price-mobile
									.entrance-item__price-old 887 руб
									.entrance-item__price-actual 885 руб.


				.entrance-item.col-xl-7.col-lg-7.col-md-7.col-16
					a(href='#').entrance-item__link
						.entrance-item__favorite.btn-favorite
						.entrance-item__view
							img(src='static/images/entr-3.jpg', alt='pic').entrance-item__img
							img(src='static/images/entr-4.jpg', alt='pic').entrance-item__img
						.entrance-item__descr
							.entrance-item__descr-top
								.entrance-item__name Квадро Классик K42
								.entrance-item__price
									.entrance-item__price-old 887 руб
									.entrance-item__price-actual 885 руб.
							.entrance-item__descr-bottom
								.entrance-item__info
									.entrance-item__info-item Для квартиры
									.entrance-item__info-item Под заказ
									.entrance-item__info-item Хит
								.entrance-item__colors
									.entrance-item__color.btn-color.active
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color

								.entrance-item__price-mobile
									.entrance-item__price-actual 885 руб.


				.col-xl-7.col-lg-7.col-md-7.col-16.entrance-item
					a(href='#').entrance-item__link
						.entrance-item__favorite.btn-favorite
						.entrance-item__new
						.entrance-item__view
							img(src='static/images/entr-5.jpg', alt='pic').entrance-item__img
							img(src='static/images/entr-6.jpg', alt='pic').entrance-item__img
							.entrance-item__discount
						.entrance-item__descr
							.entrance-item__descr-top
								.entrance-item__name Геометрия Модерн K28
								.entrance-item__price
									.entrance-item__price-actual от 1 606 руб.
							.entrance-item__descr-bottom
								.entrance-item__info
									.entrance-item__info-item Для квартиры
									.entrance-item__info-item Под заказ
								.entrance-item__colors
									.entrance-item__color.btn-color.active
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color

				.col-xl-7.col-lg-7.col-md-7.col-16.entrance-item
					a(href='#').entrance-item__link
						.entrance-item__favorite.btn-favorite
						.entrance-item__view
							img(src='static/images/entr-5.jpg', alt='pic').entrance-item__img
							img(src='static/images/entr-6.jpg', alt='pic').entrance-item__img
						.entrance-item__descr
							.entrance-item__descr-top
								.entrance-item__name Геометрия Модерн K28
								.entrance-item__price
									.entrance-item__price-actual от 1 606 руб.
							.entrance-item__descr-bottom
								.entrance-item__info
									.entrance-item__info-item Для квартиры
									.entrance-item__info-item Под заказ
								.entrance-item__colors
									.entrance-item__color.btn-color.active
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color

				.col-xl-7.col-lg-7.col-md-7.col-sm-16.entrance-item
					a(href='#').entrance-item__link
						.entrance-item__mask
						.entrance-item__favorite.btn-favorite
						.entrance-item__view
							img(src='static/images/entr-5.jpg', alt='pic').entrance-item__img
							img(src='static/images/entr-6.jpg', alt='pic').entrance-item__img
						.entrance-item__descr
							.entrance-item__descr-top
								.entrance-item__name Геометрия Модерн K28
								.entrance-item__price
									.entrance-item__price-actual от 1 606 руб.
							.entrance-item__descr-bottom
								.entrance-item__info
									.entrance-item__info-item Для квартиры
									.entrance-item__info-item Под заказ
								.entrance-item__colors
									.entrance-item__color.btn-color.active
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color
									.entrance-item__color.btn-color









