extends template/main

block variables
    - var title = 'Входная и межкомнатные двери в одном стиле';
    - var headerGrayBackground = true;

block content
    section.complex
        .complex__head
            .container
                .row
                    .col-16
                        include modules/breadcrumbs
                        h1.complex__title Входная и&nbsp;межкомнатные двери в&nbsp;одном стиле


        .complex__jumbo
            .container
                .row
                    .col-xl-16.col-lg-16
                        img(src='static/images/content/complex/jumbo.jpg', alt='').complex__jumbo-img

                    .complex__jumbo-footer
                        .offset-xl-1.col-xl-14.offset-lg-1.col-lg-14
                            .complex__jumbo-list
                                .complex__jumbo-item
                                    img(src='static/images/content/complex/jumbo-i-1.svg', alt='').complex__jumbo-icon
                                    .complex__jumbo-text.complex__jumbo-text--first Экономьте силы и&nbsp;время
                                .complex__jumbo-item
                                    img(src='static/images/content/complex/jumbo-i-2.svg', alt='').complex__jumbo-icon
                                    .complex__jumbo-text.complex__jumbo-text--second Заказывайте все двери в&nbsp;одном салоне
                                .complex__jumbo-item
                                    img(src='static/images/content/complex/jumbo-i-3.svg', alt='').complex__jumbo-icon
                                    .complex__jumbo-text.complex__jumbo-text--third Экономьте деньги


        .complex__choose
            .container
                .row
                    .col-xl-5.col-lg-5.col-md-16
                        .complex__choose-block
                            h2.complex__choose-title Выбирайте готовые решения для интерьера
                            p.complex__choose-text Входные и&nbsp;межкомнатные двери обычно продаются отдельно. Придётся посетить несколько салонов, чтобы найти похожие модели. Мы&nbsp;решили эту проблему. Покупайте входную и&nbsp;межкомнатные двери в&nbsp;одном месте. Менеджеры помогут выбрать комплект дверей для дома или квартиры&nbsp;&mdash; комплексное решение.
                            .complex__choose-doors
                                .doors-mini
                                    .doors-mini__number 62
                                    .doors-mini__text  варианта<br/>решений
                                    img(src='static/images/content/door-mini-img-1.jpg', alt='').doors-mini__img


                    .offset-xl-1.col-xl-10.offset-lg-1.col-lg-10.col-md-16
                        img(src='static/images/content/complex/choose-img.jpg', alt='').complex__choose-img


        .complex__product
            .container
                .row
                    .col-xl-12.col-lg-10.col-md-16
                        .complex__head
                           h2.complex__head-title Двери в квартиру
                           p.complex__head-text Внешний вид входной и&nbsp;межкомнатных дверей может изменить весь облик интерьера. Расскажите менеджеру о&nbsp;стиле своей квартиры, и&nbsp;он&nbsp;поможет выбрать подходящие фрезеровки и&nbsp;фурнитуру для всех дверей.
                            .complex__tabs.js-tab-wrap
                                .complex__tabs-item.active-tab(data-tab='1', data-page-rel='0') современные
                                .complex__tabs-item(data-tab='2', data-page-rel='0')  классические

                .row.active-page.tabs__page.js-tab-page(data-page='1', data-page-rel='0')
                    .offset-xl-2.col-xl-12.offset-lg-2.col-lg-12.offset-md-2.col-md-12
                        .complex__slider
                            .complex__slider-figure
                                img(src='static/images/content/complex/complex-min-i.png', alt='')
                                .complex__slider-figure__text Решение в интерьере

                            h3.complex__slider-title Ультра
                            p.complex__slider-text Решение объединено прямыми линиями и&nbsp;лаконичностью. Вертикальные линии&nbsp;&mdash; символ устойчивости, простоты и&nbsp;прочности. Стеклянные вставки добавляют в&nbsp;интерьер свет и&nbsp;акцент на&nbsp;тёмной отделке.
                            .complex__slider-container
                                .complex__slider-item
                                    .complex__slider-wrap.complex__slider-wrap--entrance
                                        img(src='static/images/content/complex/slider-i-1.jpg', alt='').complex__slider-img.complex__slider-img--entrance
                                    .complex__slider-name.complex__slider-name--entrance Входная дверь Ля Италия
                                .complex__slider-item
                                    .complex__slider-wrap
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                    .complex__slider-name Межкомнатные двери из коллекции ДН

                .row.tabs__page.js-tab-page(data-page='2', data-page-rel='0')
                    .offset-xl-2.col-xl-12
                        .complex__slider
                            .complex__slider-figure
                                img(src='static/images/content/complex/complex-min-i.png', alt='')
                                .complex__slider-figure__text Решение в интерьере

                            h3.complex__slider-title Ультра2
                            p.complex__slider-text Решение объединено прямыми линиями и&nbsp;лаконичностью. Вертикальные линии&nbsp;&mdash; символ устойчивости, простоты и&nbsp;прочности. Стеклянные вставки добавляют в&nbsp;интерьер свет и&nbsp;акцент на&nbsp;тёмной отделке.
                            .complex__slider-container
                                .complex__slider-item
                                    .complex__slider-wrap
                                        img(src='static/images/content/complex/slider-i-1.jpg', alt='').complex__slider-img.complex__slider-img--entrance
                                    .complex__slider-name Входная дверь Ля Италия
                                .complex__slider-item
                                    .complex__slider-wrap
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                    .complex__slider-name Межкомнатные двери из коллекции ДН


        .complex__product
            .container
                .row
                    .col-xl-12.col-lg-10
                        .complex__head
                            h2.complex__head-title Двери в квартиру
                            p.complex__head-text Внешний вид входной и&nbsp;межкомнатных дверей может изменить весь облик интерьера. Расскажите менеджеру о&nbsp;стиле своей квартиры, и&nbsp;он&nbsp;поможет выбрать подходящие фрезеровки и&nbsp;фурнитуру для всех дверей.
                                .complex__tabs.js-tab-wrap
                                    .complex__tabs-item.active-tab(data-tab='1', data-page-rel='0') современные
                                    .complex__tabs-item(data-tab='2', data-page-rel='0')  классические

                .row.active-page.tabs__page.js-tab-page(data-page='1', data-page-rel='0')
                    .offset-xl-2.col-xl-12.offset-lg-2.col-lg-12
                        .complex__slider
                            .complex__slider-figure
                                img(src='static/images/content/complex/complex-min-i.png', alt='')
                                .complex__slider-figure__text Решение в интерьере

                            h3.complex__slider-title Ультра
                            p.complex__slider-text Решение объединено прямыми линиями и&nbsp;лаконичностью. Вертикальные линии&nbsp;&mdash; символ устойчивости, простоты и&nbsp;прочности. Стеклянные вставки добавляют в&nbsp;интерьер свет и&nbsp;акцент на&nbsp;тёмной отделке.
                            .complex__slider-container
                                .complex__slider-item
                                    .complex__slider-wrap
                                        img(src='static/images/content/complex/slider-i-1.jpg', alt='').complex__slider-img.complex__slider-img--entrance
                                    .complex__slider-name Входная дверь Ля Италия
                                .complex__slider-item
                                    .complex__slider-wrap
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                    .complex__slider-name Межкомнатные двери из коллекции ДН

                .row.tabs__page.js-tab-page(data-page='2', data-page-rel='0')
                    .offset-xl-2.col-xl-12
                        .complex__slider
                            .complex__slider-figure
                                img(src='static/images/content/complex/complex-min-i.png', alt='')
                                .complex__slider-figure__text Решение в интерьере

                            h3.complex__slider-title Ультра2
                            p.complex__slider-text Решение объединено прямыми линиями и&nbsp;лаконичностью. Вертикальные линии&nbsp;&mdash; символ устойчивости, простоты и&nbsp;прочности. Стеклянные вставки добавляют в&nbsp;интерьер свет и&nbsp;акцент на&nbsp;тёмной отделке.
                            .complex__slider-container
                                .complex__slider-item
                                    .complex__slider-wrap
                                        img(src='static/images/content/complex/slider-i-1.jpg', alt='').complex__slider-img.complex__slider-img--entrance
                                    .complex__slider-name Входная дверь Ля Италия
                                .complex__slider-item
                                    .complex__slider-wrap
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                        img(src='static/images/content/complex/slider-i-2.jpg', alt='').complex__slider-img.complex__slider-img--interior
                                    .complex__slider-name Межкомнатные двери из коллекции ДН


        .complex__discount
            .container
                .row
                    .col-xl-8.col-lg-8.col-md-16.complex__discount-block
                        .complex__discount-item
                            h2.complex__discount-title Скидка 5% при покупке
                            p.complex__discount-text При заказе комплексного решения даём скидку на&nbsp;все выбранные двери.

                        .complex__discount-item
                            h2.complex__discount-title Рассрочка 0% по картам
                            p.complex__discount-text Покупку можно оплатить частями за&nbsp;2&ndash;10 месяцев без процентов и&nbsp;переплат.


                    .col-xl-8.col-lg-8.col-md-14.complex__discount-cards
                        .complex__discount-card
                            img(src='static/images/content/complex/card-1.jpg', alt='')
                            img(src='static/images/content/complex/card-2.jpg', alt='')
                            img(src='static/images/content/complex/card-3.jpg', alt='')
                            img(src='static/images/content/complex/card-4.jpg', alt='')
                            img(src='static/images/content/complex/card-5.jpg', alt='')

                        p.complex__discount-description Рассрочка доступна по&nbsp;картам &laquo;Халва&raquo;, &laquo;Смарт-карта&raquo;, &laquo;Карта покупок&raquo;, &laquo;КартаFun&raquo; и&nbsp;&laquo;Черепаха&raquo;. Если у&nbsp;вас нет карты, менеджер салона подскажет, как её&nbsp;оформить.

        .complex__choose.complex__choose--second
            .container
                .row
                    .col-xl-4.col-lg-4
                        .complex__choose-block
                            h2.complex__choose-title Одинаковый дизайн отделки
                            p.complex__choose-text Выберите любой рисунок фрезеровки межкомнатной модели, и&nbsp;на&nbsp;заводе изготовят такой&nbsp;же внутренний щит для входной двери.
                            p.complex__choose-description Входная дверь с&nbsp;фрезеровкой от&nbsp;межкомнатной


                    .offset-xl-1.col-xl-11.offset-lg-1.col-lg-11
                        img(src='static/images/content/complex/choose-img-2.jpg', alt='').complex__choose-img


        .complex__shield
            .container.complex__shield--container
                .row
                    .offset-xl-1.col-xl-7.offset-lg-1.col-lg-7.col-md-8
                        h2.complex__shield-title Входная дверь с&nbsp;временным щитом
                        p.complex__shield-text Если вы&nbsp;ещё не&nbsp;выбрали межкомнатные двери, а&nbsp;входная нужна сейчас, закажите щит с&nbsp;временной отделкой. Вы&nbsp;получите входную дверь и&nbsp;много времени на&nbsp;выбор дизайна межкомнатных.
                        .complex__shield-block
                            img(src='static/images/content/complex/shield-i.svg', alt='').complex__shield-icon
                            p.complex__shield-descr Временный щит&nbsp;&mdash; полотно без дизайна для внутренней стороны входной двери на&nbsp;время ремонта.
                    .offset-xl-1.col-xl-6.offset-lg-1.col-lg-6.col-md-8
                        .complex__shield-right
                            img(src='static/images/content/complex/shield-img.jpg', alt='').complex__shield-img
                            img(src='static/images/content/complex/shield.svg', alt='').complex__shield-bg


        .complex__proccess
            .container
                .row
                    .col-16
                        h2.complex__proccess-title Процесс работы
                        p.complex__proccess-text Вам не&nbsp;придётся искать сторонних подрядчиков. Предоставляем все услуги, связанные с&nbsp;покупкой: от&nbsp;замера и&nbsp;консультации до&nbsp;гарантийного обслуживания.

                .row
                    .col-16
                        include modules/steps


        .complex__form
            .container
                .row
                    .col-xl-9.col-lg-11.col-md-10
                        .sample__form
                            include components/application-form

                    .offset-xl-1.offset-lg-1.col-xl-6.col-lg-4.col-md-6
                        .sample__block
                            img(src='static/images/icons/step-1.svg', alt='').sample__img
                            p.sample__descr При самостоятельном замере даже маленькая ошибка может обойтись в два раза дороже. Замер специалиста компании позволит избежать ненужных затрат на расширение или сужение проёмов дверей.

                        .sample__cost
                            h3.sample__subtitle Стоимость замера
                            p.sample__descr Проём для входной двери замеряем бесплатно, для межкомнатных — залог 20 рублей. Вычтем из стоимости заказа при оформлении договора в наших салонах.


        include modules/company-salons

        script(src="static/js/jquery-3.3.1.min.js", defer)
        script(src="static/js/vendor/slick.min.js", defer)
        script(src="static/js/components/tabs-builder.js", defer)
        script(src="static/js/pages/complex.js", defer)





























