extends template/main

block variables
    - var title = 'Входная и межкомнатные двери в одном стиле';
    - var headerGrayBackground = true;

block content
    section.complex
        .complex__head
            .container
                .row
                    .col-16
                        include modules/breadcrumbs
                        h1.complex__title Входная и&nbsp;межкомнатные двери в&nbsp;одном стиле


        .complex__jumbo
            .container
                .row
                    .col-xl-16
                        img(src='static/images/content/complex/jumbo.jpg', alt='').complex__jumbo-img

                    .complex__jumbo-footer
                        .offset-xl-1.col-xl-14
                            .complex__jumbo-list
                                .complex__jumbo-item
                                    img(src='static/images/content/complex/jumbo-i-1.svg', alt='').complex__jumbo-icon
                                    .complex__jumbo-text.complex__jumbo-text--first Экономьте силы и&nbsp;время
                                .complex__jumbo-item
                                    img(src='static/images/content/complex/jumbo-i-2.svg', alt='').complex__jumbo-icon
                                    .complex__jumbo-text.complex__jumbo-text--second Заказывайте все двери в&nbsp;одном салоне
                                .complex__jumbo-item
                                    img(src='static/images/content/complex/jumbo-i-3.svg', alt='').complex__jumbo-icon
                                    .complex__jumbo-text.complex__jumbo-text--third Экономьте деньги


        .complex__choose
            .container
                .row
                    .col-xl-5
                        .complex__choose-block
                            h2.complex__choose-title Выбирайте готовые решения для интерьера
                            p.complex__choose-text Входные и&nbsp;межкомнатные двери обычно продаются отдельно. Придётся посетить несколько салонов, чтобы найти похожие модели. Мы&nbsp;решили эту проблему. Покупайте входную и&nbsp;межкомнатные двери в&nbsp;одном месте. Менеджеры помогут выбрать комплект дверей для дома или квартиры&nbsp;&mdash; комплексное решение.
                            .complex__choose-doors
                                .doors-mini
                                    .doors-mini__number 62
                                    .doors-mini__text  варианта<br/>решений
                                    img(src='static/images/content/door-mini-img-1.jpg', alt='').doors-mini__img


                    .offset-xl-1.col-xl-10
                        img(src='static/images/content/complex/choose-img.jpg', alt='').complex__choose-img


        .complex__product
            .container
                .row
                    .col-xl-12
                        .complex__head
                           h2.complex__head-title Двери в квартиру
                           p.complex__head-text Внешний вид входной и&nbsp;межкомнатных дверей может изменить весь облик интерьера. Расскажите менеджеру о&nbsp;стиле своей квартиры, и&nbsp;он&nbsp;поможет выбрать подходящие фрезеровки и&nbsp;фурнитуру для всех дверей.
                            .complex__tabs
                                .complex__tabs-item современные
                                .complex__tabs-item.active-tab  классические












































