extends template/main

block variables
    - var title = 'Карточка входная концепт';
    - var headerGrayBackground = false;
    - var headerGrayBackgroundBig = false;
    - var conceptEntranceFirst = true;

block content
    .entrance-concept
        section.entrance-item.entrance-item--first.entrance-single
            .container
                .row
                    .offset-xl-1.col-xl-6.offset-lg-1.col-lg-7.offset-md-0.col-md-16
                        .entrance-item__card
                            .entrance-item__nav
                                a(href="#").entrance-item__link Главная
                                a(href="#").entrance-item__link Входные двери
                                a(href="#").entrance-item__link Для дома
                            h1.entrance-item__title Порте Классик Старый Лондон
                            img(src='static/images/content/entrance/concept-bg.jpg', alt='').entrance-item__concept-img
                            .entrance-item__info
                                span.entrance-item__element Для дома
                                span.entrance-item__element Под заказ до 45 рабочих  дней
                                span.entrance-item__element Хит
                            p.entrance-item__about Для двери с&nbsp;такой фрезеровкой можно выбрать комплектацию: базовую, оптимальную, усиленную или максимальную. Это влияет на&nbsp;уровень защиты двери, возможные материалы и&nbsp;цвет отделки.

                            .entrance-item__block комплектация максимальная
                            .entrance-item__price
                                .entrance-item__price-actual от 1685 руб.

                            a(href="#").entrance-item__btn Добавить к заказу

                            .entrance-item__new
                                include ../static/images/content/entrance/new.svg


        .concept-facade
            .container
                .row
                    .offset-xl-1.col-xl-5.offset-lg-1.col-lg-6.offset-md-0.col-md-8.concept-facade__left
                        .concept-facade__block
                            .concept-facade__type отделка снаружи
                            h2.concept-facade__title SteelLak, &laquo;Чёрно-серый&raquo; с&nbsp;глянцем
                            p.concept-facade__text Хаотичные линии и&nbsp;выверенные пропорции обеспечивают эстетическую привлекательность модели. Игра плоских и&nbsp;объёмных квадратов придаёт фрезеровке глубину, оживляет интерьер.
                            p.concept-facade__text Дверь отлично впишется в&nbsp;современный интерьер, в&nbsp;котором преобладают акценты  на&nbsp;геометрических деталях оформления.

                    .offset-xl-3.col-xl-5.offset-lg-1.col-lg-6.offset-md-0.col-md-6.concept-facade__right
                        .concept-facade__right.js-item-resfresh
                            .entrance-item__wrap.js-item-rotate
                                .entrance-item__front
                                    img(src='static/images/content/entrance/facade-1.jpg', alt='').concept-facade__img
                                .entrance-item__back
                                    img(src='static/images/content/entrance/facade-2.jpg', alt='').concept-facade__img


                            span.entrance-item__refresh
                                include ../static/images/content/entrance/refresh.svg


        .concept-simple
            .container
                .row
                    .col-xl-9.col-lg-9.col-md-8
                        .concept-simple__left
                            figure.concept-simple__figure
                                img(src='static/images/content/entrance/concept-simple-1.jpg', alt='').concept-simple__img
                                figcaption.concept-simple__figcaption Элегантная ручка Armadillo SQUID придаёт внешнему виду двери особый шарм
                    .offset-xl-1.col-xl-6.offset-lg-1.col-lg-6.col-md-8
                        .concept-simple__right
                            figure.concept-simple__figure
                                img(src='static/images/content/entrance/concept-simple-2.jpg', alt='').concept-simple__img
                                figcaption.concept-simple__figcaption Цвет &laquo;Бронза&raquo; идеально сочетается с&nbsp;оттенком отделки


        .concept-big
            .container
                .row
                    .col-xl-12.col-lg-12.col-md-12.col-sm-16
                        img(src='static/images/content/entrance/concept-big.jpg', alt='').concept-big__img
                    .col-xl-4.col-lg-4.col-md-4.col-sm-16
                        .concept-big__block
                            .concept-big__descr Геометрическая ферезовка вносит в&nbsp;пространство аккуратность и&nbsp;порядок


        .concept-poster
            .container
                .row
                   .col-16
                       .concept-poster__wrap
                           img(src='static/images/content/entrance/concept-poster.jpg', alt='').concept-poster__img
                           .concept-poster__block
                               .concept-poster__mini
                                   h2.concept-poster__title Итальянские замки Mottura
                                   p.concept-poster__text Замок защищён от&nbsp;высверливания благодаря твёрдому сплаву хвостовика.

                               .concept-poster__mini.concept-poster__mini--small
                                    h3.concept-poster__subtitle Итальянские замки Mottura
                                    p.concept-poster__text Защищает цилиндр замка от&nbsp;высверливания, вырывания и&nbsp;выбивания благодаря трём усиливающим вставкам.


    script(src="static/js/pages/entrance-page.js", defer)

