extends template/main

block variables
    - var title = 'Входная и межкомнатные двери в одном стиле';
    - var headerGrayBackground = true;
    - var headerGrayBackgroundBig = true;

block content
    section.entrance-item.entrance-item--first.entrance-single
        .container
            .row
                .offset-xl-1.col-xl-6.offset-lg-1.col-lg-6.offset-md-0.col-md-8
                    .entrance-item__wrap
                        img(src='static/images/content/entrance/item.jpg', alt='').entrance-item__img
                        span.entrance-item__name Снаружи Муар, Серый графит
                        span.entrance-item__refresh
                            include ../static/images/content/entrance/refresh.svg
                .offset-xl-1.col-xl-6.offset-lg-1.col-lg-7.offset-md-0.col-md-8
                    .entrance-item__card
                        .entrance-item__nav
                            a(href="#").entrance-item__link Главная
                            a(href="#").entrance-item__link Входные двери
                            a(href="#").entrance-item__link Для дома
                        h1.entrance-item__title Невада
                        .entrance-item__info
                            span.entrance-item__element Для дома
                            span.entrance-item__element Под заказ до 45 рабочих  дней
                            span.entrance-item__element Хит
                        p.entrance-item__about Для двери с&nbsp;такой фрезеровкой можно выбрать комплектацию: базовую, оптимальную, усиленную или максимальную. Это влияет на&nbsp;уровень защиты двери, возможные материалы и&nbsp;цвет отделки.
                        .entrance-item__wrap.inside
                            img(src='static/images/content/entrance/inside.png', alt='').entrance-item__img
                            span.entrance-item__name Снаружи Муар, Серый графит
                            span.entrance-item__refresh
                                include ../static/images/content/entrance/refresh.svg
                        .entrance-item__variant
                            .entrance-item__subtitle варианты исполнения
                            .entrance-item__overflow
                                .entrance-item__colors.js-colors-c
                                    .entrance-item__color
                                    .entrance-item__color
                                    .entrance-item__color
                                    .entrance-item__color.entrance-item__color--active
                                    .entrance-item__color
                                    .entrance-item__color
                                    .entrance-item__color
                                    .entrance-item__color
                                    .entrance-item__color
                                    .entrance-item__color.entrance-item__color--multicolor

                        .entrance-item__block комплектация максимальная
                        .entrance-item__price
                            .entrance-item__price-new от 1685 руб.
                            .entrance-item__price-old 2456 руб.

                        a(href="#").entrance-item__btn Добавить к заказу

                        .entrance-item__new
                            include ../static/images/content/entrance/new.svg

    .entrance-view
        .container
            .row
                .col-16
                    .entrance-view__block
                        h2.entrance-view__title Посмотрите образец по адресу
                        .entrance-view__address пр-те Дзержинского, 125
                        .entrance-view__address пр-те Олешева, 1
                        .entrance-view__img
        img(src='static/images/content/entrance/view-m.png', alt='').entrance-view__bg

    .entrance-example
        .container
            .row
                .col-xl-9.entrance-example__column.col-lg-9.col-md-8
                    .entrance-example__left
                        img(src='static/images/content/entrance/example.jpg', alt='').entrance-example__img
                        p.entrance-example__text Антрацитовый оттенок отделки, современная вставка и&nbsp;фурнитура&nbsp;&mdash; сочетание последних трендов в&nbsp;дизайне

                .offset-xl-1.col-xl-6.offset-lg-1.col-lg-6.col-md-8
                    .entrance-example__right
                        img(src='static/images/content/entrance/example-2.jpg', alt='').entrance-example__img
                        p.entrance-example__text Внешний вид двери определяет её&nbsp;установку в&nbsp;частный дом с&nbsp;современным фасадом

    .entrance-complex
        .container
            .row
                .col-xl-5.col-lg-5.col-md-16.entrance-complex__first
                    .entrance-complex__left
                        h2.entrance-complex__title Комплексная защита от&nbsp;промерзания
                        p.entrance-complex__text Устойчивость входной двери к&nbsp;перепадам температур и&nbsp;влажности зависит от&nbsp;её&nbsp;конструкции и&nbsp;качества монтажа.
                        p.entrance-complex__text Порошково-полимерное покрытие в&nbsp;7&nbsp;слоёв и&nbsp;3-х уровневая антикоррозийная обработка защищает от&nbsp;коррозии и&nbsp;отслаивания.
                        p.entrance-complex__text Термовлагостойкий МДФ заламинирован со&nbsp;всех четырёх сторон. Так панель на&nbsp;100% защищена от&nbsp;попадания влаги внутрь двери.
                        p.entrance-complex__text Полотно и&nbsp;коробка утеплены в&nbsp;несколько слоёв по&nbsp;контуру двери, поэтому попадание влаги внутрь исключено.
                .col-xl-6.col-lg-5.col-md-8.entrance-complex__second
                    .entrance-complex__center
                        img(src='static/images/content/entrance/complex.svg', alt='').entrance-complex__img
                .col-xl-5.col-lg-6.col-md-8.entrance-complex__third
                    .entrance-complex__right
                        h3.entrance-complex__subtitle Терморазрыв дверного полотна и&nbsp;коробки
                        p.entrance-complex__text.entrance-complex__text--top Утеплители по&nbsp;рёбрам жёсткости и&nbsp;двум частям коробки отделяют металлические элементы двери&nbsp;&mdash; &laquo;мостики холода&raquo; от&nbsp;наружней стороны. Так, если место монтажа выбрано правильно, дверь не&nbsp;промёрзнет при температуре до &minus;30&nbsp;С.
                        .entrance-complex__block
                            .entrance-complex__descr Терморазрыв коробки не&nbsp;доступен для базовой и&nbsp;оптимальной комплектации
                            .entrance-complex__descr + 119 рублей к усиленной
                            .entrance-complex__descr + 173 рублей к максимальной
                        h3.entrance-complex__subtitle «Тёплый монтаж»
                        p.entrance-complex__text.entrance-complex__text--bottom  Утепления откосов, монтажных швов и&nbsp;разрыва стяжки на&nbsp;полу исключает продувание двери и&nbsp;возникновение конденсата из-за резкого охлаждения.
                        .entrance-complex__block
                            .entrance-complex__descr + 30 рублей к любой комплектации


    .entrance-vitrage
        .container.entrance-vitrage__container
            .row.entrance-vitrage__row
                .offset-xl-3.col-xl-13.offset-lg-2.col-lg-14.col-md-16.offset-md-0.entrance-vitrage__col
                    .entrance-vitrage__block
                        img(src='static/images/content/entrance/entrance-vitrage-min.png', alt='').entrance-vitrage__pic
                        .entrance-vitrage__left
                            h2.entrance-vitrage__title Экстерьер дома с&nbsp;витражами
                            p.entrance-vitrage__text Игра оттенков и&nbsp;форм расставит акценты в&nbsp;экстерьере и&nbsp;создаст неповторимую атмосферу дома.
                        .entrance-vitrage__center
                            h3.entrance-vitrage__subtitle Создавайте свой рисунок
                            p.entrance-vitrage__text Выбирайте разные комбинации матовых стекол, фацета и&nbsp;цветов, чтобы создать индивидуальный рисунок витража для идеального экстерьера и&nbsp;интерьера вашего дома.
                        .entrance-vitrage__right
                            img(src='static/images/content/entrance/vitrage-mini.svg', alt='').entrance-vitrage__img



    .entrance-decore
        .container
            .row
                .col-xl-8.col-lg-8.col-md-8.entrance-decore__first
                    .entrance-decore__left
                        figure.entrance-decore__figure
                            img(src='static/images/content/entrance/decore-1.jpg', alt='').entrance-decore__img
                            figcaption
                                span.entrance-decore__caption
                                    | 3-х камерный&nbsp;
                                    strong.entrance-decore__strong стеклопакет и кованная решётка&nbsp;
                                    | придают двери благородный вид


                .offset-xl-1.col-xl-7.offset-lg-1.col-lg-7.offset-md-0.col-md-8.entrance-decore__second
                    .entrance-decore__right
                        h2.entrance-decore__title Декоративное оформление
                        p.entrance-decore__text Входная дверь не&nbsp;просто отличается изысканным оттенком наружней отделки и&nbsp;благородством фурнитуры, но&nbsp;и&nbsp;привлекает внимание деталями. Чтобы создать яркий элемент для экстерьера дома, дверь дополнили порталом с&nbsp;многослойной филёнкой и&nbsp;решёткой с&nbsp;золотистой патиной.
                        figure.entrance-decore__figure
                            img(src='static/images/content/entrance/decore-2.jpg', alt='').entrance-decore__img
                            figcaption
                                span.entrance-decore__caption
                                    strong.entrance-decore__strong Портал&nbsp;
                                    span выгодно подчёркивает классический дизайн входной двери


    .container
        .row
            .col-16
                h2.entrance-poster__main Куда устанавливать дверь
    .entrance-poster

        .entrance-poster__slide
            .entrance-poster__bg
                img(src="static/images/content/entrance/poster-1.jpg")
            .entrance-poster__upper
                h3.entrance-poster__tip Куда устанавливать дверь
                .entrance-poster__block
                    .entrance-poster__number 01
                    h2.entrance-poster__title Оптимально: из&nbsp;неотапливаемого тамбура в&nbsp;дом
            .entrance-poster__cap
                .entrance-poster__number 01
                h2.entrance-poster__title Лучше место для установки&nbsp;&mdash; из&nbsp;вентилируемого тамбура в&nbsp;дом
                p.entrance-poster__text Так входная дверь будет защищена от&nbsp;агрессивных атмосферных факторов: дождя, снега, ветра, прямых солнечных лучей.

        .entrance-poster__slide
            .entrance-poster__bg
                img(src="static/images/content/entrance/poster-2.jpg")
            .entrance-poster__upper
                .entrance-poster__block
                    .entrance-poster__number 02
                    h2.entrance-poster__title Допустимо: с&nbsp;улицы на&nbsp;вход в&nbsp;тамбур
            .entrance-poster__cap
                .entrance-poster__number 02
                h2.entrance-poster__title Допустимое место для установки&nbsp;&mdash; с&nbsp;улицы в&nbsp;тамбур
                p.entrance-poster__text На&nbsp;входе из&nbsp;тамбура в&nbsp;дом необходима ещё одна дверь. Тамбур должен быть вентилируемым: это снизит вероятность выпадения конденсата на&nbsp;поверхности изделия. Для лучшей теплозащиты необходим терморазрыв по&nbsp;коробке.

        .entrance-poster__slide
            .entrance-poster__bg
                img(src="static/images/content/entrance/poster-3.jpg")
            .entrance-poster__upper
                .entrance-poster__block
                    .entrance-poster__number 03
                    h2.entrance-poster__title Возможно: монтаж на&nbsp;вход с&nbsp;улицы в&nbsp;дом
            .entrance-poster__cap
                .entrance-poster__number 03
                h2.entrance-poster__title Возможное место для установки&nbsp;&mdash; с&nbsp;улицы в&nbsp;дом
                p.entrance-poster__text Обязательно обустройте козырёк для защиты замков и&nbsp;петель от&nbsp;высыхания смазки, а&nbsp;декоративные панели двери от&nbsp;попадания солнечного света, снега и&nbsp;дождя. Рекомендуется установка терморазрыва полотна и&nbsp;коробки.



    .entrance-variant
        .container
            .row
                .col-xl-4.col-lg-5.col-md-9.entrance-variant__first
                    h2.entrance-variant__title Варианты комплектации выбранной двери
                    p.entrance-variant__text Комплектация двери влияет на&nbsp;технические характеристики: толщину металла, утепление полотна, уровень защиты от&nbsp;шума, холодного воздуха и&nbsp;посторонних запахов.
                    .entrance-variant__choose(data-js-choose)
                        span.entrance-variant__choose-name
                        img(src='static/images/content/entrance/min-arrow-down.svg', alt='').entrance-variant__choose-arrow
                    .entrance-variant__over
                        ul.entrance-variant__tabs
                            li(data-tab-item="1").entrance-variant__list.entrance-variant__list--active Базовая — от 500 руб.
                            li(data-tab-item="2").entrance-variant__list Оптимальная — от 800 руб.
                            li(data-tab-item="3").entrance-variant__list Усиленная — от 1 320 руб.
                    a(href="#").entrance-variant__link отличия комплектаций
                .col-xl-8.col-lg-6.col-md-6.entrance-variant__second
                    .entrance-variant__center
                        .entrance-variant__page.entrance-variant__page--active(data-tab-img='1')
                            img(src='static/images/content/entrance/variant.png', alt='').entrance-variant__img
                        .entrance-variant__page(data-tab-img='2')
                            img(src='static/images/content/entrance/variant.png', alt='').entrance-variant__img
                        .entrance-variant__page(data-tab-img='3')
                            img(src='static/images/content/entrance/variant.png', alt='').entrance-variant__img
                .col-xl-4.offset-xl-0.offset-lg-1.col-lg-4.col-md-9.entrance-variant__third
                    .entrance-variant__block.entrance-variant__block--active(data-tab-block='1')
                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-1.svg', alt='')
                            .entrance-variant__descr 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не пропускают посторонний шум и&nbsp;запахи.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-2.svg', alt='')
                            .entrance-variant__descr Уровень шумоизоляции&nbsp;&mdash; до&nbsp;40&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту травы.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-3.svg', alt='')
                            .entrance-variant__descr Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.

                    .entrance-variant__block.top(data-tab-block='2')
                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-1.svg', alt='')
                            .entrance-variant__descr 3&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не пропускают посторонний шум и&nbsp;запахи.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-2.svg', alt='')
                            .entrance-variant__descr Уровень шумоизоляции&nbsp;&mdash; до&nbsp;40&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту травы.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-3.svg', alt='')
                            .entrance-variant__descr Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.

                    .entrance-variant__block.top(data-tab-block='3')
                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-1.svg', alt='')
                            .entrance-variant__descr 4&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не пропускают посторонний шум и&nbsp;запахи.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-2.svg', alt='')
                            .entrance-variant__descr Уровень шумоизоляции&nbsp;&mdash; до&nbsp;40&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту травы.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-3.svg', alt='')
                            .entrance-variant__descr Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                    .entrance-variant__wrap
                        a(href="#").entrance-variant__link.mobile отличия комплектаций

    .entrance-variant
        .container
            .row
                .col-xl-4.col-lg-5.col-md-9.entrance-variant__first
                    h2.entrance-variant__title Варианты комплектации выбранной двери
                    p.entrance-variant__text Комплектация двери влияет на&nbsp;технические характеристики: толщину металла, утепление полотна, уровень защиты от&nbsp;шума, холодного воздуха и&nbsp;посторонних запахов.
                    .entrance-variant__choose(data-js-choose)
                        span.entrance-variant__choose-name
                        img(src='static/images/content/entrance/min-arrow-down.svg', alt='').entrance-variant__choose-arrow
                    .entrance-variant__over
                        ul.entrance-variant__tabs
                            li(data-tab-item="1").entrance-variant__list.entrance-variant__list--active Базовая — от 500 руб.
                            li(data-tab-item="2").entrance-variant__list Оптимальная — от 800 руб.
                            li(data-tab-item="3").entrance-variant__list Усиленная — от 1 320 руб.
                    a(href="#").entrance-variant__link отличия комплектаций
                .col-xl-8.col-lg-6.col-md-6.entrance-variant__second
                    .entrance-variant__center
                        .entrance-variant__page.entrance-variant__page--active(data-tab-img='1')
                            img(src='static/images/content/entrance/variant-big.jpg', alt='').entrance-variant__img
                        .entrance-variant__page(data-tab-img='2')
                            img(src='static/images/content/entrance/variant-big.jpg', alt='').entrance-variant__img
                        .entrance-variant__page(data-tab-img='3')
                            img(src='static/images/content/entrance/variant-big.jpg', alt='').entrance-variant__img
                .col-xl-4.offset-xl-0.offset-lg-1.col-lg-4.col-md-9.entrance-variant__third
                    .entrance-variant__block.entrance-variant__block--active(data-tab-block='1')
                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-1.svg', alt='')
                            .entrance-variant__descr 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не пропускают посторонний шум и&nbsp;запахи.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-2.svg', alt='')
                            .entrance-variant__descr Уровень шумоизоляции&nbsp;&mdash; до&nbsp;40&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту травы.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-3.svg', alt='')
                            .entrance-variant__descr Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.

                    .entrance-variant__block.top(data-tab-block='2')
                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-1.svg', alt='')
                            .entrance-variant__descr 3&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не пропускают посторонний шум и&nbsp;запахи.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-2.svg', alt='')
                            .entrance-variant__descr Уровень шумоизоляции&nbsp;&mdash; до&nbsp;40&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту травы.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-3.svg', alt='')
                            .entrance-variant__descr Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.

                    .entrance-variant__block.top(data-tab-block='3')
                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-1.svg', alt='')
                            .entrance-variant__descr 4&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не пропускают посторонний шум и&nbsp;запахи.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-2.svg', alt='')
                            .entrance-variant__descr Уровень шумоизоляции&nbsp;&mdash; до&nbsp;40&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту травы.

                        .entrance-variant__mini
                            .entrance-variant__icon
                                img(src='static/images/content/entrance/variant-i-3.svg', alt='')
                            .entrance-variant__descr Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                    .entrance-variant__wrap
                        a(href="#").entrance-variant__link.mobile отличия комплектаций

    .entrance-size
        .container
            .row
                .col-xl-10.col-lg-10.col-md-6
                    .entrance-size__mobile
                        h2.entrance-size__title Входная дверь в&nbsp;дом по&nbsp;индивидуальному размеру
                        p.entrance-size__text Нестандартный размер проёма&nbsp;&mdash; возможность подчеркнуть статусность дома и&nbsp;найти интересное решение среди моделей с&nbsp;боковыми доборами и&nbsp;фрамугами.
                    img(src='static/images/content/entrance/size-1.jpg', alt='').entrance-size__img
                .offset-xl-1.col-xl-5.offset-lg-1.col-lg-5.offset-md-0.col-md-10
                    .entrance-size__block
                        h2.entrance-size__title Входная дверь в&nbsp;дом по&nbsp;индивидуальному размеру
                        p.entrance-size__text Нестандартный размер проёма&nbsp;&mdash; возможность подчеркнуть статусность дома и&nbsp;найти интересное решение среди моделей с&nbsp;боковыми доборами и&nbsp;фрамугами.
                    figure.entrance-size__figure
                        img(src='static/images/content/entrance/size-2.svg', alt='').entrance-size__example
                        figcaption.entrance-size__figcaption Виды, размеры доборов и&nbsp;фрамуг меняются в&nbsp;зависимости от&nbsp;параметров проёма.


    .entrance-choose
        .container
            .row
                .col-16
                    h2.entrance-choose__title Выбирайте цвет и материал, который вам нравится
                    .entrance-choose__block
                        .entrance-choose__left
                            .entrance-variant__choose(data-js-material)
                                span.entrance-variant__choose-name
                                img(src='static/images/content/entrance/min-arrow-down.svg', alt='').entrance-variant__choose-arrow
                            p.entrance-choose__tip
                            ul.entrance-choose__list
                                li.entrance-choose__item.entrance-choose__item--active(data-choose-tab='1')
                                    span.entrance-choose__name ПВХ
                                    p.entrance-choose__descr Сохраняет изначальный внешний вид десятки лет. Для ухода за&nbsp;материалом не&nbsp;требуются специальные чистящие средства.

                                li.entrance-choose__item(data-choose-tab='2')
                                    span.entrance-choose__name ПВХ с патинированием
                                    p.entrance-choose__descr Сохраняет изначальный внешний вид десятки лет2.

                                li.entrance-choose__item(data-choose-tab='3')
                                    span.entrance-choose__name Экошпон
                                    p.entrance-choose__descr Сохраняет изначальный внешний вид десятки лет3.

                                li.entrance-choose__item
                                    span.entrance-choose__name Экошпон Premium
                                    p.entrance-choose__descr Сохраняет изначальный внешний вид десятки лет4.

                                li.entrance-choose__item
                                    span.entrance-choose__name Экошпон Premium с патинированием
                                    p.entrance-choose__descr Сохраняет изначальный внешний вид десятки лет5.

                                li.entrance-choose__item
                                    span.entrance-choose__name SteelTex
                                    p.entrance-choose__descr Сохраняет изначальный внешний вид десятки лет6.

                                li.entrance-choose__item
                                    span.entrance-choose__name SteelTex с патинированием
                                    p.entrance-choose__descr Сохраняет изначальный внешний вид десятки лет7.

                                li.entrance-choose__item
                                    span.entrance-choose__name SteelLak
                                    p.entrance-choose__descr Сохраняет изначальный внешний вид десятки лет8.

                                li.entrance-choose__item
                                    span.entrance-choose__name SteelLak с патинированием
                                    p.entrance-choose__descr Сохраняет изначальный внешний вид десятки лет9.

                                li.entrance-choose__item
                                    span.entrance-choose__name Soft Touch
                                    p.entrance-choose__descr Сохраняет изначальный внешний вид десятки лет10.


                        .entrance-choose__wrap
                            .entrance-choose__right.entrance-choose__right--active(data-choose-carousel='1')
                                .entrance-choose__carousel
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-1.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-2.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-1.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-2.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»

                                .entrance-choose__controll
                                    .entrance-choose__numbers
                                    .entrance-choose__arrows
                                        .entrance-choose__arrows-left
                                            include ../static/images/content/entrance/arrow-l.svg
                                        .entrance-choose__arrows-right
                                            include ../static/images/content/entrance/arrow-r.svg

                            .entrance-choose__right(data-choose-carousel='2')
                                .entrance-choose__carousel
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-1.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-2.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-1.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-2.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»

                                .entrance-choose__controll
                                    .entrance-choose__numbers
                                    .entrance-choose__arrows
                                        .entrance-choose__arrows-left
                                            include ../static/images/content/entrance/arrow-l.svg
                                        .entrance-choose__arrows-right
                                            include ../static/images/content/entrance/arrow-r.svg

                            .entrance-choose__right(data-choose-carousel='3')
                                .entrance-choose__carousel
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-1.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-2.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-1.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»
                                    .entrance-choose__slide
                                        img(src='static/images/content/entrance/choose-2.png', alt='')
                                        .entrance-choose__slide-name PVC
                                        .entrance-choose__slide-color «Дуб миндальный»

                                .entrance-choose__controll
                                    .entrance-choose__numbers
                                    .entrance-choose__arrows
                                        .entrance-choose__arrows-left
                                            include ../static/images/content/entrance/arrow-l.svg
                                        .entrance-choose__arrows-right
                                            include ../static/images/content/entrance/arrow-r.svg


    .entrance-action
        .container
            .row
                include modules/action

    .entrance-furniture
        .container
            .row
                .col-16
                    h2.entrance-furniture__title Надёжная фурнитура с&nbsp;защитой от&nbsp;влаги и&nbsp;мороза
            .row
                .col-xl-11.col-lg-11.col-md-16
                    img(src='static/images/content/entrance/furniture.jpg', alt='').entrance-furniture__img
                .offset-xl-1.col-xl-4.col-lg-5.entrance-furniture__col
                    .entrance-furniture__block
                        h3.entrance-furniture__subtitle Ручка Hoppe NY
                        .entrance-furniture__tip Входит в среднюю комплектацию
                        p.entrance-furniture__text Ручка в&nbsp;цвете &laquo;Матовый хром&raquo;. Изготовлена из&nbsp;алюминия. Благодаря специальному покрытию Resista ручка долго служит, не&nbsp;ржавеет и&nbsp;не&nbsp;окисляется из-за влаги.

                    .entrance-furniture__block.entrance-furniture__block--last
                        h3.entrance-furniture__subtitle Немецкий замок Siegenia с&nbsp;цилиндром Kale
                        .entrance-furniture__tip Входит в среднюю комплектацию
                        p.entrance-furniture__text По&nbsp;всей высоте полотна установлены четыре усиленные зажима-цапфы. Они обеспечивают оптимальное затяжное усилие для закрывания двери. Корпус цилиндра защищён от&nbsp;взламывания и&nbsp;выбивания.
                        p.entrance-furniture__text.entrance-furniture__text--last Дополнительно можно установить второй замок Maco с&nbsp;цилиндром Kale

            .row
                .col-xl-5.col-lg-4.col-md-4
                    .entrance-complect__item
                        img(src='static/images/content/entrance/complect-3.png', alt='').entrance-complect__img
                        h3.entrance-complect__title Австрийский замок Maco с&nbsp;цилиндром Securemme
                        .entrance-complect__subtitle Входит в максимальную комплектацию
                        p.entrance-complect__text При закрывании замка &laquo;крюки-штыри&raquo; входят в&nbsp;отверстия ответной планки короба и&nbsp;вместе с&nbsp;ригелями цилиндра защищают от&nbsp;механического взлома.

                .col-xl-11.offset-xl-0.offset-lg-1.col-lg-11.offset-md-0.col-md-12
                    .entrance-complect__block
                        .entrance-complect__item.entrance-complect__item--left
                            img(src='static/images/content/entrance/complect-1.jpg', alt='').entrance-complect__img.entrance-complect__door
                            h3.entrance-complect__title Ручка GreenteQ
                            .entrance-complect__subtitle.entrance-complect__subtitle--big Входит в максимальную комплектацию
                            p.entrance-complect__text Изготовлена из&nbsp;нержавеющей стали. Устойчива при частых и&nbsp;сильных нагрузках. Сплошная стальная накладка шириной 35&nbsp;мм препятствует высверливанию цилиндра.

                        .entrance-complect__item
                            img(src='static/images/content/entrance/complect-2.jpg', alt='').entrance-complect__img.entrance-complect__door
                            h3.entrance-complect__title Ручка-рейлинг
                            .entrance-complect__subtitle.entrance-complect__subtitle--big + 90 рублей к оптимальной комплектации
                            p.entrance-complect__text Ручку устанавливают снаружи, а&nbsp;внутри остаётся нажимная ручка GreenteQ. Защёлка &laquo;день-ночь&raquo; на&nbsp;ручке-рейлинг позволяет открывать незапертую дверь без ключа.


    .entrance-defence
        .container.entrance-defence__container
            .row
                .col-16
                    h2.entrance-defence__title Усиливайте защиту двери с&nbsp;помощью замков
            .row
                .col-16
                    .entrance-defence__block
                        .entrance-variant__choose(data-js-defence)
                            span.entrance-variant__choose-name
                            img(src='static/images/content/entrance/min-arrow-down.svg', alt='').entrance-variant__choose-arrow
                        .entrance-defence__left
                            .entrance-defence__over
                                .entrance-defence__item.entrance-defence__item--active(data-defence-tab='1') Optima
                                .entrance-defence__item(data-defence-tab='2') Optima Plus
                        .entrance-defence__center
                            img(src='static/images/content/entrance/defence.png', alt='', data-defence-img='1').entrance-defence__img
                            img(src='static/images/content/entrance/defence.png', alt='', data-defence-img='2').entrance-defence__img
                        .entrance-defence__right(data-defence-page='1')
                            ul.entrance-defence__list.mobile
                                li.entrance-defence__bonus + 55 рублей к оптимальной и усиленной комплектации
                                li.entrance-defence__bonus + 35 рублей к стоимости максимальной комплектации
                            .entrance-defence__top
                                .entrance-defence__tech
                                    .entrance-defence__single
                                        .entrance-defence__name Верхний замок
                                        .entrance-defence__product Kale 257L
                                    .entrance-defence__single
                                        .entrance-defence__name нижний замок
                                        .entrance-defence__product Kale 252R
                                    .entrance-defence__single
                                        .entrance-defence__name цилиндр
                                        .entrance-defence__product Kale
                                    .entrance-defence__single
                                        .entrance-defence__name Производство
                                        .entrance-defence__product Турция
                                p.entrance-defence__text Комплект из&nbsp;сувальдного и&nbsp;цилиндрового замков. Соответствуют 3-му и&nbsp;4-му, высшему, классу безопасности. Защищены от&nbsp;высверливания, фрезерования и&nbsp;вбивания ригелей внутрь. Благодаря приводу ручки с&nbsp;подшипником, замки работают плавно и&nbsp;мягко.

                            .entrance-defence__bottom
                                p.entrance-defence__tip Устанавливаем в&nbsp;двери оптимальной, усиленной и&nbsp;максимальной комплектации.
                                ul.entrance-defence__list
                                    li.entrance-defence__bonus + 55 рублей к оптимальной и усиленной комплектации
                                    li.entrance-defence__bonus + 35 рублей к стоимости максимальной комплектации

                        .entrance-defence__right(data-defence-page='2')
                            .entrance-defence__top
                                ul.entrance-defence__list.mobile
                                    li.entrance-defence__bonus + 55 рублей к оптимальной и усиленной комплектации
                                    li.entrance-defence__bonus + 35 рублей к стоимости максимальной комплектации
                                .entrance-defence__tech
                                    .entrance-defence__single
                                        .entrance-defence__name Верхний замок
                                        .entrance-defence__product Kale 257L
                                    .entrance-defence__single
                                        .entrance-defence__name нижний замок
                                        .entrance-defence__product Kale 252R
                                    .entrance-defence__single
                                        .entrance-defence__name цилиндр
                                        .entrance-defence__product Kale
                                    .entrance-defence__single
                                        .entrance-defence__name Производство
                                        .entrance-defence__product Турция
                                p.entrance-defence__text Комплект из&nbsp;сувальдного и&nbsp;цилиндрового замков. Соответствуют 3-му и&nbsp;4-му, высшему, классу безопасности. Защищены от&nbsp;высверливания, фрезерования и&nbsp;вбивания ригелей внутрь. Благодаря приводу ручки с&nbsp;подшипником, замки работают плавно и&nbsp;мягко.

                            .entrance-defence__bottom
                                p.entrance-defence__tip Устанавливаем в&nbsp;двери оптимальной, усиленной и&nbsp;максимальной комплектации.
                                ul.entrance-defence__list
                                    li.entrance-defence__bonus + 55 рублей к оптимальной и усиленной комплектации
                                    li.entrance-defence__bonus + 35 рублей к стоимости максимальной комплектации

    .entrance-level
        .container
            .row
                .col-16
                    .entrance-level__block
                        .entrance-level__left
                            h2.entrance-level__title Новый уровень безопасности вашего дома
                            p.entrance-level__text В&nbsp;любые замки устанавливаем усиленный цилиндр Abus. Штифты из&nbsp;калённой стали и&nbsp;защитная пластина не&nbsp;дают высверлить серцевину замка. Пины образуют 100&nbsp;000 секретных кодов, поэтому открыть замок отмычкой практически невозможно.
                            p.entrance-level__text С&nbsp;Abus комфортно: разные замки с&nbsp;такими цилиндрами может открывать один ключ.
                            .entrance-level__banner
                                img(src='static/images/content/entrance/germany.svg', alt='').entrance-level__pic
                                .entrance-level__country Сделано в&nbsp;Германии
                        .entrance-level__right
                            .entrance-level__arrows
                                .arrow.entrance-level__arrows-left
                                    include ../static/images/content/entrance/level-arrow-left.svg
                                .arrow.entrance-level__arrows-right
                                    include ../static/images/content/entrance/level-arrow-right.svg
                            .entrance-level__slider
                                .entrance-level__item
                                    .entrance-level__stars
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star

                                    img(src='static/images/content/entrance/lock.svg', alt='').entrance-level__img
                                    .entrance-level__over
                                        h3.entrance-level__subtitle Система M12R
                                        .entrance-level__base Базовая степень защиты
                                        p.entrance-level__about 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                        p.entrance-level__about подходит для создания мастер-системы, когда все замки открываются одним ключом
                                        .entrance-level__price + 160 рублей

                                .entrance-level__item
                                    .entrance-level__stars
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                    img(src='static/images/content/entrance/lock.svg', alt='').entrance-level__img
                                    .entrance-level__over
                                        h3.entrance-level__subtitle Система M12R
                                        .entrance-level__base Базовая степень защиты
                                        p.entrance-level__about 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                        p.entrance-level__about подходит для создания мастер-системы, когда все замки открываются одним ключом
                                        .entrance-level__price + 160 рублей

                                .entrance-level__item
                                    .entrance-level__stars
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                    img(src='static/images/content/entrance/lock.svg', alt='').entrance-level__img
                                    .entrance-level__over
                                        h3.entrance-level__subtitle Система M12R
                                        .entrance-level__base Базовая степень защиты
                                        p.entrance-level__about 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                        p.entrance-level__about подходит для создания мастер-системы, когда все замки открываются одним ключом
                                        .entrance-level__price + 160 рублей

                                .entrance-level__item
                                    .entrance-level__stars
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star

                                    img(src='static/images/content/entrance/lock.svg', alt='').entrance-level__img
                                    .entrance-level__over
                                        h3.entrance-level__subtitle Система M12R
                                        .entrance-level__base Базовая степень защиты
                                        p.entrance-level__about 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                        p.entrance-level__about подходит для создания мастер-системы, когда все замки открываются одним ключом
                                        .entrance-level__price + 160 рублей

                                .entrance-level__item
                                    .entrance-level__stars
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                        img(src='static/images/content/entrance/star.svg', alt='').entrance-level__star
                                    img(src='static/images/content/entrance/lock.svg', alt='').entrance-level__img
                                    .entrance-level__over
                                        h3.entrance-level__subtitle Система M12R
                                        .entrance-level__base Базовая степень защиты
                                        p.entrance-level__about 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                        p.entrance-level__about подходит для создания мастер-системы, когда все замки открываются одним ключом
                                        .entrance-level__price + 160 рублей


    .entrance-step
        .container
            .row
                .col-16
                    include ./modules/steps


    .entrance-comments
        .container
            .row
                .col-16
                    include ./modules/comments

            .row
                .col-16
                    .entrance-similar
                        img(src='static/images/content/entrance/similar-1.jpg', alt='').entrance-similar__img
                        .entrance-similar__block
                            h2.entrance-similar__title Входная и&nbsp;межкомнатные двери в&nbsp;одном стиле
                            .entrance-similar__right
                                p.entrance-similar__text При выборе входной двери можно заказать сразу межкомнатные с&nbsp;похожей или такой&nbsp;же отделкой.
                                a(href="").entrance-similar__link посмотреть презентацию


    script(src="static/js/pages/entrance-page.js", defer)
