extends template/main

block variables
    - var title = 'Входная и межкомнатные двери в одном стиле';
    - var headerGrayBackground = false;
    - var headerGrayBackgroundBig = false;
    - var headerWhite = true;

block content
    .interior
        section.interior-first.interior-first--single.interior-first--bivalve
            .container
                .row
                    .col-16
                        .interior-first__wrap
                            //.interior-first__description
                                .interior-first__controll
                                    .interior-first__breadcrumbs
                                    .breadcrumbs__wrap
                                        a(href="#").breadcrumbs__link Главная
                                        a(href="#").breadcrumbs__link.breadcrumbs__link--active В экошпоне
                                    h1.interior-first__title Межкомнатная дверь ЛП15
                                .interior-first__table
                                    .interior-first__row
                                        .interior-first__char срок изготовления
                                        .interior-first__val
                                            span.interior-first__simple 45 дней
                                    .interior-first__row
                                        .interior-first__char производитель
                                        .interior-first__val
                                            .interior-first__brand
                                                img(src='static/images/content/interior/interior-brand.svg', alt='').interior-first__brand-logo
                                                p.interior-first__brand-text Под брендом объединились белорусские производители межкомнатных дверей. Более 500 моделей в&nbsp;шпоне, экошпоне, эмали и&nbsp;глянце, с&nbsp;остеклением и&nbsp;глухие, с&nbsp;декоративными вставками и&nbsp;витражами подчеркнут классические и&nbsp;современные интерьеры.
                                            span.interior-first__simple ProfilDoors

                                .interior-first__mobile
                                    .entrance-item__price
                                        .entrance-item__price-new от 1685 руб.
                                        .entrance-item__price-old 2456 руб.

                                    .interior-first__offer
                                        .entrance-item__btn.interior-first__add Добавить к заказу
                                        a(href="#").entrance-item__btn.interior-first__form перейти к оформлению



                            .interior-first__picture
                                img(src='static/images/content/interior/interior-bivalve.jpg', alt='').interior-first__door.js-first-screen
                                span.entrance-item__name Строганный шпон, Американский орех

                            .interior-first__variant
                                .interior-first__block
                                    .entrance-item__new
                                        include ../static/images/content/entrance/new.svg
                                    .interior-first__mobile.interior-first__none
                                        .interior-first__breadcrumbs
                                        .breadcrumbs__wrap
                                            a(href="#").breadcrumbs__link Главная
                                            a(href="#").breadcrumbs__link.breadcrumbs__link--active В экошпоне
                                        h1.interior-first__title Межкомнатная дверь ЛП15
                                    h3.interior-first__subtitle Варианты исполнения
                                    .interior-first__section
                                        .interior-first__item
                                            .interior-first__material Эмаль
                                            .interior-first__colors
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single.jpg')
                                                    .interior-first__tip Лакобель, 4 мм

                                                .interior-first__color.interior-first__color--active.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                    .interior-first__tip Лакобель, 5 мм

                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single.jpg')
                                                    .interior-first__tip Лакобель, 6 мм


                                    h3.interior-first__subtitle Стекло
                                    .interior-first__section
                                        .interior-first__item
                                            .interior-first__material Каленое стекло
                                            .interior-first__colors.interior-first--square
                                                .interior-first__color.interior-first__color--active
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')

                                        .interior-first__item
                                            .interior-first__material Каленое стекло
                                            .interior-first__colors.interior-first--square
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.interior-first__color--active
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')


                                    .interior-first__controll
                                        .entrance-item__price
                                            .entrance-item__price-new от 1685 руб.
                                            .entrance-item__price-old 2456 руб.


                                        .interior-first__offer
                                            .entrance-item__btn.interior-first__add Добавить к заказу
                                            a(href="#").entrance-item__btn.interior-first__form перейти к оформлению


        section.interior-first.interior-first--single.interior-first--simple
            .container
                .row
                    .col-16
                        .interior-first__wrap
                            .interior-first__description
                                .interior-first__controll
                                    .interior-first__breadcrumbs
                                    .breadcrumbs__wrap
                                        a(href="#").breadcrumbs__link Главная
                                        a(href="#").breadcrumbs__link.breadcrumbs__link--active В экошпоне
                                    h1.interior-first__title Межкомнатная дверь ЛП15
                                .interior-first__table
                                    .interior-first__row
                                        .interior-first__char срок изготовления
                                        .interior-first__val
                                            span.interior-first__simple 45 дней
                                    .interior-first__row
                                        .interior-first__char производитель
                                        .interior-first__val
                                            .interior-first__brand
                                                img(src='static/images/content/interior/interior-brand.svg', alt='').interior-first__brand-logo
                                                p.interior-first__brand-text Под брендом объединились белорусские производители межкомнатных дверей. Более 500 моделей в&nbsp;шпоне, экошпоне, эмали и&nbsp;глянце, с&nbsp;остеклением и&nbsp;глухие, с&nbsp;декоративными вставками и&nbsp;витражами подчеркнут классические и&nbsp;современные интерьеры.
                                            span.interior-first__simple ProfilDoors

                                .interior-first__mobile
                                    .entrance-item__price
                                        .entrance-item__price-new от 1685 руб.
                                        .entrance-item__price-old 2456 руб.

                                    .interior-first__offer
                                        .entrance-item__btn.interior-first__add Добавить к заказу
                                        a(href="#").entrance-item__btn.interior-first__form перейти к оформлению



                            .interior-first__picture
                                img(src='static/images/content/interior/interior-single.jpg', alt='').interior-first__door.js-first-screen
                                span.entrance-item__name Строганный шпон, Американский орех

                            .interior-first__variant
                                .interior-first__block
                                    .entrance-item__new
                                        include ../static/images/content/entrance/new.svg
                                    .interior-first__mobile.interior-first__none
                                        .interior-first__breadcrumbs
                                        .breadcrumbs__wrap
                                            a(href="#").breadcrumbs__link Главная
                                            a(href="#").breadcrumbs__link.breadcrumbs__link--active В экошпоне
                                        h1.interior-first__title Межкомнатная дверь ЛП15
                                    h3.interior-first__subtitle Варианты исполнения
                                    .interior-first__section
                                        .interior-first__item
                                            .interior-first__material Эмаль
                                            .interior-first__colors
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single.jpg')
                                                    .interior-first__tip Лакобель, 4 мм

                                                .interior-first__color.interior-first__color--active.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                    .interior-first__tip Лакобель, 5 мм

                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single.jpg')
                                                    .interior-first__tip Лакобель, 6 мм

                                        .interior-first__item
                                            .interior-first__material Шпон и эмаль
                                            .interior-first__colors
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.interior-first__color--active

                                        .interior-first__item
                                            .interior-first__material Строганный шпон
                                            .interior-first__colors
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.interior-first__color--active
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')

                                    h3.interior-first__subtitle Стекло
                                    .interior-first__section
                                        .interior-first__item
                                            .interior-first__material Каленое стекло
                                            .interior-first__colors.interior-first--square
                                                .interior-first__color.interior-first__color--active
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')

                                        .interior-first__item
                                            .interior-first__material Каленое стекло
                                            .interior-first__colors.interior-first--square
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.interior-first__color--active
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')

                                        .interior-first__item
                                            .interior-first__material Каленое стекло
                                            .interior-first__colors.interior-first--square
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.interior-first__color--active

                                        .interior-first__item
                                            .interior-first__material Каленое стекло
                                            .interior-first__colors.interior-first--square
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')
                                                .interior-first__color.js-item-color(data-item-color='static/images/content/interior/interior-single-2.png')

                                    .interior-first__controll
                                        .entrance-item__price
                                            .entrance-item__price-new от 1685 руб.
                                            .entrance-item__price-old 2456 руб.


                                        .interior-first__offer
                                            .entrance-item__btn.interior-first__add Добавить к заказу
                                            a(href="#").entrance-item__btn.interior-first__form перейти к оформлению


        .entrance-view
            .container
                .row
                    .col-16
                        .entrance-view__block
                            h2.entrance-view__title Посмотрите образец по адресу
                            .entrance-view__address пр-те Дзержинского, 125
                            .entrance-view__address пр-те Олешева, 1
                            .entrance-view__img
            img(src='static/images/content/entrance/view-m.png', alt='').entrance-view__bg


        .interior-standarts
            .container
                .row
                    .col-16
                        h2.interior-standarts__title Предлагаем решения для нестандартных проёмов
                .row
                    .col-16
                        .interior-standarts__wrap
                            .interior-standarts__item
                                .interior-standarts__number 01
                                .interior-standarts__name Размер под заказ
                                img(src='static/images/content/interior/st-1.svg', alt='').interior-standarts__img
                                p.interior-standarts__descr Максимальная высота дверного полотна под заказ&nbsp;&mdash; 2700&nbsp;мм, ширина&nbsp;&mdash; 1030&nbsp;мм.

                            .interior-standarts__item
                                .interior-standarts__number 02
                                .interior-standarts__name Двустворчатая дверь
                                img(src='static/images/content/interior/st-2.svg', alt='').interior-standarts__img
                                p.interior-standarts__descr Оптимальное решение для проёмов шириной более 1200&nbsp;мм. Двустворчатая дверь состоит из&nbsp;двух полотен.

                            .interior-standarts__item
                                .interior-standarts__number 03
                                .interior-standarts__name Фрамуги
                                img(src='static/images/content/interior/st-3.svg', alt='').interior-standarts__img
                                p.interior-standarts__descr Декоративные элементы устанавливают сбоку или над дверным полотном. Дизайнер подберёт материал и&nbsp;вид для фрамуги.


        .interior-complete
            .container
                .row
                    .col-16
                        .interior-complete__wrap
                            .interior-complete__left
                                h2.interior-complete__title Дополняйте образ двери доборами
                                p.interior-complete__text Доборы закрывают торцевые стенки, укрепляют короб и&nbsp;не&nbsp;дают ему расшататься. Служат для стыковки дверной коробки и&nbsp;наличника, когда толщина стены больше 9&nbsp;см. Необходимость заказа доборов определяет мастер на&nbsp;этапе замера проёма.
                                a(href="#").interior-complete__link двери с добрами

                            .interior-complete__right
                                figure.interior-complete__figure
                                    .interior-complete__block
                                        img(src='static/images/content/interior/com-1.svg', alt='').interior-complete__img
                                    figcaption.interior-complete__figcaption Доборы сочетаются со&nbsp;стилем и&nbsp;цветом двери. Их&nbsp;помогает подобрать менеджер, устанавливает мастер на&nbsp;этапе монтажа.

                                figure.interior-complete__figure
                                    .interior-complete__block
                                        img(src='static/images/content/interior/com-2.svg', alt='').interior-complete__img
                                    figcaption.interior-complete__figcaption Без доборов откосы выглядят неэстетично. Потребуется самостоятельно отделать их&nbsp;штукатуркой или другим материалом.
        .interior-colors
            .container
                .row
                    .col-16
                        .interior-colors__wrap
                            h2.interior-colors__title 196 цветов эмали под заказ
                            p.interior-colors__text Классические и&nbsp;современные двери в&nbsp;эмали можно окрасить в&nbsp;любой цвет палитры RAL Classic за&nbsp;дополнительную плату. Благодаря богатому ряду оттенков легко воплотить даже самые смелые интерьерные задумки в&nbsp;жизнь.
                            .interior-colors__icon
                                include ../static/images/icons/italy.svg
                            a(href="#").interior-colors__link открыть каталог

        .interior-classic
           .container
               .row
                    .offset-xl-1.col-xl-9
                        .interior-classic__left
                            img(src='static/images/content/interior/classic.jpg', alt='').interior-classic__pic
                    .offset-xl-1.col-xl-4





    script(src="static/js/pages/entrance-page.js", defer)




