extends template/main

block variables
    - var title = 'Карточка входная концепт';
    - var headerGrayBackground = false;
    - var headerGrayBackgroundBig = false;
    - var invisibleFirst = true;

block content
    .entrance-concept.invisible-page
        section.entrance-item.entrance-item--first.entrance-single
            .container
                .row
                    .offset-xl-8.col-xl-6.offset-lg-7.col-lg-8.offset-md-0.col-md-16
                        .entrance-item__card
                            .entrance-item__nav
                                a(href="#").entrance-item__link Главная
                                a(href="#").entrance-item__link Межкомнтатные двери
                                a(href="#").entrance-item__link Дверь-невидимка
                            h1.entrance-item__title Дверь-невидимка РДА10
                            img(src='static/images/content/invisible/first-bg.jpg', alt='').entrance-item__concept-img
                            .entrance-item__info
                                span.entrance-item__element Под заказ до 45 рабочих  дней

                            .invisible-row
                                p.entrance-item__about Для двери с&nbsp;такой фрезеровкой можно выбрать комплектацию: базовую, оптимальную, усиленную или максимальную. Это влияет на&nbsp;уровень защиты двери, возможные материалы и&nbsp;цвет отделки.

                                p.entrance-item__address
                                    | Примеры дверей-невидимок установлены в&nbsp;фирменных салонах на&nbsp;
                                    a(href="") пр-те Дзержинского, 122&nbsp;
                                    | и&nbsp;
                                    a(href="") Кальварийской, 7Б, ТЦ&nbsp;&laquo;Трюм&raquo;

                            .entrance-item__price
                                .entrance-item__price-actual от 1685 руб.

                            .interior-first__table
                                .interior-first__row
                                    .interior-first__char количество
                                    .interior-first__val
                                        .interior-first__counter
                                            .minus.button
                                                include ../static/images/content/invisible/minus.svg
                                            .number 1
                                            .plus.button
                                                include ../static/images/content/invisible/plus.svg

                                .interior-first__row.interior-first__move
                                    .interior-first__char что входит в стоимость
                                    .interior-first__val
                                        include ../static/images/content/invisible/arrow-down.svg

                            a(href="#").entrance-item__btn Добавить к заказу

                            p.entrance-item__address.entrance-item__address--mobile
                                | Примеры дверей-невидимок установлены в&nbsp;фирменных салонах на&nbsp;
                                a(href="") пр-те Дзержинского, 122&nbsp;
                                | и&nbsp;
                                a(href="") Кальварийской, 7Б, ТЦ&nbsp;&laquo;Трюм&raquo;




        .entrance-action
            .container
                .row
                    include modules/action


        .invisible-continue
            .container
                .row.invisible-continue__row
                    .col-xl-7.col-lg-7.col-md-8.invisible-continue__left
                        .invisible-continue__picture
                            img(src='static/images/content/invisible/continue.jpg', alt='')

                    .offset-xl-1.col-xl-7.offset-lg-1.col-lg-7.col-md-8.offset-md-0.invisible-continue__right
                        h2.invisible-continue__title Дверь-невидимка — продолжение интерьера
                        p.invisible-continue__text У&nbsp;скрытой двери нет наличников и&nbsp;традиционной коробки. Такая конструкция не&nbsp;занимает место на&nbsp;стенах и&nbsp;визуально расширяет пространство помещения. Дверь-невидимка сливается с&nbsp;обстановкой и&nbsp;становится незаметной, но&nbsp;при этом функциональной частью интерьера.

        .interior-complect.invisible-set
            .container
                .row
                    .col-16.interior-complect__col
                        .interior-complect__left
                            h2.interior-complect__title Что входит в стоимость
                            p.interior-complect__descr Мы&nbsp;предлагаем дверь с&nbsp;открыванием на&nbsp;себя. В&nbsp;комплект включены все необходимые для установки элементы, кроме доборов и&nbsp;фурнитуры.
                            .interior-complect__wrap
                                .interior-complect__table
                                    .interior-complect__head.interior-complect__row
                                        .interior-complect__element элемент
                                        .interior-complect__price цена, руб

                                    .interior-complect__row
                                        .interior-complect__element дверное полотно
                                        .interior-complect__price 600

                                    .interior-complect__row
                                        .interior-complect__element коробка
                                        .interior-complect__price 200


                            .interior-complect__tabs
                                .interior-complect__item(data-complect-tab='1')
                                    span Дверное полотно —  2 300 руб.
                                    .interior-complect__view
                                        include ../static/images/content/interior/complect-tab.svg

                                .interior-complect__content(data-complect-content='1')
                                    p.interior-complect__about Декоративные планки. Крепятся вдоль дверного проёма и&nbsp;закрывают щель между полотном и&nbsp;коробкой.
                                    .interior-complect__table
                                        .interior-complect__row.interior-complect__head
                                            .interior-complect__element Параметры
                                            .interior-complect__price мм
                                        .interior-complect__row
                                            .interior-complect__element Капитель
                                            .interior-complect__price 1

                                        .interior-complect__row
                                            .interior-complect__element Опора наличника
                                            .interior-complect__price 4

                                        .interior-complect__row
                                            .interior-complect__element Консоль
                                            .interior-complect__price 4

                                    //img(src='static/images/content/interior/complect-pic.png', alt='').interior-complect__pic

                                .interior-complect__item(data-complect-tab='2')
                                    span Коробка — 2 300 руб.
                                    .interior-complect__view
                                        include ../static/images/content/interior/complect-tab.svg

                                .interior-complect__content(data-complect-content='2')
                                    p.interior-complect__about Декоративные планки. Крепятся вдоль дверного проёма и&nbsp;закрывают щель между полотном и&nbsp;коробкой.
                                    .interior-complect__table

                                        .interior-complect__row
                                            .interior-complect__element Капитель
                                            .interior-complect__price 1

                                        .interior-complect__row
                                            .interior-complect__element Опора наличника
                                            .interior-complect__price 4

                                        .interior-complect__row
                                            .interior-complect__element Консоль
                                            .interior-complect__price 4




                            .interior-complect__result
                                .interior-complect__result-text цена комплекта
                                .interior-complect__result-price 1685 рублей



                        .interior-complect__right
                            .interior-complect__slider
                                .interior-complect__slide
                                    .interior-complect__subtitle Дверное полотно
                                    p.interior-complect__about Декоративные планки. Крепятся вдоль дверного проёма и&nbsp;закрывают щель между полотном и&nbsp;коробкой.
                                    .interior-complect__table.interior-complect__block

                                        .interior-complect__row
                                            .interior-complect__element количество
                                            .interior-complect__price 1

                                        .interior-complect__row
                                            .interior-complect__element форма
                                            .interior-complect__price сферические

                                    .interior-complect__subtitle декоративные элементы
                                    p.interior-complect__about Декоративные планки. Крепятся вдоль дверного проёма и&nbsp;закрывают щель между полотном и&nbsp;коробкой.
                                    .interior-complect__table.interior-complect__block

                                        .interior-complect__row
                                            .interior-complect__element Капитель
                                            .interior-complect__price 1

                                        .interior-complect__row
                                            .interior-complect__element Опора наличника
                                            .interior-complect__price 4

                                        .interior-complect__row
                                            .interior-complect__element Консоль
                                            .interior-complect__price 4


        .entrance-search.interior-search
            .container
                .row
                    .col-xl-16
                        h2.entrance-search__title Подбирайте фурнитуру к цвету отделки и интерьеру
                        p.interior-search__subtext Предлагаем дверные ручки, механизмы закрывания и&nbsp;петли от&nbsp;10&nbsp;производителей фурнитуры из&nbsp;Италии, Турции и&nbsp;Греции.
                .row
                    .col-xl-16
                        .entrance-search__dropdown
                            .entrance-search__dropdown-text «бронза»
                            img(src='static/images/content/entrance/min-arrow-down.svg', alt='').entrance-search__dropdown-arrow

                .row

                    .offset-xl-1.col-xl-9.offset-lg-1.col-lg-10.entrance-search__right
                        .entrance-search__block(data-search-page='1').opened
                            .entrance-search__arrows
                                .arrow.entrance-search__arrows-left
                                    include ../static/images/content/entrance/level-arrow-left.svg
                                .arrow.entrance-search__arrows-right
                                    include ../static/images/content/entrance/level-arrow-right.svg
                            .entrance-search__carousel
                                .entrance-search__slide
                                    img(src='static/images/content/entrance/furniture-2.png', alt='').entrance-search__slide-img
                                    p.entrance-search__view-text Ручка Armadillo Pava11
                                    p.interior-search__text Более 400 наименований фурнитуры от&nbsp;итальянского производителя. Изделия защищены от&nbsp;истирания многослойным покрытием. Срок службы&nbsp;&mdash; не&nbsp;менее 8&nbsp;лет.
                                    a(href="#").interior-search__link
                                        | Посмотреть каталог
                                        include ../static/images/content/invisible/arrow-left.svg

                                .entrance-search__slide
                                    img(src='static/images/content/entrance/furniture-2.png', alt='').entrance-search__slide-img
                                    p.entrance-search__view-text Ручка Armadillo Pava11
                                    p.interior-search__text Более 400 наименований фурнитуры от&nbsp;итальянского производителя. Изделия защищены от&nbsp;истирания многослойным покрытием. Срок службы&nbsp;&mdash; не&nbsp;менее 8&nbsp;лет.
                                    a(href="#").interior-search__link
                                        | Посмотреть каталог
                                        include ../static/images/content/invisible/arrow-left.svg

                                .entrance-search__slide
                                    img(src='static/images/content/entrance/furniture-2.png', alt='').entrance-search__slide-img
                                    p.entrance-search__view-text Ручка Armadillo Pava11
                                    p.interior-search__text Более 400 наименований фурнитуры от&nbsp;итальянского производителя. Изделия защищены от&nbsp;истирания многослойным покрытием. Срок службы&nbsp;&mdash; не&nbsp;менее 8&nbsp;лет.
                                    a(href="#").interior-search__link
                                        | Посмотреть каталог
                                        include ../static/images/content/invisible/arrow-left.svg


                    .col-xl-4.offset-xl-2.col-lg-4.offset-lg-1.entrance-search__left
                        .entrance-search__view.entrance-search__view--open(data-search-block='1')
                            p.entrance-search__view-text Сделаем врезку под ручки, замки и&nbsp;петли на&nbsp;заводе. Избавим вас от&nbsp;лишнего шума и&nbsp;мусора во&nbsp;время монтажа. Заводская врезка точная и&nbsp;аккуратная. Петли не&nbsp;просядут со&nbsp;временем, ручки не&nbsp;расшатаются.


        .invisible-hidden
            .invisible-hidden__left
                img(src='static/images/content/invisible/hidden-big.jpg', alt='').invisible-hidden__img
            .container.invisible-hidden__container
                .row
                    .offset-xl-11.col-xl-5.offset-lg-11.col-lg-5.offset-md-10.col-md-6.col-sm-16.offset-sm-0
                        .invisible-hidden__right
                            h2.invisible-hidden__title Скрытые петли — важная деталь двери-невидимки
                            p.invisible-hidden__text Несущие механизмы невидимы с&nbsp;обеих сторон. Регулируются в&nbsp;трёх плоскостях: по&nbsp;глубине с&nbsp;точностью до&nbsp;1&nbsp;мм, вертикали&nbsp;&mdash; до&nbsp;2&nbsp;мм, горизонтали&nbsp;&mdash; до&nbsp;1,5&nbsp;мм. Полотно плотно прилегает к&nbsp;коробке и&nbsp;не&nbsp;расшатывается.
                            .invisible-hidden__product
                                img(src='static/images/content/invisible/product.png', alt='')
                                .invisible-hidden__name AGB Eclipse 3.0
                                .invisible-hidden__price от 39 руб.


        .invisible-system
            .container
                .row
                    .offset-xl-1.col-xl-6.col-lg-7.col-md-6.invisible-system__left
                        .invisible-system__block
                            h2.invisible-system__title Система обратного открывания
                            p.invisible-system__text Под заказ изготовим дверь скрытого монтажа с&nbsp;открыванием от&nbsp;себя. Это позволит учесть дизайнерские решения и&nbsp;при этом не&nbsp;нарушить правила пожарной безопасности.

                    .col-xl-8.col-lg-9.col-md-9.invisible-system__right
                        img(src='static/images/content/invisible/system.jpg', alt='').invisible-system__img

        .invisible-mounting__wrap
            .container
                .row
                    .col-16
                        h2.invisible-mounting__title Особенности монтажа
                        p.invisible-mounting__text Дверь-невидимка устанавливается до&nbsp;чистовой отделки стен. Если вы&nbsp;сейчас делаете ремонт, самое время её&nbsp;заказать. Для успешной установки важно, чтобы стены были ровными. Если пол не&nbsp;настелен, нужно точно знать его уровень.

        .invisible-mounting
            .invisible-mounting__point.invisible-mounting__first(onclick="")
                .invisible-mounting__circle
                .invisible-mounting__plus
                .invisible-mounting__tip Отклонение стены от&nbsp;вертикали&nbsp;&mdash; не&nbsp;более 1&nbsp;мм на&nbsp;метр.

            .invisible-mounting__point.invisible-mounting__second(onclick="")
                .invisible-mounting__circle
                .invisible-mounting__plus
                .invisible-mounting__tip Оптимальная величина зазора между готовым полом и&nbsp;полотном&nbsp;&mdash; 4&nbsp;мм.

            .container.invisible-mounting__container
                .row
                    .col-16
                        .invisible-mounting__block
                            h2.invisible-mounting__title Особенности монтажа
                            p.invisible-mounting__text Дверь-невидимка устанавливается до&nbsp;чистовой отделки стен. Если вы&nbsp;сейчас делаете ремонт, самое время её&nbsp;заказать. Для успешной установки важно, чтобы стены были ровными. Если пол не&nbsp;настелен, нужно точно знать его уровень.




        .entrance__callback
            .callback.callback--second
                .container.callback__container
                    .row.callback__row
                        .col-xl-5.col-lg-4
                            h2.callback__title Бесплатный замер дверного проёма

                        .col-xl-5.col-lg-7
                            p.callback__descr Замер от&nbsp;нашего специалиста&nbsp;&mdash; гарантия того, что дверь подойдёт идеально. Замерщик учтёт все нюансы, важные для дальнейших этапов.
                            form.callback__form
                                input(type='text', placeholder='Номер телефона').callback__input.js-phone-mask
                                button.callback__btn.js-callback-submit.disabled Отправить

                        .col-xl-6.col-lg-5
                            .callback__img
                                img(src='static/images/content/salons/callback-manager-2.png', alt='')

                            .callback__about
                                .callback__name Анастасия,
                                .callback__manager менеджер по&nbsp;продажам





        .interior-comment
            .interior-comment__wrap
                .interior-comment__subtitle мнение дизайнера
                h2.interior-comment__title &laquo;Дверь-невидимка может выполнять нестандартные функции. В&nbsp;детской комнате превратите её&nbsp;в&nbsp;доску для рисования мелом, а&nbsp;в&nbsp;гостиной&nbsp;&mdash; в&nbsp;зеркало во&nbsp;весь рост. Всё зависит от&nbsp;типа отделки, который вы&nbsp;выберите&raquo;.
                img(src='static/images/content/invisible/comment-pic.png', alt='').interior-comment__img
                .interior-comment__name Анастасия,
                .interior-comment__status дизайнер интерьеров в «Домани»


        .interior-decore
            .container
                .row
                    .col-16
                        .interior-decore__mobile
                            h2.interior-decore__title Декорируйте проём на&nbsp;своё усмотрение
                            p.interior-decore__text Дверь-невидимка сливается со&nbsp;стеной с&nbsp;одной стороны. Если толщина стены больше 9&nbsp;см, откосы с&nbsp;обратной стороны двери потребуется закрыть. Можно заказать доборы и&nbsp;наличники или выполнить работы самостоятельно.
                    .col-xl-7.col-lg-7.col-md-8.col-8
                        .interior-decore__over
                            h2.interior-decore__title Декорируйте проём на&nbsp;своё усмотрение
                            p.interior-decore__text Дверь-невидимка сливается со&nbsp;стеной с&nbsp;одной стороны. Если толщина стены больше 9&nbsp;см, откосы с&nbsp;обратной стороны двери потребуется закрыть. Можно заказать доборы и&nbsp;наличники или выполнить работы самостоятельно.
                        figurep.interior-decore__figure.interior-decore__figure--left
                            .interior-decore__block
                                img(src='static/images/content/invisible/dec-1.jpg', alt='').interior-decore__img.interior-decore__img--left
                            figcaption.interior-decore__figcaption Снаружи дверь-невидимка полностью сливается со&nbsp;стеной. Конструкция не&nbsp;предусматривает наличников.

                    .offset-xl-2.col-xl-7.offset-lg-2.col-lg-7.col-md-0.col-md-8.col-8
                        figurep.interior-decore__figure.interior-decore__figure--right
                            img(src='static/images/content/invisible/dec-2.jpg', alt='').interior-decore__img
                            figcaption.interior-decore__figcaption.interior-decore__last Внутри дверь скрытого монтажа утопает в&nbsp;проёме. Отделайте его штукатуркой, краской, гипсокартоном, панелями или закажите доборы и&nbsp;наличники.


        .invisible-use
            .invisible-use__top
                .container
                    .row
                        .col-xl-6.col-lg-6.col-md-6.invisible-use__descr
                            h2.invisible-use__title Выбирайте высокие скрытые двери, если хотите визуально расширить пространство.
                            .invisible-use__text Максимальная высота полотна — 2700 мм, ширина — 1030 мм.

                        .offset-xl-1.col-xl-9.offset-lg-1.col-lg-9.offset-md-1.col-md-9
                            .invisible-use__right
                                img(src='static/images/content/invisible/use-1.jpg', alt='').invisible-use__img
            .invisible-use__bottom
                .container
                    .row
                        .col-xl-9.col-lg-9.col-md-9.invisible-use__pic
                            .invisible-use__left
                                img(src='static/images/content/invisible/use-2.jpg', alt='').invisible-use__img

                        .offset-xl-1.col-xl-6.offset-lg-1.col-lg-6.offset-md-1.col-md-6.invisible-use__descr
                            h2.invisible-use__title Используйте нестандартно маленькие конструкции, чтобы замаскировать вход в&nbsp;гардеробную комнату или кладовку.
                            .invisible-use__text Дверь становится незаметной для посторонних глаз и&nbsp;не&nbsp;выбивается из&nbsp;дизайна интерьера.



        .invisible-threshold
            .container.invisible-threshold__container
                .row
                    .col-xl-4.col-lg-4.invisible-threshold__left
                        h2.invisible-threshold__title Выпадающий порог защитит от&nbsp;шума и&nbsp;сквозняков
                        p.invisible-threshold__text Когда дверь закрыта, уплотнитель перекрывает щель между дверью и&nbsp;полом. Так система защищает помещение от&nbsp;лишних звуков за&nbsp;дверью и&nbsp;сохраняет тепло. Когда дверь открыта, порог невидим. Он&nbsp;не&nbsp;создаёт преград на&nbsp;полу, не&nbsp;мешает передвижению между комнатами.
                        .invisible-threshold__product
                            .invisible-threshold__price от 53 руб.
                    .offset-xl-1.col-xl-11.offset-lg-1.col-lg-11.invisible-threshold__right
                        .invisible-threshold__block
                            img(src='static/images/content/invisible/threshold.jpg', alt='').invisible-threshold__img


        .invisible-steps
            .container
                .row
                    .col-16
                        include modules/steps


        .invisible-big
            .invisible-big__clone
                .container
                    .row
                        .col-xl-8.col-lg-8.col-md-8.invisible-big__left
                            img(src='static/images/content/invisible/clone.jpg', alt='').invisible-big__img
                        .offset-xl-2.col-xl-6.offset-lg-1.col-lg-7.col-md-8.invisible-big__right
                            .entrance-item__card

                                h1.entrance-item__title Дверь-невидимка РДА10
                                .entrance-item__info
                                    span.entrance-item__element Под заказ до 45 рабочих  дней

                                .invisible-row
                                    p.entrance-item__about Для двери с&nbsp;такой фрезеровкой можно выбрать комплектацию: базовую, оптимальную, усиленную или максимальную. Это влияет на&nbsp;уровень защиты двери, возможные материалы и&nbsp;цвет отделки.

                                    p.entrance-item__address
                                        | Примеры дверей-невидимок установлены в&nbsp;фирменных салонах на&nbsp;
                                        a(href="") пр-те Дзержинского, 122&nbsp;
                                        | и&nbsp;
                                        a(href="") Кальварийской, 7Б, ТЦ&nbsp;&laquo;Трюм&raquo;

                                .entrance-item__price
                                    .entrance-item__price-actual от 1685 руб.

                                .interior-first__table
                                    .interior-first__row
                                        .interior-first__char количество
                                        .interior-first__val
                                            .interior-first__counter
                                                .minus.button
                                                    include ../static/images/content/invisible/minus.svg
                                                .number 1
                                                .plus.button
                                                    include ../static/images/content/invisible/plus.svg

                                    .interior-first__row.interior-first__move
                                        .interior-first__char что входит в стоимость
                                        .interior-first__val
                                            include ../static/images/content/invisible/arrow-down.svg

                                a(href="#").entrance-item__btn Добавить к заказу

                                p.entrance-item__address.entrance-item__address--mobile
                                    | Примеры дверей-невидимок установлены в&nbsp;фирменных салонах на&nbsp;
                                    a(href="") пр-те Дзержинского, 122&nbsp;
                                    | и&nbsp;
                                    a(href="") Кальварийской, 7Б, ТЦ&nbsp;&laquo;Трюм&raquo;









            .entrance-comments
                .container
                    .row
                        .col-16
                            include ./modules/comments


        .interior-similar
            .container
                .row
                    .col-16
                        .interior-similar__wrap
                            .interior-similar__left
                                h2.interior-similar__title Модели дверей в&nbsp;похожем стиле
                                p.interior-similar__text Мы&nbsp;подобрали другие двери, которые по&nbsp;стилю похожи на&nbsp;дверь РД83. Они подойдут интерьеру в&nbsp;стиле модерн, хай-тек и&nbsp;функционализм.
                            .interior-similar__right.catalog-interior.interior-similar__mobile
                                a(href="#").interior-item
                                    .interior-item__block
                                        .entrance-item__favorite.btn-favorite
                                        .entrance-item__new
                                        .interior-item__view
                                            .interior-item__img-wrap
                                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                                .entrance-item__discount
                                            .interior-item__mask
                                        .entrance-item__descr
                                            .entrance-item__descr-top
                                                .entrance-item__name НК256В2
                                                .entrance-item__price
                                                    .entrance-item__price-actual 4 323 руб.
                                            .entrance-item__descr-bottom
                                                .entrance-item__info
                                                    .entrance-item__info-item Для квартиры
                                                .entrance-item__colors
                                                    .entrance-item__color.btn-color.active
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                                .entrance-item__price-mobile
                                                    .entrance-item__price-old 887 руб
                                                    .entrance-item__price-actual 885 руб.
                                a(href="#").interior-item
                                    .interior-item__block
                                        .entrance-item__favorite.btn-favorite
                                        .entrance-item__new
                                        .interior-item__view
                                            .interior-item__img-wrap
                                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                                .entrance-item__discount
                                            .interior-item__mask
                                        .entrance-item__descr
                                            .entrance-item__descr-top
                                                .entrance-item__name НК256В2
                                                .entrance-item__price
                                                    .entrance-item__price-actual 4 323 руб.
                                            .entrance-item__descr-bottom
                                                .entrance-item__info
                                                    .entrance-item__info-item Для квартиры
                                                .entrance-item__colors
                                                    .entrance-item__color.btn-color.active
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                                .entrance-item__price-mobile
                                                    .entrance-item__price-old 887 руб
                                                    .entrance-item__price-actual 885 руб.
                            .interior-similar__right.catalog-interior
                                a(href="#").interior-item
                                    .interior-item__block
                                        .entrance-item__favorite.btn-favorite
                                        .entrance-item__new
                                        .interior-item__view
                                            .interior-item__img-wrap
                                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                                .entrance-item__discount
                                            .interior-item__mask
                                        .entrance-item__descr
                                            .entrance-item__descr-top
                                                .entrance-item__name НК256В2
                                                .entrance-item__price
                                                    .entrance-item__price-actual 4 323 руб.
                                            .entrance-item__descr-bottom
                                                .entrance-item__info
                                                    .entrance-item__info-item Для квартиры
                                                .entrance-item__colors
                                                    .entrance-item__color.btn-color.active
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                                .entrance-item__price-mobile
                                                    .entrance-item__price-old 887 руб
                                                    .entrance-item__price-actual 885 руб.
                                a(href="#").interior-item
                                    .interior-item__block
                                        .entrance-item__favorite.btn-favorite
                                        .entrance-item__new
                                        .interior-item__view
                                            .interior-item__img-wrap
                                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                                .entrance-item__discount
                                            .interior-item__mask
                                        .entrance-item__descr
                                            .entrance-item__descr-top
                                                .entrance-item__name НК256В2
                                                .entrance-item__price
                                                    .entrance-item__price-actual 4 323 руб.
                                            .entrance-item__descr-bottom
                                                .entrance-item__info
                                                    .entrance-item__info-item Для квартиры
                                                .entrance-item__colors
                                                    .entrance-item__color.btn-color.active
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                                .entrance-item__price-mobile
                                                    .entrance-item__price-old 887 руб
                                                    .entrance-item__price-actual 885 руб.






    script(src="static/js/pages/entrance-page.js", defer)












