extends template/main

block variables
    - var title = 'Карточка входная концепт';
    - var headerGrayBackground = false;
    - var headerGrayBackgroundBig = false;
    - var invisibleFirst = true;

block content
    .entrance-concept.invisible-page
        section.entrance-item.entrance-item--first.entrance-single
            .container
                .row
                    .offset-xl-8.col-xl-6.offset-lg-7.col-lg-8.offset-md-0.col-md-16
                        .entrance-item__card
                            .entrance-item__nav
                                a(href="#").entrance-item__link Главная
                                a(href="#").entrance-item__link Межкомнтатные двери
                                a(href="#").entrance-item__link Дверь-невидимка
                            h1.entrance-item__title Дверь-невидимка РДА10
                            img(src='static/images/content/invisible/first-bg.jpg', alt='').entrance-item__concept-img
                            .entrance-item__info
                                span.entrance-item__element Под заказ до 45 рабочих  дней

                            .invisible-row
                                p.entrance-item__about Для двери с&nbsp;такой фрезеровкой можно выбрать комплектацию: базовую, оптимальную, усиленную или максимальную. Это влияет на&nbsp;уровень защиты двери, возможные материалы и&nbsp;цвет отделки.

                                p.entrance-item__address
                                    | Примеры дверей-невидимок установлены в&nbsp;фирменных салонах на&nbsp;
                                    a(href="") пр-те Дзержинского, 122&nbsp;
                                    | и&nbsp;
                                    a(href="") Кальварийской, 7Б, ТЦ&nbsp;&laquo;Трюм&raquo;

                            .entrance-item__price
                                .entrance-item__price-actual от 1685 руб.

                            .interior-first__table
                                .interior-first__row
                                    .interior-first__char количество
                                    .interior-first__val
                                        .interior-first__counter
                                            .minus.button
                                                include ../static/images/content/invisible/minus.svg
                                            .number 1
                                            .plus.button
                                                include ../static/images/content/invisible/plus.svg

                                .interior-first__row.interior-first__move
                                    .interior-first__char что входит в стоимость
                                    .interior-first__val
                                        include ../static/images/content/invisible/arrow-down.svg

                            a(href="#").entrance-item__btn Добавить к заказу

                            p.entrance-item__address.entrance-item__address--mobile
                                | Примеры дверей-невидимок установлены в&nbsp;фирменных салонах на&nbsp;
                                a(href="") пр-те Дзержинского, 122&nbsp;
                                | и&nbsp;
                                a(href="") Кальварийской, 7Б, ТЦ&nbsp;&laquo;Трюм&raquo;




        .entrance-action
            .container
                .row
                    include modules/action


        .invisible-continue
            .container
                .row.invisible-continue__row
                    .col-xl-7.col-lg-7.col-md-8.invisible-continue__left
                        .invisible-continue__picture
                            img(src='static/images/content/invisible/continue.jpg', alt='')

                    .offset-xl-1.col-xl-7.offset-lg-1.col-lg-7.col-md-8.offset-md-0.invisible-continue__right
                        h2.invisible-continue__title Дверь-невидимка — продолжение интерьера
                        p.invisible-continue__text У&nbsp;скрытой двери нет наличников и&nbsp;традиционной коробки. Такая конструкция не&nbsp;занимает место на&nbsp;стенах и&nbsp;визуально расширяет пространство помещения. Дверь-невидимка сливается с&nbsp;обстановкой и&nbsp;становится незаметной, но&nbsp;при этом функциональной частью интерьера.

        .interior-complect.invisible-set
            .container
                .row
                    .col-16.interior-complect__col
                        .interior-complect__left
                            h2.interior-complect__title Что входит в стоимость
                            p.interior-complect__descr Мы&nbsp;предлагаем дверь с&nbsp;открыванием на&nbsp;себя. В&nbsp;комплект включены все необходимые для установки элементы, кроме доборов и&nbsp;фурнитуры.
                            .interior-complect__wrap
                                .interior-complect__table
                                    .interior-complect__head.interior-complect__row
                                        .interior-complect__element элемент
                                        .interior-complect__price цена, руб

                                    .interior-complect__row
                                        .interior-complect__element дверное полотно
                                        .interior-complect__price 600

                                    .interior-complect__row
                                        .interior-complect__element коробка
                                        .interior-complect__price 200


                            .interior-complect__tabs
                                .interior-complect__item(data-complect-tab='1')
                                    span Дверное полотно —  2 300 руб.
                                    .interior-complect__view
                                        include ../static/images/content/interior/complect-tab.svg

                                .interior-complect__content(data-complect-content='1')
                                    p.interior-complect__about Декоративные планки. Крепятся вдоль дверного проёма и&nbsp;закрывают щель между полотном и&nbsp;коробкой.
                                    .interior-complect__table
                                        .interior-complect__row.interior-complect__head
                                            .interior-complect__element Параметры
                                            .interior-complect__price мм
                                        .interior-complect__row
                                            .interior-complect__element Капитель
                                            .interior-complect__price 1

                                        .interior-complect__row
                                            .interior-complect__element Опора наличника
                                            .interior-complect__price 4

                                        .interior-complect__row
                                            .interior-complect__element Консоль
                                            .interior-complect__price 4

                                    //img(src='static/images/content/interior/complect-pic.png', alt='').interior-complect__pic

                                .interior-complect__item(data-complect-tab='2')
                                    span Коробка — 2 300 руб.
                                    .interior-complect__view
                                        include ../static/images/content/interior/complect-tab.svg

                                .interior-complect__content(data-complect-content='2')
                                    p.interior-complect__about Декоративные планки. Крепятся вдоль дверного проёма и&nbsp;закрывают щель между полотном и&nbsp;коробкой.
                                    .interior-complect__table

                                        .interior-complect__row
                                            .interior-complect__element Капитель
                                            .interior-complect__price 1

                                        .interior-complect__row
                                            .interior-complect__element Опора наличника
                                            .interior-complect__price 4

                                        .interior-complect__row
                                            .interior-complect__element Консоль
                                            .interior-complect__price 4




                            .interior-complect__result
                                .interior-complect__result-text цена комплекта
                                .interior-complect__result-price 1685 рублей



                        .interior-complect__right
                            .interior-complect__slider
                                .interior-complect__slide
                                    .interior-complect__subtitle Дверное полотно
                                    p.interior-complect__about Декоративные планки. Крепятся вдоль дверного проёма и&nbsp;закрывают щель между полотном и&nbsp;коробкой.
                                    .interior-complect__table.interior-complect__block

                                        .interior-complect__row
                                            .interior-complect__element количество
                                            .interior-complect__price 1

                                        .interior-complect__row
                                            .interior-complect__element форма
                                            .interior-complect__price сферические

                                    .interior-complect__subtitle декоративные элементы
                                    p.interior-complect__about Декоративные планки. Крепятся вдоль дверного проёма и&nbsp;закрывают щель между полотном и&nbsp;коробкой.
                                    .interior-complect__table.interior-complect__block

                                        .interior-complect__row
                                            .interior-complect__element Капитель
                                            .interior-complect__price 1

                                        .interior-complect__row
                                            .interior-complect__element Опора наличника
                                            .interior-complect__price 4

                                        .interior-complect__row
                                            .interior-complect__element Консоль
                                            .interior-complect__price 4



















        .interior-similar
            .container
                .row
                    .col-16
                        .interior-similar__wrap
                            .interior-similar__left
                                h2.interior-similar__title Модели дверей в&nbsp;похожем стиле
                                p.interior-similar__text Мы&nbsp;подобрали другие двери, которые по&nbsp;стилю похожи на&nbsp;дверь РД83. Они подойдут интерьеру в&nbsp;стиле модерн, хай-тек и&nbsp;функционализм.
                            .interior-similar__right.catalog-interior.interior-similar__mobile
                                a(href="#").interior-item
                                    .interior-item__block
                                        .entrance-item__favorite.btn-favorite
                                        .entrance-item__new
                                        .interior-item__view
                                            .interior-item__img-wrap
                                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                                .entrance-item__discount
                                            .interior-item__mask
                                        .entrance-item__descr
                                            .entrance-item__descr-top
                                                .entrance-item__name НК256В2
                                                .entrance-item__price
                                                    .entrance-item__price-actual 4 323 руб.
                                            .entrance-item__descr-bottom
                                                .entrance-item__info
                                                    .entrance-item__info-item Для квартиры
                                                .entrance-item__colors
                                                    .entrance-item__color.btn-color.active
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                                .entrance-item__price-mobile
                                                    .entrance-item__price-old 887 руб
                                                    .entrance-item__price-actual 885 руб.
                                a(href="#").interior-item
                                    .interior-item__block
                                        .entrance-item__favorite.btn-favorite
                                        .entrance-item__new
                                        .interior-item__view
                                            .interior-item__img-wrap
                                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                                .entrance-item__discount
                                            .interior-item__mask
                                        .entrance-item__descr
                                            .entrance-item__descr-top
                                                .entrance-item__name НК256В2
                                                .entrance-item__price
                                                    .entrance-item__price-actual 4 323 руб.
                                            .entrance-item__descr-bottom
                                                .entrance-item__info
                                                    .entrance-item__info-item Для квартиры
                                                .entrance-item__colors
                                                    .entrance-item__color.btn-color.active
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                                .entrance-item__price-mobile
                                                    .entrance-item__price-old 887 руб
                                                    .entrance-item__price-actual 885 руб.
                            .interior-similar__right.catalog-interior
                                a(href="#").interior-item
                                    .interior-item__block
                                        .entrance-item__favorite.btn-favorite
                                        .entrance-item__new
                                        .interior-item__view
                                            .interior-item__img-wrap
                                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                                .entrance-item__discount
                                            .interior-item__mask
                                        .entrance-item__descr
                                            .entrance-item__descr-top
                                                .entrance-item__name НК256В2
                                                .entrance-item__price
                                                    .entrance-item__price-actual 4 323 руб.
                                            .entrance-item__descr-bottom
                                                .entrance-item__info
                                                    .entrance-item__info-item Для квартиры
                                                .entrance-item__colors
                                                    .entrance-item__color.btn-color.active
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                                .entrance-item__price-mobile
                                                    .entrance-item__price-old 887 руб
                                                    .entrance-item__price-actual 885 руб.
                                a(href="#").interior-item
                                    .interior-item__block
                                        .entrance-item__favorite.btn-favorite
                                        .entrance-item__new
                                        .interior-item__view
                                            .interior-item__img-wrap
                                                img(src='static/images/int-1.jpg', alt='pic').interior-item__img
                                                .entrance-item__discount
                                            .interior-item__mask
                                        .entrance-item__descr
                                            .entrance-item__descr-top
                                                .entrance-item__name НК256В2
                                                .entrance-item__price
                                                    .entrance-item__price-actual 4 323 руб.
                                            .entrance-item__descr-bottom
                                                .entrance-item__info
                                                    .entrance-item__info-item Для квартиры
                                                .entrance-item__colors
                                                    .entrance-item__color.btn-color.active
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.btn-color
                                                    .entrance-item__color.entrance-item__color.btn-color.btn-color--multicolor.js-multicolor-tip
                                                        .entrance-item__color-tip.ui-tip Ещё 25 цветов в карточке

                                                .entrance-item__price-mobile
                                                    .entrance-item__price-old 887 руб
                                                    .entrance-item__price-actual 885 руб.






    script(src="static/js/pages/entrance-page.js", defer)












