extends template/main

block variables
    - var title = 'Входная и межкомнатные двери в одном стиле';
    - var headerGrayBackground = true;

block content
    section.material
        .material__head
            .container
                .row
                    .col-xl-12.col-lg-13.material__col
                        include modules/breadcrumbs
                        h1.material__title Материалы отделки межкомнатных дверей
                        p.material__text В&nbsp;качестве покрытия межкомнатных дверей на&nbsp;производстве используют шпон, эмаль, экошпон и&nbsp;грунт-плёнку. Каждый материал имеет свои практические и&nbsp;визуальные преимущества. Выбор отделки зависит от&nbsp;условий эксплуатации двери и&nbsp;стиля интерьера.
                    .col-16
                        img(src='static/images/content/material/jumbo-1.jpg', alt='').material__img



        .material__base
            .container
                .row
                    .col-xl-8.col-lg-9
                        h2.material__base-title Основа дверных панелей
                        p.material__base-text Контроль каждого этапа производства гарантирует прочность дверных плит, исключает деформацию и&nbsp;растрескивание. На&nbsp;МДФ наносят грунтовочный слой, который обеспечивает прочное сцепление с&nbsp;отделкой и&nbsp;долговечность покрытия. После этого панель покрывают одним из&nbsp;материалов.
                    .offset-xl-1.col-xl-7.col-lg-7
                        .material__base-block
                            .material__base-icon
                                include ../static/images/content/material/hand-icon.svg
                            p.material__base-descr Специалисты вручную определяют плотность и&nbsp;качество материала по&nbsp;цвету и&nbsp;составу


        .material__eco
            .container
                .row
                    .col-xl-11.col-lg-11
                        img(src='static/images/content/material/eco-1.jpg', alt='').material__eco-img.material__eco-img--left
                    .col-xl-5.col-lg-5
                        .material__eco-head
                            img(src='static/images/content/material/eco-2.png', alt='').material__eco-img.material__eco-img--left

                    .col-xl-16.col-lg-16
                        h2.material__eco-title Экошпон

                    .col-xl-7.col-lg-8
                        .material__eco-block
                            .material__eco-name ВНЕШНИЙ ВИД
                            p.material__eco-descr Искусственное покрытие из&nbsp;экологичных материалов. Основа&nbsp;&mdash; полипропиленовая или ПВХ-плёнка с&nbsp;текстурой дерева или краски.
                            p.material__eco-descr Однородная структура материала отличается глубоким, насыщенным цветом. Благодаря многобразию внешнего вида отделки легко выбрать дверь в&nbsp;экошпоне для любого интерьера.

                    .offset-xl-1.col-xl-7.col-lg-8
                        .material__eco-block
                            .material__eco-name ПРАКТИЧНОСТЬ
                            p.material__eco-descr Межкомнатные двери в&nbsp;экошпоне устойчивы к&nbsp;стиранию, выгоранию и&nbsp;влажности.
                            p.material__eco-descr Отделка не&nbsp;поддаётся царапинам&nbsp;&mdash; весомый фактор для владельцев домашних животных. Отлично переносит влажные уборки с&nbsp;использованием моющих средств.


        .material__veneer
            .container
                .row
                    .col-xl-9.col-lg-9
                        .material__veneer-block
                            h2.material__eco-title Шпон
                            .material__eco-name ВНЕШНИЙ ВИД
                            p.material__eco-descr Шпон&nbsp;&mdash; тонкий срез натурального дерева: дуба, ореха, венге, сукупиры. Отличается уникальным природным рисунком. Слой декоративного лака подчёркивает структуру дерева и&nbsp;защищает отделку от&nbsp;повреждений. {fdsfdsafdsfdsfdsfc}
                        .material__veneer-block.material__veneer-block--last
                            .material__eco-name ПРАКТИЧНОСТЬ
                            p.material__eco-descr Двери в&nbsp;шпоне просты в&nbsp;уходе. Загрязнения легко убрать салфеткой из&nbsp;микрофибры или мягкой хлопковой ткани, смоченной в&nbsp;тёплой воде. Царапины и&nbsp;небольшие повреждения можно устранить мебельным восковым карандашом.
                        .material__veneer-info
                            .material__veneer-icon
                                include ../static/images/content/material/book-icon.svg
                            p.material__veneer-text Двери из&nbsp;шпона экологичны: не&nbsp;содержат вредных веществ, не&nbsp;имеют химического запаха
                    .offset-xl-1.col-xl-6.col-lg-7
                        .material__veneer-tabs
                            ul.material__veneer-list
                                li.material__veneer-item(data-tab='1') Строганый шпон
                                li.material__veneer-item(data-tab='2') Шпон fine-line
                                li.material__veneer-item(data-tab='3') «Живое дерево»
                                li.material__veneer-item.active(data-tab='4') Браш-колор

                            .material__veneer-content(data-page='1')
                                p.material__veneer-about Брашированный шпон, окрашенный с&nbsp;применением колеровочной системы и&nbsp;покрытый лаком. Необычные цветовые решения дают свободу для фантазии.
                                img(src='static/images/content/material/veneer.jpg', alt='').material__veneer-img

                            .material__veneer-content(data-page='2')
                                p.material__veneer-about Брашированный шпон2, окрашенный с&nbsp;применением колеровочной системы и&nbsp;покрытый лаком. Необычные цветовые решения дают свободу для фантазии.
                                img(src='static/images/content/material/veneer.jpg', alt='').material__veneer-img


                            .material__veneer-content(data-page='3')
                                p.material__veneer-about Брашированный шпон3, окрашенный с&nbsp;применением колеровочной системы и&nbsp;покрытый лаком. Необычные цветовые решения дают свободу для фантазии.
                                img(src='static/images/content/material/veneer.jpg', alt='').material__veneer-img

                            .material__veneer-content.active(data-page='4')
                                p.material__veneer-about Брашированный шпон4, окрашенный с&nbsp;применением колеровочной системы и&nbsp;покрытый лаком. Необычные цветовые решения дают свободу для фантазии.
                                img(src='static/images/content/material/veneer.jpg', alt='').material__veneer-img


        .material__with
            .container
                .row
                    .col-xl-7.col-lg-7
                        .material__with-block
                            .material__with-door
                                .material__with-text Открытая текстура
                                img(src='static/images/content/material/door-1.png', alt='')

                            .material__with-door
                                .material__with-text Закрытая текстураЗакрытая текстураЗакрытая текстура
                                img(src='static/images/content/material/door-1.png', alt='')

                    .offset-xl-1.col-xl-8.offset-lg-1.col-lg-8
                        h2.material__eco-title Шпон с эмалью
                        .material__with-wrap
                            .material__eco-name ВНЕШНИЙ ВИД
                            p.material__eco-descr Светлая отделка с&nbsp;текстурой дерева. На&nbsp;брашированный шпон ясеня нанесена эмаль: один или два слоя. Получается отделка с&nbsp;открытой или закрытой текстурой дерева.
                            p.material__eco-descr Шпон с&nbsp;открытой текстурой элегантно блестит и&nbsp;отличается хорошо прорисованным рисунком дерева. Дверь с&nbsp;закрытой текстурой более светлая, при этом фактура древесины менее очевидная.
                        .material__eco-name ПРАКТИЧНОСТЬ
                        p.material__eco-descr Нанесение эмали на&nbsp;шпон обеспечивает дополнительную защиту дверных полотен от&nbsp;влаги. Такие двери экологически безопасны, обладают высокой износостойкостью, устойчивы к&nbsp;перепадам температур и&nbsp;влажности. Шпон формирует структуру отделки, а&nbsp;эмаль продлевает эксплуатационные свойства дверей.


        .material__enamel
            .container
                .row.material__enamel-row
                    .col-xl-16
                        h2.material__eco-title Эмаль
                    .col-xl-7.col-lg-8
                        .material__eco-name ВНЕШНИЙ ВИД
                        p.material__eco-descr Окрашенные двери с&nbsp;идеально ровной, однородной поверхностью. Двери в&nbsp;эмали можно окрасить в&nbsp;любой из&nbsp;196 цветов палитры RAL. Благодаря богатому ряду оттенков легко воплотить любые интерьерные задумки в&nbsp;жизнь.

                    .offset-xl-1.col-xl-7.col-lg-8
                        .material__eco-name ПРАКТИЧНОСТЬ
                        p.material__eco-descr Эмаль&nbsp;&mdash; прочная и&nbsp;долговечная отделка. Она состоит из&nbsp;полимерных добавок, смол и&nbsp;красящих веществ. Все компоненты образуют плёнку, которая защищает поверхность двери от&nbsp;агрессивного воздействия.

        .material__gloss
            .container
                .row
                    .col-xl-7.col-lg-7
                        .material__with-wrap
                            h2.material__eco-title Глянец
                            .material__eco-name ВНЕШНИЙ ВИД
                            p.material__eco-descr Элемент футуризма в&nbsp;интерьере. Глянцевая дверь визуально расширяет пространство благодаря зеркальному эффекту. Станет идеальным дополнением современной обстановки с&nbsp;преобладанием геометрических деталей.
                        .material__eco-name ПРАКТИЧНОСТЬ
                        p.material__eco-descr Покрытие создаётся с&nbsp;помощью комплексного подхода. На&nbsp;строганый шпон или эмаль наносится слой лака и&nbsp;затирается, чтобы поверхность стала ровной, без шероховатостей и&nbsp;сколов. Далее процедура повторяется ещё четыре раза. В&nbsp;результате лак со&nbsp;шпоном образует единое целое. Благодаря использованию качественных материалов поверхность полотна устойчива к&nbsp;механическим повреждениям и&nbsp;проста в&nbsp;уходе.

                    .offset-xl-2.col-xl-7.offset-lg-1.col-lg-8
                        .material__with-block
                            .material__with-door
                                .material__with-text Строганый шпон
                                img(src='static/images/content/material/door-2.png', alt='')

                            .material__with-door
                                .material__with-text Эмаль
                                img(src='static/images/content/material/door-3.png', alt='')



        .material__ground
            .container
                .row
                    .col-xl-6.col-lg-7
                        h2.material__eco-title Грунт-плёнка
                        .material__with-wrap
                            .material__eco-name ВНЕШНИЙ ВИД
                            p.material__eco-descr Материал для двери-невидимки. Белая плёнка, которая предназначена для дальнейшей самостоятельной отделки.
                        .material__eco-name ПРАКТИЧНОСТЬ
                        p.material__eco-descr Грунт-плёнку можно окрасить или оклеить обоями. Это позволит спрятать или выделить дверь в&nbsp;обстановке по&nbsp;своему вкусу, опираясь на&nbsp;дизайн интерьера.

        .material__choose
            .container
                .row
                    .col-16
                        .delivery__choose
                            h2.delivery__choose-title Выберите межкомнатные двери для своего интерьера
                            a(href="#").delivery__choose-link перейти в каталог

        include modules/company-salons



    script(src="static/js/pages/material.js", defer)