extends template/main

block variables
    - var title = 'Главная страница';
    - var headerGrayBackground = true;

block content
    section.sample
        .container
            .row
                .col-xl-16
                    h1.sample__title Замер дверного проёма
                    p.sample__text Профессиональный замер гарантирует правильный монтаж, надёжность и практичность эксплуатации входных и межкомнатных дверей. Специалист с точностью определит параметры дверных проёмов, необходимую комплектацию погонажа и рассчитает стоимость установки.

                .col-xl-9.col-lg-11
                    .sample__form
                        include components/application-form

                .offset-xl-1.offset-lg-1.col-xl-6.col-lg-4
                    .sample__block
                        img(src='static/images/icons/step-1.svg', alt='').sample__img
                        p.sample__descr При самостоятельном замере даже маленькая ошибка может обойтись в два раза дороже. Замер специалиста компании позволит избежать ненужных затрат на расширение или сужение проёмов дверей.

                    .sample__cost
                        h3.sample__subtitle Стоимость замера
                        p.sample__descr Проём для входной двери замеряем бесплатно, для межкомнатных — залог 20 рублей. Вычтем из стоимости заказа при оформлении договора в наших салонах.





    script(src="static/js/components/application-form.js")


