extends template/main

block variables
    - var title = 'Главная страница';
    - var headerGrayBackground = true;

block content
    section.sctoks
        .container
            .row
                include modules/breadcrumbs
                h1.sctoks__title Акции и скидки
                .col-xl-11
                    img(src='static/images/content/cart/cart-item-1.jpg', alt='').sctoks__item


                .offset-lg-1.col-lg-4


































