extends template/main

block variables
    - var title = 'Фирменный салон';
    - var headerGrayBackground = true;

block content
    .store-main--mobile

    .store-main__bg
    .store-main
        .container
            .row
                .offset-xl-1.col-xl-15.col-lg-16
                    .store-main__container
                        include modules/breadcrumbs
                        h1.store__title
                            span Фирменный салон
                            span на
                            a(href="#").store__title-link
                                span.store__title--underline Кальварийской,
                                span.store__title--underline 7б,
                            span ТЦ «Трюм»
                        .store-main__text  Выбирайте входные и&nbsp;межкомнатные двери для дома или квартиры в&nbsp;одном месте. Менеджеры покажут умные замки для входных дверей, расскажут об&nbsp;особенностях монтажа раздвижных систем.
                        .store-main__table
                            .store-main__row
                                .store-main__name время работы
                                .store-main__block
                                    .store-main__info с 10 до 20,
                                    .store-main__info в вс до 18

                            .store-main__row
                                .store-main__name контакты
                                .store-main__block
                                    a(href="tel:").store-main__tel +375 44 546-36-09
                                    a(href="tel:").store-main__tel +375 29 587-92-09

                            .store-main__row
                                .store-main__name площадь салона
                                .store-main__block
                                    .store-main__info 230 м2

                        .store-main__scheme
                            a(href="").store-main__scheme-link схема проезда и парковок


    .store-interior
        .container
            .row
                .col-xl-5.col-lg-6
                    .store-interior__left
                        h2.store-interior__title Межкомнатные двери
                        p.store-interior__text В&nbsp;салоне представлены образцы дверей из&nbsp;шпона, экошпона и&nbsp;эмали. Рассмотрите детально каждую модель, проведите рукой по&nbsp;полотну, проверьте работу фурнитуры.
                        .store-interior__mini
                            img(srcset='static/images/content/salons/tel_mini.png', alt='').store-interior__mini-img
                            span.store-interior__mini-number 60
                            span.store-interior__mini-text образцов в салоне
                            a(href='#').store-interior__mini-link перейти в каталог

                .offset-xl-2.col-xl-9.offset-lg-1.col-lg-9
                    img(srcset='static/images/content/salons/interior.jpg', alt='').store-interior__img





    .store-size
        .container
            .row
                .col-xl-8.col-lg-8
                    .store-size__left
                        img(srcset='static/images/content/salons/size-1.jpg', alt='').store-size__img
                .offset-xl-2.col-xl-6.offset-lg-1.col-lg-7
                    .store-size__right
                        h2.store-size__title Нестандартные размеры и конструкции
                        p.store-size__text Посмотрите в&nbsp;салоне, как работают раздвижные двери-купе, пеналы и&nbsp;система Magic, как выглядят двери скрытого монтажа со&nbsp;стандартным и&nbsp;обратным открыванием. Также здесь установлены образцы двустворчатых дверей, есть пример модели с&nbsp;доборами.
                        .store-size__mini
                            img(srcset='static/images/content/salons/size-2.jpg', alt='').store-size__mini-img
                            p.store-size__mini-text Двустворчатая дверь&nbsp;&mdash; оптимальное решение для проёмов шириной от&nbsp;1200&nbsp;мм.




    .store-furniture
        .container.store-furniture__container
            .row
                .offset-xl-1.col-xl-5.offset-lg-1.col-lg-5
                    .store-furniture__left
                        h2.store-furniture__title Выбирайте фурнитуру в салоне
                        p.store-furniture__text Протестируйте ручки, петли и&nbsp;замки от&nbsp;10&nbsp;производителей из&nbsp;Турции, Греции и&nbsp;Италии. Популярная фурнитура установлена в&nbsp;образцы дверей и&nbsp;на&nbsp;презентационные стенды.

                .col-xl-9.col-lg-9
                    .store-furniture__mini
                        img(src='static/images/content/salons/furniture.jpg', alt='').store-furniture__mini-img
                        p.store-furniture__mini-text Проверьте работу современных и&nbsp;классических моделей ручек Colombo, System, Convex, Sicma, Morelli. Посмотрите актуальные каталоги фурнитуры.
                        .store-furniture__item
                            img(src='static/images/content/salons/furniture-item.png', alt='').store-furniture__item-img
                            .store-furniture__item-name Fuaro Neo
                            .store-furniture__item-price от 53 руб.


                .offset-xl-1.col-xl-6.offset-lg-1.col-lg-6
                    .store-furniture__figure.store-furniture__figure--first
                        span.store-furniture__figure-text Рассмотрите двери со скрытыми петлями, которые открываются на 180°.
                        img(src='static/images/content/salons/furniture-1.jpg', alt='').store-furniture__figure-img
                        .store-furniture__product
                            img(src='static/images/content/salons/furniture-item-1.png', alt='').store-furniture__product-img
                            span.store-furniture__product-text AGB Eclipse 3.0
                            span.store-furniture__product-price от 39 руб.
                .offset-xl-2.col-xl-5.offset-lg-2.col-lg-5
                    .store-furniture__figure.store-furniture__figure--second
                        img(src='static/images/content/salons/furniture-2.jpg', alt='').store-furniture__figure-img
                        span.store-furniture__figure-text Протестируйте магнитный замок. Менеджер расскажет про принципы его работы, объяснит, чем он&nbsp;отличается от&nbsp;обычного замка.
                        .store-furniture__product
                            img(src='static/images/content/salons/furniture-item-23.png', alt='').store-furniture__product-img
                            span.store-furniture__product-text AGB Mediana
                            span.store-furniture__product-price от 41 руб.



    .store-entrance
        .container
            .row
                .offset-xl-1.col-xl-8.col-lg-9
                    img(src='static/images/content/salons/entrance-1-min.jpg', alt='').store-entrance__img
                .offset-xl-1.col-xl-6.offset-lg-1.col-lg-6
                    .store-entrance__right
                        h2.store-entrance__title Входные двери
                        p.store-entrance__text Двери &laquo;Стальная линия&raquo; не&nbsp;только защищают, но&nbsp;и&nbsp;преображают интерьер. В&nbsp;салоне установлены образцы моделей из&nbsp;современных и&nbsp;классических коллекций. Внимательно рассмотрите фрезеровки и&nbsp;цвет моделей в&nbsp;реальности, а&nbsp;не&nbsp;на&nbsp;мониторе, проверьте плавность хода двери и&nbsp;удобство ручек.
                        img(src='static/images/content/salons/entrance-2.jpg', alt='').store-entrance__right-img
                        .store-entrance__block
                            .store-interior__mini
                                img(srcset='static/images/content/salons/entrance-little.jpg', alt='').store-interior__mini-img
                                span.store-interior__mini-number 42
                                span.store-interior__mini-text образца в салоне
                                a(href='#').store-interior__mini-link перейти в каталог

    .store-test
        h2.store-test__main Протестируйте умные замки, цилиндры ABUS и домофоны
        .container
            .row.store-test__row
                .col-xl-8.col-lg-8
                    .store-test__column
                        .store-test__block
                            h3.store-test__title Умные замки
                            p.store-test__text Посмотрите, как работают умные замки: Danalock открывается с&nbsp;помощью мобильного приложения, Samsumg SHS-P718&nbsp;&mdash; по&nbsp;коду или отпечатку пальца.
                        .store-test__wrap
                            img(srcset='static/images/content/salons/test-1.png', alt='').store-test__img.store-test__img--first
                            p.store-test__name Samsung SHS-P718
                            span.store-test__price от 1650 руб.
                .col-xl-8.col-lg-8.store-test__margin
                    img(src='static/images/content/salons/test-2.jpg', alt='').store-test__picture
            .row.store-test__row
                .col-xl-8.col-lg-8.store-test__margin
                    img(src='static/images/content/salons/test-3.jpg', alt='').store-test__picture

                .col-xl-8.col-lg-8
                    .store-test__column
                        .store-test__block
                            h3.store-test__title Цилиндры ABUS
                            p.store-test__text Загляните в зону презентации цилиндров ABUS. Это немецкие механизмы с гарантией 50 лет. Их можно объединять в маcтер-системы, и тогда, чтобы открыть все замки в доме, понадобится всего один ключ.
                        .store-test__wrap
                            img(src='static/images/content/salons/test-4.png', alt='').store-test__img.store-test__img--second
                            p.store-test__name Bravus 1000
                            span.store-test__price 335 руб.
            .row.store-test__row
                .col-xl-8.col-lg-8
                    .store-test__column
                        .store-test__block
                            h3.store-test__title Домофоны Novicam
                            p.store-test__text На стенде домофонии изучите современные системы контроля доступа: вызывные панели и видеодомофоны. Менеджеры расскажут про них больше и помогут подобрать оптимальный вариант для вашего дома или квартиры.
                        .store-test__wrap
                            img(src='static/images/content/salons/test-5.png', alt='').store-test__img.store-test__img--third
                            p.store-test__name Smile 4 KIT
                            span.store-test__price 126 руб.

                .col-xl-8.col-lg-8
                    img(src='static/images/content/salons/test-6.jpg', alt='').store-test__picture




    .store-comfort
        .container
            .row
                .col-xl-7.col-lg-7.store-comfort__col
                    .store-comfort__left
                        h2.store-comfort__title Выбирайте двери с&nbsp;комфортом
                        p.store-comfort__text Салон находится в&nbsp;мебельном торговом центре. Кроме дверей здесь можно купить аксессуары для дома, мягкую и&nbsp;корпусную мебель.
                        .store-comfort__over
                            img(src='static/images/content/salons/comfort-1.jpg', alt='').store-comfort__img

                .offset-xl-2.col-xl-7.offset-lg-2.col-lg-7
                    .store-comfort__right
                        .store-comfort__over
                            img(src='static/images/content/salons/comfort-2.jpg', alt='').store-comfort__img
                        h2.store-comfort__title Приходите в&nbsp;салон с&nbsp;ребёнком
                        p.store-comfort__text В&nbsp;салоне предусмотрен детский уголок для рисования, чтобы ребёнок не&nbsp;заскучал, пока вы&nbsp;выбираете двери.


    .store-form
        include ./components/callback

    .store-salons
        include ./modules/other-salons



