.doors-mini {
  height: 167px;
  background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
  position: relative;
  padding-left: 27px;

  &__number {
    font-size: 144px;
    line-height: 100px;
    position: relative;
    top: -38px;
    font-family: $minion-display;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 5px;
  }

  &__text {
    @include typography('p2');
    position: relative;
    top: -29px;
  }

}





