.doors-mini {
  height: 167px;
  background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
  position: relative;
  padding-left: 27px;
  @include media-breakpoint-down(lg) {
    height: 144px;
    padding-left: 14px;
  }
  @include media-breakpoint-down(md) {
    height: 122px;
    padding-left: 18px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 27px;
  }

  &--mobile {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__number {
    font-size: 144px;
    line-height: 100px;
    position: relative;
    top: -38px;
    font-family: $minion-display;
    @include media-breakpoint-down(lg) {
      font-size: 108px;
      line-height: 90px;
      top: -25px;
    }
    @include media-breakpoint-down(md) {
      font-size: 90px;
      line-height: 100px;
      top: -38px;
    }
    @include media-breakpoint-down(sm) {
      top: -30px;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    @include media-breakpoint-down(lg) {
      width: 186px;
      height: 182px;
    }
    @include media-breakpoint-down(md) {
      width: 156.08px;
      height: 153px;
    }
  }

  &__text {
    @include typography('p2');
    position: relative;
    top: -29px;
    @include media-breakpoint-down(lg) {
      top: -25px;
    }
    @include media-breakpoint-down(md) {
      top: -47px;
    }
    @include media-breakpoint-down(sm) {
      top: -40px;
    }
  }

}

.door-material {
  background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
  width: 388px;
  padding-left: 24px;
  padding-bottom: 21px;

  &__block {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: -24px;
  }

  &__number {
    font-size: 144px;
    line-height: 100px;
    font-family: $minion-display;
    margin-right: 15px;
  }

  &__text {
    font-size: 20px;
    line-height: 27px;
    max-width: 160px;
  }

  &__link {
    @include link(true);
    font-size: 13px;
    line-height: 18px;
    position: relative;
    top: -7px;
    left: 5px;
    &:after {
      height: 1px;
      bottom: -2px;
    }
  }
}

.doors-interior {
  background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
  height: 167px;
  position: relative;
  padding-left: 35px;

  &__text {
    position: relative;
    top: -59px;
    max-width: 264px;
  }

  &__img {
    position: absolute;
    bottom: 0;
    &--first {
      right: 91px;
    }
    &--second {
      right: 49px;
    }
    &--third {
      right: 0;
    }
  }

  &__number {
    font-size: 144px;
    line-height: 100px;
    font-family: $minion-display;
    margin-bottom: 18px;
    position: relative;
    top: -51px;
  }

  &__text {

  }

  &__block {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.door-best {
  height: 199px;
  background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
  position: relative;
  padding-left: 30px;

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__number {
    font-size: 144px;
    line-height: 100px;
    font-family: $minion-display;
    position: relative;
    top: -36px;
  }

  &__text {
    max-width: 300px;
    position: relative;
    top: -18px;
  }
}






