.doors-mini {
  height: 167px;
  background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
  position: relative;
  padding-left: 27px;
  @include media-breakpoint-down(lg) {
    height: 144px;
    padding-left: 14px;
  }
  @include media-breakpoint-down(md) {
    height: 122px;
    padding-left: 18px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 27px;
  }

  &--mobile {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__number {
    font-size: 144px;
    line-height: 100px;
    position: relative;
    top: -38px;
    font-family: $minion-display;
    @include media-breakpoint-down(lg) {
      font-size: 108px;
      line-height: 90px;
      top: -25px;
    }
    @include media-breakpoint-down(md) {
      font-size: 90px;
      line-height: 100px;
      top: -38px;
    }
    @include media-breakpoint-down(sm) {
      top: -30px;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    @include media-breakpoint-down(lg) {
      width: 186px;
      height: 182px;
    }
    @include media-breakpoint-down(md) {
      width: 156.08px;
      height: 153px;
    }
  }

  &__text {
    @include typography('p2');
    position: relative;
    top: -29px;
    @include media-breakpoint-down(lg) {
      top: -25px;
    }
    @include media-breakpoint-down(md) {
      top: -47px;
    }
    @include media-breakpoint-down(sm) {
      top: -40px;
    }
  }

}





