.steps {

  &__title {
    margin-bottom: 31px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 36px;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 73px;
      @include media-breakpoint-down(lg) {
        margin-right: 61px;
      }
    }
  }

  &__subtitle {
    position: relative;
    margin-bottom: 18px;
    display: inline-flex;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
    }

  }

  &__img {
    margin-bottom: 18px;
    display: block;
    @include media-breakpoint-down(lg) {
      width: 72px;
      height: 72px;
      margin-bottom: 15px;
    }
  }

  &__descr {
    @include font-size('20');
    max-width: 280px;
    @include media-breakpoint-down(lg) {
      max-width: 212px;
    }
  }

}