.terms {
  display: flex;

  &__icon {
    padding-right: 6px;
  }

  &__text {
    font-size: $fz-base;
    color: $gray-2;
    line-height: 18px;
    font-style: italic;
    @include media-breakpoint-down(lg) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__link {
    font-size: $fz-base;
    color: $gray-2;
    line-height: 18px;
    font-style: italic;
    transition: $transition-base;
    padding-left: 4px;
    text-decoration: underline;
    @include media-breakpoint-down(lg) {
      font-size: 14px;
      line-height: 18px;
    }

    &:hover {
      color: $gold;
    }
  }
}