.cart {
  $cart: &;

  position: relative;
  margin-bottom: 180px;

  &__title {
    width: 100%;
    margin-bottom: 49px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 22px;
      font-size: 45px;
      line-height: 54px;
    }
  }

  &-table {
    $cart-table: &;
    width: 950px;
    margin-bottom: 36px;
    @include media-breakpoint-down(lg) {
      width: 728px;

    }

    &__header {

      font-size: 20px;
      line-height: 26px;
      font-family: $rft-font;
      font-weight: $semi-bold;

      display: flex;
      align-items: center;

      border-bottom: 1px solid $gray-1;
      padding-bottom: 11px;
      margin-bottom: 18px;

      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 21px;
      }

      &-product {
        width: 440px;
        @include media-breakpoint-down(lg) {
          width: 364px;
        }
      }

      &-cost {
        width: 176px;
        @include media-breakpoint-down(lg) {
          width: 110px;
        }
      }

      &-quantity {
        width: 177px;
        @include media-breakpoint-down(lg) {
          width: 138px;
        }
      }

      &-sum {
        width: 156px;
        @include media-breakpoint-down(lg) {
          width: auto;
        }
      }
    }

    &__body {
      padding-bottom: 18px;
      border-bottom: 1px solid $gray-1;
    }

    &__row {
      position: relative;
      padding-left: 51px;
      margin-bottom: 27px;
      display: flex;
      @include media-breakpoint-down(lg) {
        margin-bottom: 21px;
      }
      &:last-child {

        margin-bottom: 0;
      }
    }

    &__item {
      $cart-table__item: &;
      width: 370px;
      cursor: pointer;
      @include media-breakpoint-down(lg) {
        width: 295px;
      }

      &:hover {

        #{$cart-table__item}-delete, #{$cart-table__item}-favorite {
          opacity: 1;
          visibility: visible;
        }
      }

      &.active-field {

        #{$cart-table__item}-favorite {
          opacity: 1;
          visibility: visible;
          cursor: default;
          pointer-events: none;
          color: $black;
          border-bottom-color: $black;
        }

        #{$cart-table__item}-delete {
          opacity: 1;
          visibility: visible;
        }
      }

      &-img {
        max-width: 33px;
        position: absolute;
        left: 0;
        top: 3px;
        cursor: default;

        & > img {
          width: 100%;
          height: 100%;
        }
      }

      &-title {
        position: relative;
        display: inline-flex;
        margin-bottom: 5px;
        color: $black;
        transition: $transition-base;
        @include font-size('20');

        @include media-breakpoint-down(lg) {
          margin-bottom: 9px;
        }

        &:hover {
          color: $gold;
          &:before {
            background-color: $gold;
          }
        }

        &:before {
          content: '';
          width: 100%;
          height: 1px;
          background-color: $black;
          position: absolute;
          left: 0;
          bottom: 3px;
          transition: $transition-base;
          @include media-breakpoint-down(lg) {
            bottom: 0;
          }
        }
      }

      &-descr {
        color: $gray-2;
        font-style: italic;
        cursor: default;
        margin-bottom: 9px;
        @include font-size('18');
        @include media-breakpoint-down(lg) {
          margin-bottom: 14px;
        }
      }

      &-favorite, &-delete {
        border-bottom: 1px dashed $gray-2;
        font-size: $fz-base;
        line-height: $fz-base;
        display: inline-flex;
        cursor: pointer;
        color: $gray-2;
        transition: $transition-base;
        opacity: 0;
        visibility: hidden;

        &:hover {
          color: $gold;
          border-bottom-color: $gold;
          opacity: 1;
          visibility: visible;
        }
      }

      &-delete {
        margin-left: 15px;
      }
    }

    // Cost
    &__cost {
      $cost: &;

      width: 176px;
      padding-left: 19px;
      @include font-size('20');
      @include media-breakpoint-down(lg) {
        margin-bottom: 14px;
        width: 110px;
      }

      &-actual {
        color: $red;
      }

      &-old {
        color: $gray;
        position: relative;
        display: inline-flex;

        &:empty {
          display: none;
        }

        &:empty + #{$cost}-actual {
          color: $black;
        }

        &:before {
          content: '';
          position: absolute;
          top: calc( 50% - 1px );
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $gray;
        }
      }
    }

    // Quantity
    .cart-table__quantity {
      display: flex;
      padding-left: 21px;
      width: 197px;

      @include media-breakpoint-down(lg) {
        width: 155px;
      }

      &-number {
        @include upperlink;
        font-size: $fz-base;
        line-height: 29px;
        min-width: 48px;
        text-align: center;
        user-select: none;
        @include media-breakpoint-down(lg) {
          min-width: 38px;
          font-size: 13px;
          line-height: 23px;
        }
        &:hover {
          color: $black;
          cursor: default;
        }
      }

      &-minus {
        transition: $transition-base;

        &.disabled {
          opacity: .5;
          cursor: default;
          pointer-events: none;
        }
      }

      &-plus {
        &:after {
          content: '';
          width: 1px;
          height: 15px;
          background-color: $gray;
          position: absolute;
          left: 50%;
          top: calc( 50% - 7.5px );
          transition: $transition-base;
          @include media-breakpoint-down(lg) {
            left: calc( 50% - 1px );
            top: calc( 50% - 5.5px );
            height: 11px;
          }
        }
      }

      &-plus, &-minus {
        position: relative;
        width: 33px;
        height: 33px;
        border: 1px solid $gray;
        border-radius: 50%;
        cursor: pointer;
        transition: $transition-base;
        @include media-breakpoint-down(lg) {
          width: 24.75px;
          height: 24.75px;
        }

        &:before {
          content: '';
          width: 15px;
          height: 1px;
          background-color: $gray;
          position: absolute;
          left: calc( 50% - 7.5px );
          top: calc( 50% - 1px );
          transition: $transition-base;
          @include media-breakpoint-down(lg) {
            left: calc( 50% - 5.5px);
            top: 50%;
            width: 11px;
          }
        }

        &:hover {
          border-color: $gold;
          &:before, &:after {
            background-color: $gold;
          }
        }
      }
    }

    // Sum
    &__sum {
      @include title-size('h3');
      @include media-breakpoint-down(lg) {
        width: auto;
      }
    }
  }

  // Checkout
  &-checkout {
    position: absolute;
    top: -9px;
    left: calc( 100% + 106px );
    width: 334px;
    @include media-breakpoint-down(lg) {
      right: 0;
      left: auto;
      width: 254px;
    }

    &__table {
      padding: 27px 24px 27px 18px;
      background: linear-gradient(114.12deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      @include media-breakpoint-down(lg) {
        padding-top: 16px;
        padding-bottom: 18px;
        padding-right: 18px;
      }
    }

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:first-child) {
        margin-bottom: 9px;
      }
      &--red {
        color: $red;
      }
      @include media-breakpoint-down(lg) {
        flex-wrap: wrap;
      }
    }

    &__submit {
      width: 100%;
      height: 70px;
      @include upperlink;
      background-color: $gray-1;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transition-base;
      margin-bottom: 18px;
      &:hover {
        color: $white;
        background-color: $gray-2;
      }
    }

    &__name {
      @include font-size('20');

      &-total {
        margin-left: 3px;
        @include font-size('20');
      }

      &-counter {
        display: flex;
        align-items: center;
        @include font-size('20');
      }

      &--big {
        margin-right: 29px;
        margin-bottom: 18px;
        @include title('h2');
        @include media-breakpoint-down(lg) {
          margin-bottom: 5px;
        }
      }
    }

    &__number {
      @include font-size('20');
      &--big {
        margin-bottom: 18px;
        @include title('h2');
        @include media-breakpoint-down(lg) {
          margin-bottom: 28px;
        }
      }
    }
  }

  // Promo
  &__promo {
    margin-bottom: 99px;
    width: 950px;
  }

  // Form Data
  &__form {

  }

  // Steps
  &__steps {
    width: 100%;
  }



}