.complex {

  .steps__title {
    display: none;
  }

  .breadcrumbs__wrap {
    margin-top: 39px;
    margin-bottom: 18px;
    @include media-breakpoint-down(lg) {
      margin-top: 36px;
      margin-bottom: 14px;

      .breadcrumbs__link {
        font-size: 16px;
        line-height: 18px;
        &:not(:last-child)::after {
          top: 7px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      margin-top: 27px;
      margin-bottom: 6px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 16px;
    }
  }

  &__title {
    max-width: 645px;
    margin-bottom: 45px;
    @include media-breakpoint-down(lg) {
      max-width: 558px;
    }
    @include media-breakpoint-down(md) {
      max-width: 518px;
      margin-bottom: 29px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
      font-size: 42px;
      line-height: 45px;
    }
  }

  &__jumbo {
    @include section-indent;

    &-icon {
      @include media-breakpoint-down(lg) {
        width: 72px;
        height: 72px;
      }
      @include media-breakpoint-down(sm) {
        width: 54px;
        height: 54px;
      }
    }

    &-img {
      max-width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }

    &-footer {
      width: 100%;
      @include media-breakpoint-down(sm) {
        margin-top: 27px;
      }
    }

    &-list {
      display: flex;
      height: 153px;
      justify-content: space-evenly;
      align-items: center;
      margin-top: -95px;
      background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      @include media-breakpoint-down(lg) {
        height: 126px;
        margin-top: -55px;
      }
      @include media-breakpoint-down(md) {
        background-image: none;
        justify-content: space-between;
        margin-top: 0;
      }
      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        height: auto;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      @include typography('h3');
      font-family: $minion-display;
      @include media-breakpoint-down(sm) {
        margin-bottom: 18px;
      }
      &:last-child {
        @include media-breakpoint-down(sm) {
          margin-bottom: 9px;
        }
      }
    }


    &-text {
      margin-left: 18px;
      @include media-breakpoint-down(lg) {
        margin-left: 9px;
      }
      @include media-breakpoint-down(md) {
        text-align: center;
      }
      @include media-breakpoint-down(sm) {
        text-align: left;
        margin-left: 18px;
      }


      &--first {
        max-width: 190px;
        @include media-breakpoint-down(md) {
          max-width: 143px;
        }
        @include media-breakpoint-down(sm) {
          max-width: 121px;
        }
      }

      &--second {
        max-width: 261px;
        @include media-breakpoint-down(md) {
          max-width: 196px;
        }
        @include media-breakpoint-down(sm) {
          max-width: 196px;
        }
      }

      &--third {
        max-width: 117px;
        @include media-breakpoint-down(md) {
          max-width: 95px;
        }
        @include media-breakpoint-down(sm) {
          max-width: 100%;
        }
      }

    }
  }

  &__choose {
    @include section-indent;
    @include media-breakpoint-down(sm) {
      margin-bottom: 54px;
      overflow: hidden;
    }

    &--second {
      @include media-breakpoint-down(sm) {
        .complex__choose-description {
          display: none;
          &--mob {
            display: block;
            max-width: 198px;
            font-size: 18px;
            line-height: 24px;
            position: relative;
            margin-top: 21px;
            bottom: 0;
          }
        }
      }
    }

    &-img {
      max-width: 100%;
      height: auto;
    }

    &-description {
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 246px;
      @include media-breakpoint-down(lg) {
        max-width: 216px;
        bottom: 7px;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
      &--mob {
        display: none;
        @include media-breakpoint-down(md) {
          display: block;
        }
      }
      &:after {
        content: '';
        background-image: url('../../static/images/content/complex/descr-line.svg');
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: -136px;
        top: 16px;
        width: 158px;
        height: 58px;
        @include media-breakpoint-down(lg) {
          background-size: contain;
          width: 229px;
          height: 44px;
          right: -128px;
          top: 3px;
        }
      }
    }

    &-text {
      @include media-breakpoint-down(md) {
        max-width: 435px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        font-size: 18px;
        line-height: 24px;
      }
    }

    &-title {
      margin-bottom: 18px;
      @include media-breakpoint-down(md) {
        width: 251px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        font-size: 32px;
        line-height: 40px;
      }
    }

    &-block {
      height: 100%;
      position: relative;
      @include media-breakpoint-down(md) {
        margin-bottom: 36px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 80px;
      }
    }

    &-doors {
      width: 100%;
      position: absolute;
      bottom: 0;


      @include media-breakpoint-down(md) {
        right: 0;
        width: 276px;
        bottom: 36px;
        .doors-mini {
          width: 276px;
          height: 122px;
        }
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }

      &--mobile {
        @include media-breakpoint-down(sm) {
          display: block;
          position: static;
          width: 100%;
          margin-top: 61px;
          .doors-mini {
            width: 100%;
          }
        }
      }
    }
  }

  &__product {
    position: relative;
    @include media-breakpoint-down(sm) {
      overflow: hidden;
    }

    &:after {
      content: '';
      position: absolute;
      top: -6px;
      left: 0;
      width: 100%;
      height: 293px;
      background-image: linear-gradient(180deg, #ECECEC 0%, rgba(255, 255, 255, 0) 100%);
      transform: rotate(180deg);
      z-index: 0;
      @include media-breakpoint-down(lg) {
        height: 207px;
        top: 39px;
      }
      @include media-breakpoint-down(md) {
        height: 142px;
        top: 75px;
      }
      @include media-breakpoint-down(sm) {
        height: 118px;
        top: 185px;
      }
    }
  }

  &__tabs {
    display: flex;

    &-item {
      padding-left: 0;
      padding-right: 36px;
      height: 70px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $gray-2;
      cursor: pointer;
      transition: $transition-base;
      @include rft-txt;

      @include media-breakpoint-down(md) {
        height: 54px;
      }

      &:not(.active-tab) {
        &:hover {
          color: $gold;
        }
        @include media-breakpoint-down(sm) {
          order: 2;
          padding-left: 18px;
        }
      }

      &.active-tab:first-child {
        & + .complex__tabs-item {
          padding-left: 27px;
          @include media-breakpoint-down(md) {
            padding-left: 18px;
          }
        }
      }

      &.active-tab {
        background-color: $white;
        color: $black;
        cursor: default;
        padding-left: 27px;
        padding-right: 27px;
        @include media-breakpoint-down(md) {
          padding-left: 18px;
          padding-right: 18px;
        }
        @include media-breakpoint-down(sm) {
          order: 1;
        }

      }
    }
  }

  &__head {
    position: relative;
    z-index: 1;

    &-title {
      padding-left: 18px;
      margin-bottom: 13px;
      @include media-breakpoint-down(lg) {
        padding-left: 0;
      }
    }

    &-text {
      padding-left: 18px;
      margin-bottom: 42px;
      @include typography('p1');
      @include media-breakpoint-down(lg) {
        padding-left: 0;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 32px;
        width: 306px;
      }
    }
  }

  &__product {
    @include section-indent;
    @include media-breakpoint-down(sm) {


    }
  }

  &__slider {
    padding-top: 54px;
    position: relative;
    @include media-breakpoint-down(lg) {
      padding-top: 30px;
    }
    @include media-breakpoint-down(md) {
      padding-top: 33px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 24px;
    }

    &-figure {
      position: absolute;
      right: -89px;
      top: 59px;
      filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.07));
      cursor: pointer;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 177px;
      height: 181px;
      transition: $transition-base;
      @include media-breakpoint-down(lg) {
        right: -65px;
        top: 36px;
        width: 188px;
        height: 194px;
      }
      @include media-breakpoint-down(md) {
        width: 136px;
        height: 141px;
        right: -96px;
        top: 72px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }

      &--mobile {
        display: none;
        @include media-breakpoint-down(sm) {
          display: block;
          position: static;
          height: auto;
          margin: 0 auto 27px;
          &:after {
            display: none;
          }

          span {
            display: inline-flex;
            border-bottom: 1px solid $black;
          }

          .complex__slider-figure__text {
            position: static;
            visibility: visible;
            opacity: 1;
          }
        }
      }



      &__text {
        @include rft-txt;
        color: $white;
        width: 119px;
        text-align: center;
        transition: $transition-base;
        opacity: 0;
        visibility: hidden;
        @include media-breakpoint-down(sm) {
          color: $black;
          width: 100%;
        }
      }

      &:after {
        content: '';
        width: calc(100% + 1px);
        height: calc(100% - 4px);
        background-color: $white;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%;
        z-index: 1;
        transition: $transition-base;
        opacity: 0;
        visibility: hidden;
        @include media-breakpoint-down(lg) {
          width: 100%;
          height: calc(100% - 9px);
        }
        @include media-breakpoint-down(lg) {
          width: 100%;
          height: calc(100% - 5px);
        }
      }
      &:hover {
        &:after {
          visibility: visible;
          opacity: .2;
        }

        .complex__slider-figure__text {
          visibility: visible;
          opacity: 1;
        }
      }

      img {
        border-radius: 50%;
        width: 177px;
        height: 177px;
        object-fit: fill;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        @include media-breakpoint-down(lg) {
          width: 185px;
          height: 185px;
        }
        @include media-breakpoint-down(md) {
          width: 136px;
          height: 136px;
        }
        @include media-breakpoint-down(sm) {
          position: static;
        }
      }
    }

    &-wrap {
      display: flex;

    }

    &-name {
      color: $gray;
      font-size: 18px;
      line-height: 18px;
      font-style: italic;
      margin-top: 18px;
      @include media-breakpoint-down(lg) {
        font-size: 16px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 9px;
      }
      &--entrance {
        @include media-breakpoint-down(md) {
          width: 142px;
        }
        @include media-breakpoint-down(sm) {
          width: 101px;
        }
      }
    }

    &-arrow {
      position: absolute;
      cursor: pointer;
      top: calc( 50% - 105px);
      @include media-breakpoint-down(lg) {
        top: calc( 50% - 52px);
      }
      @include media-breakpoint-down(md) {
        top: calc( 50% - 4px);
      }

      path {
        transition: $transition-base;
        stroke: $gray-2;
      }

      &:hover path {
        stroke: $gold;
      }
    }

    .slick-list {

      @include media-breakpoint-down(sm) {
        width: 306px;
      }

      @include mobile-between {
        width: 341px;
        margin: 0 auto;
      }
    }

    &-prev {
      left: -177px;
      @include media-breakpoint-down(lg) {
        left: -137px;
      }
      @include media-breakpoint-down(md) {
        left: -100px;
      }
    }

    &-next {
      right: -177px;
      @include media-breakpoint-down(lg) {
        right: -137px;
      }
      @include media-breakpoint-down(md) {
        right: -100px;
      }
    }

    .slick-dots {
      display: flex;
      margin-top: 27px;
      justify-content: center;
      & li {
        display: inline-flex;
        margin-right: 9px;
        &.slick-active button {
          background-color: $gray-2;
        }
      }
      & button {
        padding: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $gray-1;
        transition: $transition-base;
        cursor: pointer;
        border: none;
        font-size: 0;
        outline: none;

      }
    }

    .slick-slide {
      margin-right: 112px;
      @include media-breakpoint-down(lg) {
        margin-right: 89px;
      }
      @include media-breakpoint-down(md) {
        margin-right: 31px;
      }
    }


    &-title {
      margin-bottom: 9px;
    }

    &-text {
      margin-bottom: 36px;
      max-width: 984px;
      @include media-breakpoint-down(lg) {
        max-width: 630px;
      }
      @include media-breakpoint-down(md) {
        max-width: 513px;
        margin-bottom: 22px;
      }
    }


    &-img {
      object-fit: fill;
      display: block;
      height: 500px;
      @include media-breakpoint-down(lg) {
        height: 388px;
      }
      @include media-breakpoint-down(md) {
        height: 295px;
      }

      &--entrance {
        width: 240px;
        @include media-breakpoint-down(lg) {
          width: 186px;
        }
        @include media-breakpoint-down(md) {
          width: 142px;
        }
        @include media-breakpoint-down(sm) {
          width: 101px;
          height: 238px;
        }
      }

      &--interior {
        width: 209px;
        @include media-breakpoint-down(lg) {
          width: 162px;
        }
        @include media-breakpoint-down(md) {
          width: 123px;
        }
        @include media-breakpoint-down(sm) {
          width: 101px;
          height: 238px;
        }
        &:not(:last-child) {
          margin-right: 27px;
          @include media-breakpoint-down(lg) {
            margin-right: 18px;
          }
          @include media-breakpoint-down(md) {
            margin-right: 13px;
          }
          @include media-breakpoint-down(sm) {
            margin-right: 9px;
          }
        }
      }

    }

    &-item {
      flex-direction: column;
      outline: none;
    }

  }

  &__discount {
    @include section-indent;

    @include media-breakpoint-down(sm) {
      margin-bottom: 28px;
    }

    &-text {
      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &-title {
      margin-bottom: 18px;
      @include media-breakpoint-down(md) {
        margin-bottom: 9px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 16px;
      }
    }

    &-block {
      border-top: 1px solid $gray-1;
      border-bottom: 1px solid $gray-1;
      display: flex;
      padding-top: 43px;
      @include media-breakpoint-down(lg) {
        padding-top: 33px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 17px;
        flex-direction: column;
        border-bottom: none;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 25px;
      }
    }

    &-card {
      display: flex;
      align-items: center;
      margin-bottom: 36px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 27px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 18px;
        width: 639px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 16px;
        width: 100%;
      }



      & > img {
        margin-right: 18px;
        @include media-breakpoint-down(lg) {
          width: 76px;
          height: 48px;
        }
        @include media-breakpoint-down(md) {
          width: 46px;
          height: 29px;
          margin-right: 9px;
        }
        @include mobile {
          width: 39px;
          height: 25px;
        }
      }
    }

    &-cards {
      padding-top: 45px;
      padding-left: 63px;
      height: 300px;
      background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      @include media-breakpoint-down(lg) {
        padding-top: 55px;
        padding-left: 46px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 20px;
        padding-top: 27px;
        padding-left: 29px;
        height: 147px;
        margin-bottom: 27px;
        &:after {
          content: '';
          width: calc(100% + 80px);
          height: 1px;
          background-color: $gray-1;
          position: absolute;
          left: 9px;
          bottom: -28px;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-top: 39px;
        padding-left: 18px;
        height: auto;
        padding-bottom: 36px;
        &:after {
          display: none;
        }
      }
    }

    &-item {
      width: 246px;
      @include media-breakpoint-down(lg) {
        width: 189px;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      &:first-child {
        margin-right: 107px;
        @include media-breakpoint-down(lg) {
          margin-right: 83px;
        }
        @include media-breakpoint-down(md) {
          margin-bottom: 45px;
        }
        @include media-breakpoint-down(sm) {
          padding-bottom: 39px;
          border-bottom: 1px solid $gray-1;
          margin-right: 0;
          margin-bottom: 26px;
        }
      }
    }

    &-description {
      max-width: 578px;
      @include media-breakpoint-down(lg) {
        max-width: 440px;
      }
      @include media-breakpoint-down(md) {
        max-width: 595px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        font-size: 18px;
        line-height: 24px;
        margin-right: 18px;
      }
    }
  }

  &__shield {
    @include section-indent;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }

    &--container {
      background-color: $white-1;
      padding-top: 53px;
      padding-bottom: 90px;
      @include media-breakpoint-down(lg) {
        padding-bottom: 79px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 39px;
        padding-left: 36px;
        padding-bottom: 61px;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 0;
        padding-left: 27px;
      }
    }

    &-title {
      margin-bottom: 18px;
      margin-top: 11px;
      @include media-breakpoint-down(lg) {
        margin-top: 0;
      }
      @include media-breakpoint-down(md) {
        max-width: 295px;
      }
      @include media-breakpoint-down(sm) {
        max-width: calc(100% - 20px);
        font-size: 27px;
        line-height: 36px;
      }
    }

    &-text {
      @include typography('p1');
      @include media-breakpoint-down(md) {
        max-width: 258px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        margin-bottom: 40px;
      }

    }

    &-block {
      position: absolute;
      bottom: -15px;
      left: 9px;
      @include media-breakpoint-down(lg) {
        bottom: 0;
        left: 17px;
      }
      @include media-breakpoint-down(md) {
        display: flex;
        bottom: -6px;
        left: 10px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
      &--mob {
        display: none;
        @include media-breakpoint-down(sm) {
          position: static;
          display: flex;
          align-items: center;
          margin-top: 32px;
          .complex__shield-icon {
            width: 94px;
            height: 81px;
          }
        }
      }
    }

    &-icon {
      margin-bottom: 27px;
      @include media-breakpoint-down(lg) {
        width: 94px;
        height: 81px;
        margin-bottom: 9px;
      }
      @include media-breakpoint-down(md) {
        width: 76px;
        height: 65px;
        margin-bottom: 0;
        margin-right: 18px;
      }
    }

    &-right {
      position: relative;
      display: flex;
      justify-content: center;
      @include media-breakpoint-down(md) {
        justify-content: flex-start;
        padding-left: 21px;
      }
      @include media-breakpoint-down(sm) {
        justify-content: center;
        padding-left: 0;
      }
    }

    &-descr {
      max-width: 368px;
      @include media-breakpoint-down(lg) {
        max-width: 325px;
      }
      @include media-breakpoint-down(md) {
        max-width: 216px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }

    &-img {
      position: relative;
      z-index: 1;
      @include media-breakpoint-down(lg) {
        width: 255px;
        height: 523px;
        object-fit: fill;
      }
      @include media-breakpoint-down(md) {
        width: 214px;
        height: 454px;
      }
      @include media-breakpoint-down(sm) {
        width: 202px;
        height: 413px;
      }
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      @include media-breakpoint-down(lg) {
        width: 391px;
        height: 468px;
        top: 51px;
      }
      @include media-breakpoint-down(md) {
        width: 303px;
        height: 362px;
        left: -20px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 382px;
        top: 18px;
        left: -5px;
      }
    }
  }


  &__proccess {
    position: relative;
    padding-top: 53px;
    margin-bottom: 137px;
    @include media-breakpoint-down(md) {
      padding-top: 43px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 0;
      margin-bottom: 54px;
    }

    &:after {
      content: '';
      width: 100%;
      height: 207px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-image: linear-gradient(180deg, #ECECEC 0%, rgba(255, 255, 255, 0) 100%);
      @include media-breakpoint-down(md) {
        height: 151px;
      }
    }

    &-title {
      margin-bottom: 18px;
      @include media-breakpoint-down(sm) {
        font-size: 32px;
        line-height: 40px;
        margin-top: 24px;
      }
    }

    &-text {
      max-width: 928px;
      margin-bottom: 52px;
      @include typography('p1');
      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 24px;
        max-width: 100%;
        margin-bottom: 33px;
      }
    }


  }

  &__form {
    @include section-indent;
  }












}