.compare {

  &__container {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }


  // Mode
  &[data-compare-column='single'] {
    .compare-head__tech {
      width: 352px;
      flex-grow: 0;
    }
    .compare-head__item:not(.compare-head__tech) {
      flex-grow: 1;
    }
  }

  .breadcrumbs__wrap {
    margin-top: 40px;
    margin-bottom: 18px;
    @include media-breakpoint-down(lg) {
      margin-top: 34px;
      margin-bottom: 14px;
    }
    @include media-breakpoint-down(md) {
      margin-top: 27px;
      margin-bottom: 5px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 27px;
      padding-right: 27px;
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }

  &__title {
    margin-bottom: 48px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 33px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 18px;
      padding-left: 27px;
      padding-right: 27px;
    }
  }

  &-head {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    $compare-head: &;
    @include media-breakpoint-down(md) {
      margin-bottom: 18px;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }


    &__item {
      font-family: $rft-font;
      font-weight: $semi-bold;
      font-size: 20px;
      line-height: 26px;
      color: $black;
      height: 72px;
      padding-left: 18px;
      padding-top: 8px;
      width: 100%;
      position: relative;
      background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 21px;
        height: 60px;
      }
      @include media-breakpoint-down(md) {
        font-size: 14px;
        line-height: 18px;
        height: 54px;
        &:not(:last-child) {
          margin-right: 9px;
        }
      }
      &:last-child {
        &:after {
          width: 100%;
        }
      }


    }

    &__text {
      display: block;
      letter-spacing: .3px;
    }
  }

  &-table {
    width: 100%;
    border-bottom: 1px solid $gray-1;
    margin-bottom: 63px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 72px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 54px;
    }
    &__title {
      width: 100%;
      height: 65px;
      padding-top: 13px;
      background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      padding-left: 18px;
      font-size: 27px;
      line-height: 36px;
      letter-spacing: -.9px;
      font-family: $minion-display;
      @include media-breakpoint-down(lg) {
        font-size: 24px;
        line-height: 34px;
        height: 52px;
        padding-top: 9px;
        letter-spacing: 0;
      }
      @include media-breakpoint-down(md) {
        padding-left: 15px;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 27px;
        padding-right: 27px;
        height: 46px;
        border-bottom: 1px solid $gray-1;
        padding-top: 0;
        display: flex;
        align-items: center;
      }
    }

    &__row {
      border-top: 1px solid $gray-1;
      width: 100%;
      @include font-size('20');
      display: flex;
      transition: $transition-base;
      cursor: pointer;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        padding-bottom: 9px;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 27px;
        padding-right: 27px;
        border-top: none;
        padding-bottom: 3px;
      }
      &:hover {
        background-color: $gray-8;
        border-top-color: $gray-8;
        & + .compare-table__row {
          border-top-color: $gray-8;
        }
        .compare-table__help {
          visibility: visible;
          opacity: 1;
        }
        @include media-breakpoint-down(md) {
          background-color: transparent;
          border-top-color: $gray-1;
          & + .compare-table__row {
            border-top-color: $gray-1;
          }
        }
      }
    }

    &__cell {
      width: calc(100% + 9px);
      padding: 9px 26px 9px 18px;
      @include media-breakpoint-down(lg) {
        padding-right: 21px;
      }
      @include media-breakpoint-down(md) {
        width: auto;
        padding-left: 15px;
        &:first-child {
          width: 100%;
          font-family: $rft-font;
          font-weight: $semi-bold;
          padding-top: 15px;
          padding-bottom: 0;
        }
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 9px 0;

        &:not(:first-child) {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $gray-1;
          width: 144px;
        }
        &:not(:first-child)::before {
          content: attr(data-compare-rel);
          font-size: 16px;
          line-height: 22px;
          position: static;

        }
      }

      &:not(:first-child) {
        border-left: 1px solid $gray-1;
        @include media-breakpoint-down(md) {
          border-left: none;
          position: static;

        }
      }
    }

    &__text {
      position: relative;
      display: inline-flex;
    }

    &__help {
      position: absolute;
      right: -23px;
      top: 4px;
      visibility: hidden;
      opacity: 0;
      @include media-breakpoint-down(md) {
        top: 3px;
        right: -25px;
        visibility: visible;
        opacity: 1;
      }
      &:hover {
        .compare-table__about {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &__about {
      position: absolute;
      font-size: 18px;
      line-height: 24px;
      width: 306px;
      height: auto;
      right: -61px;
      top: 38px;
      @include font-size('20');
      background-color: $white;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
      padding: 18px 36px 27px 18px;
      visibility: hidden;
      opacity: 0;
      transition: $transition-base;
      z-index: 10;
      &:before {
        content: '';
        position: absolute;
        top: -18px;
        left: 0;
        width: 100%;
        height: 18px;
        background: transparent;
        z-index: 10;
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 19.5px 22px 19.5px;
        border-color: transparent transparent $white transparent;
        position: absolute;
        top: -11px;
        right: 50px;
        transition: $transition-base;
      }
    }
  }

  &-catalog {
    height: 257px;
    background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    @include section-indent;
    @include media-breakpoint-down(lg) {
      height: 238px;
    }
    @include media-breakpoint-down(md) {
      height: 190px;
    }
    &__title {
      margin-bottom: 27px;
      max-width: 842px;
      text-align: center;
      @include media-breakpoint-down(lg) {
        max-width: 619px;
        margin-bottom: 36px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 18px;
        max-width: 523px;
      }
    }
    &__link {
      @include link(true);
    }
  }

  // Mode Large
  &--large {
    .compare-head__item {

      @include media-breakpoint-down(md) {
        width: 141px;
      }
      &:first-child {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      &--large {
        width: 164px;
      }
    }
    .compare-table__cell {
      @include media-breakpoint-down(md) {
        width: 150px;
        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        &:first-child {
          width: 100%;
          padding-bottom: 0;
        }

        &--start {
          width: 150px;
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }

        &--large {
          width: 171px;
          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }

        &:last-child {
          width: auto;
          flex-grow: 1;
          max-width: 145px;
          @include media-breakpoint-down(sm) {
            width: 100%;
            max-width: 100%;
          }
        }

      }
    }

  }
}