.entrance-concept {

  .entrance-item {
    @include section-indent;
  }

  .entrance-item__concept-img {
    width: 100%;
    height: auto;
    margin-bottom: 18px;
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .entrance-item__price-actual {
    font-size: 36px;
    line-height: 47px;
  }

  .entrance-item__about {
    border: none;
    @include media-breakpoint-down(md) {
      max-width: 580px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  .entrance-item__info {
    margin-bottom: 18px;
  }

  .entrance-item__block {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 6px;
    border-bottom: none;
    color: $gray-6;
  }

  .entrance-item__price {
    margin-bottom: 45px;
    @include media-breakpoint-down(md) {
      margin-bottom: 9px;
    }
  }

  .entrance-item__card {
    margin-bottom: 83px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 42px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }
}

.concept {

  &-facade {
    padding-top: 136px;
    background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    @include section-indent;

    @include media-breakpoint-down(lg) {
      padding-top: 81px;
    }


    .entrance-item__wrap {
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    .entrance-item__refresh {
      @include media-breakpoint-down(md) {
        left: calc(50% - 31px);
      }
      @include media-breakpoint-down(sm) {
        display: flex;
      }

    }

    &__left {
      @include media-breakpoint-down(sm) {
        order: 2;
      }
    }

    &__right {
      @include media-breakpoint-down(sm) {
        order: 1 ;
        margin-bottom: 27px;
      }
    }

    &__img {
      transition: .6s;
      width: 100%;
      height: auto;
    }


    &__type {
      @include rft-txt;
      margin-bottom: 18px;
      color: $gray;
    }

    &__title {
      max-width: 265px;
      margin-bottom: 31px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 18px;
        max-width: 303px;
      }
      @include media-breakpoint-down(md) {
         max-width: 100%;
       }
    }

    &__text {
      margin-bottom: 27px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 18px;
      }
    }

    &__block {
      padding-top: 120px;

      @include media-breakpoint-down(lg) {
        padding-top: 103px;
      }

      @include media-breakpoint-down(md) {
        padding-top: 0;
        max-width: 306px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 100% ;
      }
    }
  }

  &-simple {
    @include section-indent;
    @include media-breakpoint-down(md) {
      margin-bottom: 90px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 27px;
    }


    &__figcaption {
      font-size: 18px;
      line-height: 27px;
      font-style: italic;
      margin-top: 27px;
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 22px;
        margin-top: 18px;
      }
      @include media-breakpoint-down(md) {
        line-height: 18px;
        margin-top: 9px;
      }
    }

    .concept-simple__figcaption {
      max-width: 344px;
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }

    &__img {
      width: 100%;
      height: auto;
    }

    &__left {
      position: relative;
      @include media-breakpoint-down(sm) {
        margin-bottom: 27px;
      }

      .concept-simple__figure {
        position: absolute;
        right: 0;
        top: 0;
        @include media-breakpoint-down(md) {
          position: static;
        }
      }

      .concept-simple__img {
        object-fit: fill;
        width: 54vw;
        max-height: 640px;
        @include media-breakpoint-down(md) {
          width: 100%;
          max-height: 100%;
        }
      }

      .concept-simple__figcaption {
        text-align: right;
        margin-left: auto;
      }
    }
  }

  &-big {
    @include section-indent;

    &__img {
      width: 100%;
      height: auto;
    }

    &__block {
      height: 100%;
      position: relative;
      @include media-breakpoint-down(sm) {
        margin: 12px;
      }
    }

    &__descr {
     @include typography('descr-multi');
      font-style: italic;
      position: absolute;
      left: 0;
      bottom: 0;
      @include media-breakpoint-down(sm) {
        position: static;
      }
    }
  }

  &-poster {

    &__wrap {
      position: relative;

    }

  }


}