.delivery {
  position: relative;

  &__install {
    @include media-breakpoint-down(md) {
      display: none;
    }
    &--mobile {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
      }

    }
  }

  .breadcrumbs__wrap {
    margin-bottom: 12px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__tabs {
    display: flex;
    @include media-breakpoint-down(sm) {
      overflow: hidden;
    }
  }

  &__title {
    margin-bottom: 36px;
    @include media-breakpoint-down(md) {
      margin-bottom: 21px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 25px;
      line-height: 45px;
    }
  }

  &-description {
    &:before {
      content: '';
      position: absolute;
      top: -108px;
      left: 0;
      width: 100%;
      height: 369px;
      background-color: $white-3;
      z-index: -2;
      @include media-breakpoint-down(lg) {
        height: 340px;
      }
      @include media-breakpoint-down(md) {
        height: 225px;
        top: -32px;
      }
    }
  }

  &__controll {
    @include media-breakpoint-down(sm) {
      display: flex;
    }
  }

  &__tab {
    padding-left: 27px;
    padding-right: 27px;
    height: 70px;
    align-items: center;
    justify-content: center;
    @include typography('tech');
    background-color: transparent;
    cursor: pointer;
    transition: $transition-base;
    display: inline-flex;
    &:hover {
      color: $gold;
    }
    @include media-breakpoint-down(lg) {
      padding-right: 18px;
      padding-left: 18px;
    }
    @include media-breakpoint-down(md) {
      height: 52px;
    }
    @include media-breakpoint-down(sm) {
      white-space: nowrap;
    }

    &--active {
      background-color: $white;
      cursor: default;
      &:hover {
        color: $black;
      }
    }
  }

  &__page {
    background-color: $white;
    padding-top: 54px;
    @include media-breakpoint-down(sm) {
      padding-top: 25px;
    }
  }

  &__subtitle {
    margin-bottom: 18px;
    @include media-breakpoint-down(md) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 23px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 27px;
      line-height: 36px;
      margin-bottom: 11px;
    }
  }

  &__text {
    margin-bottom: 63px;
    padding-right: 25px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 58px;
      padding-right: 0;
    }
    @include media-breakpoint-down(md) {
      max-width: 374px;
      margin-bottom: 45px;
    }
    &--bottom {
      margin-bottom: 72px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 45px;
      }
      @include media-breakpoint-down(md) {
        max-width: 652px;
        margin-bottom: 34px;
      }
    }
  }


  &__table {
    border-bottom: 1px solid $gray-1;
    @include section-indent;

    @include media-breakpoint-down(md) {
      margin-bottom: 25px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }


    &-list {
      @include media-breakpoint-down(lg) {
        flex-direction: column;
      }
      @include media-breakpoint-down(md) {
        flex-direction: row;
      }
    }

    &-row {
      display: flex;
      height: 46px;
      @include media-breakpoint-down(lg) {
        height: 42px;
      }
      @include media-breakpoint-down(md) {
        height: 41px;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $gray-1;
      }
      &--column {
        height: auto;
        .delivery__table-text.delivery__table--column {
          justify-content: flex-start;
          @include media-breakpoint-down(lg) {
            padding-top: 45px;
          }
          @include media-breakpoint-down(md) {
            padding-top: 7px;
            padding-bottom: 8px;
          }
        }
        span {
          @include media-breakpoint-down(lg) {
            margin-bottom: 9px;
          }
        }
      }
    }

    &-list {
      display: flex;
    }

    &-block {
      margin-left: 22px;
      @include media-breakpoint-down(lg) {
        margin-left: 0;
      }
      @include media-breakpoint-down(md) {
        margin-left: 9px;
      }

      span {
        display: block;
        font-size: 18px;
        line-height: 27px;
        font-style: italic;
        margin-bottom: 9px;
        @include media-breakpoint-down(lg) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }


    &-text {
      font-size: 20px;
      line-height: 27px;
      display: inline-flex;
      padding-left: 18px;
      padding-top: 9px;
      width: 221px;
      @include media-breakpoint-down(lg) {
        width: 185px;
        font-size: 18px;
        line-height: 24px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 22px;
        width: 196px;
      }

      span {
        display: block;
        margin-bottom: 9px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 12px;
        }
        @include media-breakpoint-down(md) {
          margin-bottom: 9px;
        }
      }

      &:first-child {
        width: 410px;
        @include media-breakpoint-down(lg) {
          width: 250px;
        }
        @include media-breakpoint-down(md) {
          width: 373px;
        }
      }

      &:last-child {
        flex-grow: 1;
        @include media-breakpoint-down(lg) {
          flex-grow: 0;
          width: 158px;
        }
        @include media-breakpoint-down(md) {
          width: auto;
          flex-grow: 1;
        }
      }

      &:not(:first-child) {
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 18px;
      }
      &:not(:last-child) {
        border-right: 1px solid $gray-1;
      }
    }

    &-line {
      height: 65px;
      padding-top: 13px;
      padding-left: 18px;
      background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      border-bottom: 1px solid $gray-1;
      @include media-breakpoint-down(lg) {
        font-size: 18px;
        line-height: 24px;
        height: 42px;
        padding-top: 9px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .5px;
      }
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 27px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 16px;
      }
    }

    &-item {
      background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      font-size: 20px;
      font-family: $rft-font;
      font-weight: $semi-bold;
      letter-spacing: 0.01em;
      line-height: 26px;
      width: 203px;
      height: 72px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 21px;
        width: 168px;
        height: 60px;
      }
      @include media-breakpoint-down(md) {
        width: 178px;
      }
      &:first-child {
        width: 410px;
        text-align: left;
        justify-content: flex-start;
        padding-left: 22px;
        @include media-breakpoint-down(lg) {
          width: 250px;
        }
        @include media-breakpoint-down(md) {
          width: 374px;
          padding-left: 18px;
        }
      }
      &:last-child {
        width: 213px;
        text-align: right;
        justify-content: flex-end;
        padding-right: 16px;
        @include media-breakpoint-down(lg) {
          width: 140px;
        }
        @include media-breakpoint-down(md) {
          width: 178px;
        }
      }
    }
    &--column {
      flex-direction: column;
      span.delivery__table-number {
        text-align: right;
        @include media-breakpoint-down(lg) {
          margin-bottom: 9px;
        }
      }
    }
  }

  &__mini {
    position: relative;
    width: 272px;
    height: 140px;
    background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    margin-top: 50px;
    padding-left: 29px;

    @include media-breakpoint-down(lg) {
      margin-top: 72px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--mobile {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        width: 276px;
        height: 110px;
        margin-top: 41px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &-number {
      font-size: 144px;
      line-height: 100px;
      top: -49px;
      position: relative;
      @include media-breakpoint-down(md) {
        font-size: 108px;
        line-height: 108px;
        top: -56px;
      }
    }

    &-text {
      @include typography('base');
      position: relative;
      top: -42px;
      @include media-breakpoint-down(md) {
        top: -68px;
      }
    }

    &-img {
      position: absolute;
      right: -61px;
      bottom: 0;
      @include media-breakpoint-down(lg) {
        width: 121px;
        height: 206px;
        right: -50px;
      }
      @include media-breakpoint-down(md) {
        width: 95px;
        height: 161px;
        right: 0;
      }
    }
  }

  &__tip {
    position: absolute;
    bottom: 180px;
    right: -11px;
    width: 100%;
    @include media-breakpoint-down(lg) {
      bottom: 141px;
    }
    @include media-breakpoint-down(md) {
      position: static;
      margin-bottom: 69px;
    }

    &-title {
      font-family: $minion-display;
      font-size: 27px;
      line-height: 36px;
      margin-bottom: 9px;
      @include media-breakpoint-down(lg) {
        font-size: 24px;
        line-height: 34px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 12px;
      }
    }

    &-text {
      @include typography('base');
      @include media-breakpoint-down(md) {
        max-width: 335px;
      }
    }
  }

  &__step {
    margin-bottom: 63px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 54px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 9px 18px;
      font-size: 20px;
      line-height: 26px;
      font-family: $rft-font;
      font-weight: $semi-bold;
      border-bottom: 1px solid $gray-1;
      background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 21px;
      }
      @include media-breakpoint-down(md) {
        padding-left: 9px;
        padding-right: 9px;
      }
    }

    &-sub {
      font-size: 13px;
      line-height: 18px;
      color: $gray;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: $rft-font;
      font-weight: $semi-bold;
      margin-bottom: 9px;
    }

    &-title {
      margin-bottom: 29px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 18px;
      }
    }

    &-row {
      display: flex;
      justify-content: space-between;
      padding: 9px 18px;
      border-bottom: 1px solid $gray-1;
      @include typography('base');
      @include media-breakpoint-down(md) {
        padding-left: 9px;
        padding-right: 9px;
        & > span:first-child {
          max-width: 236px;
        }
      }
    }
  }

  &__aside {

    &:first-child {
      margin-top: 170px;
      @include media-breakpoint-down(lg) {
        margin-top: 136px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 40px;

        .delivery__aside-img {
          width: 63px;
          height: 85px;
        }
      }
    }

    &:last-child {
      position: absolute;
      right: 0;
      bottom: 0;
      @include media-breakpoint-down(md) {
        .delivery__aside-img {
          width: 63px;
          height: 96px;
        }
      }
    }

    &-img {
      margin-bottom: 20px;
    }

    &-title {
      margin-bottom: 9px;
    }

    &-text {

    }
  }

  &__row {
    @include section-indent;
    & > div:last-child {
      padding-left: 7px;
    }
  }

  &__choose {
    height: 257px;
    background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    @include section-indent;
    margin-bottom: 126px;
    @include media-breakpoint-down(lg) {
      height: 240px;
      padding-top: 45px;
    }
    @include media-breakpoint-down(md) {
      height: 190px;
      padding-top: 36px;
      margin-bottom: 18px;
    }

    &-title {
      width: 420px;
      text-align: center;
      margin-bottom: 27px;
      @include typography('h2-new');
      @include media-breakpoint-down(lg) {
        width: 350px;
        margin-bottom: 36px;
      }
      @include media-breakpoint-down(md) {
        font-size: 27px;
        line-height: 36px;
        width: 297px;
        margin-bottom: 18px;
      }
    }

    &-link {
      @include link(true);
      @include media-breakpoint-down(md) {

      }
    }
  }

}
