.interior {
  padding-top: 81px;
  @include media-breakpoint-down(lg) {
    padding-top: 45px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }

  /* --- Bivalve --- */
  .interior-first--bivalve {

      background-image: url('#{$img-url}/content/interior/bivalve-first.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;

      .interior-first__picture:after {
        @include media-breakpoint-down(sm) {
          width: 200vw;
        }
      }

      @include media-breakpoint-down(md) {
        background-image: none;
        padding-top: 0;
      }

      @include media-breakpoint-down(sm) {
        background-image: none;
        padding-top: 18px;
      }


    .interior-first__section {
      margin-bottom: 33px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 15px;
      }
    }

    .interior-first__table {
      margin-bottom: 11px;
      @include media-breakpoint-down(md) {
        display: none;
      }

      @include media-breakpoint-down(sm) {
        display: block;
      }

    }

    .interior-first__controll {
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    .interior-first__title {
      margin-bottom: 20px;
    }

    .interior-first__block {
      padding: 27px 36px 36px;

      @include media-breakpoint-down(lg) {
        padding: 14px 27px 27px;
      }

      @include media-breakpoint-down(md) {
        padding: 0;
      }

      @include media-breakpoint-down(sm) {
        padding-bottom: 116px;
      }

    }

    .interior-first__door {
      @include media-breakpoint-down(lg) {
        width: 529px;
        height: 708px;
      }
      @include media-breakpoint-down(md) {
        width: 427px;
        height: 571px;
      }
    }

    .entrance-item__name {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }


    .interior-first__variant {
      width: 598px;
      @include media-breakpoint-down(lg) {
        width: 505px;
      }
      @include media-breakpoint-down(md) {
        width: 278px;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        position: relative;
        z-index: 0;
      }

    }

    .interior-first__breadcrumbs {
      margin-top: 12px;
      @include media-breakpoint-down(md) {
        margin-top: 0;
      }
    }

    .entrance-item__name {
      bottom: 56px;
      top: auto;
      left: calc(100% + 18px);
      right: calc(100% + 18px);
      @include media-breakpoint-down(sm) {
        display: block;
        bottom: 100%;
        top: 0;
        left: calc(100% + 27px);
        right: 27px;
      }
    }

    .interior-first__mobile.interior-first__none {
      display: block;
    }

  }


  /* --- Simple --- */
  .interior-first--simple {
    @include media-breakpoint-down(sm) {

      .interior-first__door {
        width: auto;
        height: 368px;
      }

      .interior-first__picture:after {
        width: calc( 100vw + 27px );
        transform: translateX(-34px);
        background-size: cover;
      }
    }
  }



  &-first {
    @include section-indent;
    background-color: $white-1;
    
    
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      overflow: hidden;
      padding-top: 18px;
    }

    &__top {
      display: none;
      width: 100%;

      .breadcrumbs__wrap {
        margin: 0;
      }

      .interior-first__title {
        font-size: 42px;
        line-height: 45px;
        margin-bottom: 36px;
      }

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    &__bg {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
        position: absolute;
        right: -27px;
        top: 0;
      }
    }

    &__none {
      @include media-breakpoint-down(sm) {
        display: none!important;
      }
    }

    .entrance-item__price {
      @include media-breakpoint-down(lg) {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 5px;
      }
    }

    .entrance-item__btn {
      @include media-breakpoint-down(lg) {
        width: 100%;
        height: 72px;
      }
    }

    &__door {
      @include media-breakpoint-down(lg) {
        width: 329px;
        height: 765.28px;
      }
      @include media-breakpoint-down(md) {
        width: 278px;
        height: 649px;
      }
    }

    .entrance-item__new {
      right: -18px;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__controll {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__mobile {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    &__description {
      width: 386px;
      @include media-breakpoint-down(lg) {
        width: 322px;
        margin-top: -5px;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        order: 3;
        margin-top: 0;
        position: relative;
        padding-top: 27px;
        padding-bottom: 73px;
        &:before {
          content: '';
          position: absolute;
          width: 100vw;
          height: 100%;
          left: 50%;
          transform: translateX(-50vw);
          top: 0;
          background-color: $white;
          z-index: -1;
        }
      }
      @include media-breakpoint-down(sm) {
        padding-bottom: 54px;
        padding-top: 15px;
      }
    }
    
    &__variant {
      width: 422px;
      @include media-breakpoint-down(lg) {
        width: 354px;
      }
      @include media-breakpoint-down(md) {
        width: 50%;
        order: 1;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        position: relative;
        &:before {
          content: '';
          width: 100vw;
          height: 100%;
          position: absolute;
          left: 50%;
          top: 0;
          background-color: $white;
          z-index: -1;
          transform: translateX(-50vw);
        }
      }
    }

    &__picture {
      position: relative;
      display: flex;
      justify-content: flex-end;

      .entrance-item__new {
        display: none;
        @include media-breakpoint-down(md) {
          display: block;
          top: -9px !important;
          right: -9px !important;
        }
      }

      @include media-breakpoint-down(md) {
        width: 50%;
        order: 2;
        transform: translateX(-27px);
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: calc( 100vw + 18px );
          height: 18px;
          transform: translateX(-50vw);
          background-image: url('#{$img-url}/content/interior/border.svg');
          background-size: contain;
          background-repeat: repeat;
          z-index: -1;
        }
      }

      @include media-breakpoint-down(sm) {
        order: 1;
        width: auto;
        transform: translateX(0);
        justify-content: flex-start;
      }

      .entrance-item__name {
        bottom: 56px;
        top: auto;
        left: -27px;
        right: calc(100% + 27px);
        color: $gray;
        @include media-breakpoint-down(md) {
          bottom: 100%;
          top: 0;
          left: calc(100% + 27px);
          right: 27px;
          transform: rotate(90deg);
          color: $gray;
        }
      }
    }

    &--single {
      background-image: url('#{$img-url}/content/interior/interior-first-bg.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      @include media-breakpoint-down(md) {
        background-image: none;
        position: relative;
        z-index: 0;
      }

      .interior-first__description {
        margin-right: 36px;
        @include media-breakpoint-down(md) {
          margin-right: 0;
          padding-bottom: 116px;
        }
      }
    }



    &__title {
      margin-bottom: 31px;
      @include media-breakpoint-down(md) {
        margin-bottom: 18px;
      }

    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
    }

    &__breadcrumbs {
      margin-top: 4px;
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 5px;
      }


      .breadcrumbs__link {
        @include media-breakpoint-down(lg) {
          font-size: 16px;
          line-height: 18px;
        }
      }

      .breadcrumbs__wrap {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &__table {
      border-top: 1px solid $gray-1;
      border-bottom: 1px solid $gray-1;
      @include media-breakpoint-down(md) {
        margin-bottom: 36px;
      }
    }

    &__row {

      display: flex;
      justify-content: space-between;
      padding-top: 18px;
      padding-bottom: 18px;
      &:not(:last-child){
        border-bottom: 1px solid $gray-1;
      }
    }

    &__char {
      @include rft-txt;
      color: $gray;
    }

    &__val {
      position: relative;
      &:hover {

        .interior-first__simple {
          color: $gold;
          border-color: $gold;
        }

        .interior-first__brand {
          visibility: visible;
          opacity: 1;
          height: auto;
          transform: translateY(0);
        }
      }
    }

    &__simple {
      @include rft-txt;
      transition: $transition-base;
    }

    &__brand {
      position: absolute;
      top: calc(100% + 18px);
      left: 0;
      width: 269px;
      min-height: 284px;
      background-color: $gray-2;
      padding: 22px 18px 27px;
      z-index: 100;
      transition: $transition-base;
      visibility: hidden;
      opacity: 0;
      height: 0;
      transform: translateY(30px);
      @include media-breakpoint-down(md) {
        left: unset;
        right: 0;
        padding: 18px;
      }
      &:before {
        content: '';
        width: 100%;
        height: 18px;
        position: absolute;
        top: -18px;
        left: 0;
      }
      &-logo {
        margin-bottom: 18px;
        @include media-breakpoint-down(md) {
          margin-bottom: 9px;
        }
      }

      &-text {
        font-size: 16px;
        line-height: 22px;
        color: $white;
        text-transform: none;
      }

      & + .interior-first__simple {
        display: inline-block;
        border-bottom: 1px dashed $black;
        cursor: pointer;
      }
    }

    &__block {
      background-color: $white;
      padding: 27px 27px 36px;
      @include media-breakpoint-down(lg) {
        padding-bottom: 27px;
      }
      @include media-breakpoint-down(md) {
        background-color: transparent;
        padding: 0;

        .breadcrumbs__wrap {
          margin-top: 0;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-top: 18px;
      }
    }

    &__section {
      margin-bottom: 27px;
      @include media-breakpoint-down(md) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
      }
    }

    &__material {
      @include rft-txt;
      color: $gray;
      margin-bottom: 9px;
    }

    &__item {
      margin-bottom: 18px;
      @include media-breakpoint-down(md) {
        margin-right: 45px;
      }
      @include media-breakpoint-down(sm) {
        margin-right: 0;
        width: 100%;
      }
    }
    
    &__colors {
      display: flex;
      flex-wrap: wrap;
    }

    &__subtitle {
      margin-bottom: 9px;
      @include media-breakpoint-down(lg) {
        font-size: 27px;
        line-height: 36px;
      }
      @include media-breakpoint-down(md) {
        font-size: 22px;
        line-height: 26px;
      }
    }

    &__tip {
      position: absolute;
      padding: 9px;
      font-size: 14px;
      line-height: 14px;
      color: $white;
      font-style: italic;
      bottom: calc( 100% + 9px);
      left: 0;
      background-color: $gray-2;
      z-index: 1;
      white-space: nowrap;
      transition: $transition-base;
      visibility: hidden;
      opacity: 0;
      transform: translateY(30px);
    }
    
    &__color {
      width: 20px;
      height: 20px;
      background-color: #D2C8BC;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      @include media-breakpoint-down(lg) {
        width: 18px;
        height: 18px;
      }

      &:hover {
        .interior-first__tip {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }

      &:not(:last-child) {
        margin-right: 18px;
      }

      &--active {
        cursor: default;
        pointer-events: none;

        &:before {
          content: '';
          position: absolute;
          top: -4px;
          left: -4px;
          border-radius: 50%;
          width: 28px;
          height: 28px;
          border: 1px solid $gray;
          box-sizing: border-box;
          @include media-breakpoint-down(lg) {
            width: 26px;
            height: 26px;
          }
        }
      }
    }

    &--square {
      margin-top: 15px;
      margin-bottom: 24px;
      @include media-breakpoint-down(lg) {
        margin-top: 10px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }

      .interior-first__color {
        border-radius: 0;
        background-image: url(#{$img-url}/content/interior/interior-color.jpg);

        &--active {

          &:first-child {
            margin-left: 4px;
          }

          &:before {
            border-radius: 0;
            width: 30px;
            height: 30px;
            left: -5px;
            top: -5px;
            @include media-breakpoint-down(lg) {
              width: 28px;
              height: 28px;

            }
          }
        }
      }
    }

    &__form {
      display: none;
    }
  }

  &-classic {
    @include section-indent;

    &__left {
      position: relative;
      display: flex;
      justify-content: flex-end;
      &:before {
        content: '';
        width: 737px;
        height: 536px;
        position: absolute;
        top: -35px;
        left: 0;
        z-index: -1;
        border: 1px solid $gold;
      }
    }

    &__right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__name {
      @include rft-txt;
      color: $gray-2;
      margin-bottom: 9px;
    }

    &__title {
      color: $gold;
      margin-bottom: 18px;
    }

    &__text {
      width: 334px;
      margin-bottom: 36px;
    }

    &__link {
      @include rft-link;
      width: max-content;
    }





  }


  &-colors {
    @include section-indent;

    &__wrap {
      width: 100%;
      height: 648px;
      background-image: url(#{$img-url}/content/colors-bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 90px;
      @include media-breakpoint-down(lg) {
        height: 493px;
        padding-top: 63px;
      }
      @include media-breakpoint-down(md) {
        height: 378px;
        padding-top: 45px;
        background-size: cover;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 27px 27px 45px;
        height: auto;
      }
    }

    &__title {
      margin-bottom: 27px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 18px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 9px;
      }

    }

    &__text {
      width: 472px;
      margin-bottom: 27px;
      text-align: center;
      @include media-breakpoint-down(lg) {
        width: 525px;
        margin-bottom: 36px;
      }
      @include media-breakpoint-down(md) {
        width: 545px;
        margin-bottom: 27px;
      }
      @include media-breakpoint-down(sm) {
        text-align: left;
        width: 100%;
      }
    }

    &__icon {
      margin-bottom: 64px;
      @include media-breakpoint-down(md) {
        margin-bottom: 36px;
      }
    }

    &__link {
      @include rft-txt;
      width: 350px;
      height: 81px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #9D9DA1;
      color: $black;
      transition: $transition-base;
      &:hover {
        color: $gold;
      }
      @include media-breakpoint-down(sm) {
        height: 72px;
        width: 100%;
      }
    }
  }

  &-standarts {
    @include section-indent;

    &__title {
      width: 470px;
      margin: 0 auto 54px;
      text-align: center;
      @include media-breakpoint-down(lg) {
        margin-bottom: 45px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 36px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 27px;
        width: auto;
      }
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-down(sm) {
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    &__item {
      width: 412px;
      @include media-breakpoint-down(lg) {
        width: 323px;
      }
      @include media-breakpoint-down(md) {
        width: 234px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 36px;
        }

      }

      &:last-child {
        width: 480px;
        @include media-breakpoint-down(lg) {
          width: 381px;
        }
        @include media-breakpoint-down(md) {
          width: 275px;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }

      &:first-child {
        width: 279px;
        @include media-breakpoint-down(lg) {
          width: 217px;
        }
        @include media-breakpoint-down(md) {
          width: 157px;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }

    &__number {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 36px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 18px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 9px;
        text-align: center;
      }
    }

    &__name {
      font-size: 27px;
      line-height: 36px;
      font-family: $minion-display;
      margin-bottom: 36px;
      @include media-breakpoint-down(lg) {
        font-size: 24px;
        line-height: 34px;
      }
      @include media-breakpoint-down(md) {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 27px;
      }
      @include media-breakpoint-down(sm) {
        line-height: 22px;
        margin-bottom: 18px;
        text-align: center;
      }
    }

    &__img {
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        width: auto;
        height: 415px;
        object-fit: fill;
      }
      @include media-breakpoint-down(md) {
        height: 299px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: auto;
      }
    }
  }

  &-complete {
    @include section-indent;

    @include media-breakpoint-down(md) {
      overflow: hidden;
      background-color: $white-1;
    }

    &__wrap {
      display: flex;
      background-color: $white-1;
      padding: 81px 0 81px 73px;
      position: relative;
      overflow: hidden;
      @include media-breakpoint-down(lg) {
        padding-top: 52px;
        padding-left: 44px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 38px;
        overflow: visible;
      }
      @include media-breakpoint-down(sm) {
        padding: 36px 0 45px;
        flex-wrap: wrap;
      }
    }

    &__left {
      width: 312px;
      margin-right: 143px;
      display: flex;
      flex-direction: column;
      @include media-breakpoint-down(lg) {
        width: 241px;
        margin-right: 121px;
      }
      @include media-breakpoint-down(md) {
        width: 231px;
        margin-right: 50px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-right: 0;

        .interior-complete__link {
          display: none;
        }
      }
    }

    &__right {

      & .interior-complete__link {
        display: none;
        @include media-breakpoint-down(sm) {
          display: block;
        }
      }

      @include media-breakpoint-down(sm) {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    &__text {
      flex-grow: 1;
      @include media-breakpoint-down(sm) {
        margin-bottom: 27px;
      }
    }

    &__title {
      margin-bottom: 18px;
      @include media-breakpoint-down(md) {
        margin-bottom: 21px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 9px;
      }
    }

    &__link {
      @include rft-link;
      display: inline-block;
      width: max-content;
      &--m {
        display: none;
        @include media-breakpoint-down(sm) {
          display: block;
        }
      }
    }

    &__figure {
      width: 318px;
      display: inline-flex;
      flex-direction: column;
      @include media-breakpoint-down(lg) {
        width: 244px;
      }
      @include media-breakpoint-down(md) {
        width: 195px;
      }



      &:first-child {
        margin-right: 117px;
        @include media-breakpoint-down(lg) {
          margin-right: 90px;
        }
        @include media-breakpoint-down(md) {
          margin-right: 71px;
        }
        @include media-breakpoint-down(sm) {
          margin-right: 0;
          width: 38.889vw;
        }

        .interior-complete__block {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            bottom: 5px;
            right: 100%;
            width: 100vh;
            height: 19px;
            background-image: url(#{$img-url}/content/interior/plintus.svg);
            @include media-breakpoint-down(sm) {
              display: none;
            }
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 100%;
            width: 121px;
            height: 19px;
            background-image: url(#{$img-url}/content/interior/plintus.svg);
            @include media-breakpoint-down(lg) {
              width: 93px;
            }
            @include media-breakpoint-down(md) {
              width: 76px;
            }
            @include media-breakpoint-down(sm) {
              display: none;
            }
          }
        }

      }

      &:last-child {
        width: 310px;
        @include media-breakpoint-down(lg) {
          width: 210px;
        }
        @include media-breakpoint-down(md) {
          width: 169px;
          position: relative;
          .interior-complete__figcaption {
            position: absolute;
            top: 100%;
            left: 0;
            width: 219px;
          }
        }
        @include media-breakpoint-down(sm) {
          width: 38.889vw;

          .interior-complete__figcaption {
            position: static;
            width: auto;
          }
        }

        .interior-complete__block {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: calc(100% - 35px );
            width: 100vw;
            height: 19px;
            background-image: url(#{$img-url}/content/interior/plintus.svg);
            @include media-breakpoint-down(lg) {
              left: 100%;
            }
            @include media-breakpoint-down(sm) {
              display: none;
            }
          }
        }


      }
    }

    &__img {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      @include media-breakpoint-down(sm) {
        height: 75.833vw;
      }

    }

    &__figcaption {
      margin-top: 18px;
      font-style: italic;
      font-size: 18px;
      line-height: 27px;
      strong {
        font-weight: $bold;
      }
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 24px;
      }
      @include media-breakpoint-down(md) {
        line-height: 22px;
        margin-top: 13px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 14px;
        margin-top: 9px;
        margin-bottom: 36px;
      }
    }
  }



  &-complect {
    @include section-indent;
    background-color: $white-1;
    padding-top: 91px;

    @include media-breakpoint-down(lg) {
      padding-top: 54px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 45px;
      padding-bottom: 45px;
    }

    &__wrap {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__col {
      display: flex;
      justify-content: space-between;
    }

    &__left {
      width: 335px;

      @include media-breakpoint-down(lg) {
        width: 254px;
      }

      @include media-breakpoint-down(md) {
        width: 100%;
      }

    }

    &__right {
      width: 335px;

      @include media-breakpoint-down(lg) {
        width: 268px;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }

    }

    &__title {
      margin-bottom: 9px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 18px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 9px;
      }
    }

    &__descr {
      margin-bottom: 36px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 27px;
      }
      @include media-breakpoint-down(md) {
        max-width: 544px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        margin-bottom: 18px;
      }
    }

    &__table {
      @include rft-txt;
      @include media-breakpoint-down(md) {
        border-top: 1px solid $gray-1;
        margin-bottom: 18px;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $gray-1;
      padding-top: 18px;
      padding-bottom: 18px;

      @include media-breakpoint-down(md) {
        font-size: 10px;
        line-height: 16px;
        border-left: 1px solid $gray-1;
        border-right: 1px solid $gray-1;
        padding: 9px;
      }

    }

    &__center {
      position: relative;

      @include media-breakpoint-down(lg) {
        max-width: 290px;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__name {
      font-style: italic;
      font-size: 18px;
      line-height: 27px;
      color: $gray;
      position: absolute;
      transform: rotate(-90deg);
      transform-origin: 100%;
      bottom: calc(100% - 15px);
      top: auto;
      left: auto;
      right: calc(100% + 23px);
      white-space: nowrap;
      letter-spacing: .5px;
      font-family: $minion-display;
    }

    &__img {
      display: block;
    }

    &__head {
      padding-bottom: 5px;
      color: $gray-6;
    }

    &__tabs {
      display: none;
      min-height: 45px;
      width: 100%;
      border-top: 1px solid $gray-5;
      border-left: 1px solid $gray-5;
      border-right: 1px solid $gray-5;

      @include media-breakpoint-down(md) {
        display: block;
      }

    }

    &__pic {
      display: block;
      width: 100%;
    }

    &__content {
      padding: 18px 18px 9px;
      border-bottom: 1px solid $gray-5;
      display: none;
    }

    &__view {
      transition: $transition-base;
    }

    &__item {
      font-size: 20px;
      line-height: 22px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding-left: 18px;
      padding-right: 18px;
      height: 45px;
      cursor: pointer;
      transition: $transition-base;

      &--last {
        border-bottom: none;
      }
      
      &--active {
        background-color: $gray-5;
        .interior-complect__view {
          transform: rotate(90deg);
        }
      }
      
      &:not(:last-child) {
        border-bottom: 1px solid $gray-5;
      }
      
      span {
        font-family: $minion-display;
      }
      
    }

    &__result {
      margin-top: 187px;
      @include media-breakpoint-down(lg) {
        margin-top: 117px;
      }

      @include media-breakpoint-down(md) {
        margin-top: 36px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 18px;
      }

      &-text {
        @include rft-txt;
        color: $gray-6;
      }

      &-price {
        font-size: 36px;
        line-height: 47px;
        font-family: $minion-display;
        @include media-breakpoint-down(lg) {
          font-size: 32px;
          line-height: 40px;
        }
        @include media-breakpoint-down(md) {
          font-size: 27px;
          line-height: 36px;
        }
      }
    }

    &__subtitle {
      @include rft-txt;
      color: $gray-6;
      margin-bottom: 9px;
    }

    &__about {
      margin-bottom: 18px;
    }

    &__block {
      margin-bottom: 45px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 36px;
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      margin-top: 105px;
      justify-content: flex-end;
      @include media-breakpoint-down(lg) {
        margin-top: 36px;
      }
    }

    &__counter {
      padding-left: 18px;
      padding-right: 18px;
      font-size: 16px;
      line-height: 1;
      color: $gray;
      font-family: $rft-font;
      font-weight: $semi-bold;
      height: 20px;
    }

    &__arrow {
      cursor: pointer;

      &.slick-disabled {
        cursor: default;

        &:hover {
          path {
            fill: $gray-1;
          }
        }
        path {
          fill: $gray-1;

        }
      }

      &:hover {
        path {
          fill: $gold;
        }
      }
      path {
        fill: $gray;
        transition: $transition-base;
      }
    }

    &__slide {
      flex-direction: column;
      outline: none;

    }

  }

  &-patina {
    @include section-indent;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      background-color: $green-2;
    }

    &__title {
      width: 332px;
      margin-bottom: 27px;
      margin-left: 76px;
      margin-top: 76px;
      @include media-breakpoint-down(lg) {
        margin-top: 45px;
        margin-bottom: 18px;
        margin-left: 46px;
        width: 293px;
      }
      @include media-breakpoint-down(md) {
        width: 223px;
        margin-top: 18px;
        margin-left: 18px;
        margin-bottom: 18px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 12px;
      }
    }

    &__text {
      margin-left: 76px;
      width: 332px;
      @include media-breakpoint-down(lg) {
        margin-left: 46px;
        width: 293px;
      }
      @include media-breakpoint-down(md) {
        margin-left: 18px;
        width: 224px;
      }
      @include media-breakpoint-down(sm) {
        margin-left: 0;
        width: 100%;
      }
    }

    &__rowl {
      padding-right: 0;
    }

    &__rowr {
      padding-left: 0;
    }

    &__left {
      position: relative;
      height: 66.647vw;
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 88.889vw;
      }


      .interior-patina__img {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 66.765vw;
        @include media-breakpoint-down(sm) {
          width: 100vw;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &__top {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 50%;
      background-color: $green-2;
      @include media-breakpoint-down(sm) {
        position: static;
        height: auto;
        width: 100%;
        padding-top: 36px;
        padding-bottom: 66px;
      }
    }

    &__bottom {
      position: absolute;
      left: 0;
      bottom: 1px;
      width: calc( 100vw - 63.765vw);
      height: 50%;
      @include media-breakpoint-down(sm) {
        position: relative;
        height: 88.889vw;
        width: 100vw;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__right {
      position: relative;
      height: 66.647vw;
      @include media-breakpoint-down(sm) {
        height: auto;
      }

      .interior-patina__img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &-similar {
    @include section-indent;

    @include media-breakpoint-down(sm) {
      overflow: hidden;
    }

    .catalog-interior {
      overflow: inherit;
    }

    .interior-item {
      &:first-child {
        margin-right: 90px;
        @include media-breakpoint-down(md) {
          margin-right: 63px;
        }
        @include media-breakpoint-down(sm) {
          margin-right: 36px;
        }
      }
    }

    &__wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 303px;
      @include media-breakpoint-down(lg) {
        width: 251px;
        justify-content: flex-start;
      }

      @include media-breakpoint-down(md) {
        width: 201px;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 27px;
      }


    }

    &__right {
      display: flex;
      overflow: hidden;
    }

    &__title {
      margin-bottom: 27px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 18px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 9px;
      }

    }


  }


}
