.invisible-page {

  .entrance-item__address {
    font-size: 18px;
    line-height: 27px;
    font-style: italic;
    padding: 13px 36px 13px 18px;
    position: relative;
    z-index: 1;
    margin-bottom: 36px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 18px;
      padding: 15px 25px 14px 15px;
      font-size: 16px;
      line-height: 22px;
    }

    @include media-breakpoint-down(md) {
      max-width: 274px;
      padding: 16px 19px 14px 20px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      padding: 18px 14px 11px 18px;
    }

    &--mobile {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
        margin-top: 45px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: rotate(-180deg);
      z-index: -1;
      background: linear-gradient(110.37deg, #FFFFFF 13.54%, #EDEDED 86.46%);

      @include media-breakpoint-down(md) {
        transform: rotate(0);
        background: linear-gradient(112.68deg, #EDEDED 13.1%, #FFFFFF 83.63%);
      }

    }

    a {
      border-bottom: 1px solid $gray-1;
      cursor: pointer;
      color: $black;
      transition: $transition-base;
      &:hover {
        color: $gold;
        border-bottom-color: $gold;
      }
    }
  }

  .entrance-item--first {
    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }
  }

  .entrance-item__about {
    @include media-breakpoint-down(lg) {
      padding-bottom: 18px;
    }
  }

  .entrance-item__info {
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 7px;
    }
  }

  .entrance-item__card {
    @include media-breakpoint-down(lg) {
      margin-top: 18px;
    }
  }

  .entrance-item__title {
    @include media-breakpoint-down(lg) {
      font-size: 45px;
      line-height: 54px;
      margin-bottom: 9px;
    }
  }

  .interior-first__table {
    margin-bottom: 18px;
  }

  .entrance-item__price {
    margin-bottom: 9px;
  }

  .interior-first__char {
    color: $black;
    @include media-breakpoint-down(lg) {
      font-size: 11px;
    }
  }

  .interior-first__move {
    cursor: pointer;

    .interior-first__char {
      border-bottom: 1px solid $black;
      transition: $transition-base;
    }

    svg path {
      transition: $transition-base;
    }

    &:hover {

      .interior-first__char {
        color: $gold;
        border-bottom-color: $gold;
      }

      path {
        fill: $gold;
      }
    }
  }

  .interior-first__row {
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  .invisible-row {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: space-between;
    }
    @include media-breakpoint-down(sm) {
      .entrance-item__address {
        display: none;
      }
    }
  }

  .interior-first__counter {
    display: flex;
    align-items: center;

    .number {
      margin-right: 9px;
      margin-left: 9px;
      @include rft-txt;
      color: $black;
    }

    .button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;


      svg {
        &:hover {
          path {
            fill: $gold;
          }

          circle {
            stroke: $gold;
          }
        }

        path {
          transition: $transition-base;
        }

        circle {
          transition: $transition-base;
        }
      }
    }
  }
}

.invisible-continue {
  @include section-indent;

  &__picture {
    position: relative;
    padding-top: 27px;
    display: flex;
    justify-content: flex-end;
    @include media-breakpoint-down(md) {
      padding-top: 22px;
    }

    img {
      display: block;
      width: calc(100% - 27px);
      position: relative;
      z-index: 1;

      @include media-breakpoint-down(md) {
        width: calc(100% - 22px);
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 27px);
      height: calc(100% - 27px);
      border: 1px solid $gold;
      z-index: -1;

      @include media-breakpoint-down(md) {
        width: calc(100% - 22px);
        height: calc(100% - 22px);
      }
    }
  }

  &__row {
    align-items: center;
  }

  &__text {
    font-size: 26px;
    line-height: 34px;
    font-family: $minion-display;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__right {
    @include media-breakpoint-down(md) {
      padding-left: 45px;
    }
    @include media-breakpoint-down(sm) {
      order: 1;
      padding-left: 0;
      margin-bottom: 27px;
    }
  }

  &__left {
    @include media-breakpoint-down(sm) {
      order: 2;
    }
  }

  &__title {

    margin-bottom: 18px;
    @include media-breakpoint-down(lg) {
      font-size: 36px;
      line-height: 45px;
    }

    @include media-breakpoint-down(md) {
      font-size: 27px;
      line-height: 36px;
    }

    &:first-letter {
      display: block;
      font-size: 99px;
      line-height: 54px;
      color: $gold;
      float: left;
      margin-top: 27px;
      padding-right: 18px;
      @include media-breakpoint-down(lg) {
        margin-top: 23px;
      }

      @include media-breakpoint-down(md) {
        font-size: 81px;
        line-height: 63px;
        padding-right: 9px;
        margin-top: 9px;
      }
    }
  }
}


.invisible-set {
  height: 992px;
  background-size: cover;
  background-position: center;
  color: $white;
  background-image: url(#{$img-url}/content/invisible/set.jpg);
  @include media-breakpoint-down(lg) {
    height: 836px;
  }
  @include media-breakpoint-down(md) {
    height: auto;
    background-image: none;
    color: $black;
  }
}
