.invisible-page {

  .entrance-item__address {
    font-size: 18px;
    line-height: 27px;
    font-style: italic;
    padding: 13px 36px 13px 18px;
    position: relative;
    z-index: 1;
    margin-bottom: 36px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 18px;
      padding: 15px 25px 14px 15px;
      font-size: 16px;
      line-height: 22px;
    }

    @include media-breakpoint-down(md) {
      max-width: 274px;
      padding: 16px 19px 14px 20px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      padding: 18px 14px 11px 18px;
    }

    &--mobile {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
        margin-top: 45px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: rotate(-180deg);
      z-index: -1;
      background: linear-gradient(110.37deg, #FFFFFF 13.54%, #EDEDED 86.46%);

      @include media-breakpoint-down(md) {
        transform: rotate(0);
        background: linear-gradient(112.68deg, #EDEDED 13.1%, #FFFFFF 83.63%);
      }

    }

    a {
      border-bottom: 1px solid $gray-1;
      cursor: pointer;
      color: $black;
      transition: $transition-base;
      &:hover {
        color: $gold;
        border-bottom-color: $gold;
      }
    }
  }

  .entrance-item--first {
    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }
  }

  .entrance-item__about {
    @include media-breakpoint-down(lg) {
      padding-bottom: 18px;
    }
  }

  .entrance-item__info {
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 7px;
    }
  }

  .entrance-item__card {
    @include media-breakpoint-down(lg) {
      margin-top: 18px;
    }
  }

  .entrance-item__title {
    @include media-breakpoint-down(lg) {
      font-size: 45px;
      line-height: 54px;
      margin-bottom: 9px;
    }
  }

  .interior-first__table {
    margin-bottom: 18px;
  }

  .entrance-item__price {
    margin-bottom: 9px;
  }

  .interior-first__char {
    color: $black;
    @include media-breakpoint-down(lg) {
      font-size: 11px;
    }
  }

  .interior-first__move {
    cursor: pointer;

    .interior-first__char {
      border-bottom: 1px solid $black;
      transition: $transition-base;
    }

    svg path {
      transition: $transition-base;
    }

    &:hover {

      .interior-first__char {
        color: $gold;
        border-bottom-color: $gold;
      }

      path {
        fill: $gold;
      }
    }
  }

  .interior-first__row {
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  .invisible-row {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: space-between;
    }
    @include media-breakpoint-down(sm) {
      .entrance-item__address {
        display: none;
      }
    }
  }

  .interior-first__counter {
    display: flex;
    align-items: center;

    .number {
      margin-right: 9px;
      margin-left: 9px;
      @include rft-txt;
      color: $black;
    }

    .button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;


      svg {
        &:hover {
          path {
            fill: $gold;
          }

          circle {
            stroke: $gold;
          }
        }

        path {
          transition: $transition-base;
        }

        circle {
          transition: $transition-base;
        }
      }
    }
  }
}

.invisible-continue {
  @include section-indent;

  &__picture {
    position: relative;
    padding-top: 27px;
    display: flex;
    justify-content: flex-end;
    @include media-breakpoint-down(md) {
      padding-top: 22px;
    }

    img {
      display: block;
      width: calc(100% - 27px);
      position: relative;
      z-index: 1;

      @include media-breakpoint-down(md) {
        width: calc(100% - 22px);
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 27px);
      height: calc(100% - 27px);
      border: 1px solid $gold;
      z-index: -1;

      @include media-breakpoint-down(md) {
        width: calc(100% - 22px);
        height: calc(100% - 22px);
      }
    }
  }

  &__row {
    align-items: center;
  }

  &__text {
    font-size: 26px;
    line-height: 34px;
    font-family: $minion-display;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__right {
    @include media-breakpoint-down(md) {
      padding-left: 45px;
    }
    @include media-breakpoint-down(sm) {
      order: 1;
      padding-left: 0;
      margin-bottom: 27px;
    }
  }

  &__left {
    @include media-breakpoint-down(sm) {
      order: 2;
    }
  }

  &__title {

    margin-bottom: 18px;
    @include media-breakpoint-down(lg) {
      font-size: 36px;
      line-height: 45px;
    }

    @include media-breakpoint-down(md) {
      font-size: 27px;
      line-height: 36px;
    }

    &:first-letter {
      display: block;
      font-size: 99px;
      line-height: 54px;
      color: $gold;
      float: left;
      margin-top: 27px;
      padding-right: 18px;
      @include media-breakpoint-down(lg) {
        margin-top: 23px;
      }

      @include media-breakpoint-down(md) {
        font-size: 81px;
        line-height: 63px;
        padding-right: 9px;
        margin-top: 9px;
      }
    }
  }
}


.invisible-set {
  height: 992px;
  background-size: cover;
  background-position: center;
  color: $white;
  background-image: url(#{$img-url}/content/invisible/set.jpg);
  @include media-breakpoint-down(lg) {
    height: 836px;
  }
  @include media-breakpoint-down(md) {
    height: auto;
    background-image: none;
    color: $black;
  }
}


.invisible-hidden {
  background-color: $gray-9;
  position: relative;
  @include section-indent;

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 173px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 105px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 18px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 84px;
    }
  }

  &__title {
    margin-bottom: 27px;
    padding-top: 70px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 18px;
      font-size: 34px;
      line-height: 45px;
      padding-top: 45px;
    }
    @include media-breakpoint-down(md) {
      font-size: 27px;
      line-height: 36px;
      padding-top: 27px;
    }
  }
  
  &__product {
    width: 298px;
    height: 298px;
    background-color: $white;
    border-radius: 50%;
    margin-bottom: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media-breakpoint-down(lg) {
      width: 220px;
      height: 220px;
      margin-bottom: 72px;
      img {
        display: block;
        width: 52px;
        height: 98px;
      }
    }

    @include media-breakpoint-down(md) {
      width: 200px;
      height: 200px;
      margin-bottom: 36px;
    }

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: calc( 100% - 46px );
      right: 0;
      margin-bottom: 0;
      width: 167px;
      height: 167px;

    }

  }

  &__right {
    @include media-breakpoint-down(md) {
      padding-left: 36px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  &__name {
    font-size: 18px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 3px;
    margin-top: 27px;
    @include media-breakpoint-down(lg) {
      margin-top: 18px;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__price {
    font-size: 16px;
    line-height: 22px;
    color: $gray;
    font-family: $rft-font;
    font-weight: $semi-bold;

    @include media-breakpoint-down(sm) {
      margin-top: 4px;
    }
  }

  &__left {
    position: absolute;
    height: 100%;
    width: 59.765vw;
    @include media-breakpoint-down(sm) {
      order: 2;
      width: 100%;
      height: auto;
      position: static;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    @include media-breakpoint-down(md) {
      object-fit: cover;
    }
  }

  &__container {
    @include media-breakpoint-down(sm) {
      order:1;
      position: relative;
    }
  }
}

.invisible-system {
  @include section-indent;

  &__title {
    margin-bottom: 13px;
    @include media-breakpoint-down(lg) {
      max-width: 320px;
    }
    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin-bottom: 9px;
    }
  }

  &__text {
    @include media-breakpoint-down(lg) {
      max-width: 320px;
    }
    @include media-breakpoint-down(md) {
      max-width: 207px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 195px;
    }
  }

  &__block {
    position: relative;
    padding-top: 54px;
    padding-bottom: 141px;
    padding-left: 88px;
    z-index: 1;

    @include media-breakpoint-down(lg) {
      padding-bottom: 86px;
      padding-left: 70px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 27px;
      padding-bottom: 36px;
      padding-left: 27px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 27px;
      padding-left: 18px;
      padding-right: 18px;
      background-color: #EFEAE6;
    }

    &:before {
      content: '';
      width: 717px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: #EFEAE6;

      @include media-breakpoint-down(md) {
        width: 409px;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }

    }
  }

  &__left {

    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      width: calc( 100% - 46px );
      margin: 0 auto;
    }

  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
  }
}


.invisible-mounting {
  @include section-indent;
  background-size: cover;
  background-position: center;
  background-image: url(#{$img-url}/content/invisible/mounting.jpg);
  height: 59.765vw;
  padding-top: 126px;
  color: $white;
  position: relative;

  @include media-breakpoint-down(lg) {
    padding-top: 64px;
    height: 65.635vw;
  }

  @include media-breakpoint-down(md) {
    padding-top: 45px;
    height: 65.654vw;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
    height: 98.333vw;
  }

  &__title {
    margin-bottom: 18px;
    width: 233px;
    @include media-breakpoint-down(lg) {
      width: 189px;
    }
    @include media-breakpoint-down(md) {
      width: 250px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__text {
    width: 352px;
    @include media-breakpoint-down(lg) {
      width: 274px;
    }
    @include media-breakpoint-down(md) {
      width: 221px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__point {
    position: absolute;

    &:hover {

      .invisible-mounting__tip {
        visibility: visible;
        opacity: 1;
      }

      .invisible-mounting__plus {
        &:after {
          background-color: $gray-6;
        }
        &:before {
          background-color: $gray-6;
        }
      }

      .invisible-mounting__circle {
        opacity: 1;
        visibility: visible;
      }

    }
  }

  &__first {
    left: 35.2vw;
    top: 31vw;
    @include media-breakpoint-down(lg) {
      left: 34.2vw;
    }
    @include media-breakpoint-down(sm) {
      top: 50vw;
      left: 25.2vw;
    }
  }

  &__wrap {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
      margin-bottom: 27px;
    }
  }

  &__second {
    bottom: 2.5vw;
    left: 47vw;
    @include media-breakpoint-down(lg) {
      bottom: 4.5vw;
      left: 46vw;
    }
    @include media-breakpoint-down(sm) {
      bottom: 7.5vw;
      left: 46vw;
    }
  }

  &__container {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__tip {
    position: absolute;
    bottom: calc( 100% + 17px );
    left: 0;
    width: 246px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px;
    background-color: $gray;
    font-style: italic;
    opacity: 0;
    visibility: hidden;
    transition: $transition-base;
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 24px;
    }

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 18px;
      padding: 9px 18px 18px 9px;
      width: 179px;
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 29px 19px 0 19px;
      border-color: $gray transparent transparent transparent;
    }
  }

  &__circle {
    position: absolute;
    left: 6px;
    top: 6px;
    background-color: $white;
    width: calc( 100% - 12px);
    height: calc( 100% - 12px);
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: $transition-base;
  }

  &__plus {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .2);
    position: relative;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      width: 36px;
      height: 36px;
    }

    &:after {
      content: '';
      position: absolute;
      left: calc( 50% - 8px );
      top: calc( 50% - 1px );
      width: 16px;
      height: 2px;
      background-color: $white;
      transition: $transition-base;
      z-index: 1;

      @include media-breakpoint-down(md) {
        width: 11px;
        height: 1px;
        left: calc( 50% - 5px );
        top: calc( 50% - 1px );
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: calc( 50% - 1px );
      top: calc( 50% - 8px );
      width: 2px;
      height: 16px;
      background-color: $white;
      transition: $transition-base;
      z-index: 1;

      @include media-breakpoint-down(md) {
        width: 1px;
        height: 11px;
        left: calc( 50% );
        top: calc( 50% - 6px );
      }
    }
  }
}

.interior-comment {
  height: 44.118vw;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(#{$img-url}/content/invisible/comment.jpg);
  @include section-indent;
  color: $white;

  @include media-breakpoint-down(lg) {
    height: 44.047vw;
  }

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(sm) {
      padding: 56px 27px 98px;
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: $rft-font;
    font-weight: $semi-bold;
    position: relative;
    margin-bottom: 64px;
    color: $white-5;

    @include media-breakpoint-down(lg) {
      margin-bottom: 27px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 18px;
      font-size: 10px;
      line-height: 18px;
    }

    &:after {
      content: '';
      display: block;
      position: relative;
      width: 101px;
      height: 1px;
      background-color: $gold;
      margin: 9px auto 0;
    }
  }

  &__title {
    width: 1105px;
    text-align: center;
    margin-bottom: 64px;
    @include media-breakpoint-down(lg) {
      width: 922px;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 51px;
    }
    @include media-breakpoint-down(md) {
      width: 764px;
      font-size: 27px;
      line-height: 36px;
      margin-bottom: 18px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 64px;
    }
  }

  &__name {
    margin-top: 18px;
    font-size: 22px;
    line-height: 27px;
    font-style: italic;
    margin-bottom: 3px;
    @include media-breakpoint-down(lg) {
      margin-top: 9px;
    }
    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__status {
    font-size: 18px;
    line-height: 18px;
    font-style: italic;
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 22px;
    }
    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.interior-decore {
  @include section-indent;
  overflow: hidden;

  &__title {
    width: 432px;
    margin-bottom: 18px;

    @include media-breakpoint-down(lg) {
      width: 365px;
    }

    @include media-breakpoint-down(md) {
      width: 217px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__text {
    margin-bottom: 83px;
    width: 433px;
    @include media-breakpoint-down(lg) {
      width: 325px;
      margin-bottom: 118px;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      margin-bottom: 54px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 27px;
    }
  }

  &__img {
    display: block;
    width: 45vw;

    @include media-breakpoint-down(md) {
      width: calc( 50vw - 27px );
      position: relative;
      right: -27px;
    }

    @include media-breakpoint-down(sm) {
      width: calc( 50vw - 9px );
      right: -9px;
    }

    &--left {
      align-self: flex-end;
      @include media-breakpoint-down(md) {
        right: unset;
        left: -27px;
      }
      @include media-breakpoint-down(sm) {
        left: -9px;
      }
    }
  }

  &__last {
    @include media-breakpoint-down(md) {
      padding-left: 27px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 9px;
    }
  }

  &__figcaption {
    font-size: 18px;
    line-height: 27px;
    margin-top: 18px;
    font-style: italic;
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 22px;
    }
    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }


  &__block {
    position: relative;
  }

  &__mobile {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__over {
    display: block;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.invisible-use {
  @include section-indent;
  overflow: hidden;
  
  &__top {
    background-color: $gray-11;
  }

  &__bottom {
    background-color: $green-3;
    @include media-breakpoint-down(sm) {
      .invisible-use__descr {
        order: 1;
      }
    }
  }

  &__pic {
    @include media-breakpoint-down(sm) {
      order: 2;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;

    .invisible-use__img {
      width: 54.647vw;
      height: 100%;
      display: block;
      align-self: flex-end;
      @include media-breakpoint-down(sm) {
        width: 100vw;
        height: auto;
        align-self: auto;
        transform: translateX(-50%);
        left: 50%;
        position: relative;
      }
    }
  }

  &__right {

    .invisible-use__img {
      width: 54.647vw;
      height: 100%;
      display: block;
      @include media-breakpoint-down(sm) {
        width: 100vw;
        height: auto;
        transform: translateX(-50%);
        left: 50%;
        position: relative;
      }
    }
  }

  &__title {
    @include media-breakpoint-down(sm) {
      margin-bottom: 91px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    font-style: italic;
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 22px;
    }
    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__descr {
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      padding-top: 54px;
      padding-bottom: 63px;
    }
    @include media-breakpoint-down(md) {
      padding-top: 36px;
      padding-bottom: 45px;
    }
  }
}


.invisible-threshold {
  @include section-indent;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    padding-top: 85px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 0;
  }

  &__title {
    margin-bottom: 27px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 18px;
    }
    @include media-breakpoint-down(md) {
      width: 387px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__text {
    @include media-breakpoint-down(md) {
      width: 474px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__left {
    flex-direction: column;
    display: flex;

    @include media-breakpoint-down(lg) {
      position: static;
    }
    @include media-breakpoint-down(md) {
      position: relative;
      margin-bottom: 54px;
    }
    @include media-breakpoint-down(sm) {
      position: relative;
      margin-bottom: 0;
      padding-bottom: 59px;
    }
  }


  &__text {
    flex-grow: 1;
  }

  &__price {
    @include rft-txt;
    color: $gray;
    margin-bottom: 45px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 27px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 18px;
      font-weight: $regular;
      letter-spacing: inherit;
      text-transform: capitalize;

    }
  }
  
  &__container {
    @include media-breakpoint-down(lg) {
      position: relative;
    }
  }

  &__product {
    background-color: $gray-9;
    background-image: url(#{$img-url}/content/invisible/threshold-price.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 298px;
    max-height: 298px;
    width: 17.529vw;
    height: 17.529vw;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include media-breakpoint-down(lg) {
      max-width: none;
      max-height: none;
      width: 220px;
      height: 220px;
      position: absolute;
      right: 0;
      top: -85px;
      z-index: 1;
      background-size: contain;
    }

    @include media-breakpoint-down(md) {
      width: 200px;
      height: 200px;
      top: unset;
      bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      width: 144px;
      height: 144px;
      bottom: unset;
      top: calc( 100% - 41px );
    }

  }

  &__img {
    display: block;
    width: 65vw;
    height: auto;

    @include media-breakpoint-down(lg) {
      width: calc( 100% - 100px );
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      position: relative;
      left: -27px;
    }
  }


}
