.main {

  &__jumbo {
    position: relative;
    margin-top: -108px;
    z-index: 0;
    background-color: $black-1;
    height: 45vw;
    @include media-breakpoint-down(lg) {
      height: 40.46vw;
    }
    @include media-breakpoint-down(md) {
      height: 40.99vw;
    }

    .slick-slider {

    }
    &__container {

    }

    &-controll {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 81px;
      @include media-breakpoint-down(lg) {
        padding-right: 56px;
      }
      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
    }

    &-numbers {
      @include rft-txt;
      font-size: 16px;
      line-height: 18px;
      color: $gray;
    }

    &-arrows {
      display: flex;
      align-items: center;
      & > div:hover svg path {
        fill: $gold;
      }
      svg path {
        transition: $transition-base;
      }
    }

    &-left {
      margin-right: 54px;
      cursor: pointer;
      @include media-breakpoint-down(md) {
        margin-right: 36px;
      }
    }

    &-right {
      cursor: pointer;
    }

    &-title {
      margin-top: 108px;
      font-size: 61px;
      line-height: 72px;
      color: $white;
      padding-top: 104px;
      margin-bottom: 31px;
      @include media-breakpoint-down(lg) {
        font-size: 45px;
        line-height: 54px;
        padding-top: 54px;
      }
      @include media-breakpoint-down(md) {
        font-size: 42px;
        line-height: 45px;
        padding-top: 27px;
        margin-bottom: 18px;
      }
    }

    &-text {
      color: $white;
      @include typography('p1');
      margin-bottom: 62px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 27px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 18px;
      }
    }

    &-link {
      @include link(true,$white, $white);
      &::after {
        height: 1px;
        bottom: -3px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 13px;
        line-height: 18px;
        &::after {
          height: 1px;
          bottom: -1px;
        }
      }
    }

    &-slider {
      position: absolute;
      right: 0;
      top: 0;
      width: 58.2vw;
      @include media-breakpoint-down(md) {
        width: 56.2vw;
      }
    }

    &-wrap {
      height: 54.4vw;
      @include section-indent;
      @include media-breakpoint-down(lg) {
        margin-bottom: 0;
      }
      @include media-breakpoint-down(md) {
        height: 47.99vw;
        margin-bottom: 156px;
      }
    }


    &-footer {
      height: 8.44vw;
      background-color: $white-1;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(lg) {
        height: 7.53vw;
      }
      @include media-breakpoint-down(md) {
        height: 7vw;
      }
    }

    &-img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 53.46vw;
      @include media-breakpoint-down(lg) {
        height: 47.97vw;
      }
      @include media-breakpoint-down(md) {
        height: 47.99vw;
      }
    }

    &-block {
      position: relative;
      outline: none;
      flex-direction: column;
      overflow: hidden;
    }

    &-controll {
      width: 100%;
    }
  }

  &__style {
    @include section-indent;

    &-img {
      &--left {
        margin-bottom: 164px;
        @include media-breakpoint-down(lg) {
          width: 100%;
          margin-bottom: 124px;
        }
      }
      &--right {
        width: 100%;
        @include media-breakpoint-down(lg) {
          width: 526px;
          height: auto;
        }
      }

      &--wrap {
        @include media-breakpoint-down(lg) {
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    &-title {
      max-width: 540px;
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        max-width: 413px;
      }
    }

    &-text {
      max-width: 598px;
      margin-bottom: 125px;
      @include media-breakpoint-down(lg) {
        max-width: 459px;
        margin-bottom: 165px;
      }
    }
  }

  &__comment {
    @include section-indent;
    position: relative;


    &-container {
      background-color: $white-1;
      padding-left: 86px;
      padding-top: 82px;
      padding-bottom: 150px;
      position: relative;
      @include media-breakpoint-down(lg) {
        padding-left: 70px;
        padding-top: 70px;
        padding-bottom: 138px;
      }
    }

    &-left {
      max-width: 636px;
      @include media-breakpoint-down(lg) {
        max-width: 509px;
      }
    }
    
    &-text {
      margin-bottom: 78px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 57px;
      }

      span {
        font-style: italic;
        font-family: $minion-font;
        padding-left: 8px;
        padding-right: 8px;
        @include media-breakpoint-down(lg) {
          font-style: normal;
          font-family: $minion-display;
          padding-left: 6px;
          padding-right: 6px;
        }
      }
    }

    &-img {
      position: absolute;
      right: 145px;
      bottom: -150px;
      @include media-breakpoint-down(lg) {
        width: 335px;
        height: 596px;
        right: 150px;
        bottom: -138px;
      }
    }

    &-right {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &-name {
      position: absolute;
      top: 53px;
      right: 186px;
      width: 96px;
      font-style: italic;
      display: flex;
      font-size: 22px;
      line-height: 27px;
      flex-direction: column;
      @include media-breakpoint-down(lg) {
        top: 27px;
        right: 98px;
        letter-spacing: .8px;
      }


      span:last-child {
        font-size: 18px;
        margin-top: 5px;
        line-height: 18px;
      }
    }

    &-about {
      position: relative;
      font-size: 25px;
      line-height: 36px;
      max-width: 412px;
      margin-bottom: 18px;
      padding-left: 54px;
      z-index: 1;
      @include media-breakpoint-down(lg) {
        font-size: 18px;
        line-height: 24px;
        padding-left: 29px;
        max-width: 293px;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -24px;
        background-image: url(#{$img-url}/system-line.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 78px;
        height: 78px;
        z-index: -1;
        @include media-breakpoint-down(lg) {
          width: 50px;
          height: 50px;
          left: -2px;
          top: -9px;
        }
      }
    }

    &-port {
      padding-left: 54px;
      font-style: italic;
      font-size: 18px;
      line-height: 18px;
      @include media-breakpoint-down(lg) {
        padding-left: 30px;
        letter-spacing: .7px;
      }
      span {
        color: $gray-2;
        padding-right: 4px;
      }
    }
  }

  &__material {
    padding-top: 80px;
    position: relative;
    margin-bottom: 245px;
    &::before {
      content: '';
      width: 40%;
      height: 1033px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $white-1;
      @include media-breakpoint-down(lg) {
        width: 44.2%;
        height: 780px;
        top: 108px;
      }
    }

    &-grid {
      padding-right: 0;
    }

    &-img {

      &--left {
        @include media-breakpoint-down(lg) {
          width: 100%;
        }
      }

      &--right {
        margin-bottom: 207px;
        width: 100%;
        margin-top: 51px;
      }
    }

    &-title {
      margin-bottom: 82px;
      @include media-breakpoint-down(lg) {
        margin-top: 100px;
        margin-bottom: 47px;
      }

      span {
        font-family: $minion-font;
        font-style: italic;
        padding-right: 9px;
        @include media-breakpoint-down(lg) {
          padding-right: 7px;
        }
      }
    }
  }

  &__choose {
    margin-bottom: 249px;

    .doors-interior {
      margin-top: 15px;
    }

    &-title {
      margin-bottom: 63px;
      max-width: 75%;
    }

    &-subtitle {
      margin-bottom: 18px;
    }

    &-img {
      &--left {
        margin-bottom: 141px;
      }
    }
  }

  &__system {
    background-image: url(#{$img-url}/system-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $green-1;
    padding-top: 143px;
    padding-bottom: 159px;
    @include section-indent;

    @include media-breakpoint-down(lg) {
      padding-top: 70px;
      padding-bottom: 82px;
    }

    &-title {
      color: $white;
      margin-bottom: 20px;
      span {
        font-style: italic;
        font-family: $minion-font;
        padding-left: 4px;
        @include media-breakpoint-down(lg) {
          letter-spacing: 1.6px;
        }
      }
    }

    &-text {
      color: $white;
      margin-bottom: 25px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 27px;
      }
    }

    &-link {
      @include rft-txt;
      position: relative;
      color: $white;
      transition: $transition-base;
      display: inline-block;
      margin-bottom: 84px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 58px;
      }

      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $white;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: $transition-base;
      }
      &:hover {
        color: $gold;
        &:before {
          background-color: $gold;
        }
      }
    }

    &-img {
      position: relative;
      @include media-breakpoint-down(lg) {
        width: 100%;
      }

      &--top {
        margin-bottom: 113px;

      }
      &--bottom {
        position: relative;
        left: -176px;
        @include media-breakpoint-down(lg) {
          width: 254px;
          height: 330px;
          left: -137px;
          top: 10px;
        }
      }
    }
  }

  &__create {
    @include section-indent;

    &-img {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }

    &-block {
      height: 100%;
      padding-top: 227px;
      @include media-breakpoint-down(lg) {
        padding-top: 157px;
      }
    }

    &-link {
      @include rft-link;
    }

    &-title {
      margin-bottom: 27px;
    }

    &-text {
      margin-bottom: 34px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 46px;
      }
    }
  }

  &__view {
    padding-top: 94px;
    @include section-indent;

    &-container {
      position: relative;
      padding-bottom: 53px;
      @include media-breakpoint-down(lg) {
        padding-bottom: 94px;
      }

      &:after {
        content: '';
        width: 686px;
        height: 936px;
        background-color: $white-1;
        position: absolute;
        left: 178px;
        top: -99px;
        z-index: -1;
        @include media-breakpoint-down(lg) {
          width: 526px;
          height: 741px;
          left: 204px;
          top: -54px;
        }
      }
    }

    &-iso {
      width: 227px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: 145px;
      @include media-breakpoint-down(lg) {
        margin-right: 12px;
      }
      &__img {
        margin-bottom: 18px;
        width: 158px;
        height: 154px;
      }
    }

    &-text {
      text-align: center;
      @include media-breakpoint-down(lg) {
        font-size: 20px;
        line-height: 27px;
      }
    }

    &-img {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      &--right {
        margin-bottom: 68px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 37px;
        }
      }
    }


    &-title {
      padding-top: 9px;
      margin-bottom: 124px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 51px;
      }

      span {
        font-style: italic;
        font-family: $minion-font;
        padding-right: 4px;
        @include media-breakpoint-down(lg) {
          padding-right: 6px;
        }
      }
    }
  }

  &__save {
    position: relative;
    @include section-indent;

    &-title {
      &--left {
        margin-top: 34.6vw;;
        margin-bottom: 9px;
        @include media-breakpoint-down(lg) {
          margin-top: 38.1vw;
          margin-bottom: 18px;
        }
      }
      &--right {
        margin-bottom: 27px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 18px;
        }
      }
    }

    &-text {

      &--left {
        margin-bottom: 129px;
        @include media-breakpoint-down(lg) {
          max-width: 492px;
          margin-bottom: 89px;
        }
      }

      &--right {
        margin-bottom: 129px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 58px;
        }
      }
    }

    &-door {
      width: 513px;
      @include media-breakpoint-down(lg) {
        width: 447px;
      }
    }


    &-img {

      &--left {
        position: absolute;
        left: 0;
        top: 0;
        width: 49.2vw;
        height: auto;
        @include media-breakpoint-down(lg) {
          width: 53.5vw;
        }
      }
    }
  }

  &__comments {
    overflow: hidden;
    @include section-indent;
  }


}