.main {

  &__jumbo {
    position: relative;
    margin-top: -108px;
    z-index: 0;
    background-color: $black-1;
    height: 45vw;
    @include media-breakpoint-down(lg) {
      height: 40.46vw;
    }
    @include media-breakpoint-down(md) {
      height: 56.99vw;
    }
    @include media-breakpoint-down(sm) {
      height: auto;
      padding-bottom: 45px;
    }

    .slick-slider {

    }
    &__container {

    }

    &-controll {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 81px;
      @include media-breakpoint-down(lg) {
        padding-right: 56px;
      }
      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
    }

    &-numbers {
      @include rft-txt;
      font-size: 16px;
      line-height: 18px;
      color: $gray;
      @include media-breakpoint-down(sm) {
        position: absolute;
        width: 100%;
        text-align: center;
      }

    }

    &-arrows {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(sm) {
        position: absolute;
        width: 100%;
        justify-content: space-between;
        z-index: 1;
      }
      & > div:hover svg path {
        fill: $gold;
      }
      svg path {
        transition: $transition-base;
      }
    }

    &-left {
      margin-right: 54px;
      cursor: pointer;
      @include media-breakpoint-down(md) {
        margin-right: 36px;
      }
    }

    &-right {
      cursor: pointer;
    }

    &-title {
      margin-top: 108px;
      font-size: 61px;
      line-height: 72px;
      color: $white;
      padding-top: 104px;
      margin-bottom: 31px;
      @include media-breakpoint-down(lg) {
        font-size: 45px;
        line-height: 54px;
        padding-top: 54px;
      }
      @include media-breakpoint-down(md) {
        font-size: 42px;
        line-height: 45px;
        padding-top: 43px;
        margin-bottom: 18px;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 27px;
      }
    }

    &-text {
      color: $white;
      @include typography('p1');
      margin-bottom: 62px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 27px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 45px;
      }
    }

    &-link {
      @include link(true,$white, $white);
      &::after {
        height: 1px;
        bottom: -3px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 13px;
        line-height: 18px;
        &::after {
          height: 1px;
          bottom: -1px;
        }
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &-slider {
      position: absolute;
      right: 0;
      top: 0;
      width: 58.2vw;
      @include media-breakpoint-down(lg) {
        width: 56.2vw;
      }
      @include media-breakpoint-down(md) {
        width: 58.2vw;
      }
      @include media-breakpoint-down(sm) {
        position: static;
        width: 100%;
      }
    }

    &-wrap {
      height: 54.4vw;
      @include section-indent;
      @include media-breakpoint-down(lg) {
        margin-bottom: 0;
      }
      @include media-breakpoint-down(md) {
        height: 47.99vw;
        margin-bottom: 293px;
      }
      @include media-breakpoint-down(sm) {
        height: 100%;
        margin-bottom: 51px;
      }
    }


    &-footer {
      height: 8.44vw;
      background-color: $white-1;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(lg) {
        height: 7.53vw;
      }
      @include media-breakpoint-down(md) {
        height: 10.4vw;
      }
      @include media-breakpoint-down(sm) {
        height: 74px;
        position: relative;
      }
    }

    &-img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 53.46vw;
      @include media-breakpoint-down(lg) {
        height: 47.97vw;
      }
      @include media-breakpoint-down(md) {
        height: 66.99vw;
      }
    }

    &-block {
      position: relative;
      outline: none;
      flex-direction: column;
      overflow: hidden;
    }

    &-controll {
      width: 100%;
    }
  }

  &__style {
    @include section-indent;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--md {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
        margin-bottom: 133px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 54px;
      }
    }

    &-block {
      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        justify-content: space-between;
      }
    }

    &-variant {
      @include media-breakpoint-down(md) {
        width: 83%;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 27px;
      }
    }

    &-img {
      &--left {
        margin-bottom: 164px;
        @include media-breakpoint-down(lg) {
          width: 100%;
          margin-bottom: 124px;
        }
        @include media-breakpoint-down(md) {
          margin-bottom: 0;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 36px;
        }
      }
      &--right {
        width: 100%;
        @include media-breakpoint-down(lg) {
          width: 100%;
          height: auto;
        }
        @include media-breakpoint-down(md) {
          width: calc(100% - 26px );
          height: auto;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
          order: 2;
        }
      }

      &--wrap {
        @include media-breakpoint-down(lg) {
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    &-title {
      max-width: 540px;
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        max-width: 413px;
      }
      @include media-breakpoint-down(md) {
        max-width: 100%;
        margin-bottom: 12px;
      }
    }

    &-text {
      max-width: 598px;
      margin-bottom: 125px;
      @include media-breakpoint-down(lg) {
        max-width: 459px;
        margin-bottom: 165px;
      }
      @include media-breakpoint-down(md) {
        max-width: 567px;
        margin-bottom: 36px;
      }
    }
  }

  &__comment {
    @include section-indent;
    position: relative;
    @include media-breakpoint-down(lg) {
      margin-bottom: 106px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 54px;
    }


    &-container {
      background-color: $white-1;
      padding-left: 86px;
      padding-top: 82px;
      padding-bottom: 150px;
      position: relative;
      @include media-breakpoint-down(lg) {
        padding-left: 70px;
        padding-top: 70px;
        padding-bottom: 138px;
      }
      @include media-breakpoint-down(md) {
        padding-left: 45px;
        padding-top: 43px;
        padding-bottom: 52px;
      }
      @include media-breakpoint-down(sm) {
        padding: 43px 27px 0;
      }
    }

    &-left {
      max-width: 636px;
      @include media-breakpoint-down(lg) {
        max-width: 509px;
      }
      @include media-breakpoint-down(md) {
        max-width: 441px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }
    
    &-text {
      margin-bottom: 78px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 57px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 43px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 36px;
      }

      span {
        font-style: italic;
        font-family: $minion-font;
        padding-left: 8px;
        padding-right: 8px;
        @include media-breakpoint-down(lg) {
          font-style: normal;
          font-family: $minion-display;
          padding-left: 6px;
          padding-right: 6px;
        }
      }
    }

    &-img {
      position: absolute;
      right: 145px;
      bottom: -150px;
      @include media-breakpoint-down(lg) {
        width: 335px;
        height: 596px;
        right: 150px;
        bottom: -138px;
      }
      @include media-breakpoint-down(md) {
        width: 232px;
        height: 414px;
        bottom: -53px;
        right: 56px;
      }
      @include media-breakpoint-down(sm) {
        position: static;
      }
    }

    &-right {
      position: absolute;
      right: 0;
      bottom: 0;
      @include media-breakpoint-down(sm) {
        position: static;
        margin-top: 42px;
        display: flex;
        justify-content: center;
      }
    }

    &-name {
      position: absolute;
      top: 53px;
      right: 186px;
      width: 96px;
      font-style: italic;
      display: flex;
      font-size: 22px;
      line-height: 27px;
      flex-direction: column;
      @include media-breakpoint-down(lg) {
        top: 27px;
        right: 98px;
        letter-spacing: .8px;
      }
      @include media-breakpoint-down(sm) {
        top: auto;
        right: 3%;
        margin-top: 45px;
      }


      span:last-child {
        font-size: 18px;
        margin-top: 5px;
        line-height: 18px;
      }
    }

    &-about {
      position: relative;
      font-size: 25px;
      line-height: 36px;
      max-width: 412px;
      margin-bottom: 18px;
      padding-left: 54px;
      z-index: 1;
      @include media-breakpoint-down(lg) {
        font-size: 18px;
        line-height: 24px;
        padding-left: 29px;
        max-width: 293px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 22px;
        padding-left: 22px;
        max-width: 315px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -24px;
        background-image: url(#{$img-url}/system-line.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 78px;
        height: 78px;
        z-index: -1;
        @include media-breakpoint-down(lg) {
          width: 50px;
          height: 50px;
          left: -2px;
          top: -9px;
        }
      }
    }

    &-port {
      padding-left: 54px;
      font-style: italic;
      font-size: 18px;
      line-height: 18px;
      @include media-breakpoint-down(lg) {
        padding-left: 30px;
        letter-spacing: .7px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 18px;
        padding-left: 23px;
      }
      span {
        color: $gray-2;
        padding-right: 4px;
      }
    }
  }

  &__material {
    padding-top: 80px;
    position: relative;
    margin-bottom: 245px;
    @include media-breakpoint-down(lg) {
      padding-top: 0;
      margin-bottom: 133px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 54px;
    }
    &::before {
      content: '';
      width: 40%;
      height: 1033px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $white-1;
      @include media-breakpoint-down(lg) {
        width: 44.2%;
        height: 780px;
        top: 108px;
      }
      @include media-breakpoint-down(lg) {
        top: 29px;
      }
      @include media-breakpoint-down(md) {
        height: 630px;
        width: 37.2%;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .door-material__number {
      position: absolute;
      top: -47px;
      left: -4px;
    }

    .door-material__text {
      position: relative;
      top: -7px;
      left: 0;
    }

    .door-material {
      width: 313px;
      margin-left: auto;
      height: 141px;
    }

    .door-material__link {
      display: none;
    }

    .door-material__img {
      position: absolute;
      right: 18px;
      top: -39px;
    }

    .door-material__block {
      top: 0;
      height: 100%;
    }


    &-grid {
      padding-right: 0;
    }

    &-img {

      &--left {
        @include media-breakpoint-down(lg) {
          width: 100%;
        }
        @include media-breakpoint-down(md) {
          width: calc(100% - 55px);
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }

      &--right {
        margin-bottom: 207px;
        width: 100%;
        margin-top: 51px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 179px;
        }
        @include media-breakpoint-down(md) {
          margin-top: 99px;
          margin-bottom: 127px;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 36px;
          margin-bottom: 69px;
        }
      }
    }

    .door-material {
      @include media-breakpoint-down(md) {
        width: 100%;
        height: 121px;
        .door-material__number {
          font-size: 108px;
          line-height: 108px;
          top: -39px;
          left: 24px;
        }
        .door-material__text {
          font-size: 16px;
          line-height: 22px;
          max-width: 133px;
          top: 3px;
          left: 22px;
        }
        .door-material__img {
          width: 116px;
          height: 116px;
          top: -20px;
        }
      }
    }

    &-title {
      margin-bottom: 82px;
      @include media-breakpoint-down(lg) {
        margin-top: 100px;
        margin-bottom: 47px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 74px;
        margin-bottom: 36px;
        max-width: calc(100% - 49px);
      }
      @include media-breakpoint-down(sm) {
        margin-top: 0;
        margin-bottom: 36px;
        max-width: 100%;
      }

      span {
        font-family: $minion-font;
        font-style: italic;
        padding-right: 9px;
        @include media-breakpoint-down(lg) {
          padding-right: 7px;
        }
      }
    }
  }

  &__choose {
    margin-bottom: 249px;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
      margin-bottom: 47px;
      display: none;
    }


    &--mobile {
      display: none;
      .doors-interior--mobile {
        display: none;
      }
      @include media-breakpoint-down(lg) {
        display: block;
        margin-bottom: 139px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 79px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 54px;
        .doors-interior {
          display: none;
          &--mobile {
            display: block;
          }
        }
      }
    }

    .doors-interior__text {
      @include media-breakpoint-down(lg) {
        max-width: 230px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 22px;
        top: -86px;
        left: -9px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 164px;
        z-index: 1;
      }
    }

    .doors-interior__number {
      @include media-breakpoint-down(md) {
        font-size: 108px;
        line-height: 108px;
        top: -56px;
      }
    }

    .doors-interior {
      margin-top: 15px;
      @include media-breakpoint-down(md) {
        height: 123px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 87px;
        height: 140px;
      }
    }

    &-title {
      margin-bottom: 63px;
      max-width: 75%;
      @include media-breakpoint-down(lg) {
        max-width: 100%;
        margin-bottom: 47px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 36px;
      }
    }

    &-comment {
      @include media-breakpoint-down(lg) {
        margin-bottom: 42px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 51px;
        padding-left: 36px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 27px;
        padding-left: 0;
      }
    }

    &-subtitle {
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 11px;
      }
    }

    &-img {
      &--left {
        margin-bottom: 141px;
        @include media-breakpoint-down(lg) {
          width: 100%;
          margin-top: 107px;
          margin-bottom: 0;
        }
        @include media-breakpoint-down(md) {
          margin-top: 65px;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 36px;
        }
      }

      &--right {
        @include media-breakpoint-down(lg) {
          margin-bottom: 127px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-bottom: 84px;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 36px;
        }
      }
    }
  }

  &__system {
    background-image: url(#{$img-url}/system-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $green-1;
    padding-top: 143px;
    padding-bottom: 159px;
    @include section-indent;

    @include media-breakpoint-down(lg) {
      padding-top: 70px;
      padding-bottom: 82px;
      background-image: url(#{$img-url}/system-bg-l.svg);
    }
    @include media-breakpoint-down(md) {
      padding-top: 43px;
      padding-bottom: 89px;
      display: none;
      margin-bottom: 135px;
    }

    &--mobile {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 36px;
        padding-bottom: 54px;
        margin-bottom: 99px;
      }
    }
    
    &-photo {
      width: 100%;
      height: 361px;
      background-color: $gray;
      margin-bottom: 107px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 36px;
      }
    }



    &--center {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &--left {
      .main__system-img--left {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      .main__system-img--center {
        display: none;
        @include media-breakpoint-down(md) {
          display: block;
        }
      }
    }

    &-title {
      color: $white;
      margin-bottom: 20px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 18px;
      }
      span {
        font-style: italic;
        font-family: $minion-font;
        padding-left: 4px;
        @include media-breakpoint-down(lg) {
          letter-spacing: 1.6px;
        }
      }
    }

    &-text {
      color: $white;
      margin-bottom: 25px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 27px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 18px;
      }
    }

    &-link {
      @include rft-txt;
      position: relative;
      color: $white;
      transition: $transition-base;
      display: inline-block;
      margin-bottom: 84px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 58px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 45px;
      }

      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $white;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: $transition-base;
      }
      &:hover {
        color: $gold;
        &:before {
          background-color: $gold;
        }
      }
    }

    &-img {
      position: relative;
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 36px;
      }

      &--left {
        width: 254px;
        height: 175px;
        @include media-breakpoint-down(md) {
          width: 100%;
          height: auto;
        }
        @include media-breakpoint-down(md) {
          margin-bottom: 0;
        }
      }

      &--top {
        margin-bottom: 113px;
        @include media-breakpoint-down(md) {
          position: relative;
          left: -196px;
          margin-bottom: 60px;
        }
        @include media-breakpoint-down(sm) {
          left: 0;
          margin-bottom: 36px;
        }
      }
      &--bottom {
        position: relative;
        left: -176px;
        @include media-breakpoint-down(lg) {
          width: 254px;
          height: 330px;
          left: -137px;
          top: 10px;
        }
      }
    }
  }

  &__create {
    @include section-indent;
    @include media-breakpoint-down(lg) {
      margin-bottom: 82px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 54px;
    }

    &-img {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }

    &-block {
      height: 100%;
      padding-top: 227px;
      @include media-breakpoint-down(lg) {
        padding-top: 157px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 119px;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 27px;
      }
    }

    &-link {
      @include rft-link;
    }

    &-title {
      margin-bottom: 27px;
      &--mobile {
        display: none;
        margin-bottom: 24px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
        &--mobile {
          display: block;
        }
      }
    }

    &-text {
      margin-bottom: 34px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 46px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 36px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 18px;
      }
    }
  }

  &__view {
    padding-top: 94px;
    @include section-indent;
    @include media-breakpoint-down(sm) {
      overflow: hidden;
    }

    &--right {
      @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
      }
    }

    &-container {
      position: relative;
      padding-bottom: 53px;
      @include media-breakpoint-down(lg) {
        padding-bottom: 94px;
      }
      @include media-breakpoint-down(md) {
        padding-bottom: 61px;
      }

      &:after {
        content: '';
        width: 686px;
        height: 936px;
        background-color: $white-1;
        position: absolute;
        left: 178px;
        top: -99px;
        z-index: -1;
        @include media-breakpoint-down(lg) {
          width: 526px;
          height: 741px;
          left: 204px;
          top: -54px;
        }
        @include media-breakpoint-down(md) {
          width: 467px;
          height: 412px;
          left: 103px;
          top: -45px;
        }
        @include media-breakpoint-down(sm) {
          width: 79%;
          height: 841px;
          left: auto;
          right: 0;
        }
      }
    }

    &-iso {
      width: 227px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: 145px;
      @include media-breakpoint-down(lg) {
        margin-right: 12px;
      }
      @include media-breakpoint-down(md) {
        width: 188px;
        margin-right: 0;
      }
      @include media-breakpoint-down(sm) {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-bottom: 99px;
        margin-top: 36px;
      }
      &__img {
        margin-bottom: 18px;
        width: 158px;
        height: 154px;
        @include media-breakpoint-down(md) {
          width: 103px;
          height: 100px;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
          margin-right: 18px;
          width: 144px;
          height: 140px;
        }
      }
    }

    &-text {
      text-align: center;
      @include media-breakpoint-down(lg) {
        font-size: 20px;
        line-height: 27px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 22px;
      }
      @include media-breakpoint-down(sm) {
        text-align: left;
        width: 144px;
      }
    }

    &-img {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      &--right {
        margin-bottom: 68px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 37px;
        }
        @include media-breakpoint-down(md) {
          width: calc(100% - 36px);
          display: block;
          margin-left: auto;
          margin-bottom: 63px;
        }
        @include media-breakpoint-down(sm) {
          order: 2;
          width: 100%;
          margin-bottom: 0;
        }
      }
    }


    &-title {
      padding-top: 9px;
      margin-bottom: 124px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 51px;
        padding-top: 16px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 0;
        margin-bottom: 67px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 36px;
      }

      span {
        font-style: italic;
        font-family: $minion-font;
        padding-right: 4px;
        @include media-breakpoint-down(lg) {
          padding-right: 6px;
        }
      }
    }
  }

  &__save {
    position: relative;
    @include section-indent;


    &-title {
      &--left {
        margin-top: 34.6vw;;
        margin-bottom: 9px;
        @include media-breakpoint-down(lg) {
          margin-top: 24px;
          margin-bottom: 18px;
        }
        @include media-breakpoint-down(md) {
          margin-top: 18px;
          margin-bottom: 12px;
        }
      }
      &--right {
        margin-bottom: 27px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 18px;
        }
        @include media-breakpoint-down(md) {
          margin-bottom: 11px;
        }
      }
    }

    &-text {

      &--left {
        margin-bottom: 129px;
        @include media-breakpoint-down(lg) {
          max-width: 492px;
          margin-bottom: 89px;
        }
        @include media-breakpoint-down(sm) {
          max-width: 100%;
          margin-bottom: 76px;
        }
      }

      &--right {
        margin-bottom: 129px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 58px;
        }
        @include media-breakpoint-down(md) {
          margin-bottom: 45px;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 25px;
        }
      }
    }

    &-door {
      width: 513px;
      @include media-breakpoint-down(lg) {
        width: 447px;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        .door-best {
          height: 140px;
        }
        .door-best__number {
          font-size: 90px;
          line-height: 90px;
          top: -44px;
        }
        .door-best__text {
          font-size: 16px;
          line-height: 22px;
          top: -44px;
          max-width: 233px;
        }
        .door-best__img {
          width: 97px;
          height: 156px;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 54px;
      }
    }


    &-img {

      &--right {
        @include media-breakpoint-down(lg) {
          width: 100%;
        }
      }

      &--left {
        position: absolute;
        left: 0;
        top: 0;
        width: 49.2vw;
        height: auto;
        &.display-lg {
          display: none;
          width: 100%;
          position: static;
        }
        @include media-breakpoint-down(lg) {
          width: 53.5vw;
          display: none;
          &.display-lg {
            display: block;
          }
        }
      }
    }
  }

  &__comments {
    overflow: hidden;
    @include section-indent;
  }


}