.material {

  &__head {
    @include section-indent;
  }

  &__col {
    padding-right: 0;
  }

  .breadcrumbs__wrap {
    margin-top: 41px;
    @include media-breakpoint-down(lg) {
      margin-top: 49px;
    }
  }

  &__title {
    margin-bottom: 32px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 29px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__text {
    margin-bottom: 36px;
    @include typography('p1');
  }

  &__base {
    @include section-indent;

    &-title {
      margin-bottom: 18px;
    }

    &-block {
      background-image: linear-gradient(112.68deg, #EDEDED 13.1%, #FFFFFF 83.63%);
      padding-top: 41px;
      padding-bottom: 40px;
      display: flex;
      margin-top: 10px;
      padding-left: 62px;
      @include media-breakpoint-down(lg) {
        padding-top: 50px;
        padding-left: 42px;
      }
    }

    &-icon {
      @include media-breakpoint-down(lg) {
        svg {
          width: 50px;
          height: 50px;
        }
      }
    }

    &-descr {
      max-width: 334px;
      margin-left: 27px;
      @include media-breakpoint-down(lg) {
        margin-left: 18px;
        max-width: 306px;
      }
    }
  }

  &__eco {
    background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    padding-top: 79px;
    padding-bottom: 81px;
    @include section-indent;

    @include media-breakpoint-down(lg) {
      padding-top: 63px;
      padding-bottom: 64px;
    }

    &-head {
      display: flex;
      justify-content: center;
    }

    img {
      width: 100%;
      height: auto;
    }

    &-head {
      margin-bottom: 36px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 46px;
      }
    }

    &-title {
      display: inline-flex;
      position: relative;
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 27px;
      }
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $black;
        position: absolute;
        bottom: 10px;
        left: 0;
        @include media-breakpoint-down(lg) {
          bottom: 6px;
        }
      }
    }

    &-name {
      @include rft-txt;
      color: $gray;
      margin-bottom: 18px;
    }

    &-descr {

      &:not(:last-child) {
        margin-bottom: 18px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 9px;
        }
      }
    }
  }

  &__veneer {
    @include section-indent;

    &-block {
      margin-bottom: 27px;
      &--last {
        margin-bottom: 45px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 38px;
        }
      }
    }

    &-info {
      background-image: linear-gradient(112.68deg, #EDEDED 13.1%, #FFFFFF 83.63%);
      padding: 68px 111px 58px 63px;
      display: flex;
      @include media-breakpoint-down(lg) {
        padding: 61px 111px 58px 38px;
      }
    }

    &-icon {
      margin-right: 27px;
      @include media-breakpoint-down(lg) {
        margin-right: 18px;
        svg {
          width: 50px;
          height: 50px;
        }
      }
    }

    &-tabs {
      margin-top: 74px;
      border-left: 1px solid $gray-5;
      padding-left: 40px;
      padding-bottom: 21px;
      @include media-breakpoint-down(lg) {
        padding-left: 29px;
        padding-bottom: 44px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      padding-top: 36px;
      @include media-breakpoint-down(lg) {
        padding-top: 16px;
      }
    }

    &-item {
      @include typography('h3');
      cursor: pointer;
      margin-bottom: 27px;
      transition: $transition-base;
      display: flex;
      order: 0;
      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
      }

      &:hover {
        color: $gold;
        &.active {
          pointer-events: none;
          color: $gray;
        }
      }

      &.active {
        color: $gray;
        cursor: default;
        order: 1;
      }
    }

    &-content {
      justify-content: space-between;
      display: none;
      &.active {
        display: flex;
      }

    }

    &-about {
      max-width: 264px;
      @include media-breakpoint-down(lg) {
        max-width: 170px;
      }
    }

    &-img {
      @include media-breakpoint-down(lg) {
        width: 213px;
        height: 213px;
      }
    }


  }

  &__with {
    background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    padding-top: 81px;
    padding-bottom: 81px;
    @include media-breakpoint-down(lg) {
      padding-top: 63px;
      padding-bottom: 57px;
    }

    &-block {
      display: flex;
      padding-left: 36px;
      @include media-breakpoint-down(lg) {
        padding-left: 30px;
      }
    }

    &-door {
      display: flex;
      position: relative;
      @include media-breakpoint-down(lg) {
        img {
          width: 194px;
          height: 456px;
        }
      }
      &:last-child {
        margin-left: 69px;
        @include media-breakpoint-down(lg) {
          margin-left: 48px;
        }
      }
    }

    &-wrap {
      margin-bottom: 27px;
    }

    &-text {
      transform-origin: 0 0;
      transform: rotate(-90deg);
      position: absolute;
      bottom: -24px;
      left: -38px;
      letter-spacing: .7px;
      white-space: nowrap;
      font-style: italic;
      color: $gray;
      font-size: 18px;
      line-height: 27px;
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 22px;
        bottom: -22px;
        left: -31px;
      }
    }
  }

  &__enamel {
    height: 918px;
    width: 100%;
    background-image: url(#{$img-url}/content/material/enamel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    display: flex;
    align-items: flex-end;
    padding-bottom: 81px;
    @include section-indent;

    @include media-breakpoint-down(lg) {
      height: 645px;
      padding-bottom: 63px;
    }

    .material__eco-title:after {
      background-color: $white;
    }

    .material__eco-name {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__gloss {
    @include section-indent;

    .material__with-door img {
      @include media-breakpoint-down(lg) {
        width: 224px;
        height: 515px;
      }
    }

  }

  &__ground {
    height: 918px;
    width: 100%;
    background-image: url(#{$img-url}/content/material/ground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    display: flex;
    align-items: flex-end;
    padding-bottom: 81px;
    @include section-indent;

    @include media-breakpoint-down(lg) {
      height: 646px;
      padding-bottom: 64px;
    }

    .material__eco-title:after {
      background-color: $white;
    }

    .material__eco-name {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__choose {

    .delivery__choose-title {
      width: 536px;
      @include media-breakpoint-down(lg) {
        width: 411px;
      }
    }
  }

}