.material {

  &__head {
    @include section-indent;
  }

  &__col {
    padding-right: 0;
  }

  .breadcrumbs__wrap {
    margin-top: 41px;
    @include media-breakpoint-down(lg) {
      margin-top: 49px;
    }
    @include media-breakpoint-down(md) {
      margin-top: 27px;
      margin-bottom: 6px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 18px;
      margin-bottom: 14px;
    }
  }

  &__title {
    margin-bottom: 32px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 29px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 18px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 42px;
      line-height: 45px;
      margin-bottom: 20px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    @include media-breakpoint-down(sm) {
      margin-bottom: 5px;
    }
  }

  &__text {
    margin-bottom: 36px;
    @include typography('p1');
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 16px;
    }
  }

  &__base {
    @include section-indent;

    &-title {
      margin-bottom: 18px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 11px;
      }
    }

    &-block {
      background-image: linear-gradient(112.68deg, #EDEDED 13.1%, #FFFFFF 83.63%);
      padding-top: 41px;
      padding-bottom: 40px;
      display: flex;
      margin-top: 10px;
      padding-left: 62px;
      @include media-breakpoint-down(lg) {
        padding-top: 50px;
        padding-left: 42px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 48px;
        padding-left: 49px;
        padding-bottom: 45px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 22px;
        padding-top: 36px;
        padding-left: 26px;
      }

    }

    &-icon {
      @include media-breakpoint-down(lg) {
        svg {
          width: 50px;
          height: 50px;
        }
      }
    }

    &-descr {
      max-width: 334px;
      margin-left: 27px;
      @include media-breakpoint-down(lg) {
        margin-left: 18px;
        max-width: 306px;
      }
      @include media-breakpoint-down(md) {
        max-width: 199px;
      }
      @include media-breakpoint-down(sm) {
        margin-left: 10px;
      }
    }
  }

  &__eco {
    background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    padding-top: 79px;
    padding-bottom: 81px;
    @include section-indent;

    @include media-breakpoint-down(lg) {
      padding-top: 63px;
      padding-bottom: 64px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 45px;
      padding-bottom: 45px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 38px;
      padding-bottom: 16px;
    }

    &--left {
      @include media-breakpoint-down(sm) {
        flex: 0 0 68.75%;
        max-width: 68.75%;
      }
    }

    &--right {
      @include media-breakpoint-down(sm) {
        flex: 0 0 25%;
        max-width: 25%;
        margin-left: 6.25%;
      }
    }

    &-descr {
      @include media-breakpoint-down(md) {
        max-width: 345px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }

    &-img {
      width: 100%;
      height: auto;
      @include media-breakpoint-down(sm) {
        height: 42vw;
      }
      &--right {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      &--left {
        @include media-breakpoint-down(sm) {

        }
      }

      &--mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: block;

        }
      }
    }

    &-head {
      display: flex;
      justify-content: center;
    }



    &-head {
      margin-bottom: 36px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 46px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 31px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 27px;
      }
    }

    &-title {
      display: inline-flex;
      position: relative;
      margin-bottom: 18px;
      transition: $transition-base;
      @include media-breakpoint-down(lg) {
        margin-bottom: 27px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 18px;
      }

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $black;
        position: absolute;
        bottom: 10px;
        left: 0;
        transition: $transition-base;
        @include media-breakpoint-down(lg) {
          bottom: 6px;
        }
      }

      &:hover {
        &:after {
          background-color: $gold;
        }
      }

      &__link {
        color: inherit;
        transition: $transition-base;
        &:hover {
          color: $gold;
        }
      }
    }

    &-block {
      @include media-breakpoint-down(sm) {
        margin-bottom: 27px;
      }
    }

    &-name {
      @include rft-txt;
      color: $gray;
      margin-bottom: 18px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 9px;
      }
    }

    &-descr {
      padding-right: 83px;
      @include media-breakpoint-down(lg) {
        padding-right: 0;
      }

      &:not(:last-child) {
        margin-bottom: 18px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 9px;
        }
      }
    }
  }

  &__veneer {
    @include section-indent;

    &-block {
      margin-bottom: 27px;
      &--last {
        margin-bottom: 45px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 38px;
        }
        @include media-breakpoint-down(md) {
          margin-bottom: 0;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 18px;
        }
      }
    }

    .material__eco-title {
      display: inline-flex;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      &--mobile {
        display: none;
        @include media-breakpoint-down(sm) {
          display: inline-block;
        }
      }
    }

    &--left {
      @include media-breakpoint-down(sm) {
        order: 2;
      }
    }

    &--right {
      @include media-breakpoint-down(sm) {
        order: 1;
      }
    }

    &-dropdown {
      height: 45px;
      background-color: $gray-5;
      margin-bottom: 18px;
      position: relative;
      padding-left: 18px;
      display: none;
      font-size: 20px;
      line-height: 22px;
      font-family: $minion-display;
      padding-top: 12px;
      cursor: pointer;
      &.opened {
        margin-bottom: 0;
        &:after {
          transform: rotate(90deg);
        }
        & + .material__veneer-list {
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          background-color: $white;
        }
      }
      &:after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        right: 19px;
        top: calc( 50% - 8px);
        background-image: url(#{$img-url}/content/material/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: $transition-base;
      }
      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    &-info {
      background-image: linear-gradient(112.68deg, #EDEDED 13.1%, #FFFFFF 83.63%);
      padding: 68px 111px 58px 63px;
      display: flex;

      @include media-breakpoint-down(lg) {
        padding: 61px 111px 58px 38px;
      }
      @include media-breakpoint-down(md) {
        display: none;
        padding: 43px 31px 45px 38px;
      }
      @include media-breakpoint-down(sm) {
        display: flex;
        padding: 27px 20px 27px 22px;
      }

      &--mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: flex;
        }
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    &-text {
      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &-icon {
      margin-right: 27px;
      @include media-breakpoint-down(lg) {
        margin-right: 18px;
        svg {
          width: 50px;
          height: 50px;
        }
      }
    }

    &-tabs {
      margin-top: 74px;
      border-left: 1px solid $gray-5;
      padding-left: 40px;
      padding-bottom: 21px;
      @include media-breakpoint-down(lg) {
        padding-left: 29px;
        padding-bottom: 44px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 0;
        padding-left: 0;
        border-left: none;
        padding-bottom: 0;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      padding-top: 36px;
      @include media-breakpoint-down(lg) {
        padding-top: 16px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 0;
        border-left: 1px solid $gray-5;
        border-right: 1px solid $gray-5;
        display: none;
      }
    }

    &-item {
      @include typography('h3');
      cursor: pointer;
      margin-bottom: 27px;
      transition: $transition-base;
      display: flex;
      order: 0;
      font-family: $minion-display;
      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(md) {
        height: 45px;
        font-size: 20px;
        line-height: 22px;
        padding-left: 18px;
        padding-top: 11px;
        margin-bottom: 0;
        border-bottom: 1px solid $gray-5;

      }

      &:hover {
        color: $gold;
        &.active {
          pointer-events: none;
          color: $gray;
        }
      }

      &.active {
        color: $gray;
        cursor: default;
        order: 1;
      }
    }

    &-content {
      justify-content: space-between;
      display: none;
      @include media-breakpoint-down(md) {
        margin-bottom: 30px;
      }
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
      &.active {
        display: flex;
      }

    }

    &-about {
      max-width: 264px;
      @include media-breakpoint-down(lg) {
        max-width: 170px;
      }
      @include media-breakpoint-down(md) {
        max-width: 222px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        margin-bottom: 13px;
      }
    }

    &-img {
      @include media-breakpoint-down(lg) {
        width: 213px;
        height: 213px;
      }
      @include media-breakpoint-down(md) {
        width: 126px;
        height: 126px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 100%;
      }
    }


  }

  &__with {
    background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    padding-top: 81px;
    padding-bottom: 81px;
    @include media-breakpoint-down(lg) {
      padding-top: 63px;
      padding-bottom: 57px;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
    @include media-breakpoint-down(sm) {
      display: block;
      padding-top: 36px;
      margin-bottom: 52px;
    }
    &--mobile {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
        padding-top: 43px;
        padding-bottom: 46px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .material__with-block {
      @include media-breakpoint-down(md) {
        margin-top: 39px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 0;
        margin-bottom: 27px;
      }
    }


    .material__eco-title {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }



    .material__with-door:last-child {
      @include media-breakpoint-down(md) {
        margin-left: 65px;
      }
      @include media-breakpoint-down(sm) {
        margin-left: 44px;
      }
    }

    .material__with-text {
      @include media-breakpoint-down(md) {
        left: -27px;
      }
    }

    .material__eco-descr--first {
      @include media-breakpoint-down(md) {
        margin-bottom: 39px;
      }
    }

    &-title.material__eco-title {
      display: none;
      @include media-breakpoint-down(sm) {
        display: inline-block;
      }
    }


    &-block {
      display: flex;
      padding-left: 36px;
      @include media-breakpoint-down(lg) {
        padding-left: 30px;
      }
    }

    &-door {
      display: flex;
      position: relative;
      @include media-breakpoint-down(lg) {
        img {
          width: 194px;
          height: 456px;
        }
      }
      @include media-breakpoint-down(md) {
        img {
          width: 100px;
          height: 234px;
        }
      }
      @include media-breakpoint-down(sm) {
        img {
          width: 120px;
          height: 279px;
        }
      }
      &:last-child {
        margin-left: 69px;
        @include media-breakpoint-down(lg) {
          margin-left: 48px;
        }
      }
    }

    &-wrap {
      margin-bottom: 27px;
    }

    &-text {
      transform-origin: 0 0;
      transform: rotate(-90deg);
      position: absolute;
      bottom: -24px;
      left: -38px;
      letter-spacing: .7px;
      white-space: nowrap;
      font-style: italic;
      color: $gray;
      font-size: 18px;
      line-height: 27px;
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 22px;
        bottom: -22px;
        left: -31px;
      }
    }
  }

  &__enamel {
    height: 918px;
    width: 100%;
    background-image: url(#{$img-url}/content/material/enamel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    display: flex;
    align-items: flex-end;
    padding-bottom: 81px;
    @include section-indent;

    @include media-breakpoint-down(lg) {
      height: 645px;
      padding-bottom: 63px;
    }

    @include media-breakpoint-down(md) {
      height: 459px;
      padding-bottom: 51px;
    }

    @include media-breakpoint-down(sm) {
      background: none;
      height: 100%;
      padding-bottom: 0;
      margin-bottom: 21px;
    }


    .material__eco-title:after {
      background-color: $white;
      @include media-breakpoint-down(sm) {
        background-color: $black;
      }
    }

    .material__eco-title {
      &:hover:after {
        background-color: $gold;
      }
    }

    &-img {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
        max-width: 100%;
      }
    }

    .material__eco-title {
      @include media-breakpoint-down(sm) {
        color: $black;
      }
    }

    .material__eco-name--last {
      @include media-breakpoint-down(sm) {
        margin-top: 18px;
      }
    }

    .material__eco-descr {
      @include media-breakpoint-down(sm) {
        color: $black;
      }
    }

    .material__eco-name {
      color: rgba(255, 255, 255, 0.5);
      @include media-breakpoint-down(sm) {
        color: $gray;
      }
    }
  }

  &__gloss {
    @include section-indent;
    @include media-breakpoint-down(sm) {
      margin-bottom: 86px;
      padding-top: 36px;
      padding-bottom: 36px;
      background-image: linear-gradient(110.37deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    }

    .material__with-door img {
      @include media-breakpoint-down(lg) {
        width: 224px;
        height: 515px;
      }
      @include media-breakpoint-down(md) {
        width: 100px;
        height: 234px;
      }
      @include media-breakpoint-down(sm) {
        width: 120px;
        height: 279px;
      }
    }

    .material__eco-title {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      &--mobile {
        display: none;
        @include media-breakpoint-down(sm) {
          display: inline-block;
          margin-bottom: 20px;
        }
      }
    }



    .material__with-block {
      @include media-breakpoint-down(sm) {
        margin-bottom: 27px;
      }

    }

    &--left {
      @include media-breakpoint-down(sm) {
        order: 2;
      }
    }

    &--right {
      @include media-breakpoint-down(sm) {
        order: 1;
      }
    }

    &-bottom {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
        margin-top: 27px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .material__with-door:last-child {
      @include media-breakpoint-down(md) {
        margin-left: 65px;
      }
      @include media-breakpoint-down(sm) {
        margin-left: 36px;
      }
    }

    .material__with-wrap {
      @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
      }
    }


  }

  &__ground {
    height: 918px;
    width: 100%;
    background-image: url(#{$img-url}/content/material/ground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    display: flex;
    align-items: flex-end;
    padding-bottom: 81px;
    @include section-indent;

    @include media-breakpoint-down(lg) {
      height: 646px;
      padding-bottom: 64px;
    }

    @include media-breakpoint-down(md) {
      height: 468px;
      padding-bottom: 73px;
    }

    @include media-breakpoint-down(sm) {
      height: auto;
      background: none;
      padding-bottom: 0;
      margin-bottom: 23px;
    }

    &-img {
      display: none;
      @include media-breakpoint-down(sm) {
        width: 100%;
        display: block;
        margin-bottom: 81px;
      }
    }

    .material__with-wrap {
      @include media-breakpoint-down(md) {
        margin-bottom: 36px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 23px;
      }
    }

    .material__eco-descr {
      @include media-breakpoint-down(sm) {
        color: $black;
      }
    }

    .material__eco-title:after {
      background-color: $white;
      @include media-breakpoint-down(sm) {
        background-color: $black;
        transition: $transition-base;
      }
    }

    .material__eco-title:hover {
      &:after {
        background-color: $gold;
      }
    }

    .material__eco-title {
      @include media-breakpoint-down(sm) {
        color: $black;
      }
    }

    .material__eco-name {
      color: rgba(255, 255, 255, 0.5);
      @include media-breakpoint-down(sm) {
        color: $gray;
      }
    }
  }

  &__choose {

    @include media-breakpoint-down(md) {
      margin-bottom: 70px;
    }

    .delivery__choose {
      @include media-breakpoint-down(sm) {
        height: 100%;
        padding-top: 36px;
        padding-bottom: 26px;
        margin-bottom: 18px;
      }
    }

    .delivery__choose-title {
      width: 536px;
      @include media-breakpoint-down(lg) {
        width: 411px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

}