.sample {
  @include section-indent;

  &__title {
    margin-top: 63px;
    margin-bottom: 18px;
    @include media-breakpoint-down(lg) {
      margin-top: 44px;
    }
    @include media-breakpoint-down(sm) {
      line-height: 45px;
      margin-top: 24px;
    }
  }

  &__img {
    @include media-breakpoint-down(lg) {
      width: 50px;
      height: 50px;
    }
    @include media-breakpoint-down(md) {
      width: 54px;
      height: 54px;
      margin-bottom: 6px;
    }
    @include media-breakpoint-down(sm) {
      width: 90px;
      height: 90px;
    }
  }

  &__text {
    @include typography('p1');
    margin-bottom: 90px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 75px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 54px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 41px;
    }
  }

  &__subtitle {
    margin-bottom: 9px;
    @include title('h3');
  }

  &__descr {
    @include font-size('20');
  }

  &__block {
    margin-bottom: 45px;
    @include media-breakpoint-down(md) {
      margin-bottom: 77px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 45px;
    }
  }

  &__form {
    @include media-breakpoint-down(md) {
      width: calc(100% - 41px);
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 60px;
    }

  }

}