.store {

  &__mobile {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }

  }


  &__title {
    margin-bottom: 27px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 9px;
    }
    @include media-breakpoint-down(sm) {
      line-height: 45px;
      max-width: 100%;
    }

    &-link {
      color: $black;
      &:hover {
        span {
          color: $gold;
          border-color: $gold;
        }
      }
    }
    span {
      display: inline-block;
      padding-left: 4px;
      padding-right: 4px;
      transition: $transition-base;
      &:first-of-type, &:last-child {
        @include media-breakpoint-down(lg) {
          padding-left: 0;
        }
      }
    }
    &--underline {
      position: relative;
      border-bottom: 2px solid $black;

    }
  }

  &-main {
    @include section-indent;

    &__mobile {
      display: none;

      @include media-breakpoint-down(md) {
        display: block;
      }

      @include media-breakpoint-down(sm) {
        .breadcrumbs__wrap {
          margin-top: 20px;
          margin-bottom: 6px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 0;
      left: calc(50% - 347px);
      width: 766px;
    }

    @include media-breakpoint-down(sm) {
      position: static;
      width: 100%;
    }

    &__wrapper {
      @include media-breakpoint-down(md) {
        position: relative;
        margin-top: 11px;
        margin-bottom: 71px;
      }
    }

    .store__title {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .breadcrumbs__wrap {
      margin: 0 0 9px;
      padding: 0;
      @include media-breakpoint-down(md) {
         display: none;
       }
    }

    &__block {
      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    &__bg {
      position: absolute;
      background-image: url('../../static/images/content/salons/salon-main-1-min.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      min-height: 1107px;
      top: 0;
      z-index: -1;
      @include media-breakpoint-down(lg) {
        min-height: 797px;
      }
      @include media-breakpoint-down(md) {
        width: 766px;
        margin: 0 auto;
        position: relative;
        min-height: 511px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 66.667vw;
        min-height: auto;
      }
    }

    &__container {
      background-color: $white;
      padding: 57px 27px 45px 36px;
      width: 532px;
      margin-top: 90px;
      margin-bottom: 152px;
      @include media-breakpoint-down(lg) {
        margin-top: 27px;
        padding: 39px 27px 42px 27px;
        margin-bottom: 32px;
      }
      @include media-breakpoint-down(md) {
        width: 336px;
        margin-top: 45px;
        padding: 27px 27px 42px 27px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-top: 18px;
        padding: 0;
      }
    }

    &__text {
      @include typography('p2');
      margin-bottom: 71px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 29px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 18px;
      }
    }

    &__table {
      border-top: 1px solid $gray-1;
      border-bottom: 1px solid $gray-1;
      margin-bottom: 27px;
      @include media-breakpoint-down(md) {
        margin-bottom: 18px;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      padding-top: 18px;
      padding-bottom: 18px;
      &:not(:last-child) {
        border-bottom: 1px solid $gray-1;
      }
      @include media-breakpoint-down(md) {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }

    &__name {
      @include typography('tech');
      color: $gray-6;
      @include media-breakpoint-down(md) {
        font-size: 10px;
        line-height: 18px;
      }
    }

    &__tel, &__info {
      @include typography('tech');
    }

    &__info {
      display: inline-block;
      @include media-breakpoint-down(md) {
        font-size: 10px;
        line-height: 18px;
      }
    }

    &__tel {
      display: flex;
      color: $black;
      transition: $transition-base;
      &:hover {
        color: $gold;
      }
      @include media-breakpoint-down(md) {
        font-size: 10px;
        line-height: 18px;
      }
    }

    &__scheme {
      display: flex;
      justify-content: center;
      &-link {
        display: inline-block;
        color: $black;
        @include upperlink-underline;
        @include media-breakpoint-down(md) {
          font-size: 10px;
          line-height: 18px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 13px;
        }
      }
    }
  }


  &-interior {
    @include section-indent;

    &__left {
      height: 100%;
      position: relative;
    }

    &__img {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      @include media-breakpoint-down(md) {
        width: 88%;
        margin-left: 56px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 54px;
      }
    }

    &__title {
      margin-bottom: 12px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 18px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 9px;
      }
    }

    &__text {
      @include media-breakpoint-down(lg) {
        max-width: 332px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        margin-bottom: 18px;
      }
    }

    &__mini {
      width: 394px;
      height: 150px;
      background-image: linear-gradient(134.29deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0;
      padding-left: 37px;
      @include media-breakpoint-down(lg) {
        width: 100%;
        padding-left: 27px;
      }
      @include media-breakpoint-down(md) {
        height: 110px;
        width: 291px;
        padding-left: 14px;
      }
      @include media-breakpoint-down(sm) {
        position: static;
        width: 100%;
      }
      &-number {
        font-size: 144px;
        line-height: 100px;
        font-family: $minion-display;
        margin-right: 9px;
        margin-top: -24px;
        @include media-breakpoint-down(lg) {
          margin-top: -20px;
        }
        @include media-breakpoint-down(md) {
          font-size: 108px;
          line-height: 100px;
          margin-top: -27px;
        }

      }
      &-text {
        font-size: 20px;
        line-height: 25px;
        width: 93px;
        padding-top: 25px;
        @include media-breakpoint-down(lg) {
          padding-top: 30px;
        }
        @include media-breakpoint-down(md) {
          font-size: 16px;
          line-height: 22px;
          padding-top: 18px;
          width: 73px;
        }
      }
      &-link {
        @include typography('tech');
        color: $black;
        height: fit-content;
        display: inline-flex;
        border-bottom: 1px solid $black;
        margin-top: -9px;
        transition: $transition-base;
        @include media-breakpoint-down(lg) {
          margin-top: 1px;
        }
        @include media-breakpoint-down(md) {
          position: absolute;
          bottom: 22px;
        }
        &:hover {
          color: $gold;
          border-bottom-color: $gold;
        }
      }

      &-img {
        position: absolute;
        right: 0;
        bottom: 0;
        @include media-breakpoint-down(lg) {
          right: 0;
        }
        @include media-breakpoint-down(md) {
          width: 90px;
          height: 149px;
          right: -14px;
        }
        @include media-breakpoint-down(sm) {
          right: -2px;
        }
      }
    }
  }

  &-size {
    @include section-indent;

    &__left {
      @include media-breakpoint-down(md) {
        width: 94%;
      }
    }

    &__title {
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        max-width: 69%;
      }
      @include media-breakpoint-down(md) {
        max-width: 100%;
        margin-bottom: 27px;
      }
    }

    &__img {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 27px;
      }
    }

    &__text {
      margin-bottom: 177px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 100px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 42px;
      }
    }

    &__mini {

      &-img {
        margin-bottom: 9px;
        @include media-breakpoint-down(lg) {
          width: 100%;
          margin-bottom: 11px;
        }
      }

      &-text {
        font-size: 18px;
        line-height: 27px;
        font-style: italic;
        @include media-breakpoint-down(lg) {
          font-size: 16px;
          line-height: 22px;
        }
        @include media-breakpoint-down(md) {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }

  &-classic {
    @include section-indent;
    &__title {
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        font-size: 42px;
        line-height: 54px;
        width: 334px;
      }
      @include media-breakpoint-down(md) {
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 9px;
        width: 306px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
    &__img {
      width: 100%;
      height: auto;
      display: block;
    }
    &__text {
      @include media-breakpoint-down(lg) {
        font-size: 20px;
        line-height: 27px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 22px;
        width: 306px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 27px;
        width: 100%;
      }
    }
  }

  &-furniture {

    &__left {
      @include media-breakpoint-down(md) {
        padding-left: 35px;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
    }

    &__right {
      @include media-breakpoint-down(md) {
        padding-left: 24px;
      }
    }


    &__container {
      padding-top: 67px;
      background-color: $white-1;
      padding-bottom: 219px;
      margin-bottom: 130px;
      @include media-breakpoint-down(lg) {
        padding-top: 61px;
        padding-bottom: 140px;
        margin-bottom: 135px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 25px;
        padding-bottom: 45px;
        margin-bottom: 25px;
      }
      @include media-breakpoint-down(sm) {
        padding-bottom: 18px;
        margin-bottom: 45px;
      }
    }
    &__title {
      max-width: 205px;
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        max-width: 95%;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 12px;
        max-width: 100%;
      }
    }

    &__text {
      max-width: 265px;
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }

    &__mini {
      position: relative;
      margin-bottom: 135px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 99px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 87px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 45px;
      }

      &-img {
        margin-bottom: 14px;
        @include media-breakpoint-down(lg) {
          width: 100%;
        }
        @include media-breakpoint-down(md) {
          width: 647px;
          margin-left: 35px;
          margin-top: 36px;
          margin-bottom: 12px;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
          margin-top: 27px;
          margin-left: 0;
          margin-bottom: 18px;
        }
      }

      &-text {
        font-size: 18px;
        line-height: 27px;
        font-style: italic;
        padding-left: 162px;
        @include media-breakpoint-down(lg) {
          font-size: 16px;
          line-height: 22px;
          padding-left: 175px;
        }
        @include media-breakpoint-down(md) {
          padding-left: 35px;
          max-width: 85%;
        }
        @include media-breakpoint-down(sm) {
          max-width: 100%;
          padding-left: 0;
        }
      }
    }
    &__item {
      width: 298px;
      height: 298px;
      display: flex;
      background-color: $white;
      align-items: center;
      position: absolute;
      bottom: -15px;
      left: -141px;
      border-radius: 50%;
      flex-direction: column;
      padding-top: 99px;
      @include media-breakpoint-down(lg) {
        width: 220px;
        height: 220px;
        bottom: -17px;
        left: -69px;
        padding-top: 72px;
      }
      @include media-breakpoint-down(md) {
        left: unset;
        bottom: unset;
        right: 36px;
        top: -67px;
        width: 200px;
        height: 200px;
        padding-top: 66px;
      }
      @include media-breakpoint-down(sm) {
        position: static;
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;
      }

      &-name {
        font-size: 18px;
        line-height: 18px;
        font-style: italic;
        margin-bottom: 3px;
        @include media-breakpoint-down(lg) {
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 0;
        }
      }

      &-price {
        font-family: $rft-font;
        font-weight: $semi-bold;
        color: $gray;
        font-size: 16px;
        line-height: 22px;
      }

      &-img {
        margin-bottom: 42px;
        @include media-breakpoint-down(lg) {
          width: 132px;
          height: 58px;
          margin-bottom: 18px;
        }
        @include media-breakpoint-down(md) {
          width: 125px;
          height: 52px;
          margin-bottom: 12px;
        }
      }
    }
    
    &__figure {
      position: relative;

      &-img {
        width: 100%;
      }

      &--first {
        @include media-breakpoint-down(md) {
          padding-left: 35px;
          display: flex;
          flex-direction: column;
        }
        @include media-breakpoint-down(sm) {
          padding-left: 0;
          margin-bottom: 36px;
        }

        .store-furniture__figure-img {
          @include media-breakpoint-down(md) {
            width: 310.74px;
            height: 354px;
            margin-bottom: 18px;
          }
          @include media-breakpoint-down(sm) {
            width: 100%;
            height: auto;
            order: 1;
          }
        }

        .store-furniture__figure-text {
          margin-bottom: 18px;
          display: block;
          @include media-breakpoint-down(md) {
            order: 2;
            max-width: 95%;
          }
        }


        .store-furniture__product {
          bottom: -148px;
          right: -90px;
          padding-top: 47px;
          @include media-breakpoint-down(lg) {
            bottom: -77px;
            right: -68px;
            padding-top: 34px;
          }
          @include media-breakpoint-down(md) {
            bottom: unset;
            top: -44px;
            right: 1px;
            padding-top: 28px;
          }
          @include media-breakpoint-down(sm) {
            position: static;
            margin-left: auto;
            margin-right: auto;
            order: 3;
          }
        }
        .store-furniture__product-text {
          @include media-breakpoint-down(lg) {
            margin-top: 13px;
            margin-bottom: -1px;
          }
        }
        .store-furniture__product-img {
          @include media-breakpoint-down(lg) {
            width: 56px;
            height: 106px;
          }
          @include media-breakpoint-down(md) {
            width: 47px;
            height: 88px;
          }
        }
      }

      &--second {
        @include media-breakpoint-down(md) {
          padding-left: 27px;
        }
        @include media-breakpoint-down(sm) {
          padding-left: 0;
        }

        .store-furniture__figure-img {
          @include media-breakpoint-down(md) {
            width: 265.34px;
            height: 354px;
          }
          @include media-breakpoint-down(sm) {
            width: 100%;
            height: auto;
            order: 1;
          }
        }

        .store-furniture__figure-text {
          margin-top: 9px;
          display: block;
          @include media-breakpoint-down(md) {
            margin-top: 13px;
            max-width: 72%;
          }
          @include media-breakpoint-down(sm) {
            max-width: 100%;
          }
        }
        .store-furniture__product {
          top: -72px;
          right: -90px;
          @include media-breakpoint-down(lg) {
            top: -37px;
            right: -68px;
            padding-top: 6px;
          }
          @include media-breakpoint-down(md) {
            top: -48px;
            right: 52px;
            padding-top: 15px;
          }
          @include media-breakpoint-down(sm) {
            position: static;
            margin: 27px auto 0;
          }
        }
        .store-furniture__product-text {
          margin-top: 5px;
          @include media-breakpoint-down(lg) {
            margin-top: 0;
          }
        }
        .store-furniture__product-img {
          @include media-breakpoint-down(lg) {
            width: 142px;
            height: 142px;
          }
          @include media-breakpoint-down(md) {
            width: 111px;
            height: 111px;
          }
        }
      }

      &-text {
        font-style: italic;
        font-size: 18px;
        line-height: 27px;
        @include media-breakpoint-down(lg) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &__product {
      width: 298px;
      height: 298px;
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      @include media-breakpoint-down(lg) {
        width: 220px;
        height: 220px;
      }
      @include media-breakpoint-down(md) {
        width: 200px;
        height: 200px;
      }
      &-text {
        font-size: 18px;
        line-height: 18px;
        font-style: italic;
        display: block;
        text-align: center;
        margin-top: 27px;
        margin-bottom: 2px;
        @include media-breakpoint-down(lg) {
          font-size: 16px;
          line-height: 22px;
        }
      }
      &-img {
        display: block;
        margin: 0 auto;
      }
      &-price {
        font-size: 16px;
        font-family: $rft-font;
        font-weight: $semi-bold;
        line-height: 22px;
        color: $gray;
        display: block;
        text-align: center;
      }
    }
  }

  &-inside {
    display: none;
    &__img {
      width: 100%;
      @include media-breakpoint-down(sm) {
        margin-bottom: 63px;
      }
    }
    @include media-breakpoint-down(md) {
      display: block;
      margin-bottom: 63px;
    }
  }

  &-entrance {
    @include section-indent;
    margin-bottom: 162px;
    @include media-breakpoint-down(md) {
      margin-bottom: 93px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 18px;
    }


    &__title {
      line-height: 1;
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 22px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 18px;
      }

    }

    &__text {
      margin-bottom: 64px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 78px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 18px;
      }
    }

    &__block {
      display: flex;
      justify-content: flex-end;
    }

    &__img {
      height: 100%;
      @include media-breakpoint-down(lg) {
        width: 100%;
        height: auto;
      }
    }
    &__block {
      @include media-breakpoint-down(sm) {
        position: relative;
        margin-bottom: 43px;
      }
    }
    &__right {
      @include media-breakpoint-down(md) {
        padding-left: 25px;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
      .store-interior__mini {
        @include media-breakpoint-down(lg) {
          width: 378px;
          right: 0;
        }
        @include media-breakpoint-down(md) {
          width: 291px;
          height: 111px;
          right: 66px;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
          position: static;
        }
      }
      .store-entrance__right-img {
        @include media-breakpoint-down(md) {
          display: none;
        }

      }
      &-img {
        width: 100%;
      }
    }

  }

  &-test {
    margin-bottom: 205px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 135px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 72px;
    }

    &__margin {
      @include media-breakpoint-down(sm) {
        order: 2;
      }
    }


    &__main {
      margin: 0 auto 45px;
      width: 600px;
      @include media-breakpoint-down(lg) {
        width: 517px;
        text-align: center;
        margin-bottom: 36px;
      }
      @include media-breakpoint-down(md) {
         width: 441px;
         margin-bottom: 18px;
       }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 18px;
        padding-left: 27px;
        padding-right: 27px;
      }
    }

    &__block {
      padding-left: 90px;
      padding-top: 70px;
      @include media-breakpoint-down(lg) {
        padding-left: 36px;
        padding-top: 46px;
      }
      @include media-breakpoint-down(md) {
         padding-left: 25px;
         padding-top: 28px;
       }
      @include media-breakpoint-down(sm) {
        padding-left: 27px;
        padding-right: 27px;
      }
    }

    &__title {
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 9px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 11px;
      }
    }

    &__text {
      max-width: 510px;
      padding-bottom: 40px;
      @include media-breakpoint-down(lg) {
        max-width: 449px;
        padding-bottom: 64px;
      }
      @include media-breakpoint-down(md) {
        max-width: 327px;
        padding-bottom: 22px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        padding-bottom: 18px;
      }
    }

    &__column {
      height: 100%;
      background-color: $white-1;
      @include media-breakpoint-down(sm) {
        margin-bottom: 18px;
        height: auto;
        padding-bottom: 36px;
      }
    }



    &__wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__img {
      margin-bottom: 36px;
      &--first {
        @include media-breakpoint-down(lg) {
          width: 43px;
          height: 172px;
          margin-bottom: 24px;
        }
        @include media-breakpoint-down(md) {
          width: 30px;
          height: 121px;
          margin-bottom: 15px;
        }
        @include media-breakpoint-down(sm) {
          width: 56px;
          height: 229px;
          margin-bottom: 18px;
        }
      }
      &--second {
        @include media-breakpoint-down(lg) {
          width: 359px;
          height: 153px;
          object-fit: contain;
          position: relative;
          left: -25px;
          top: 28px;
          margin-bottom: 20px;
        }
        @include media-breakpoint-down(md) {
          width: 213px;
          left: 60px;
          top: unset;
          bottom: 34px;
          position: absolute;
          & + .store-test__name {
            margin-top: 114px;
          }
        }
        @include media-breakpoint-down(sm) {
          position: static;
          padding-left: 27px;
          padding-right: 27px;
          width: 100%;
          height: auto;
          margin-top: 22px;
          & + .store-test__name {
            margin-top: 0;
          }
        }
      }

      &--third {
        @include media-breakpoint-down(lg) {
          width: 210px;
          height: 136px;
          margin-bottom: 13px;
        }
        @include media-breakpoint-down(md) {
          width: 153px;
          height: 99px;
        }
        @include media-breakpoint-down(sm) {
          width: 190px;
          height: 123px;
          margin-top: 62px;
        }
      }
    }

    &__name {
      margin-bottom: 9px;
      font-size: 18px;
      line-height: 18px;
      font-style: italic;
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 6px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }

    &__row {
      margin-bottom: 18px;
    }

    &__picture {
      display: block;
      height: 100%;
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }

    &__price {
      color: $gray;
      font-size: 16px;
      font-family: $rft-font;
      font-weight: $semi-bold;
      line-height: 22px;
    }
  }



  &-comfort {
    position: relative;
    overflow: hidden;
    margin-bottom: 250px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 161px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 89px;
    }

    &__right {
      position: relative;
      top: -27px;

      @include media-breakpoint-down(sm) {
        top: 0;
        display: flex;
        flex-direction: column;
      }


      .store-comfort__over {
        margin-top: 0;
        margin-bottom: 126px;
        position: relative;
        top: -27px;
        @include media-breakpoint-down(lg) {
          margin-top: 54px;
          margin-bottom: 52px;
        }
        @include media-breakpoint-down(md) {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 43px;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 27px;
          order: 3;
          position: static;
          margin-bottom: 0;
        }

      }
      .store-comfort__title {
        margin-bottom: 18px;
        @include media-breakpoint-down(md) {
          padding-left: 12px;
          margin-bottom: 11px;
        }
        @include media-breakpoint-down(sm) {
          padding-left: 0;
          margin-bottom: 9px;
        }
      }
      .store-comfort__text {
        @include media-breakpoint-down(md) {
          padding-left: 12px;
        }
        @include media-breakpoint-down(sm) {
          padding-left: 0;
        }
      }
    }

    .store-comfort__img {
      position: absolute;
      top: 0;
      left: 0;
      width: calc( 44.157vw + 22px);
      z-index: 1;
      object-fit: cover;
      height: 57.948vw;
      @include media-breakpoint-down(md) {
        position: static;
        width: 360px;
        height: 100%;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
    .store-comfort__over {
      height: 57.948vw;
      @include media-breakpoint-down(md) {
        height: auto;
      }
    }

    &__left {

      .store-comfort__img {
        width: calc( 44.157vw + 22px);
        right: -10px;
        left: unset;
        @include media-breakpoint-down(md) {
          width: 360px;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
          margin-bottom: 56px;
        }
      }

      .store-comfort__title {
        margin-bottom: 18px;
        @include media-breakpoint-down(md) {
          margin-bottom: 9px;
        }
      }

      .store-comfort__over {
        margin-top: 100px;
        @include media-breakpoint-down(lg) {
          margin-top: 81px;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 27px;
        }
      }

    }

    &__text {
      max-width: 422px;
      @include media-breakpoint-down(lg) {
        max-width: 370px;
      }
      @include media-breakpoint-down(md) {
        max-width: 340px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }

    &__col {
      position: static;
    }

    &__title {
      max-width: 422px;
      @include media-breakpoint-down(lg) {
        max-width: 362px;
      }
      @include media-breakpoint-down(md) {
        max-width: 85%;
      }
    }

    &__img {

    }

    &__over {
      position: relative;
      width: 100%;
    }

  }

  &-form {
    margin-bottom: 203px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 135px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 72px;
    }
  }

  &-salons {
    margin-bottom: 163px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 135px;
    }
  }



}