$xs-width: 320px;
$sm-width: 360px;
$sm: 856px;

@mixin xs {
  @media (min-width: #{$xs-width}) and (max-width: #{$sm-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$sm-width}) {
    @content;
  }
}

@mixin mobile-between {
  @media (min-width: #{$sm-width + 1}) and (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin mob-land {
  @media (orientation:landscape ) and (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin ipad {
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  {
    @content;
  }
}