@mixin links-hover ($link: $black, $visit: inherit, $hover:$gold, $active: $black, $line: none) {
    color: $link;
    text-decoration: $line;
    transition: $animation-default-time;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
}

@mixin icon-hover ($color, $hover) {
  fill: $color;
  transition: $animation-default-time;
  &:hover {
    fill: $hover;
  }
}

@mixin links-hover-to-icon ($hover) {
  svg {
    transition: $animation-default-time;
  }
  &:hover svg {
    fill: $hover;
  }
}

@mixin upperlink {
  font-family: $rft-font;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $black;
  transition: $animation-default-time;
  cursor: pointer;
  &:hover {
    color: $gold;
  }
}

@mixin upperlink-underline($color: black, $underline-color: $black) {
  font-family: $rft-font;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $color;
  transition: $animation-default-time;
  cursor: pointer;
  position: relative;
  &:hover {
    color: $gold;
    &:before {
      background-color: $gold;
    }
  }
  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: $underline-color;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: $animation-default-time;
  }
}

@mixin upperlink-title {
  font-family: $rft-font;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $black;
  transition: $animation-default-time;
}