// --- Colors ---
$gold: #CBA576;
$black: #000000;
$black-1: #313131;
$black-2: #232323;
$white: #FFFFFF;
$white-1: #F7F7F7;
$white-2: #F2F2F2;
$red: #EE4941;
$green: #AEB9B0;
$gray: #9D9DA1;
$gray-1: #E0E0E0;
$gray-2: #868686;
$gray-3: #969696;
$gray-4: #989898;

// --- Timing ---
$animation-default-time: 0.25s;

// --- Fonts ---
$rft-font: 'RFTone';
$minion-font: 'MinionPro';
$minion-display: 'MinionProDisplay';

$fz-base: 16px;

$semi-bold: 600;
$bold: 700;
$regular: 300;
