// --- Colors ---
$gold: #CBA576;
$black: #000000;
$black-1: #313131;
$black-2: #232323;
$black-3: #262626;
$white: #FFFFFF;
$white-1: #F7F7F7;
$white-2: #F2F2F2;
$white-3: #F6F6F6;
$white-4: #AFAFAF;
$red: #EE4941;
$green: #AEB9B0;
$green-1: #8C948C;
$green-2: #DCE4E4;
$gray: #9D9DA1;
$gray-1: #E0E0E0;
$gray-2: #868686;
$gray-3: #969696;
$gray-4: #989898;
$gray-5: #E4E4E4;
$gray-6: #C4C4C4;
$gray-7: #DCDCDC;
$gray-8: #E8E8E8;
$gray-9: #EEEEEE;
$yellow-1: #EBDAB1;

// --- Url ---
$img-url: '../../static/images';

// --- Timing ---
$animation-default-time: 0.25s;

// --- Fonts ---
$rft-font: 'RFTone';
$minion-font: 'MinionPro';
$minion-display: 'MinionProDisplay';

$fz-base: 16px;

$semi-bold: 600;
$bold: 700;
$regular: 300;
