.view-instagram
    .container
        .row
            .col-lg-7.col-md-6.col-sm-16
                .view-instagram__left
                    h2.view-instagram__title Следите за&nbsp;нами в&nbsp;Инстаграме
                    a(href="#").view-instagram__link
                        span посмотреть профиль
                        +icon('long-arrow', 'view-instagram__long-arrow')
            .view-instagram__right
                a(href="#").view-instagram__img-link
                    img(src='static/images/insta-1.jpg', alt='').view-instagram__img
                a(href="#").view-instagram__img-link
                    img(src='static/images/insta-2.jpg', alt='').view-instagram__img
                a(href="#").view-instagram__img-link
                    img(src='static/images/insta-3.jpg', alt='').view-instagram__img
                a(href="#").view-instagram__img-link
                    img(src='static/images/insta-4.jpg', alt='').view-instagram__img
                a(href="#").view-instagram__img-link
                    img(src='static/images/insta-5.jpg', alt='').view-instagram__img
footer.footer
    .container
        .row
            .col-xl-3.col-lg-3.col-md-5.col-.footer__block
                h5.footer__title Каталог
                ul.footer__list
                    li.footer__item
                        a(href="#").footer__link  Входные двери
                    li.footer__item
                        a(href="#").footer__link  Межкомнатные
                    li.footer__item
                        a(href="#").footer__link  Комплексные решения
            .col-xl-4.col-lg-4.col-md-6.col-.footer__block
                h5.footer__title Покупателю
                ul.footer__list
                    li.footer__item
                        a(href="#").footer__link  Бесплатный замер
                    li.footer__item
                        a(href="#").footer__link Оплата
                    li.footer__item
                        a(href="#").footer__link  Доставка и установка
                    li.footer__item
                        a(href="#").footer__link  Виды межкомнатных дверей
            .col-xl-3.col-lg-3.col-md-5.col-8.footer__block
                h5.footer__title о компании
                ul.footer__list
                    li.footer__item
                        a(href="#").footer__link  О нас
                    li.footer__item
                        a(href="#").footer__link  Контакты
                    li.footer__item
                        a(href="#").footer__link  Реквизиты
            .col-xl-2.col-lg-2.col-md-5.col-8.footer__block
                h5.footer__title следите
                ul.footer__list
                    li.footer__item
                        a(href="#").footer__link  Инстаграм
                    li.footer__item
                        a(href="#").footer__link  Фейсбук
                    li.footer__item
                        a(href="#").footer__link  Пинтерест
            .col-xl-4.col-lg-4.col-md-5.col-.footer__block
                h5.footer__title Фирменные салоны
                ul.footer__list
                    li.footer__item
                        a(href="#").footer__link  пр-т Дзержинского, 122
                    li.footer__item
                        a(href="#").footer__link  ул. Кальварийская, 7б, ТЦ «Трюм»
                    li.footer__item
                        a(href="#").footer__link  ул. Олешева, 1
                    li.footer__item.footer__item-phone
                        a(href="tel:+ 375291384963").footer__link  + 375 29 138-49-63
        .row
            .footer__bottom
                .footer__bottom-copyright © Порте-Ричи 2019
                a(href='#').footer__bottom-company Сайт разработал «Чеширский Кот» на 1С-Битрикс